Repository HHS/OPRE-OPS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-lint, eslint

nox-lint:
  name: nox-lint
  entry: bash -c 'cd ./backend/ops_api && pipenv run nox -s lint'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd ./frontend/ && yarn lint'
  language: system
  pass_filenames: false

chore: more debugging
  .github/actions/test_matrix/action.yaml
Due: none

chore: more debugging
  .github/actions/test_matrix/action.yaml
  .github/workflows/test_matrix.yml
Due: none

chore: more debugging
  .github/workflows/test_matrix.yml
Due: none

chore: cleanup
  .github/workflows/dev_backend_asa_pr.yml
  .github/workflows/dev_backend_asa_pr_merge.yml
  .github/workflows/dev_backend_pr.yml
  .github/workflows/dev_backend_pr_merge.yml
  .github/workflows/test_matrix.yml
Due: none

Update Dockerfile.ops-api
  backend/Dockerfile.ops-api
Due: none

chore: cleanup
  .github/workflows/dev_backend_pr_merge.yml
Due: none

chore: consolidating builds
  .github/actions/tf-apply/action.yaml
  .github/actions/tf-plan/action.yaml
  .github/workflows/dev_frontend_asa_pr.yml
  .github/workflows/dev_frontend_asa_pr_merge.yml
  .github/workflows/dev_frontend_pr.yml
  .github/workflows/dev_frontend_pr_merge.yml
Due: none

chore: giving work dir specific names
  .github/actions/tf-apply/action.yaml
  .github/actions/tf-plan/action.yaml
Due: none

chore: indentation issues
  .github/actions/tf-apply/action.yaml
  .github/actions/tf-plan/action.yaml
Due: none

chore: cleanup
  .github/actions/tf-apply/action.yaml
  .github/actions/tf-plan/action.yaml
Due: none

chore: set to output
  .github/actions/tf-apply/action.yaml
  .github/actions/tf-plan/action.yaml
Due: none

chore: trying to get output
  .github/actions/tf-apply/action.yaml
  .github/actions/tf-plan/action.yaml
Due: none

chore: typo
  .github/workflows/dev_frontend_pr_merge.yml
Due: none

chore: cleanup
  .github/actions/test_matrix/action.yaml
  .github/workflows/dev_backend_asa_pr.yml
  .github/workflows/dev_backend_asa_pr_merge.yml
  .github/workflows/dev_frontend_asa_pr.yml
  .github/workflows/dev_frontend_asa_pr_merge.yml
  .github/workflows/test_matrix.yml
Due: none

chore: cleanup version locks
  .github/actions/tf-apply/action.yaml
  .github/actions/tf-plan/action.yaml
  .github/workflows/dev_frontend_pr.yml
Due: none

Update index.js
  frontend/index.js
Due: eslint

WIP
  backend/data_tools/data/workflow_data.json5
  backend/ops_api/tests/ops/auth_client.py
  backend/ops_api/tests/ops/conftest.py
  backend/ops_api/tests/ops/workflows/test_workflow_approve.py
Due: nox-lint

WIP: fix e2e tests by moving workflow data to new agreement and changing disabled icons to include goToApproveIcon
  backend/data_tools/data/agreements_and_blin_data.json5
  backend/data_tools/data/workflow_data.json5
  frontend/src/components/BudgetLineItems/ChangeIcons/ChangeIcons.js
Due: eslint

update BLI test totals to include new test Agreement
  frontend/cypress/e2e/budgetLineItemsList.cy.js
Due: eslint

update backend unit tests to include new test Agreement
  backend/ops_api/tests/ops/agreement/test_agreement.py
  backend/ops_api/tests/ops/can/test_budget_line_item.py
  backend/ops_api/tests/ops/funding_summary/test_can_funding_summary.py
  backend/ops_api/tests/ops/workflows/test_packages.py
Due: nox-lint

update readme for bun (watchAll -> watch)
  README.md
Due: none

cleanup
  frontend/src/components/BudgetLineItems/ChangeIcons/ChangeIcons.js
  frontend/src/pages/agreements/approve/ApproveAgreement.js
Due: eslint

add bli.has_active_workflow to Agreement response
  backend/ops_api/ops/resources/agreements.py
Due: nox-lint

cleanup
  frontend/src/pages/agreements/approve/ApproveAgreement.js
Due: eslint

cleanup from merge
  frontend/src/components/BudgetLineItems/ChangeIcons/ChangeIcons.js
Due: eslint

change approved BLI to planned
  backend/data_tools/data/agreements_and_blin_data.json5
  frontend/cypress/e2e/budgetLineItemsList.cy.js
Due: eslint

Fix editable status condition in budget-line.hooks.js and reviewAgreement.hooks.js
  frontend/src/components/BudgetLineItems/BLIReviewTable/BLIReviewRow.js
  frontend/src/hooks/budget-line.hooks.js
  frontend/src/pages/agreements/review/reviewAgreement.hooks.js
Due: eslint

fix test amounts for new test agreement with one planned BLI
  frontend/cypress/e2e/reviewAgreement.cy.js
Due: eslint

fix remove "only" on test
  frontend/cypress/e2e/reviewAgreement.cy.js
Due: eslint

Update wait time for check-all checkbox in reviewAgreement.cy.js
  frontend/cypress/e2e/reviewAgreement.cy.js
Due: eslint

Update agreement change accordion interactions
  frontend/cypress/e2e/reviewAgreement.cy.js
Due: eslint

chore: set branch trigger
  .github/workflows/dev_backend_pr.yml
  .github/workflows/dev_backend_pr_merge.yml
  .github/workflows/dev_frontend_pr.yml
  .github/workflows/dev_frontend_pr_merge.yml
Due: none

Remove .only from describe block in agreement change accordion
  frontend/cypress/e2e/reviewAgreement.cy.js
Due: eslint

Path conditions:
  nox-lint: any of: \.py$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.css$, \.(html|htm|xhtml)$
