Repository HHS/OPRE-OPS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-lint, eslint, prettier

nox-lint:
  name: nox-lint
  entry: bash -c 'cd ./backend/ops_api && pipenv run nox -s lint'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd ./frontend/ && bun lint'
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: bash -c 'cd ./frontend/ && bunx prettier --check --ignore-unknown'
  language: system
  pass_filenames: true

Notes added by 'git notes add'
  53cea2475a3966d74f68319a157c1ebb806c95e4
Due: none

fix: clear stale grant numbers on type switch, gate review-mode check
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.hooks.js
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.hooks.test.js
  frontend/src/components/Agreements/AgreementEditor/AgreementEditorContext.hooks.js
  frontend/src/components/Agreements/AgreementEditor/AgreementEditorContext.hooks.test.js
Due: eslint, prettier

fix: restore Service Requirement Type default on agreement type change (#6239)
  frontend/cypress.config.ci.js
  frontend/cypress.config.js
  frontend/cypress/e2e/createAgreementTypeToggle.cy.js
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.hooks.js
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.hooks.test.js
  frontend/src/components/Agreements/AgreementEditor/AgreementEditFormSuite.js
  frontend/src/components/Agreements/AgreementEditor/AgreementEditFormSuite.test.js
  frontend/src/components/Agreements/AgreementEditor/AgreementEditorContext.hooks.js
  frontend/src/components/Agreements/AgreementEditor/AgreementEditorContext.hooks.test.js
Due: eslint, prettier

Notes added by 'git notes add'
  605531c25352b5828d1136c9a26cd0a6b0de0cd8
Due: none

fix: correct cancel behavior on final step of agreement create wizard
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.hooks.js
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.hooks.test.js
Due: eslint, prettier

test: fixing failing e2e test
  frontend/cypress/e2e/approveChangeRequestsAtAgreementLevel.cy.js
Due: eslint, prettier

docs: adding plan for agreement nickname changes
  .claude/stories/6144-agreement-nickname-display.md
Due: none

refactor: authenticate usage-metrics ACS email with Key Vault connection string
  backend/data_tools/environment/azure.py
  backend/data_tools/environment/dev.py
  backend/data_tools/environment/local.py
  backend/data_tools/environment/pytest.py
  backend/data_tools/environment/pytest_data_tools.py
  backend/data_tools/environment/types.py
  backend/data_tools/scripts/azure/USAGE_METRICS_JOB.md
  backend/data_tools/scripts/azure/create_usage_metrics_job.sh
  backend/data_tools/src/usage_metrics/email_delivery.py
  backend/data_tools/src/usage_metrics/utils.py
  backend/data_tools/tests/usage_metrics/test_email_delivery.py
  backend/data_tools/tests/usage_metrics/test_utils.py
Due: nox-lint

Notes added by 'git notes add'
  0c76c5120d551982ebfa13cb7a3a42211f4e3019
Due: none

docs: update to plan after review
  .claude/stories/6144-agreement-nickname-display.md
Due: none

fix: rebase migration onto new head merged to main (c4e7a9b1d2f3)
  backend/alembic/versions/2026_09_09_1200-c4e7a9b1d2f3_add_award_title_mod_po_task_to_step_6.py
  backend/alembic/versions/2026_09_12_0346-38e2556364d7_add_delete_agreement_permission.py
Due: nox-lint

docs: add fail-fast sweep guidance and migration rebase mode to skills
  .claude/skills/ci-log-triage/SKILL.md
  .claude/skills/db-migrations/SKILL.md
Due: none

docs: add prod email delivery wiring to usage-metrics job runbook
  backend/data_tools/scripts/azure/USAGE_METRICS_JOB.md
Due: none

feat: run usage-metrics report on the last Friday of each two-week sprint
  backend/data_tools/CLAUDE.md
  backend/data_tools/environment/azure.py
  backend/data_tools/environment/dev.py
  backend/data_tools/environment/local.py
  backend/data_tools/environment/pytest.py
  backend/data_tools/environment/pytest_data_tools.py
  backend/data_tools/environment/types.py
  backend/data_tools/scripts/azure/USAGE_METRICS_JOB.md
  backend/data_tools/scripts/azure/create_usage_metrics_job.sh
  backend/data_tools/scripts/usage_metrics.sh
  backend/data_tools/src/usage_metrics/email_delivery.py
  backend/data_tools/src/usage_metrics/utils.py
  backend/data_tools/tests/usage_metrics/test_utils.py
Due: nox-lint

docs: note the one-time job update needed to reschedule an existing usage-metrics job
  backend/data_tools/scripts/azure/USAGE_METRICS_JOB.md
Due: none

fix: reset FY_OBLIGATED sort, disable header, and null export cell under All FYs
  frontend/src/components/Agreements/AgreementsTable/AgreementsTable.constants.js
  frontend/src/components/Agreements/AgreementsTable/AgreementsTable.jsx
  frontend/src/components/Agreements/AgreementsTable/AgreementsTable.test.js
  frontend/src/components/UI/Table/Table.jsx
  frontend/src/pages/agreements/list/AgreementsList.jsx
  frontend/src/pages/agreements/list/AgreementsList.test.jsx
Due: eslint, prettier

fix: prefer agreement nickname for display, fix BLI agreement filter
  backend/models/agreements.py
  backend/ops_api/ops/services/budget_line_items.py
  frontend/src/api/opsAPI.js
Due: nox-lint, eslint, prettier

test: harden agreement search, sort, and filter for nicknames
  backend/ops_api/ops/schemas/budget_line_items.py
  backend/ops_api/ops/services/agreements.py
  backend/ops_api/ops/services/budget_line_items.py
  backend/ops_api/tests/ops/agreement/test_agreement.py
  backend/ops_api/tests/ops/agreement/test_agreement_display_name.py
  backend/ops_api/tests/ops/agreement/test_agreement_immutable_awarded_fields.py
  backend/ops_api/tests/ops/agreement/test_agreement_sort.py
  backend/ops_api/tests/ops/budget_line_items/test_budget_line_item.py
  backend/ops_api/tests/ops/procurement_tracker/test_nick_name_notifications.py
Due: nox-lint

feat: add nickname-preferred agreement display helper
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.awardedFields.test.jsx
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.helpers.test.js
  frontend/src/components/Agreements/AgreementsTable/AgreementsTable.helpers.js
  frontend/src/components/Agreements/AgreementsTable/AgreementsTable.helpers.test.js
  frontend/src/helpers/agreement.helpers.js
  frontend/src/helpers/agreement.helpers.test.js
  frontend/src/pages/projects/list/ProjectsList.helpers.test.js
  frontend/src/tests/data.js
Due: eslint, prettier

feat: match and display agreement nickname in comboboxes and filters
  frontend/src/components/Agreements/AgreementNameComboBox/AgreementNameComboBox.jsx
  frontend/src/components/Agreements/AgreementNameComboBox/AgreementNameComboBox.test.js
  frontend/src/components/UI/Form/ComboBox/ComboBox.hooks.js
  frontend/src/components/UI/Form/ComboBox/ComboBox.jsx
  frontend/src/components/UI/Form/ComboBox/ComboBox.test.js
  frontend/src/pages/agreements/list/AgreementsFilterTags/AgreementsFilterTags.test.jsx
  frontend/src/pages/budgetLines/list/BLIFilterTags.jsx
  frontend/src/pages/budgetLines/list/BLIFilterTags.test.jsx
Due: eslint, prettier

Notes added by 'git notes add'
  b6fac80e32a82d3267b0c4097ad77fcebd52d473
Due: none

feat: show nickname-preferred agreement name in tables, sorts, exports
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.hooks.js
  frontend/src/components/Agreements/AgreementMetaAccordion/AgreementMetaAccordion.jsx
  frontend/src/components/Agreements/AgreementMetaAccordion/AgreementMetaAccordion.test.jsx
  frontend/src/components/Agreements/AgreementSelect/AgreementSelect.jsx
  frontend/src/components/BudgetLineItems/AllBudgetLinesTable/AllBLIRow.jsx
  frontend/src/components/CANs/CANBudgetLineTable/CANBudgetLineTable.jsx
  frontend/src/helpers/budgetLines.helpers.js
  frontend/src/helpers/budgetLines.helpers.test.js
  frontend/src/hooks/use-sortable-data.hooks.js
  frontend/src/hooks/useSortableData.test.js
  frontend/src/pages/agreements/details/Agreement.jsx
  frontend/src/pages/agreements/details/Agreement.test.js
  frontend/src/pages/agreements/details/AgreementDetailsView.jsx
  frontend/src/pages/agreements/details/AgreementDetailsView.test.jsx
  frontend/src/pages/procurementDashboard/ProcurementDashboardPage.jsx
  frontend/src/types/AgreementTypes.d.ts
Due: eslint, prettier

feat: add agreement nickname column to agreements list export
  frontend/src/pages/agreements/list/AgreementsList.jsx
  frontend/src/pages/agreements/list/AgreementsList.test.jsx
Due: eslint, prettier

feat: show agreement nickname in review and approval page subtitles
  frontend/src/pages/agreements/approve/ApproveAgreement.jsx
  frontend/src/pages/agreements/award-approval/ApproveAwardApproval.jsx
  frontend/src/pages/agreements/award-approval/EditAwardApproval.jsx
  frontend/src/pages/agreements/award-approval/RequestAwardApproval.jsx
  frontend/src/pages/agreements/pre-award-approval/ApprovePreAwardApproval.jsx
  frontend/src/pages/agreements/pre-award-approval/ApprovePreAwardApproval.test.jsx
  frontend/src/pages/agreements/pre-award-approval/RequestPreAwardApproval.jsx
  frontend/src/pages/agreements/pre-award-approval/ReviewBudgetTeamRequisition.jsx
  frontend/src/pages/agreements/review/ReviewAgreement.jsx
Due: eslint, prettier

docs: document nickname-preferred agreement display in openapi spec
  backend/openapi.yml
Due: none

fix: hide edit controls from read-only users on agreements table and project details
  frontend/src/components/Agreements/AgreementsTable/AgreementTableRow.jsx
  frontend/src/pages/projects/detail/ProjectDetail.jsx
  frontend/src/pages/projects/detail/ProjectDetail.test.jsx
  frontend/src/pages/projects/detail/ProjectDetailsView.jsx
  frontend/src/pages/projects/detail/ProjectDetailsView.test.jsx
Due: eslint, prettier

fix: preserve superuser edit access when read-only role also present
  frontend/src/components/Agreements/AgreementsTable/AgreementTableRow.jsx
  frontend/src/components/Agreements/AgreementsTable/AgreementTableRow.test.js
  frontend/src/pages/projects/detail/ProjectDetail.jsx
  frontend/src/pages/projects/detail/ProjectDetail.test.jsx
  frontend/src/pages/projects/detail/ProjectDetailsView.jsx
  frontend/src/pages/projects/detail/ProjectDetailsView.test.jsx
Due: eslint, prettier

Notes added by 'git notes add'
  1a0cbb04c23593defd3810c384b8c483dc5d90e9
Due: none

Notes added by 'git notes add'
  485b6ed2b89a6863451a7930b07b4e27d5fbe5e9
Due: none

fix: keep option.value in ComboBox filter to restore code/id matching
  frontend/src/components/UI/Form/ComboBox/ComboBox.jsx
  frontend/src/components/UI/Form/ComboBox/ComboBox.test.js
Due: eslint, prettier

fix: match BLI agreement_name filter on full name only, not nickname
  backend/ops_api/ops/services/budget_line_items.py
  backend/ops_api/tests/ops/budget_line_items/test_budget_line_item.py
  frontend/src/api/opsAPI.js
Due: nox-lint, eslint, prettier

fix: filter projects list by agreement id, not name/nickname string
  backend/openapi.yml
  backend/ops_api/ops/schemas/projects.py
  backend/ops_api/ops/services/projects.py
  backend/ops_api/tests/ops/project/test_project.py
  frontend/src/api/opsAPI.js
  frontend/src/api/opsAPI.test.js
Due: nox-lint, eslint, prettier

Notes added by 'git notes add'
  74e8ccb93796ac5fbe72a1d5023e047b2c0818c3
Due: none

feat: show Lifetime Obligated column when All FYs selected on agreements list
  frontend/src/components/Agreements/AgreementsTable/AgreementTableRow.jsx
  frontend/src/components/Agreements/AgreementsTable/AgreementsTable.constants.js
  frontend/src/components/Agreements/AgreementsTable/AgreementsTable.test.js
  frontend/src/pages/agreements/list/AgreementsList.jsx
  frontend/src/pages/agreements/list/AgreementsList.test.jsx
Due: eslint, prettier

feat: hide New and Continuing columns in agreements summary card when All FYs selected
  frontend/src/components/Agreements/AgreementCountSummaryCard/AgreementCountSummaryCard.jsx
  frontend/src/components/Agreements/AgreementCountSummaryCard/AgreementCountSummaryCard.test.jsx
Due: eslint, prettier

test: remove incorrect/duplicate assertions in nick_name tests
  backend/ops_api/tests/ops/agreement/test_agreement_immutable_awarded_fields.py
  backend/ops_api/tests/ops/budget_line_items/test_budget_line_item.py
Due: nox-lint

test: fixing stale test assertion frontend
  frontend/src/pages/agreements/list/AgreementsList.test.jsx
Due: eslint, prettier

test: fixing stale backend test assertion
  backend/ops_api/tests/ops/schemas/test_agreements.py
Due: nox-lint

fix: match SQL/Python whitespace handling in agreement display_name
  backend/models/agreements.py
  backend/ops_api/tests/ops/agreement/test_agreement_display_name.py
Due: nox-lint

fix: restore NO_DATA fallback for blank agreement names in spending row
  frontend/src/components/Projects/ProjectSpendingAgreementRow/ProjectSpendingAgreementRow.jsx
Due: eslint, prettier

Path conditions:
  nox-lint: any of: \.py$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.css$, \.(html|htm|xhtml)$
  prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|scss|html|md)$
