Repository HHS/OPRE-OPS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-lint, eslint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: detect-aws-credentials
        args: [--allow-missing-credentials]
      - id: detect-private-key
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: '^frontend/src/uswds/.*\.svg$'
      - id: check-json
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
  - repo: https://github.com/hadolint/hadolint
    rev: v2.10.0
    hooks:
      - id: hadolint
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.10.1
    hooks:
      - id: isort
        args: ["--profile", "black", "--filter-files"]
  - repo: local
    hooks:
      - id: nox-lint
        name: nox-lint
        entry: bash -c 'cd ./backend/ops_api && pipenv run nox -s lint'
        language: system
        types:
          - python
        pass_filenames: false
      - id: eslint
        name: eslint
        entry: bash -c 'cd ./frontend/ && bun lint'
        language: system
        types_or:
          - javascript
          - jsx
          - css
          - html
        pass_filenames: false
      - id: trufflehog
        name: TruffleHog
        description: Detect secrets in your data.
        entry: bash -c 'if command -v podman >/dev/null 2>&1; then podman run --rm -v "$(pwd):/workdir" -i trufflesecurity/trufflehog:latest git file:///workdir --since-commit HEAD --only-verified --fail; elif command -v docker >/dev/null 2>&1; then docker run --rm -v "$(pwd):/workdir" -i trufflesecurity/trufflehog:latest git file:///workdir --since-commit HEAD --only-verified --fail; else echo "Neither docker nor podman found. Please install one of them." && exit 1; fi'
        language: system
        stages: ["pre-commit", "pre-push"]
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.18.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional"]
        language_version: 22.8.0

refactor: remove TODO comment
  backend/ops_api/ops/services/notifications.py
Due: nox-lint

test: add unit tests for notification service methods
  backend/ops_api/tests/ops/services/test_notifications.py
Due: nox-lint

test: add unit tests for change request service
  backend/ops_api/tests/ops/services/test_change_requests.py
Due: nox-lint

Notes added by 'git notes add'
  6b53987355480ad165c368c88d231b0a5c52e52d
Due: none

chore: wrote tests and event generation code for team member changes
  backend/data_tools/data/ops_event.json5
  backend/models/agreement_history.py
  backend/ops_api/ops/resources/agreements.py
  backend/ops_api/ops/utils/events.py
  backend/ops_api/tests/ops/agreement/test_agreement_history.py
Due: nox-lint

feat: refactor agreement query and update logic for improved readability and maintainability
  backend/ops_api/ops/resources/agreements.py
Due: nox-lint

feat: refactor agreement serialization to encapsulate metadata handling
  backend/ops_api/ops/resources/agreements.py
Due: nox-lint

feat: adds Tooltip
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.jsx
  frontend/src/components/Agreements/ProcurementShopSelect/ProcurementShopSelect.jsx
  frontend/src/components/Agreements/ProcurementShopSelectWithFee/ProcurementShopSelectWithFee.jsx
Due: eslint

feat: extend AaAgreement schema with additional fields and enhance test coverage
  backend/ops_api/ops/schemas/agreements.py
  backend/ops_api/tests/ops/agreement/test_agreement.py
Due: nox-lint

feat: extend AaAgreement schema with new fields and add comprehensive test for agreement retrieval
  backend/ops_api/ops/schemas/agreements.py
  backend/ops_api/tests/ops/agreement/test_agreement.py
Due: nox-lint

feat: update API paths and enhance agreement schema with new fields
  backend/openapi.yml
Due: none

feat: standardize indentation in openapi.yml for agreement agency schema
  backend/openapi.yml
Due: none

refactor: adds logic for disabled state and message
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.jsx
Due: eslint

feat: add AaAgreementResponse reference to openapi.yml
  backend/openapi.yml
Due: none

refactor: reorder fields in Agreement schema
  backend/ops_api/ops/schemas/agreements.py
Due: nox-lint

feat: add AgreementChangeRequest schema to open api ymal file
  backend/openapi.yml
Due: none

refactor: remove unnecessary comments in change_requests.py
  backend/models/change_requests.py
Due: nox-lint

refactor: remove commented-out code in test_agreement_change_requests.py
  backend/ops_api/tests/ops/agreement/test_agreement_change_requests.py
Due: nox-lint

refactor: default state for procurement shop
  frontend/src/components/Agreements/AgreementEditor/AgreementEditorContext.hooks.js
  frontend/src/helpers/budgetLines.helpers.js
Due: eslint

refactor: suggestions from CoPilot
  frontend/cypress/e2e/createAgreement.cy.js
  frontend/src/components/Agreements/AgreementEditor/AgreementEditorContext.hooks.js
  frontend/src/helpers/budgetLines.helpers.js
Due: eslint

feat: refactor add_update_vendor to accept db session
  backend/ops_api/ops/services/agreements.py
Due: nox-lint

test: remove unneeded code
  frontend/cypress/e2e/createAgreement.cy.js
Due: eslint

refactor: onChange logic
  frontend/src/components/Agreements/AgreementEditor/AgreementEditorContext.hooks.js
  frontend/src/components/Agreements/ProcurementShopSelect/ProcurementShopSelect.jsx
  frontend/src/components/Agreements/ProcurementShopSelectWithFee/ProcurementShopSelectWithFee.jsx
Due: eslint

chore: beginning work on approval cr history messages
  backend/models/agreement_history.py
  backend/ops_api/ops/services/budget_line_items.py
  backend/ops_api/tests/ops/agreement/test_agreement_history.py
Due: nox-lint

fix: update e2e test budgetlines and amounts
  frontend/cypress/e2e/agreementDetails.cy.js
  frontend/cypress/e2e/agreementDetailsEdit.cy.js
  frontend/cypress/e2e/budgetLineItemsList.cy.js
  frontend/cypress/e2e/canDetail.cy.js
  frontend/cypress/e2e/portfolioDetail.cy.js
  frontend/cypress/e2e/reviewAgreement.cy.js
Due: eslint

fix: enable researchProjectDetail e2e test
  frontend/cypress/e2e/researchProjectDetail.cy.js
  frontend/src/components/Portfolios/PortfolioHero/PortfolioHero.jsx
  frontend/src/pages/researchProjects/detail/ResearchProjectDetail.jsx
Due: eslint

Notes added by 'git notes add'
  b3278bcc4b2a9a4eabdd26bb42f0dfac0b821881
Due: none

feat: increase timeout for backend API unit tests to 30 minutes
  .github/workflows/unit_test_reusable.yml
Due: none

test: skip change requests outside division in approval tests
  frontend/cypress/e2e/approveCrossDivisionCRs.cy.js
Due: eslint

test: update agreements table length assertions to reflect new data
  frontend/cypress/e2e/agreementList.cy.js
Due: eslint

test: add wait for page load in agreement list tests
  frontend/cypress/e2e/agreementList.cy.js
Due: eslint

test: increase wait time for page load in agreement list tests
  frontend/cypress/e2e/agreementList.cy.js
Due: eslint

test: skip agreement edit test for now
  frontend/cypress/e2e/agreementDetailsEdit.cy.js
Due: eslint

test: add wait for page load in approval change requests tests
  frontend/cypress/e2e/approveChangeRequestsAtAgreementLevel.cy.js
Due: eslint

refactor: change logix for GCS default
  frontend/src/components/Agreements/AgreementEditor/AgreementEditorContext.hooks.js
  frontend/src/components/Agreements/ProcurementShopSelect/ProcurementShopSelect.jsx
  frontend/src/components/Agreements/ProcurementShopSelect/ProcurementShopSelect.test.js
Due: eslint

refactor: rename change_request.py to change_requests.py and update import paths
  backend/ops_api/ops/resources/change_requests.py
  backend/ops_api/ops/services/agreements.py
  backend/ops_api/ops/services/budget_line_items.py
  backend/ops_api/ops/services/change_requests.py
  backend/ops_api/tests/ops/agreement/test_agreement_change_requests.py
  backend/ops_api/tests/ops/services/test_change_requests.py
Due: nox-lint

test: add CI configuration for Cypress end-to-end tests
  .github/workflows/e2e_test_reusable.yml
  frontend/cypress.config.ci.js
  frontend/package.json
Due: eslint

refactor: update import paths in test files to reflect change_requests.py
  backend/ops_api/tests/ops/agreement/test_agreement_change_requests.py
  backend/ops_api/tests/ops/services/test_change_requests.py
Due: nox-lint

refactor: simplify change request update handling by removing redundant error handling
  backend/ops_api/ops/resources/change_requests.py
Due: nox-lint
