Repository HHS/OPRE-OPS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-lint, eslint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: detect-aws-credentials
        args: [--allow-missing-credentials]
      - id: detect-private-key
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: '^frontend/src/uswds/.*(\.svg|\.map)$'
      - id: check-json
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
  - repo: https://github.com/hadolint/hadolint
    rev: v2.14.0
    hooks:
      - id: hadolint
  - repo: https://github.com/pycqa/isort
    rev: 7.0.0
    hooks:
      - id: isort
        name: isort (ops_api)
        args: ["--settings-file", "backend/ops_api/pyproject.toml", "--filter-files"]
        files: ^backend/ops_api/
      - id: isort
        name: isort (data_tools)
        args: ["--settings-file", "backend/data_tools/pyproject.toml", "--filter-files"]
        files: ^backend/data_tools/
  - repo: local
    hooks:
      - id: nox-lint
        name: nox-lint
        entry: bash -c 'cd ./backend/ops_api && pipenv run nox -s lint'
        language: system
        types:
          - python
        pass_filenames: false
      - id: eslint
        name: eslint
        entry: bash -c 'cd ./frontend/ && bun lint'
        language: system
        types_or:
          - javascript
          - jsx
          - css
          - html
        pass_filenames: false
      - id: trufflehog
        name: TruffleHog
        description: Detect secrets in your data.
        entry: bash -c 'if command -v podman >/dev/null 2>&1; then podman run --rm -v "$(pwd):/workdir" -i trufflesecurity/trufflehog:latest git file:///workdir --since-commit HEAD --only-verified --fail; elif command -v docker >/dev/null 2>&1; then docker run --rm -v "$(pwd):/workdir" -i trufflesecurity/trufflehog:latest git file:///workdir --since-commit HEAD --only-verified --fail; else echo "Neither docker nor podman found. Please install one of them." && exit 1; fi'
        language: system
        stages: ["pre-commit", "pre-push"]
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.23.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional"]
        language_version: 22.8.0
  - repo: https://github.com/renovatebot/pre-commit-hooks
    rev: 41.165.2
    hooks:
      - id: renovate-config-validator

fix(e2e): stabilize Cypress suite after React/Cypress updates (#5040)
  frontend/cypress.config.ci.js
  frontend/cypress.config.js
  frontend/cypress/e2e/agreementDetails.cy.js
  frontend/cypress/e2e/approveCrossDivisionCRs.cy.js
  frontend/cypress/e2e/auth.cy.js
  frontend/cypress/e2e/createAgreementWithValidations.cy.js
  frontend/cypress/e2e/notificationCenter.cy.js
  frontend/cypress/e2e/reviewChangeRequestsAtCardLevel.cy.js
  frontend/cypress/e2e/saveChangesToEdits.cy.js
  frontend/cypress/support/commands.js
  frontend/cypress/support/e2e.js
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepOne/ProcurementTrackerStepOne.test.jsx
  frontend/src/components/CANs/CANBudgetByFYCard/CANBudgetByFYCard.helpers.test.js
  frontend/src/pages/agreements/details/AgreementProcurementTracker.test.jsx
  frontend/src/pages/budgetLines/list/BudgetLineItemList.test.jsx
  frontend/src/pages/home/release-notes/ReleaseNotes.test.jsx
Due: eslint

Notes added by 'git notes add'
  d9e0eb2c2d102422bd11bcee641e91882aa12128
Due: none

test(e2e): stabilize save-changes spec and add local CI-style sharding runner
  frontend/cypress/e2e/saveChangesToEdits.cy.js
  frontend/package.json
  frontend/scripts/run-e2e-ci-matrix-local.sh
Due: eslint

test(e2e): fix modal ESC race in saveChangesToEdits
  frontend/cypress/e2e/saveChangesToEdits.cy.js
  frontend/cypress/support/commands.js
Due: eslint

Notes added by 'git notes add'
  b6d202c2fb0ff600e94004224e4119ecf5ff36a7
Due: none

test(e2e): restore modal close helper compatibility
  frontend/cypress/support/commands.js
Due: eslint

feat: add claude.sh to .gitignore
  .gitignore
Due: none

Notes added by 'git notes add'
  f5b8b42aab67561bbb4003da173e2bda8cf3e14f
Due: none

feat: enhance BLIFilterButton to dynamically display default fiscal year string
  frontend/src/pages/budgetLines/list/BLIFilterButton.jsx
  frontend/src/pages/budgetLines/list/BLIFilterButton.test.jsx
Due: eslint

ci: retry bun install in setup-javascript action
  .github/actions/setup-javascript/action.yml
Due: none

chore(e2e): align local sharding runner with glob filters and local cypress
  frontend/scripts/run-e2e-ci-matrix-local.sh
Due: none

chore: update Dockerfiles to use python:3.14-alpine and adjust Pipfiles
  backend/Dockerfile.data-tools
  backend/Dockerfile.data-tools-import
  backend/Dockerfile.debug
  backend/Dockerfile.ops-api
  backend/data_tools/Pipfile
  backend/data_tools/Pipfile.lock
  backend/ops_api/Pipfile
  backend/ops_api/Pipfile.lock
Due: none

refactor: streamline user session handling in auth client tests
  backend/ops_api/tests/auth_client.py
  backend/ops_api/tests/conftest.py
  backend/ops_api/tests/ops/users/test_users_get.py
Due: nox-lint

chore: add VSCode settings for Python testing and formatting
  backend/data_tools/.vscode/settings.json
Due: none

feat: add README.md for data tools and ETL process documentation
  backend/data_tools/CLAUDE.md
  backend/data_tools/README.md
Due: none

feat: update FiscalYear component to use hard-coded fiscal years
  frontend/src/components/UI/FiscalYear/FiscalYear.jsx
  frontend/src/pages/agreements/list/AgreementsList.jsx
  frontend/src/pages/agreements/list/AgreementsList.test.jsx
Due: eslint

chore: add pyright configuration for data tools and update Python version
  backend/data_tools/pyrightconfig.json
Due: none

chore: update commit message guidelines for clarity
  .cursorrules
Due: none

fix(procurement-tracker): restore default read-only steps when no active tracker
  frontend/cypress/e2e/procurementTracker.cy.js
  frontend/src/components/Agreements/ProcurementTracker/StepBuilderAccordion/StepBuilderAccordion.css
  frontend/src/components/Agreements/ProcurementTracker/StepBuilderAccordion/StepBuilderAccordion.jsx
  frontend/src/components/Agreements/ProcurementTracker/StepBuilderAccordion/StepBuilderAccordion.test.jsx
  frontend/src/pages/agreements/details/AgreementProcurementTracker.jsx
  frontend/src/pages/agreements/details/AgreementProcurementTracker.test.jsx
Due: eslint

fix(e2e): stabilize procurement tracker auth and assertions
  frontend/cypress/e2e/procurementTracker.cy.js
  frontend/cypress/support/e2e.js
  frontend/src/pages/agreements/details/AgreementProcurementTracker.jsx
  frontend/src/pages/agreements/details/AgreementProcurementTracker.test.jsx
Due: eslint

Add DeepWiki documentation badge to README
  README.md
Due: none

fix(export): resolve fiscal year handling in export function
  frontend/src/pages/budgetLines/list/BudgetLineItemList.jsx
  frontend/src/pages/budgetLines/list/BudgetLineItemList.test.jsx
Due: eslint

feat: limit procurement tracker users to authorized users only
  frontend/cypress/e2e/procurementTracker.cy.js
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepOne/ProcurementTrackerStepOne.jsx
  frontend/src/components/Agreements/UsersComboBox/UsersComboBox.jsx
  frontend/src/components/Agreements/UsersComboBox/UsersComboBox.test.jsx
  frontend/src/pages/agreements/details/AgreementProcurementTracker.jsx
  frontend/src/types/AgreementTypes.d.ts
Due: eslint

test: update e2e tests
  frontend/cypress/e2e/agreementDelete.cy.js
  frontend/cypress/e2e/agreementList.cy.js
  frontend/cypress/e2e/agreementsPagination.cy.js
  frontend/cypress/e2e/agreementsPaginationAccessibility.cy.js
  frontend/cypress/e2e/agreementsPaginationExport.cy.js
  frontend/cypress/e2e/agreementsPaginationFilters.cy.js
  frontend/cypress/e2e/agreementsPaginationSorting.cy.js
  frontend/cypress/e2e/editAgreementAsBasicUser.cy.js
Due: eslint

chore: resolve copilot review comments
  frontend/src/api/opsAPI.js
  frontend/src/pages/agreements/list/AgreementsList.jsx
Due: eslint

chore: update README and tests for clarity and configuration
  backend/ops_api/README.md
  backend/ops_api/tests/conftest.py
  backend/ops_api/tests/ops/users/test_users_get.py
Due: nox-lint

test(e2e): stabilize save-changes spec and add local CI-style sharding runner (#5043)
  .github/actions/setup-javascript/action.yml
  frontend/cypress/e2e/saveChangesToEdits.cy.js
  frontend/package.json
  frontend/scripts/run-e2e-ci-matrix-local.sh
Due: eslint

Notes added by 'git notes add'
  b3a1aecc4c424912a26b1555b9ceaf7def156c74
Due: none

fix: test for procurement tracker
  frontend/cypress/e2e/procurementTracker.cy.js
Due: eslint

OPS-4928: update agreements filter (#5011)
  backend/openapi.yml
  backend/ops_api/ops/resources/agreements.py
  backend/ops_api/ops/schemas/agreements.py
  backend/ops_api/ops/services/agreements.py
  backend/ops_api/ops/urls.py
  backend/ops_api/ops/views.py
  backend/ops_api/tests/ops/agreement/test_agreement.py
  frontend/cypress/e2e/agreementDelete.cy.js
  frontend/cypress/e2e/agreementList.cy.js
  frontend/cypress/e2e/agreementsPagination.cy.js
  frontend/cypress/e2e/agreementsPaginationAccessibility.cy.js
  frontend/cypress/e2e/agreementsPaginationExport.cy.js
  frontend/cypress/e2e/agreementsPaginationFilters.cy.js
  frontend/cypress/e2e/agreementsPaginationSorting.cy.js
  frontend/cypress/e2e/editAgreementAsBasicUser.cy.js
  frontend/cypress/e2e/editBudgetLineByPowerUser.cy.js
  frontend/src/api/opsAPI.js
  frontend/src/api/opsAPI.test.js
  frontend/src/components/Agreements/AgreementNameComboBox/AgreementNameComboBox.jsx
  frontend/src/components/Agreements/AgreementNameComboBox/AgreementNameComboBox.test.js
  frontend/src/components/Agreements/ContractNumberComboBox/ContractNumberComboBox.jsx
  frontend/src/components/Agreements/ContractNumberComboBox/ContractNumberComboBox.test.js
  frontend/src/components/Agreements/ContractNumberComboBox/index.js
  frontend/src/components/Projects/ProjectTitleComboBox/ProjectTitleComboBox.jsx
  frontend/src/components/Projects/ProjectTitleComboBox/ProjectTitleComboBox.test.js
  frontend/src/components/Projects/ProjectTitleComboBox/index.js
  frontend/src/components/UI/FiscalYear/FiscalYear.jsx
  frontend/src/components/UI/FiscalYear/FiscalYear.test.js
  frontend/src/components/UI/Form/ComboBox/ComboBox.hooks.js
  frontend/src/components/UI/Form/ComboBox/ComboBox.jsx
  frontend/src/components/UI/Form/FiscalYearComboBox/FiscalYearComboBox.jsx
  frontend/src/components/UI/Form/FiscalYearComboBox/FiscalYearComboBox.test.js
  frontend/src/pages/agreements/list/AgreementsFilterButton/AgreementsFilterButton.hooks.js
  frontend/src/pages/agreements/list/AgreementsFilterButton/AgreementsFilterButton.jsx
  frontend/src/pages/agreements/list/AgreementsFilterButton/AgreementsFilterTypes.d.ts
  frontend/src/pages/agreements/list/AgreementsFilterTags/AgreementsFilterTags.hooks.js
  frontend/src/pages/agreements/list/AgreementsList.jsx
  frontend/src/pages/agreements/list/AgreementsList.test.jsx
Due: nox-lint, eslint

feat: implement user authorization filtering in UsersComboBox
  frontend/cypress/e2e/procurementTracker.cy.js
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepOne/ProcurementTrackerStepOne.jsx
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepOne/ProcurementTrackerStepOne.test.jsx
  frontend/src/components/Agreements/UsersComboBox/UsersComboBox.jsx
  frontend/src/components/Agreements/UsersComboBox/UsersComboBox.test.jsx
  frontend/src/pages/agreements/details/AgreementProcurementTracker.test.jsx
Due: eslint

fix(procurement-tracker): decouple indicator current step from default-open accordion
  frontend/cypress/e2e/procurementTracker.cy.js
  frontend/src/components/Agreements/ProcurementTracker/StepBuilderAccordion/StepBuilderAccordion.test.jsx
  frontend/src/pages/agreements/details/AgreementProcurementTracker.jsx
  frontend/src/pages/agreements/details/AgreementProcurementTracker.test.jsx
Due: eslint

fix: lint
  frontend/src/components/Agreements/UsersComboBox/UsersComboBox.test.jsx
Due: eslint

fix: fix e2e spec
  frontend/cypress/e2e/procurementTracker.cy.js
Due: eslint

feat: add includeAllOption to FiscalYearComboBox
  frontend/src/components/UI/Form/FiscalYearComboBox/FiscalYearComboBox.jsx
  frontend/src/components/UI/Form/FiscalYearComboBox/FiscalYearComboBox.test.js
  frontend/src/pages/budgetLines/list/BLIFilterButton.jsx
Due: eslint

docs: add commit message standards to CLAUDE.md
  CLAUDE.md
Due: none

test(e2e): make pagination filter test conditional on result count
  frontend/cypress/e2e/agreementsPaginationFilters.cy.js
Due: eslint

fix: handle completed step state in procurement tracker E2E test
  frontend/cypress/e2e/procurementTracker.cy.js
Due: eslint

feat: enhance BudgetLineItemService with selectinload options for improved query performance
  backend/ops_api/ops/services/budget_line_items.py
Due: nox-lint

feat: implement logging enhancements for Azure environment
  backend/ops_api/ops/__init__.py
  backend/ops_api/ops/environment/default_settings.py
Due: nox-lint
