Repository HHS/OPRE-OPS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-lint, eslint, prettier

nox-lint:
  name: nox-lint
  entry: bash -c 'cd ./backend/ops_api && pipenv run nox -s lint'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd ./frontend/ && bun lint'
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: bash -c 'cd ./frontend/ && bunx prettier --check --ignore-unknown'
  language: system
  pass_filenames: true

feat: add budget lines review section to award approval form
  frontend/src/pages/agreements/award-approval/RequestAwardApproval.hooks.js
  frontend/src/pages/agreements/award-approval/RequestAwardApproval.jsx
Due: eslint, prettier

refactor: consolidate budget cards into single BLI accordion
  frontend/src/pages/agreements/award-approval/RequestAwardApproval.hooks.js
  frontend/src/pages/agreements/award-approval/RequestAwardApproval.jsx
Due: eslint, prettier

test: expand E2E coverage for award approval with detailed specs
  frontend/cypress/e2e/requestAwardApproval.cy.js
Due: eslint, prettier

fix: handle undefined agreement and remove executing total section
  frontend/src/pages/agreements/award-approval/RequestAwardApproval.hooks.js
  frontend/src/pages/agreements/award-approval/RequestAwardApproval.jsx
Due: eslint, prettier

test: add E2E tests for request award approval workflow
  frontend/cypress/e2e/requestAwardApproval.cy.js
Due: eslint, prettier

Notes added by 'git notes add'
  cc75a59bc3858f32cedbe2b96271b8de02a24f6f
Due: none

chore: enhance Storybook integration and documentation
  .github/pull_request_template.md
  .github/workflows/storybook_build.yml
  AGENTS.md
  frontend/CLAUDE.md
  frontend/package.json
Due: prettier

Notes added by 'git notes add'
  68b1b29b338305a07bb9450a7b10aa6eb906c71d
Due: none

Notes added by 'git notes add'
  871e44cdaea42b23540b3fe200141a463aac124c
Due: none

test: add E2E tests for request award approval page
  frontend/cypress.config.ci.js
  frontend/cypress.config.js
  frontend/cypress/e2e/requestAwardApproval.cy.js
Due: eslint, prettier

feat: update CanComboBox to display nickname alongside number in options
  frontend/src/components/CANs/CanComboBox/CanComboBox.jsx
  frontend/src/components/CANs/CanComboBox/CanComboBox.test.js
Due: eslint, prettier

feat: updating change request list to paginate on all results and sort by create date
  frontend/cypress/e2e/changeRequestsPagination.cy.js
  frontend/src/components/ChangeRequests/ChangeRequestsList/ChangeRequestsList.jsx
Due: eslint, prettier

feat: handling change requests with multiple change types properly
  frontend/src/components/ChangeRequests/ChangeRequestsList/ChangeRequestsList.jsx
Due: eslint, prettier

refactor: address PR review comments on requestorNotes and dependencies
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepFive/ProcurementTrackerStepFive.jsx
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepFive/ProcurementTrackerStepFive.test.jsx
  frontend/src/components/ChangeRequests/ChangeRequestsList/ChangeRequestsList.jsx
  frontend/src/pages/agreements/pre-award-approval/ReviewBudgetTeamRequisition.hooks.js
Due: eslint, prettier

test: changing test cleanup to decline created proc step change requests
  frontend/cypress/e2e/changeRequestsPagination.cy.js
Due: eslint, prettier

fix(e2e): use setNeedByDate helper in all IAA test date entries
  frontend/cypress/e2e/editBudgetLineByPowerUser.cy.js
Due: eslint, prettier

test: fixing test after changing page size
  frontend/src/components/ChangeRequests/ChangeRequestsList/ChangeRequestList.test.jsx
Due: eslint, prettier

Notes added by 'git notes add'
  c7349953e4342fc1f0f3431905437f242d9dc27f
Due: none

feat: add EditAgreementAndBudgetLines component and update routing for agreement review
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.hooks.js
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.jsx
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.project.test.jsx
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIAndSCs.test.js
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.jsx
  frontend/src/index.jsx
  frontend/src/pages/agreements/review/EditAgreementAndBudgetLines.jsx
  frontend/src/pages/agreements/review/EditAgreementAndBudgetLines.test.jsx
  frontend/src/pages/agreements/review/ReviewAgreement.jsx
Due: eslint, prettier

fix: handle missing obligate-by date gracefully in review cards
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepFive/ProcurementTrackerStepFive.jsx
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepFive/ProcurementTrackerStepFive.test.jsx
  frontend/src/components/ChangeRequests/ApprovalFlowReviewCard/ApprovalFlowReviewCard.jsx
  frontend/src/components/ChangeRequests/ApprovalFlowReviewCard/ApprovalFlowReviewCard.test.jsx
Due: eslint, prettier

feat: add continueOverRide function to handle success alert and redirect after saving changes
  frontend/src/pages/agreements/review/EditAgreementAndBudgetLines.jsx
Due: eslint, prettier

fix: add auto-dismiss timeout to pre-award requisition approval notifications
  frontend/src/components/Agreements/PreAwardApprovalAlert/PreAwardApprovalAlert.jsx
  frontend/src/components/Agreements/PreAwardApprovalAlert/PreAwardApprovalAlert.test.jsx
Due: eslint, prettier

fix: lookup service component number by ID when missing from BLI
  frontend/src/helpers/budgetLines.helpers.js
  frontend/src/helpers/budgetLines.helpers.test.js
Due: eslint, prettier

test: fixing tests per pr review
  frontend/cypress/e2e/changeRequestsPagination.cy.js
  frontend/src/components/ChangeRequests/ChangeRequestsList/ChangeRequestList.test.jsx
  frontend/src/components/ChangeRequests/ChangeRequestsList/ChangeRequestsList.jsx
Due: eslint, prettier

chore: remove console.log from step four update handler
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepFour/ProcurementTrackerStepFour.hooks.js
Due: eslint, prettier

refactor: improve timer cleanup and remove console.log statements
  frontend/src/components/Agreements/PreAwardApprovalAlert/PreAwardApprovalAlert.jsx
  frontend/src/components/Agreements/PreAwardApprovalAlert/PreAwardApprovalAlert.test.jsx
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepFive/ProcurementTrackerStepFive.hooks.js
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepFour/ProcurementTrackerStepFour.hooks.js
Due: eslint, prettier

feat: auto-dismiss all pre-award approval notifications after 6 seconds
  frontend/src/components/Agreements/PreAwardApprovalAlert/PreAwardApprovalAlert.jsx
  frontend/src/components/Agreements/PreAwardApprovalAlert/PreAwardApprovalAlert.test.jsx
Due: eslint, prettier

fix(frontend): prevent BudgetLinesForm DatePicker remount on every render
  frontend/src/components/BudgetLineItems/BudgetLinesForm/BudgetLinesForm.jsx
  frontend/src/components/BudgetLineItems/BudgetLinesForm/BudgetLinesForm.test.jsx
Due: eslint, prettier

feat(claude): add ci-log-triage skill for evidence-first CI diagnosis
  .claude/skills/ci-log-triage/SKILL.md
Due: none

feat: add Storybook stories for feature/domain components (Phase 4) (#5784)
  frontend/src/components/Agreements/AgreementSpendingCards/AgreementSpendingCards.stories.jsx
  frontend/src/components/BudgetLineItems/BLIStatusSummaryCard/BLIStatusSummaryCard.stories.jsx
  frontend/src/components/CANs/CANSummaryCards/CANSummaryCards.stories.jsx
  frontend/src/components/Portfolios/PortfolioBudgetSummary/PortfolioBudgetSummary.stories.jsx
  frontend/src/components/Projects/ProjectTypeSummaryCard/ProjectTypeSummaryCard.stories.jsx
Due: eslint, prettier

Notes added by 'git notes add'
  1cf6992f5267d6170a7faa4ea1f1ce6c2dea79df
Due: none

feat: update CanComboBox to display nickname alongside number in options (#5795)
  frontend/src/components/CANs/CanComboBox/CanComboBox.jsx
  frontend/src/components/CANs/CanComboBox/CanComboBox.test.js
Due: eslint, prettier

Notes added by 'git notes add'
  2ee3c12284393f83ad43032d2872159997b00763
Due: none

test: testing 5530
  frontend/src/components/UI/_Demo/_Demo.jsx
Due: eslint, prettier

fix(frontend): stabilize USWDS DatePicker init to prevent DOM accumulation
  frontend/src/components/UI/USWDS/DatePicker/DatePicker.jsx
Due: eslint, prettier

style: fixing linting issue
  frontend/src/components/ChangeRequests/ChangeRequestsList/ChangeRequestList.test.jsx
Due: eslint, prettier

Notes added by 'git notes add'
  f04550a0241a200781dbb3baa2494146b1acc59a
Due: none

chore(deps): remove unused mypy dependency from backend
  backend/ops_api/.gitignore
  backend/ops_api/Pipfile
Due: none

docs: remove mypy reference from MESSAGEBUS_SUBSCRIBERS.md
  backend/ops_api/Pipfile.lock
  backend/ops_api/ops/services/MESSAGEBUS_SUBSCRIBERS.md
Due: none

Path conditions:
  nox-lint: any of: \.py$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.css$, \.(html|htm|xhtml)$
  prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|scss|html|md)$
