Repository HHS/OPRE-OPS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-lint, eslint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: detect-aws-credentials
        args: [--allow-missing-credentials]
      - id: detect-private-key
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: '^frontend/src/uswds/.*\.svg$'
      - id: check-json
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
  - repo: https://github.com/hadolint/hadolint
    rev: v2.13.1
    hooks:
      - id: hadolint
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.10.1
    hooks:
      - id: isort
        args: ["--profile", "black", "--filter-files"]
  - repo: local
    hooks:
      - id: nox-lint
        name: nox-lint
        entry: bash -c 'cd ./backend/ops_api && pipenv run nox -s lint'
        language: system
        types:
          - python
        pass_filenames: false
      - id: eslint
        name: eslint
        entry: bash -c 'cd ./frontend/ && bun lint'
        language: system
        types_or:
          - javascript
          - jsx
          - css
          - html
        pass_filenames: false
      - id: trufflehog
        name: TruffleHog
        description: Detect secrets in your data.
        entry: bash -c 'if command -v podman >/dev/null 2>&1; then podman run --rm -v "$(pwd):/workdir" -i trufflesecurity/trufflehog:latest git file:///workdir --since-commit HEAD --only-verified --fail; elif command -v docker >/dev/null 2>&1; then docker run --rm -v "$(pwd):/workdir" -i trufflesecurity/trufflehog:latest git file:///workdir --since-commit HEAD --only-verified --fail; else echo "Neither docker nor podman found. Please install one of them." && exit 1; fi'
        language: system
        stages: ["pre-commit", "pre-push"]
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.22.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional"]
        language_version: 22.8.0
  - repo: https://github.com/renovatebot/pre-commit-hooks
    rev: 41.113.0
    hooks:
      - id: renovate-config-validator

feat: update login user schema in openapi.yml
  backend/openapi.yml
Due: none

refactor: refactor state around agency object vs ids
  frontend/src/components/Agreements/AgencySelect/AgencySelect.jsx
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.jsx
  frontend/src/components/Agreements/AgreementEditor/AgreementEditorContext.hooks.js
  frontend/src/components/Agreements/AgreementEditor/AgreementEditorContext.jsx
  frontend/src/components/UI/Form/ComboBox/ComboBox.hooks.js
Due: eslint

test: clear user sessions
  backend/ops_api/tests/auth/test_login.py
Due: nox-lint

feat: new modal for save changes and exit
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.hooks.js
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.jsx
  frontend/src/components/UI/Modals/SaveChangesAndExitModal.jsx
Due: eslint

feat: add user session pruning utility script
  backend/data_tools/src/prune_user_sessions/__init__.py
  backend/data_tools/src/prune_user_sessions/utils.py
Due: nox-lint

Notes added by 'git notes add'
  ea9b356f1c3db62bda695989a9b2ba965e17d000
Due: none

feat: implement user session cleanup script with logging and database setup
  backend/data_tools/src/prune_user_sessions/utils.py
Due: nox-lint

feat: add user session cleanup script with logging and dry-run functionality
  backend/data_tools/src/cleanup_user_sessions/__init__.py
  backend/data_tools/src/cleanup_user_sessions/utils.py
  backend/data_tools/src/prune_user_sessions/utils.py
Due: nox-lint

feat: add event logging and system user integration
  backend/data_tools/src/cleanup_user_sessions/utils.py
Due: nox-lint

chore: revert uswds map files
  .pre-commit-config.yaml
  frontend/src/uswds/js/uswds-init.min.js.map
  frontend/src/uswds/js/uswds.min.js.map
Due: none

feat: add user session event types to ops_event and update enum values
  backend/alembic/versions/2025_10_23_1432-45c1e2d2c303_add_ops_event_type_for_user_sessions.py
  backend/models/events.py
Due: nox-lint

feat: sort agreement agencies by agency name and paginate agencies
  backend/data_tools/data/first_contract_data.json5
  backend/ops_api/ops/resources/agreement_agency.py
  backend/ops_api/ops/schemas/agreement_agency.py
  backend/ops_api/ops/services/agreement_agency.py
  backend/ops_api/tests/ops/agreement/test_agreement_agencies.py
Due: nox-lint

fix: correct assertion for total_count in budget line item test
  backend/ops_api/tests/ops/budget_line_items/test_budget_line_item.py
Due: nox-lint

fix: update validation error message for pagination limit
  backend/ops_api/ops/schemas/pagination.py
Due: nox-lint

feat: update logging configuration
  backend/data_tools/src/cleanup_user_sessions/utils.py
Due: nox-lint

Notes added by 'git notes add'
  a60547d5bc9f2259d2b9b879e1629cdaddcb66fb
Due: none

refactor: simplify assertions and remove unused history endpoint
  backend/ops_api/ops/resources/history.py
  backend/ops_api/ops/urls.py
  backend/ops_api/ops/views.py
  backend/ops_api/tests/ops/history/test_history.py
Due: nox-lint

refactor: remove deprecated ops-db-histories task and add budget line items task
  performance_tests/locustfile.py
Due: nox-lint

feat: refactor user session cleanup logic and improve logging
  backend/data_tools/src/cleanup_user_sessions/utils.py
Due: nox-lint

feat: change logging level from debug to info for session samples
  backend/data_tools/src/cleanup_user_sessions/utils.py
Due: nox-lint

refactor: black reformat
  backend/ops_api/ops/urls.py
  backend/ops_api/ops/views.py
  backend/ops_api/tests/ops/budget_line_items/test_budget_line_item.py
  backend/ops_api/tests/ops/history/test_history.py
Due: nox-lint

feat: add unit tests for the user session cleanup utility
  backend/data_tools/tests/cleanup_user_sessions/test_utils.py
Due: nox-lint

refactor: fixing a change accidentally made by merging main
  backend/ops_api/ops/resources/change_requests.py
Due: nox-lint

Notes added by 'git notes add'
  08ed1046cbca7c502538f208403cbcf0726a4841
Due: none

feat: modal is now triggered by delete
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.hooks.js
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.jsx
  frontend/src/components/UI/Modals/SaveChangesAndExitModal.jsx
Due: eslint

feat: implemented agency validation
  frontend/src/components/Agreements/AgencySelect/AgencySelect.jsx
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.jsx
  frontend/src/components/Agreements/AgreementEditor/AgreementEditFormSuite.js
  frontend/src/components/UI/Form/ComboBox/ComboBox.hooks.js
Due: eslint

test: simplify imports and improve logs
  backend/data_tools/tests/cleanup_user_sessions/test_utils.py
Due: nox-lint

test: fix broken user info unit tests from main merge
  frontend/src/components/Users/UserInfo/UserInfo.jsx
  frontend/src/components/Users/UserInfo/UserInfo.test.js
Due: eslint

refactor: simplify select role set
  frontend/src/components/Users/UserInfo/UserInfo.jsx
Due: eslint

test: fix tests
  frontend/src/components/Agreements/AgencySelect/AgencySelect.test.js
  frontend/src/components/UI/Form/ComboBox/ComboBox.hooks.js
Due: eslint

feat: remove user sessions from auth login response (#4569)
  backend/openapi.yml
  backend/ops_api/ops/auth/api.py
  backend/ops_api/ops/auth/schema.py
  backend/ops_api/tests/auth/test_login.py
Due: nox-lint

Notes added by 'git notes add'
  7ca7a1a4f2011ba7be717f634e77bdf896177ee5
Due: none

chore: removed closing icon and cleanup
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.hooks.js
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.jsx
  frontend/src/components/UI/Modals/SaveChangesAndExitModal.jsx
  frontend/src/hooks/use-alert.hooks.js
Due: eslint

test: fixes e2e test
  frontend/cypress/e2e/createAAAgreement.cy.js
Due: eslint

chore: addresses Copilot suggestions
  frontend/src/components/Agreements/AgencySelect/AgencySelect.jsx
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.jsx
Due: eslint

refactor: update isSuperUser checks to use is_superuser property
  frontend/src/components/BudgetLineItems/BudgetLinesForm/datePickerSuite.js
  frontend/src/components/BudgetLineItems/BudgetLinesForm/suite.js
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.hooks.js
Due: eslint

refactor: fix isSuperUser boolean value
  frontend/src/components/Users/UserInfo/UserInfo.test.js
Due: eslint

chore: nick_name query param wip
  backend/ops_api/ops/resources/agreements.py
  backend/ops_api/ops/schemas/agreements.py
Due: nox-lint

refactor: create non-list pagination schema and use it replace other paginated schemas
  backend/ops_api/ops/resources/change_requests.py
  backend/ops_api/ops/schemas/agreement_agency.py
  backend/ops_api/ops/schemas/budget_line_items.py
  backend/ops_api/ops/schemas/can_history.py
  backend/ops_api/ops/schemas/pagination.py
  backend/ops_api/tests/auth/test_login.py
Due: nox-lint

test: write a test to ensure nick_name query prop works properly
  backend/ops_api/tests/ops/agreement/test_agreement.py
Due: nox-lint
