Repository HHS/OPRE-OPS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-lint, eslint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: detect-aws-credentials
      - id: detect-private-key
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-json
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

  - repo: https://github.com/hadolint/hadolint
    rev: v2.10.0
    hooks:
      - id: hadolint
  # We're running black, but doing it via nox session instead - see below
  # - repo: https://github.com/psf/black
  #   rev: 22.6.0
  #   hooks:
  #   -   id: black
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.10.1
    hooks:
      - id: isort
        args: ["--profile", "black", "--filter-files"]
  - repo: local
    hooks:
      - id: nox-lint
        name: nox-lint
        entry: bash -c 'cd ./backend/ops_api && pipenv run nox -s lint'
        language: system
        types:
          - python
        pass_filenames: false
      - id: eslint
        name: eslint
        entry: bash -c 'cd ./frontend/ && yarn lint'
        language: system
        types_or:
          - javascript
          - jsx
          - css
          - html
        pass_filenames: false

combines tests for date group
  frontend/src/components/UI/Form/CreateBudgetLinesForm/CreateBudgetLinesForm.jsx
  frontend/src/components/UI/Form/CreateBudgetLinesForm/suite.js
  frontend/src/components/UI/Form/DesiredAwardDate/DesiredAwardDate.jsx
  frontend/src/components/UI/Form/DesiredAwardDate/suite.js
Due: eslint

cleanup
  frontend/src/pages/agreements/CreateEditAgreement.jsx
Due: eslint

fixes unit tests
  frontend/src/components/UI/Form/DesiredAwardDate/DesiredAwardDate.test.js
Due: eslint

updates test
  frontend/cypress/e2e/reviewAgreement.cy.js
Due: eslint

fixes linter problems
  frontend/src/components/UI/Form/CreateBudgetLinesForm/suite.js
  frontend/src/components/UI/Form/DesiredAwardDate/DesiredAwardDate.test.js
Due: eslint

refactor:initial PortfolioTabsSection.jsx and TabsSection.jsx
  backend/ops_api/pytest.ini
  frontend/src/components/Portfolios/PortfolioTabsSection/PortfolioTabsSection.jsx
  frontend/src/components/Portfolios/PortfolioTabsSection/PortfolioTabsSection.module.scss
  frontend/src/components/Portfolios/PortfolioTabsSection/PortfolioTabsSection.test.js
  frontend/src/components/Portfolios/PortfolioTabsSection/index.js
  frontend/src/components/UI/TabsSection/TabsSection.jsx
  frontend/src/components/UI/TabsSection/TabsSection.module.scss
  frontend/src/components/UI/TabsSection/TabsSection.test.js
  frontend/src/components/UI/TabsSection/index.js
  frontend/src/pages/portfolios/detail/PortfolioDetail.jsx
Due: eslint

refactors form mode to isEdit/Review mode
  frontend/src/components/UI/Form/CreateBudgetLinesForm/CreateBudgetLinesForm.jsx
  frontend/src/components/UI/WizardSteps/StepCreateBudgetLines/StepCreateBudgetLines.jsx
  frontend/src/components/UI/WizardSteps/StepCreateBudgetLines/index.js
  frontend/src/pages/agreements/CreateEditAgreement.jsx
  frontend/src/pages/agreements/StepCreateAgreement.jsx
  frontend/src/pages/agreements/StepSelectProject.jsx
Due: eslint

refactor:extract AgreementsTable.jsx
  frontend/src/pages/agreements/list/AgreementsList.jsx
  frontend/src/pages/agreements/list/AgreementsTable.jsx
  frontend/src/pages/agreements/list/AgreementsTable.test.js
Due: eslint

add AgreementsFilterHeaderSection.jsx; add routing
  frontend/src/index.jsx
  frontend/src/pages/agreements/list/AgreementsFilterHeaderSection.jsx
  frontend/src/pages/agreements/list/AgreementsList.jsx
Due: eslint

add useGetAgreementsByUserIdQuery
  frontend/src/api/opsAPI.js
Due: eslint

fix linting
  frontend/src/pages/agreements/list/AgreementsFilterHeaderSection.jsx
  frontend/src/pages/agreements/list/AgreementsList.jsx
Due: eslint

re-adding myself back in
  backend/data_tools/data/user_data.json5
Due: none

manually increment number of expected notifications
  backend/ops_api/tests/ops/notification/test_notification.py
Due: nox-lint

manually incrementing number of expected rows for tests
  backend/ops_api/tests/ops/notification/test_notification.py
Due: nox-lint

fix bug in sortAgreements
  frontend/src/pages/agreements/list/utils.js
Due: eslint

filter Agreements by tab
  frontend/src/pages/agreements/list/AgreementsList.jsx
Due: eslint

default navigation to /agreements?filter=all-agreements
  frontend/src/components/UI/Header/Menu.jsx
Due: eslint

use single Route to AgreementsList
  frontend/src/index.jsx
Due: eslint

use query string instead of props for Route
  frontend/src/pages/agreements/list/AgreementsFilterHeaderSection.jsx
  frontend/src/pages/agreements/list/AgreementsList.jsx
Due: eslint

add team member test data
  backend/data_tools/data/agreements_and_blin_data.json5
Due: none

update Pipfile.lock
  backend/data_tools/Pipfile.lock
  backend/ops_api/Pipfile.lock
Due: none

Ops 1199/need by date validation (#1213)
  frontend/cypress/e2e/reviewAgreement.cy.js
  frontend/src/components/UI/Form/CreateBudgetLinesForm/suite.js
  frontend/src/components/UI/Form/DesiredAwardDate/DesiredAwardDate.jsx
  frontend/src/components/UI/Form/DesiredAwardDate/DesiredAwardDate.test.js
Due: eslint

add e2e test
  frontend/cypress/e2e/agreementList.cy.js
Due: eslint

back out accidental change
  backend/ops_api/pytest.ini
Due: none

back out unneeded code
  frontend/src/api/opsAPI.js
Due: eslint

back out unneeded code
  frontend/src/index.jsx
Due: eslint

format and remove console.log
  frontend/src/pages/agreements/list/AgreementsList.jsx
Due: eslint

refactors form mode to isEdit/Review mode (#1217)
  frontend/src/components/UI/Form/CreateBudgetLinesForm/CreateBudgetLinesForm.jsx
  frontend/src/components/UI/WizardSteps/StepCreateBudgetLines/StepCreateBudgetLines.jsx
  frontend/src/components/UI/WizardSteps/StepCreateBudgetLines/index.js
  frontend/src/pages/agreements/CreateEditAgreement.jsx
  frontend/src/pages/agreements/StepCreateAgreement.jsx
  frontend/src/pages/agreements/StepSelectProject.jsx
Due: eslint

updates eslint based on vite
  frontend/.eslintrc.json
  frontend/package.json
  frontend/yarn.lock
Due: none

WIP
  frontend/src/components/UI/PreviewTable/PreviewTable.jsx
  frontend/src/pages/agreements/review/ReviewAgreement.jsx
Due: eslint

passes down validation errors
  frontend/src/components/UI/PreviewTable/PreviewTable.jsx
  frontend/src/pages/agreements/review/ReviewAgreement.jsx
Due: eslint

warn on prop-types
  frontend/.eslintrc.json
Due: none

add JSDoc
  frontend/src/components/Portfolios/PortfolioTabsSection/PortfolioTabsSection.jsx
  frontend/src/components/UI/TabsSection/TabsSection.jsx
  frontend/src/pages/agreements/list/AgreementsFilterHeaderSection.jsx
  frontend/src/pages/agreements/list/AgreementsList.jsx
  frontend/src/pages/agreements/list/AgreementsTable.jsx
Due: eslint

fix frontend unit tests
  frontend/src/pages/agreements/list/utils.js
Due: eslint

fix backend unit test
  backend/ops_api/tests/ops/agreement/test_agreement.py
Due: nox-lint

updates eslint based Vite
  frontend/.eslintrc.json
  frontend/package.json
  frontend/src/api/opsAPI.js
  frontend/src/api/patchAgreements.js
  frontend/src/applicationContext/TestApplicationContext.js
  frontend/src/components/Auth/authSlice.js
  frontend/src/components/Portfolios/PortfolioBudgetSummary/util.js
  frontend/src/components/Portfolios/PortfolioFundingByBudgetStatus/PortfolioFundingByBudgetStatus.jsx
  frontend/src/components/Portfolios/PortfolioFundingByCAN/PortfolioFundingByCAN.jsx
  frontend/src/components/Portfolios/PortfolioSummaryCards/PortfolioFundingTotal.jsx
  frontend/src/components/Portfolios/ResearchProjects/ProjectsAndAgreements.jsx
  frontend/src/components/UI/Form/CreateBudgetLinesForm/CreateBudgetLinesForm.jsx
  frontend/src/components/UI/Form/CreateBudgetLinesForm/suite.js
  frontend/src/components/UI/WizardSteps/StepCreateBudgetLines/suite.js
  frontend/src/pages/agreements/list/AgreementTableRow.jsx
  frontend/src/pages/agreements/review/suite.js
  frontend/src/pages/cans/list/getCanList.js
  frontend/src/pages/portfolios/list/getPortfolioList.js
  frontend/src/setupTests.js
  frontend/yarn.lock
Due: eslint

adds eslint-config-prettier
  frontend/.eslintrc.json
  frontend/package.json
  frontend/yarn.lock
Due: none

cleanup
  frontend/src/applicationContext/TestApplicationContext.js
  frontend/src/setupTests.js
Due: eslint

reverted to fix e2e test
  frontend/src/api/patchAgreements.js
Due: eslint

its ok eslint, we know what we are doing here
  frontend/src/api/patchAgreements.js
Due: eslint
