Repository HHS/OPRE-OPS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-lint, eslint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: detect-aws-credentials
      - id: detect-private-key
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-json
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

  - repo: https://github.com/hadolint/hadolint
    rev: v2.10.0
    hooks:
      - id: hadolint
  # We're running black, but doing it via nox session instead - see below
  # - repo: https://github.com/psf/black
  #   rev: 22.6.0
  #   hooks:
  #   -   id: black
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.10.1
    hooks:
      - id: isort
        args: ["--profile", "black", "--filter-files"]
  - repo: local
    hooks:
      - id: nox-lint
        name: nox-lint
        entry: bash -c 'cd ./backend/ops_api && pipenv run nox -s lint'
        language: system
        types:
          - python
        pass_filenames: false
      - id: eslint
        name: eslint
        entry: bash -c 'cd ./frontend/ && yarn lint'
        language: system
        types_or:
          - javascript
          - jsx
          - css
          - html
        pass_filenames: false

refactor: :art: calcualteTotalAmountWithFees is a private fn
  frontend/src/components/BudgetLineItems/BudgetLinesTotalSummaryCard/BudgetLinesTotalSummaryCard.js
Due: eslint

black, isort, flake8.
  backend/ops_api/ops/resources/agreements.py
  backend/ops_api/ops/resources/budget_line_item_schemas.py
  backend/ops_api/tests/ops/agreement/test_agreement_history.py
  backend/ops_api/tests/ops/can/test_budget_line_item.py
  backend/ops_api/tests/ops/features/test_delete_agreement.py
  backend/ops_api/tests/ops/features/test_edit_agreement_metadata.py
  backend/ops_api/tests/ops/features/test_edit_planned_budget_line.py
  backend/ops_api/tests/ops/features/test_validate_draft_budget_lines.py
Due: nox-lint

prettier.
  frontend/src/components/UI/WizardSteps/StepCreateBudgetLines/StepCreateBudgetLines.jsx
Due: eslint

cleanup
  frontend/src/components/BudgetLineItems/BLIStatusSummaryCard/BLIStatusSummaryCard.js
Due: eslint

feat: :sparkles: better looking homepage
  frontend/src/pages/Home.jsx
Due: eslint

test: :test_tube: updates test for homepage
  frontend/cypress/e2e/mainPage.cy.js
Due: eslint

refactor: :art: refactors as private fn
  frontend/src/components/BudgetLineItems/BudgetLinesTotalSummaryCard/BudgetLinesTotalSummaryCard.js
Due: eslint

fix: :bug: uses new property proc_shop_fee_percentage
  frontend/src/components/BudgetLineItems/BLIStatusSummaryCard/BLIStatusSummaryCard.js
Due: eslint

style: :memo: cleanup
  frontend/cypress/e2e/portfolioDetail.cy.js
  frontend/src/components/BudgetLineItems/BLIStatusSummaryCard/BLIStatusSummaryCard.js
Due: eslint

do not omit "null" from message to make it clear that the it's being changed to/from null (UX review feedback)
  frontend/src/components/Agreements/AgreementDetails/AgreementHistoryList.js
Due: eslint

fixed issuer
  frontend/src/components/Auth/auth.js
Due: eslint

remove debug log
  frontend/src/components/Auth/auth.js
Due: eslint

test: :test_tube: fixes tests?
  frontend/src/components/BudgetLineItems/BLIStatusSummaryCard/BLIStatusSummaryCard.js
Due: eslint

abandon openmetadata dir for now
  backend/terraform/openmetadata-vm/cloud_init.sh
  backend/terraform/openmetadata-vm/main.tf
  backend/terraform/openmetadata-vm/outputs.tf
  backend/terraform/openmetadata-vm/providers.tf
  backend/terraform/openmetadata-vm/ssh.tf
  backend/terraform/openmetadata-vm/variables.tf
Due: none

updated test tokens
  frontend/src/components/Auth/auth.test.js
Due: eslint

lint
  backend/ops_api/ops/environment/cloud/dev.py
  backend/ops_api/ops/environment/cloud/prod.py
  backend/ops_api/ops/environment/cloud/staging.py
Due: nox-lint

pls work 🤞
  frontend/cypress/e2e/budgetLineItemsList.cy.js
Due: eslint

attempt with 1 sec delay
  frontend/cypress/e2e/budgetLineItemsList.cy.js
Due: eslint

test: :bug: adds todo to fix a11y issues
  frontend/cypress/e2e/budgetLineItemsList.cy.js
Due: eslint

WIP: refactoring to use components for rendering all the lookups
  frontend/src/components/Agreements/AgreementDetails/AgreementHistoryList.js
  frontend/src/components/UI/LogItem/LogItem.js
  frontend/src/helpers/lookup-hooks.js
Due: eslint

OPS-682/UX Review_2_DisabledChangeIcons (#1493)
  frontend/cypress/e2e/editAgreement.cy.js
  frontend/src/components/BudgetLineItems/AllBLIRow/AllBLIRow.js
  frontend/src/components/BudgetLineItems/BLIRow/BLIRow.js
  frontend/src/components/BudgetLineItems/ChangeIcons/ChangeIcons.js
  frontend/src/components/BudgetLineItems/ChangeIcons/DisabledChangeIcons.js
Due: eslint

feat: :sparkles: adds BLIStatusSummaryCard (#1498)
  frontend/cypress/e2e/budgetLineItemsList.cy.js
  frontend/cypress/e2e/portfolioDetail.cy.js
  frontend/src/components/BudgetLineItems/BLIStatusSummaryCard/BLIStatusSummaryCard.js
  frontend/src/components/BudgetLineItems/BLIStatusSummaryCard/index.js
  frontend/src/components/BudgetLineItems/BLIStatusSummaryCard/styles.module.css
  frontend/src/components/BudgetLineItems/BudgetLinesTotalSummaryCard/BudgetLinesTotalSummaryCard.js
  frontend/src/components/BudgetLineItems/SummaryCardsSection/SummaryCardsSection.js
  frontend/src/components/UI/ResponsiveDonutWithInnerPercent/ResponsiveDonutWithInnerPercent.jsx
  frontend/src/components/UI/RoundedBox/RoundedBox.jsx
  frontend/src/components/UI/Tag/Tag.jsx
  frontend/src/helpers/utils.js
Due: eslint

refactor: :art: fixes unique id React issue
  frontend/src/components/Agreements/AgreementDetails/AgreementHistoryList.js
  frontend/src/components/UI/SummaryCard/SummaryCard.js
Due: eslint

refactor: adds Fragment to eliminate React warning
  frontend/src/pages/agreements/details/Agreement.js
Due: eslint

feat: :sparkles: better looking homepage (#1500)
  frontend/cypress/e2e/mainPage.cy.js
  frontend/src/pages/Home.jsx
Due: eslint

Added error_simulator decorator.
  backend/ops_api/ops/base_views.py
  backend/ops_api/ops/resources/cans.py
  backend/ops_api/ops/utils/auth.py
  backend/ops_api/ops/utils/auth_views.py
  backend/ops_api/ops/utils/errors.py
Due: nox-lint

prettier.
  frontend/src/pages/Login.jsx
Due: eslint

Tests are written.
  backend/ops_api/ops/base_views.py
  backend/ops_api/ops/resources/agreements.py
  backend/ops_api/ops/resources/cans.py
  backend/ops_api/ops/utils/auth.py
  backend/ops_api/ops/utils/errors.py
  backend/ops_api/tests/ops/agreement/test_agreement.py
Due: nox-lint

Updated documentation.
  README.md
Due: none

Prettier is evil 2.0
  frontend/src/pages/Login.jsx
Due: eslint

black, isort, flake8, eslint
  backend/models/cans.py
  backend/models/users.py
  backend/ops_api/ops/utils/errors.py
  frontend/src/pages/Login.jsx
Due: nox-lint, eslint

I m giving up on fixing linting problems for frontend.
  frontend/src/pages/Login.jsx
Due: eslint

docs: :bug: updates propTypes for App and DefaultLayout
  frontend/src/App.jsx
  frontend/src/components/UI/Layouts/DefaultLayout/DefaultLayout.js
Due: eslint

fix react child key problems with Frank's code copied in
  frontend/src/components/Agreements/AgreementDetails/AgreementHistoryList.js
  frontend/src/components/UI/LogItem/LogItem.js
  frontend/src/components/UI/SummaryCard/SummaryCard.js
  frontend/src/pages/agreements/details/Agreement.js
Due: eslint

fix e2e test for Agreement History
  frontend/cypress/e2e/agreementDetailsEdit.cy.js
  frontend/src/components/Agreements/AgreementDetails/AgreementHistoryList.js
  frontend/src/components/UI/LogItem/LogItem.js
Due: eslint

linting, cleanup, and restoring timeAgo functionality but with longer date+time format
  frontend/src/components/Agreements/AgreementDetails/AgreementHistoryList.js
  frontend/src/components/Agreements/AgreementDetails/AgreementHistoryPanel.jsx
  frontend/src/components/UI/LogItem/LogItem.js
  frontend/src/components/UI/SummaryCard/SummaryCard.js
  frontend/src/helpers/lookup-hooks.js
  frontend/src/helpers/utils.js
  frontend/src/helpers/utils.test.js
  frontend/src/pages/agreements/details/Agreement.js
Due: eslint

Added parameter for simulatedError to openapi docs for endpoints.
  openapi.yml
Due: none

Added some options for ignoring simulatedError.
  backend/ops_api/ops/utils/errors.py
  openapi.yml
Due: nox-lint

Simplifying a bit.
  backend/ops_api/ops/utils/errors.py
Due: nox-lint

Fixing openapi.
  openapi.yml
Due: none
