Repository HHS/OPRE-OPS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-lint, eslint, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: detect-aws-credentials
        args: [--allow-missing-credentials]
      - id: detect-private-key
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: '^frontend/src/uswds/.*(\.svg|\.map)$'
      - id: check-json
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
  - repo: https://github.com/hadolint/hadolint
    rev: v2.14.0
    hooks:
      - id: hadolint
  - repo: https://github.com/pycqa/isort
    rev: 7.0.0
    hooks:
      - id: isort
        name: isort (ops_api)
        args: ["--settings-file", "backend/ops_api/pyproject.toml", "--filter-files"]
        files: ^backend/ops_api/
      - id: isort
        name: isort (data_tools)
        args: ["--settings-file", "backend/data_tools/pyproject.toml", "--filter-files"]
        files: ^backend/data_tools/
  - repo: local
    hooks:
      - id: nox-lint
        name: nox-lint
        entry: bash -c 'cd ./backend/ops_api && pipenv run nox -s lint'
        language: system
        types:
          - python
        pass_filenames: false
      - id: eslint
        name: eslint
        entry: bash -c 'cd ./frontend/ && bun lint'
        language: system
        types_or:
          - javascript
          - jsx
          - css
          - html
        pass_filenames: false
      - id: prettier
        name: prettier
        entry: bash -c 'cd ./frontend/ && bunx prettier --check --ignore-unknown'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json|css|scss|html|md)$
        pass_filenames: true
      - id: trufflehog
        name: TruffleHog
        description: Detect secrets in your data.
        entry: bash -c 'if command -v podman >/dev/null 2>&1; then podman run --rm -v "$(pwd):/workdir" -i trufflesecurity/trufflehog:latest git file:///workdir --since-commit HEAD --only-verified --fail; elif command -v docker >/dev/null 2>&1; then docker run --rm -v "$(pwd):/workdir" -i trufflesecurity/trufflehog:latest git file:///workdir --since-commit HEAD --only-verified --fail; else echo "Neither docker nor podman found. Please install one of them." && exit 1; fi'
        language: system
        stages: ["pre-commit", "pre-push"]
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.24.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional"]
        language_version: 22.8.0
  - repo: https://github.com/renovatebot/pre-commit-hooks
    rev: 43.15.0
    hooks:
      - id: renovate-config-validator

style: adjust notification circle margin for change requests in AgreementsTabs
  frontend/src/pages/agreements/list/AgreementsTabs.jsx
Due: eslint, prettier

feat: add specific tooltips and bidirectional validation for Pre-Award approval
  backend/ops_api/Pipfile.lock
  backend/ops_api/ops/services/budget_line_items.py
  backend/ops_api/ops/utils/budget_line_items_helpers.py
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepFive/ProcurementTrackerStepFive.jsx
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepFive/ProcurementTrackerStepFive.test.jsx
Due: nox-lint, eslint, prettier

test: add backend tests for pre-award BLI validation
  backend/ops_api/tests/ops/budget_line_items/test_budget_line_item.py
Due: nox-lint

fix: capture addAgreement response for debug logging
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.hooks.js
Due: eslint, prettier

Notes added by 'git notes add'
  e7aaa2c86bc720d23e2f14284a32e23914bb219b
Due: none

feat: add parallel test execution with SAVEPOINT isolation and tmpfs
  backend/models/base.py
  backend/ops_api/Pipfile
  backend/ops_api/Pipfile.lock
  backend/ops_api/tests/conftest.py
  backend/ops_api/tests/docker-compose.yml
Due: nox-lint

chore: format file
  backend/ops_api/tests/conftest.py
Due: nox-lint

chore: move --cov from pytest.ini to CI workflow
  .github/workflows/unit_test_reusable.yml
  backend/data_tools/CLAUDE.md
  backend/data_tools/pytest.ini
  backend/ops_api/CLAUDE.md
  backend/ops_api/pytest.ini
Due: none

ci: run ops_api tests in parallel with 4 workers
  .github/workflows/unit_test_reusable.yml
Due: none

feat: add parallel test execution with SAVEPOINT isolation for data_tools
  .github/workflows/unit_test_reusable.yml
  backend/data_tools/Pipfile
  backend/data_tools/Pipfile.lock
  backend/data_tools/pytest.ini
  backend/data_tools/tests/conftest.py
  backend/data_tools/tests/docker-compose.yml
  backend/data_tools/tests/load_cans/test_load_cans.py
  backend/data_tools/tests/load_contract_budget_line_items/test_load_contract_budget_line_items.py
  backend/data_tools/tests/load_contracts/test_load_contracts.py
  backend/data_tools/tests/load_direct_obligation_budget_line_items/test_load_direct_obligation_budget_line_items.py
  backend/data_tools/tests/load_direct_obligations/test_load_direct_obligations.py
  backend/data_tools/tests/load_grant_budget_line_items/test_load_grant_budget_line_items.py
  backend/data_tools/tests/load_grants/test_load_grants.py
  backend/data_tools/tests/load_iaa_agency/test_load_iaa_agency.py
  backend/data_tools/tests/load_iaa_budget_lines/test_load_iaa_budget_lines.py
  backend/data_tools/tests/load_iaas/test_load_iaas.py
  backend/data_tools/tests/load_master_spreadsheet_budget_lines/test_load_master_spreadsheet_budget_lines_items.py
  backend/data_tools/tests/load_master_spreadsheet_budget_lines_v2/test_load_master_spreadsheet_budget_lines_items_v2.py
  backend/data_tools/tests/load_ops_contracts/test_load_contracts.py
  backend/data_tools/tests/load_projects/test_load_projects.py
  backend/data_tools/tests/load_users/test_load_users.py
  backend/data_tools/tests/load_vendors/test_load_vendors.py
  backend/ops_api/Pipfile.lock
Due: nox-lint

fix: format test files and update lockfiles
  backend/data_tools/tests/load_contract_budget_line_items/test_load_contract_budget_line_items.py
  backend/data_tools/tests/load_contracts/test_load_contracts.py
  backend/data_tools/tests/load_direct_obligations/test_load_direct_obligations.py
  backend/data_tools/tests/load_iaa_agency/test_load_iaa_agency.py
  backend/data_tools/tests/load_iaa_budget_lines/test_load_iaa_budget_lines.py
  backend/data_tools/tests/load_master_spreadsheet_budget_lines_v2/test_load_master_spreadsheet_budget_lines_items_v2.py
  backend/data_tools/tests/load_ops_contracts/test_load_contracts.py
  backend/data_tools/tests/load_projects/test_load_projects.py
Due: nox-lint

fix: revert ops_api Pipfile.lock to original state
  backend/ops_api/Pipfile.lock
Due: none

fix: regenerate data_tools Pipfile.lock with pipenv 2026.5.2
  backend/data_tools/Pipfile.lock
Due: none

fix: make test_get_aa_budget_lines order-independent
  backend/ops_api/tests/ops/budget_line_items/test_budget_line_item.py
Due: nox-lint

style: adjust notification circle margin for change requests in AgreementsTabs (#5707)
  frontend/src/pages/agreements/list/AgreementsTabs.jsx
Due: eslint, prettier

fix: fix disabled edit button style and a bug in CAN FY dropdown (#5706)
  frontend/src/components/Agreements/AgreementBudgetLinesHeader.jsx
  frontend/src/pages/cans/detail/Can.hooks.js
  frontend/src/pages/cans/detail/Can.hooks.test.js
Due: eslint, prettier

Notes added by 'git notes add'
  05d8e30cfab85571d07c13a3dc9614cdbed446ff
Due: none

fix: address review findings for parallel test infrastructure
  backend/data_tools/tests/conftest.py
  backend/models/base.py
  backend/ops_api/Pipfile.lock
  backend/ops_api/tests/conftest.py
Due: nox-lint

fix: regenerate ops_api Pipfile.lock with pipenv 2026.6.1
  backend/ops_api/Pipfile.lock
Due: none

revert: restore Pipfile.lock from main (remove pre-commit hook changes)
  backend/ops_api/Pipfile.lock
Due: none

Notes added by 'git notes add'
  d16fc3da79c9a9cdc330279f2712cdcb25cd93da
Due: none

feat: add hover effects for funding labels in CanCard component
  frontend/src/components/CANs/CanCard/CanCard.jsx
  frontend/src/components/CANs/CanCard/CanCard.test.jsx
Due: eslint, prettier

fix: disable 'Request BL Status Change' button when pre-award in review
  frontend/src/pages/agreements/details/AgreementBudgetLines.jsx
Due: eslint, prettier

feat: add new portfolio entry for DFS division in PORTFOLIO_ORDER
  frontend/src/components/Portfolios/PortfolioSummaryCards/PortfolioSummaryCards.constants.js
Due: eslint, prettier

test: update fallback color logic for palette exhaustion in buildPortfolioChartData test
  frontend/src/components/Projects/ProjectFundingByPortfolioCard/ProjectFundingByPortfolioCard.helpers.test.js
Due: eslint, prettier

fix: correct TAS code (appropriation) truncation and rewrite CAN upsert logic
  backend/data_tools/src/load_cans/utils.py
  backend/data_tools/tests/load_cans/test_load_cans.py
Due: nox-lint

chore: fix formatting
  backend/data_tools/src/load_cans/utils.py
Due: nox-lint

feat: hide buttons on agreement page
  frontend/cypress.config.js
  frontend/cypress/e2e/agreementReadOnly.cy.js
  frontend/cypress/e2e/utils.js
  frontend/cypress/support/e2e.js
  frontend/src/components/Agreements/AgreementsTable/AgreementTableRow.jsx
  frontend/src/hooks/user.hooks.js
  frontend/src/pages/agreements/details/AgreementBudgetLines.jsx
Due: eslint, prettier

fix: fall back to CAN number lookup when SYS_CAN_ID doesn't match
  backend/data_tools/src/load_cans/utils.py
  backend/data_tools/tests/load_cans/test_load_cans.py
Due: nox-lint

fix: use correct event type for CAN updates and rollback on error
  backend/data_tools/src/load_cans/utils.py
Due: nox-lint

Notes added by 'git notes add'
  2a24104ebe708bb45dee41d090c168e5f55f28c2
Due: none

fix: add session rollback on error in CAN import
  backend/data_tools/src/load_cans/utils.py
Due: nox-lint

feat: block agreement edits when pre-award approval is in review
  backend/ops_api/ops/services/budget_line_items.py
  frontend/src/pages/agreements/details/AgreementBudgetLines.jsx
Due: nox-lint, eslint, prettier

fix: use procurement_trackers relationship instead of non-existent procurement_tracker_id
  backend/ops_api/ops/utils/budget_line_items_helpers.py
Due: nox-lint

feat: enhance budget validation and error handling in CANBudgetForm
  frontend/src/components/CANs/CANBudgetForm/CANBudgetForm.jsx
  frontend/src/components/CANs/CANBudgetForm/CANBudgetForm.test.jsx
  frontend/src/pages/cans/detail/CanFunding.hooks.js
  frontend/src/pages/cans/detail/CanFunding.hooks.test.js
  frontend/src/pages/cans/detail/CanFunding.jsx
Due: eslint, prettier

fix: remove unused ProcurementTracker import
  backend/ops_api/ops/utils/budget_line_items_helpers.py
Due: nox-lint

style: apply black formatting to test file
  backend/ops_api/tests/ops/budget_line_items/test_budget_line_item.py
Due: nox-lint

fix: add proper enum values and imports to pre-award test fixtures
  backend/ops_api/tests/ops/budget_line_items/test_budget_line_item.py
Due: nox-lint

fix: use valid user ID 503 in pre-award test fixtures
  backend/ops_api/tests/ops/budget_line_items/test_budget_line_item.py
Due: nox-lint

fix: use DefaultProcurementTrackerStep with correct field names in tests
  backend/ops_api/tests/ops/budget_line_items/test_budget_line_item.py
Due: nox-lint
