Repository HHS/OPRE-OPS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-lint, eslint

nox-lint:
  name: nox-lint
  entry: bash -c 'cd ./backend/ops_api && pipenv run nox -s lint'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd ./frontend/ && bun lint'
  language: system
  pass_filenames: false

Notes added by 'git notes add'
  cd9a8e51344f5cea3550c19b6eeeda0f6999d084
Due: none

Notes added by 'git notes add'
  d09232d348d3ac7afb423b862447f43929b87988
Due: none

Notes added by 'git notes add'
  31a138e24df940e830044a2bb492375de3ad4acb
Due: none

Notes added by 'git notes add'
  ca0daf59142f448efd0f37f86e8f7215dbb3dade
Due: none

Notes added by 'git notes add'
  6b49c4a4feb57afecb3dd9fb1b1dcc6008bcb6bc
Due: none

fix(tests): updating test to satisfy linting
  frontend/src/pages/researchProjects/detail/getResearchProject.test.js
Due: eslint

chore(formatting): fixing style issues
  frontend/src/pages/researchProjects/detail/getResearchProject.test.js
Due: eslint

fix: optimize user loading and logging during login process
  backend/ops_api/ops/auth/utils.py
Due: nox-lint

test: fixes backend unit-tests
  CLAUDE.md
  backend/ops_api/tests/ops/agreement/test_agreement.py
  backend/ops_api/tests/ops/agreement/test_agreement_history.py
  backend/ops_api/tests/ops/budget_line_items/test_budget_line_item.py
  backend/ops_api/tests/ops/funding_summary/test_portfolio_funding_summary.py
  backend/ops_api/tests/ops/research_project/test_research_project.py
Due: nox-lint

test: fixes backend unit-tests
  backend/data_tools/data/agreements_and_blin_data.json5
  backend/ops_api/tests/ops/agreement/test_agreement.py
  backend/ops_api/tests/ops/agreement/test_agreement_history.py
  backend/ops_api/tests/ops/funding_summary/test_portfolio_funding_summary.py
Due: nox-lint

refactor(security): updating github actions to have explicit permissions
  .github/workflows/deploy_reusable.yml
  .github/workflows/dev_be_build_and_deploy.yml
  .github/workflows/prod_be_build_and_deploy.yml
  .github/workflows/stg_be_build_and_deploy.yml
  .github/workflows/unit_test_reusable.yml
Due: none

feat(api): add procurement trackers endpoints and schemas
  backend/openapi.yml
Due: none

feat(api): add examples for procurement trackers and update schemas
  backend/openapi.yml
Due: none

Notes added by 'git notes add'
  8e5da7c425439da8bad667a0051099fd2e86e9f6
Due: none

test: fix back end unit tests
  backend/data_tools/data/ops_event.json5
  backend/ops_api/tests/ops/agreement/test_agreement.py
  backend/ops_api/tests/ops/agreement/test_agreement_history.py
  backend/ops_api/tests/ops/budget_line_items/test_budget_line_item_procurement_shops.py
  backend/ops_api/tests/ops/project/test_project.py
Due: nox-lint

fix: updated currency column index
  frontend/src/pages/agreements/list/AgreementsList.jsx
Due: eslint

fix: handle null and undefined filters in BLIFilterButton and BLIFilterTags components
  frontend/src/pages/budgetLines/list/BLIFilterButton.jsx
  frontend/src/pages/budgetLines/list/BLIFilterButton.test.jsx
  frontend/src/pages/budgetLines/list/BLIFilterTags.jsx
  frontend/src/pages/budgetLines/list/BLIFilterTags.test.jsx
  frontend/src/pages/budgetLines/list/BudgetLineItemList.jsx
  frontend/src/pages/budgetLines/list/BudgetLineItemList.test.jsx
Due: eslint

Notes added by 'git notes add'
  1888a426a319c13bbcc7d961d8f355e0280be0fb
Due: none

test: fix backend tests
  backend/data_tools/data/agreements_and_blin_data.json5
  backend/ops_api/ops/services/budget_line_items.py
Due: nox-lint

chore: ignore claude preferences
  .gitignore
Due: none

feat(api): add endpoint to retrieve procurement tracker steps with pagination and filtering
  backend/openapi.yml
Due: none

feat(api): update procurement tracker steps with additional statuses and dates
  backend/openapi.yml
Due: none

feat(api): add examples for procurement actions in process and awarded
  backend/openapi.yml
Due: none

feat(api): add procurement_tracker_id to procurement steps schema
  backend/openapi.yml
Due: none

chore: added examples for procurement steps
  backend/openapi.yml
Due: none

Notes added by 'git notes add'
  5af167199085c4d2dbbcbe448083464132b5b418
Due: none

feat(api): add procurement tracker steps endpoint with update functionality
  backend/openapi.yml
Due: none

feat: adds new awarded aa agreement
  backend/data_tools/data/agreements_and_blin_data.json5
Due: none

feat(api): improve descriptions in openapi.yml for clarity and readability
  backend/openapi.yml
Due: none

fix: remove hardcoded step dates from procurement tracker API spec
  backend/openapi.yml
Due: none

refactor: remove procurement tracker model and related code
  backend/alembic/versions/2026_01_14_1823-4ca028da2a69_remove_current_procurement_tracker_.py
  backend/models/agreements.py
  backend/models/procurement_tracker.py
  backend/ops_api/ops/resources/procurement_steps.py
  backend/ops_api/ops/services/change_requests.py
  backend/ops_api/ops/urls.py
  backend/ops_api/ops/utils/procurement_tracker_helper.py
  backend/ops_api/ops/views.py
  backend/ops_api/tests/ops/utils/test_procurement_tracker_helper.py
  backend/ops_api/tests/ops/workflows/test_change_requests.py
  backend/ops_api/tests/ops/workflows/test_procurement_steps.py
Due: nox-lint

style: set fixed width for agreement type column in BL table to avoid text truncating
  frontend/src/components/UI/Table/Table.jsx
Due: eslint

fix: handle null filter values in usePortfolioList hook gracefully
  frontend/src/pages/portfolios/list/PortfolioList.hooks.js
  frontend/src/pages/portfolios/list/PortfolioList.hooks.test.js
Due: eslint

feat: add ID to contract agreement and update tests for agreement counts
  backend/data_tools/data/agreements_and_blin_data.json5
  backend/data_tools/data/first_contract_data.json5
  backend/data_tools/src/import_static_data/import_data.py
  backend/ops_api/ops/services/budget_line_items.py
  backend/ops_api/tests/ops/agreement/test_agreement.py
  backend/ops_api/tests/ops/budget_line_items/test_budget_line_item.py
  backend/ops_api/tests/ops/funding_summary/test_portfolio_funding_summary.py
  backend/ops_api/tests/ops/project/test_project.py
  backend/ops_api/tests/ops/research_project/test_research_project.py
Due: nox-lint

refactor(security): pin trufflehog OSS GHA to a specific commit hash
  .github/workflows/ci.yml
Due: none

chore: remove doubleByDivision function and related tests
  frontend/src/pages/portfolios/list/PortfolioList.helpers.js
  frontend/src/pages/portfolios/list/PortfolioList.helpers.test.js
Due: eslint

refactor: format agreement subtypes list for improved readability
  backend/data_tools/src/import_static_data/import_data.py
Due: nox-lint

test: remove assertion for procurement_tracker_id in agreement tests
  backend/ops_api/tests/ops/agreement/test_agreement.py
Due: nox-lint

fix: update budget and project counts in canDetail test
  frontend/cypress/e2e/canDetail.cy.js
Due: eslint

chore: resolve review comment from claude
  frontend/src/constants.js
  frontend/src/pages/portfolios/list/PortfolioFilterButton/PortfolioFilterButton.jsx
  frontend/src/pages/portfolios/list/PortfolioFilterButton/PortfolioFilterButton.test.jsx
  frontend/src/pages/portfolios/list/PortfolioFilterTags.jsx
  frontend/src/pages/portfolios/list/PortfolioFilterTags.test.jsx
  frontend/src/pages/portfolios/list/PortfolioList.helpers.js
  frontend/src/pages/portfolios/list/PortfolioList.helpers.test.js
  frontend/src/pages/portfolios/list/PortfolioList.hooks.js
  frontend/src/pages/portfolios/list/PortfolioList.hooks.test.js
  frontend/src/pages/portfolios/list/PortfolioList.jsx
  frontend/src/pages/portfolios/list/PortfolioList.test.jsx
Due: eslint

Path conditions:
  nox-lint: any of: \.py$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.css$, \.(html|htm|xhtml)$
