Repository HHS/OPRE-OPS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-lint, eslint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: detect-aws-credentials
        args: [--allow-missing-credentials]
      - id: detect-private-key
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: '^frontend/src/uswds/.*\.svg$'
      - id: check-json
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
  - repo: https://github.com/hadolint/hadolint
    rev: v2.10.0
    hooks:
      - id: hadolint
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.10.1
    hooks:
      - id: isort
        args: ["--profile", "black", "--filter-files"]
  - repo: local
    hooks:
      - id: nox-lint
        name: nox-lint
        entry: bash -c 'cd ./backend/ops_api && pipenv run nox -s lint'
        language: system
        types:
          - python
        pass_filenames: false
      - id: eslint
        name: eslint
        entry: bash -c 'cd ./frontend/ && bun lint'
        language: system
        types_or:
          - javascript
          - jsx
          - css
          - html
        pass_filenames: false
      - id: trufflehog
        name: TruffleHog
        description: Detect secrets in your data.
        entry: bash -c 'if command -v podman >/dev/null 2>&1; then podman run --rm -v "$(pwd):/workdir" -i trufflesecurity/trufflehog:latest git file:///workdir --since-commit HEAD --only-verified --fail; elif command -v docker >/dev/null 2>&1; then docker run --rm -v "$(pwd):/workdir" -i trufflesecurity/trufflehog:latest git file:///workdir --since-commit HEAD --only-verified --fail; else echo "Neither docker nor podman found. Please install one of them." && exit 1; fi'
        language: system
        stages: ["pre-commit", "pre-push"]
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.18.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional"]
        language_version: 22.8.0

feat: add editable flag to agreements and update related components
  frontend/src/components/Agreements/AgreementTypes.d.ts
  frontend/src/components/Agreements/AgreementsTable/AgreementTableRow.jsx
  frontend/src/components/Agreements/AgreementsTable/AgreementsTable.helpers.js
  frontend/src/components/BudgetLineItems/BLIReviewTable/BLIReviewRow.jsx
  frontend/src/components/BudgetLineItems/BudgetLinesTable/BLIRow.jsx
  frontend/src/components/BudgetLineItems/BudgetLinesTable/BudgetLinesTable.jsx
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.jsx
  frontend/src/hooks/agreement.hooks.js
  frontend/src/pages/agreements/EditAgreement.jsx
  frontend/src/pages/agreements/details/AgreementBudgetLines.jsx
  frontend/src/pages/agreements/details/AgreementDetails.jsx
  frontend/src/pages/agreements/review/ReviewAgreement.hooks.js
  frontend/src/pages/agreements/review/ReviewAgreement.jsx
Due: eslint

Notes added by 'git notes add'
  db95166cd805dc4bf9921ac6482df9b646518fff
Due: none

feat: removed FE myAgreement logic
  frontend/src/pages/agreements/list/AgreementsList.jsx
Due: eslint

test: add isEditable metadata to agreement objects in tests
  frontend/src/components/Agreements/AgreementsTable/AgreementTableRow.test.js
  frontend/src/components/Agreements/AgreementsTable/AgreementsTable.test.js
  frontend/src/pages/agreements/details/AgreementDetails.test.js
  frontend/src/pages/agreements/list/AgreementsList.jsx
Due: eslint

refactor: update AgreementTableRow and BLIReview components
  frontend/src/components/Agreements/AgreementsTable/AgreementTableRow.jsx
  frontend/src/components/BudgetLineItems/BLIReviewTable/BLIReviewRow.jsx
  frontend/src/components/BudgetLineItems/BLIReviewTable/BLIReviewTable.jsx
Due: eslint

feat: add data-cy attributes to Tag components for improved testing
  frontend/src/components/UI/Tag/Tag.jsx
  frontend/src/pages/agreements/details/AgreementDetailsView.jsx
Due: eslint

fix: set default className for Tag component to an empty string
  frontend/src/components/UI/Tag/Tag.jsx
Due: eslint

test: update agreement details test to use new data-cy attributes for improved accuracy
  frontend/cypress/e2e/agreementDetails.cy.js
Due: eslint

fix: improve user session handling and token refresh logic
  backend/ops_api/ops/auth/service.py
  backend/ops_api/ops/auth/utils.py
Due: nox-lint

fix: update isEditable logic and add conditional rendering
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.jsx
  frontend/src/pages/agreements/details/AgreementDetailsView.jsx
Due: eslint

feat: implement sorting of portfolio cans by fiscal year in descending order
  backend/ops_api/ops/resources/portfolio_cans.py
  backend/ops_api/tests/ops/can/test_portfolio_cans.py
Due: nox-lint

fix: adjust lock timeout settings during user session retrieval
  backend/ops_api/ops/auth/utils.py
Due: nox-lint

adding working session progress
  docs/Security-Compliance/Security-Controls/pt/pt-02.md
  docs/Security-Compliance/Security-Controls/pt/pt-03.md
  docs/Security-Compliance/Security-Controls/pt/pt-04.md
  docs/Security-Compliance/Security-Controls/pt/pt-05-2.md
  docs/Security-Compliance/Security-Controls/pt/pt-05.md
  docs/Security-Compliance/Security-Controls/pt/pt-06-1.md
  docs/Security-Compliance/Security-Controls/pt/pt-06-2.md
  docs/Security-Compliance/Security-Controls/pt/pt-06.md
  docs/Security-Compliance/Security-Controls/pt/pt-07-1.md
  docs/Security-Compliance/Security-Controls/pt/pt-07-2.md
  docs/Security-Compliance/Security-Controls/pt/pt-07.md
  docs/Security-Compliance/Security-Controls/pt/pt-08.md
  docs/Security-Compliance/Security-Controls/ra/ra-03-1.md
  docs/Security-Compliance/Security-Controls/ra/ra-03.md
  docs/Security-Compliance/Security-Controls/ra/ra-05-11.md
  docs/Security-Compliance/Security-Controls/ra/ra-05-2.md
  docs/Security-Compliance/Security-Controls/ra/ra-05-5.md
  docs/Security-Compliance/Security-Controls/ra/ra-05.md
  docs/Security-Compliance/Security-Controls/ra/ra-07.md
  docs/Security-Compliance/Security-Controls/ra/ra-09.md
  docs/Security-Compliance/Security-Controls/sa/index.md
  docs/Security-Compliance/Security-Controls/sa/sa-02.md
  docs/Security-Compliance/Security-Controls/sa/sa-03.md
  docs/Security-Compliance/Security-Controls/sa/sa-04-1.md
  docs/Security-Compliance/Security-Controls/sa/sa-04-2.md
  docs/Security-Compliance/Security-Controls/sa/sa-04-9.md
  docs/Security-Compliance/Security-Controls/sa/sa-04.md
Due: none

test: updated edit agreement e2e test
  frontend/cypress/e2e/editAgreement.cy.js
  frontend/src/pages/agreements/list/AgreementsList.jsx
Due: eslint

feat: update portfolio cans to filter active cans and sorting by budget fiscal year
  backend/ops_api/ops/resources/portfolio_cans.py
  backend/ops_api/tests/ops/can/test_portfolio_cans.py
Due: nox-lint

feat: enhance authentication flow and add reset API state on logout
  frontend/src/api/opsAPI.js
  frontend/src/components/Auth/AuthSection.jsx
  frontend/src/store.js
Due: eslint

feat: refactor get cans
  backend/ops_api/ops/resources/portfolio_cans.py
Due: nox-lint

test: update test assertions for CAN IDs and funding summary counts
  backend/ops_api/tests/ops/can/test_can.py
  backend/ops_api/tests/ops/can/test_portfolio_cans.py
  backend/ops_api/tests/ops/funding_summary/test_can_funding_summary.py
Due: nox-lint

test: update assertions for can funding summary test cases
  backend/ops_api/tests/ops/funding_summary/test_can_funding_summary.py
Due: nox-lint

refactor: allow agreement editing while budgetline is in review
  frontend/src/helpers/budgetLines.helpers.js
  frontend/src/helpers/budgetLines.helpers.test.js
  frontend/src/pages/agreements/details/AgreementBudgetLines.jsx
  frontend/src/pages/agreements/details/AgreementDetails.jsx
Due: eslint

fix: handle logout on API login failure and improve state validation during authentication
  frontend/src/components/Auth/MultiAuthSection.jsx
Due: eslint

test: add meta field to agreement object for review status in AgreementDetails tests
  frontend/src/pages/agreements/details/AgreementDetails.test.js
Due: eslint

test: update assertions and cleanup in funding budget and portfolio tests
  backend/ops_api/tests/ops/can/test_can_funding_budget.py
  backend/ops_api/tests/ops/can/test_portfolio_cans.py
  backend/ops_api/tests/ops/funding_summary/test_can_funding_summary.py
Due: nox-lint

refactor: remove canIds budget filtering in PortfolioDetail component
  frontend/src/pages/portfolios/detail/PortfolioDetail.jsx
Due: eslint

refactor: update comment to clarify CANs extraction in PortfolioDetail component
  frontend/src/pages/portfolios/detail/PortfolioDetail.jsx
Due: eslint

fix: change typo on column header in exported file
  frontend/src/pages/agreements/list/AgreementsList.jsx
Due: eslint

refactor: sets dont sort
  backend/ops_api/ops/resources/portfolio_cans.py
Due: nox-lint

refactor: none type check fy on details
  backend/ops_api/ops/resources/portfolio_cans.py
Due: nox-lint

test: add funding received to no budget can
  backend/data_tools/data/can_data.json5
Due: none

test: add tests for active CANs filtering and sorting by appropriation year
  backend/ops_api/tests/ops/can/test_portfolio_cans.py
Due: nox-lint

test: skip portfolio spending component test due to potential bug
  frontend/cypress/e2e/portfolioDetail.cy.js
Due: eslint

test: update expected values for funding amounts in canList test
  frontend/cypress/e2e/canList.cy.js
Due: eslint

fix: update budget line status check to exclude items in review
  frontend/src/pages/agreements/details/AgreementBudgetLines.jsx
  frontend/src/pages/agreements/review/ReviewAgreement.helpers.js
Due: eslint

test: update id since pr adds 2 new funding received
  frontend/cypress/e2e/canDetail.cy.js
Due: eslint

refactor: return false if no budget lines are provided for in review check
  frontend/src/helpers/budgetLines.helpers.js
  frontend/src/helpers/budgetLines.helpers.test.js
Due: eslint

test: first portfolio in can filter is ADR
  frontend/cypress/e2e/canList.cy.js
Due: eslint

test: enable Portfolio spending component test
  frontend/cypress/e2e/portfolioDetail.cy.js
Due: eslint

test: skip Portfolio spending component test due to potential issue
  frontend/cypress/e2e/portfolioDetail.cy.js
Due: eslint

test: wip adding coverage to allow editing agreements with budget lines in review
  frontend/cypress/e2e/budgetChangeRequest.cy.js
Due: eslint

Notes added by 'git notes add'
  9f09434cf0eb93ba454491ecaababf4d308bab62
Due: none
