Repository HHS/OPRE-OPS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-lint, eslint, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: detect-aws-credentials
        args: [--allow-missing-credentials]
      - id: detect-private-key
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: '^frontend/src/uswds/.*(\.svg|\.map)$'
      - id: check-json
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
  - repo: https://github.com/hadolint/hadolint
    rev: v2.14.0
    hooks:
      - id: hadolint
  - repo: https://github.com/pycqa/isort
    rev: 7.0.0
    hooks:
      - id: isort
        name: isort (ops_api)
        args: ["--settings-file", "backend/ops_api/pyproject.toml", "--filter-files"]
        files: ^backend/ops_api/
      - id: isort
        name: isort (data_tools)
        args: ["--settings-file", "backend/data_tools/pyproject.toml", "--filter-files"]
        files: ^backend/data_tools/
  - repo: local
    hooks:
      - id: nox-lint
        name: nox-lint
        entry: bash -c 'cd ./backend/ops_api && pipenv run nox -s lint'
        language: system
        types:
          - python
        pass_filenames: false
      - id: eslint
        name: eslint
        entry: bash -c 'cd ./frontend/ && bun lint'
        language: system
        types_or:
          - javascript
          - jsx
          - css
          - html
        pass_filenames: false
      - id: prettier
        name: prettier
        entry: bash -c 'cd ./frontend/ && bunx prettier --check --ignore-unknown'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json|css|scss|html|md)$
        pass_filenames: true
      - id: trufflehog
        name: TruffleHog
        description: Detect secrets in your data.
        entry: bash -c 'if command -v podman >/dev/null 2>&1; then podman run --rm -v "$(pwd):/workdir" -i trufflesecurity/trufflehog:latest git file:///workdir --since-commit HEAD --only-verified --fail; elif command -v docker >/dev/null 2>&1; then docker run --rm -v "$(pwd):/workdir" -i trufflesecurity/trufflehog:latest git file:///workdir --since-commit HEAD --only-verified --fail; else echo "Neither docker nor podman found. Please install one of them." && exit 1; fi'
        language: system
        stages: ["pre-commit", "pre-push"]
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.24.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional"]
        language_version: 22.8.0
  - repo: https://github.com/renovatebot/pre-commit-hooks
    rev: 43.15.0
    hooks:
      - id: renovate-config-validator

Notes added by 'git notes add'
  fe145b71979de9bb4c68b06bd9eae108f7df1a4c
Due: none

feat: add read-only mode for Procurement Tracker Step five and update tests
  frontend/cypress.config.ci.js
  frontend/cypress.config.js
  frontend/cypress/e2e/procurementTracker.cy.js
  frontend/cypress/e2e/procurementTrackerReadOnly.cy.js
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepFive/ProcurementTrackerStepFive.jsx
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepFive/ProcurementTrackerStepFive.test.jsx
  frontend/src/pages/agreements/details/AgreementProcurementTracker.jsx
Due: eslint, prettier

fix(docker): update base image to python:3.14-alpine3.22
  backend/Dockerfile.data-tools
  backend/Dockerfile.data-tools-import
  backend/Dockerfile.debug
  backend/Dockerfile.ops-api
Due: none

fix(docker): update base image to correct sha256 for bun
  frontend/Dockerfile.azure
Due: none

feat: adding api sorting for project list
  backend/models/projects.py
  backend/openapi.yml
  backend/ops_api/ops/resources/projects.py
  backend/ops_api/ops/schemas/projects.py
  backend/ops_api/ops/services/projects.py
  backend/ops_api/tests/ops/project/test_project.py
Due: nox-lint

fix(docker): update unzip installation method to use apk instead of apt-get
  frontend/Dockerfile.azure
Due: none

fix(docker): remove unzip installation from Dockerfile
  frontend/Dockerfile.azure
Due: none

fix(docker): update bun base image to correct sha256
  frontend/Dockerfile.azure
Due: none

feat(frontend): show disabled projects nav in production
  frontend/src/components/UI/Header/NavMenu.disabled.test.jsx
  frontend/src/components/UI/Header/NavMenu.jsx
Due: eslint, prettier

fix: fixing potential n+1 queries as well as some typing issues with schema
  backend/ops_api/ops/schemas/projects.py
  backend/ops_api/ops/services/projects.py
  backend/ops_api/tests/ops/project/test_project.py
  backend/ops_api/tests/ops/research_project/test_research_project.py
Due: nox-lint

Notes added by 'git notes add'
  5146d04e94ac1340a95aebb97d10f250fa5c8f6f
Due: none

fix(frontend): preserve disabled projects nav styling
  frontend/src/components/UI/Header/NavMenu.jsx
Due: eslint, prettier

feat(cans): add appropriation field to funding details schemas and update test cases
  backend/data_tools/data/can_data.json5
  backend/ops_api/ops/schemas/cans.py
  backend/ops_api/tests/ops/can/test_can_funding_details.py
  backend/ops_api/tests/ops/funding_summary/test_can_funding_summary.py
Due: nox-lint

feat(cans): add appropriation field to can funding details components
  backend/openapi.yml
Due: none

feat(api): update project funding endpoint and rename funding properties
  backend/openapi.yml
Due: none

refactor(api): remove research project funding summary task from performance tests
  performance_tests/locustfile.py
Due: nox-lint

test(cans): validate appropriation field in funding details responses
  backend/ops_api/tests/ops/can/test_can_funding_details.py
Due: nox-lint

fix: fixing a mistake in openapi spec describing the project_total value
  backend/openapi.yml
Due: none

feat(frontend): normalize all-caps AMS user names for display
  frontend/src/api/getUser.js
  frontend/src/api/getUser.test.js
  frontend/src/api/opsAPI.js
  frontend/src/components/Agreements/AgreementMetaAccordion/AgreementMetaAccordion.jsx
  frontend/src/components/Agreements/ProjectOfficerComboBox.jsx
  frontend/src/components/Agreements/TeamMemberComboBox.jsx
  frontend/src/components/Agreements/TeamMemberList.jsx
  frontend/src/components/Agreements/UsersComboBox/UsersComboBox.jsx
  frontend/src/components/CANs/CANDetailView/CANDetailView.jsx
  frontend/src/components/CANs/CANFundingReceivedTable/CANFundingReceivedTableRow.jsx
  frontend/src/components/ChangeRequests/ChangeRequestsList/ChangeRequestsList.jsx
  frontend/src/components/ChangeRequests/ReviewChangeRequestAccordion/ReviewChangeRequestAccordion.jsx
  frontend/src/components/UI/TeamLeaders/TeamLeaders.jsx
  frontend/src/components/Users/UserEmailComboBox/UserEmailComboBox.jsx
  frontend/src/components/Users/UserInfo/UserInfo.jsx
  frontend/src/helpers/users.helpers.js
  frontend/src/helpers/users.helpers.test.js
  frontend/src/hooks/user.hooks.js
  frontend/src/pages/agreements/details/AgreementDetailsView.jsx
  frontend/src/pages/agreements/list/AgreementsList.jsx
  frontend/src/pages/cans/detail/CanFunding.hooks.js
  frontend/src/pages/projects/detail/ProjectDetailsView.jsx
Due: eslint, prettier

refactor(frontend): address PR feedback on name normalization
  frontend/src/api/getUser.js
  frontend/src/api/opsAPI.js
  frontend/src/helpers/users.helpers.js
  frontend/src/helpers/users.helpers.test.js
  frontend/src/hooks/user.hooks.js
Due: eslint, prettier

style: corrected colors and created card for donut graph
  frontend/sass/uswds/styles.scss
  frontend/src/pages/procurementDashboard/ProcurementStepSummaryCard.jsx
  frontend/src/pages/procurementDashboard/ProcurementSummaryCards.jsx
  frontend/src/uswds/css/styles.css
  frontend/src/uswds/css/styles.css.map
Due: eslint, prettier

fix: fix key collision in test with services components
  backend/ops_api/tests/ops/project/test_project.py
Due: nox-lint

Notes added by 'git notes add'
  99e89e7edf4862e2462121226cbd5b891e5eb0d3
Due: none

Notes added by 'git notes add'
  5167b609baee483272f1c0f982656d005c564081
Due: none

fix: add missing approval request fields to procurement tracker step 5 schema
  backend/ops_api/ops/schemas/procurement_tracker_steps.py
Due: nox-lint

Notes added by 'git notes add'
  713313a99aefa26b2eeec4cd9103fd3600d84ca3
Due: none

Notes added by 'git notes add'
  7aacc43a9dc85ec95b98c03f29cd1e373ad688ef
Due: none

fix: improve portfolio filtering in agreement spending accumulation
  backend/ops_api/ops/utils/reporting_summary.py
Due: nox-lint

chore: formatting
  frontend/src/components/Portfolios/PortfolioSummaryCards/PortfolioSummaryCards.helpers.js
  frontend/src/components/Portfolios/PortfolioSummaryCards/PortfolioSummaryCards.helpers.test.js
Due: eslint, prettier

Notes added by 'git notes add'
  b3bd70533f77e311fdeb5b7eb5e6936fa8335aaf
Due: none

Notes added by 'git notes add'
  4b8fbed9f2b6f48d15de450b2332891bd97dc72d
Due: none

refactor(frontend): address remaining PR review feedback
  frontend/src/helpers/users.helpers.js
  frontend/src/helpers/users.helpers.test.js
  frontend/src/types/UserTypes.d.ts
Due: eslint, prettier

refactor: simplify project title retrieval with get_project_display_name function
  backend/models/agreement_history.py
  backend/ops_api/tests/ops/agreement/test_agreement_history.py
Due: nox-lint

feat: add project change history tracking to agreement updates (#5264)
  backend/data_tools/data/ops_event.json5
  backend/models/agreement_history.py
  backend/ops_api/tests/ops/agreement/test_agreement_history.py
  frontend/cypress/e2e/agreementDetailsEdit.cy.js
Due: nox-lint, eslint, prettier

Notes added by 'git notes add'
  1733af83b9e0d5c10488753bde3be7d483a1facb
Due: none

style: create global constant size for bullet point icons on all the data visualization cards
  frontend/sass/uswds/styles.scss
  frontend/src/components/Agreements/AgreementSpendingCards/AgreementSpendingLegend.module.scss
  frontend/src/components/BudgetLineItems/BLIStatusSummaryCard/BLIStatusSummaryCard.jsx
  frontend/src/components/Portfolios/PortfolioSummaryCards/PortfolioLegend.module.scss
  frontend/src/components/UI/Cards/LineGraphWithLegendCard/LegendItem.jsx
  frontend/src/uswds/css/styles.css
  frontend/src/uswds/css/styles.css.map
Due: eslint, prettier

chore: formatting
  frontend/src/components/BudgetLineItems/BLIStatusSummaryCard/BLIStatusSummaryCard.jsx
  frontend/src/components/UI/Cards/LineGraphWithLegendCard/LegendItem.jsx
Due: eslint, prettier

test: add unit test coverage
  backend/ops_api/tests/ops/funding_summary/test_agreement_spending_summary.py
Due: nox-lint

fix: implement pre-award approval flow with success and in-review alerts
  backend/models/document.py
  backend/ops_api/ops/document/service.py
  backend/ops_api/ops/document/utils.py
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepFive/ProcurementTrackerStepFive.jsx
  frontend/src/hooks/user.hooks.js
  frontend/src/pages/agreements/details/AgreementProcurementTracker.jsx
  frontend/src/pages/agreements/pre-award-approval/RequestPreAwardApproval.hooks.js
  frontend/src/pages/agreements/pre-award-approval/RequestPreAwardApproval.jsx
  frontend/src/types/ProcurementTrackerTypes.d.ts
Due: nox-lint, eslint, prettier

fix: prevent pre-award approval requests when budget lines are in review
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepFive/ProcurementTrackerStepFive.jsx
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepFive/ProcurementTrackerStepFive.test.jsx
  frontend/src/pages/agreements/details/AgreementProcurementTracker.jsx
  frontend/src/pages/agreements/pre-award-approval/RequestPreAwardApproval.hooks.js
  frontend/src/pages/agreements/pre-award-approval/RequestPreAwardApproval.jsx
  frontend/src/pages/agreements/pre-award-approval/RequestPreAwardApproval.test.jsx
Due: eslint, prettier
