Repository HHS/OPRE-OPS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-lint, eslint

nox-lint:
  name: nox-lint
  entry: bash -c 'cd ./backend/ops_api && pipenv run nox -s lint'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd ./frontend/ && bun lint'
  language: system
  pass_filenames: false

fix: resolve data_tools Black formatting CI/CD errors
  .github/workflows/ci.yml
  backend/data_tools/environment/azure.py
  backend/data_tools/environment/dev.py
  backend/data_tools/environment/pytest.py
  backend/data_tools/environment/pytest_data_tools.py
  backend/data_tools/src/cleanup_user_sessions/utils.py
  backend/data_tools/tests/cleanup_user_sessions/test_utils.py
Due: nox-lint

refactor: made changes to blocker useeffect
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.hooks.js
Due: eslint

feat: add portfolio export functionality with loading state
  frontend/src/pages/portfolios/list/PortfolioList.helpers.js
  frontend/src/pages/portfolios/list/PortfolioList.jsx
Due: eslint

docs: updating OAMS to OMAS
  frontend/src/pages/help/content/glossary.js
Due: eslint

Notes added by 'git notes add'
  c3c6de299c91cb317093a4013e0be8bbcfd381c0
Due: none

fix: BLI total bug (#4826)
  frontend/cypress/e2e/createAgreement.cy.js
  frontend/src/components/BudgetLineItems/BudgetLinesTable/BLIRow.jsx
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.hooks.js
Due: eslint

Notes added by 'git notes add'
  47a30a5d18d3d387b0255b3525b9816b86017279
Due: none

feat: enhance agreement validation and add comprehensive test suite
  frontend/src/components/Agreements/AgreementMetaAccordion/AgreementMetaAccordion.jsx
  frontend/src/components/BudgetLineItems/BLIReviewTable/BLIReviewRow.jsx
  frontend/src/pages/agreements/review/ReviewAgreement.hooks.js
  frontend/src/pages/agreements/review/ReviewAgreement.jsx
  frontend/src/pages/agreements/review/suite.test.js
Due: eslint

Notes added by 'git notes add'
  12ba2bf22f8da8cdc457eabc1ec18a6a7fd7d6c6
Due: none

chore: format frontend files
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.hooks.js
  frontend/src/components/UI/Modals/SaveChangesAndExitModal.jsx
Due: eslint

feat: agreement list export includes contract number
  frontend/src/components/Agreements/AgreementsTable/AgreementsTable.helpers.js
  frontend/src/pages/agreements/list/AgreementsList.jsx
Due: eslint

chore: adds awarded AA Agreement
  backend/data_tools/data/agreements_and_blin_data.json5
Due: none

docs: adds docs for adding test data
  CLAUDE.md
Due: none

chore: resolve ux feedback
  frontend/sass/uswds/styles.scss
  frontend/src/components/Portfolios/PortfolioSummaryCards/PortfolioLegend.jsx
  frontend/src/components/Portfolios/PortfolioSummaryCards/PortfolioLegend.module.scss
  frontend/src/components/Portfolios/PortfolioSummaryCards/PortfolioSummaryCards.constants.js
  frontend/src/components/UI/DataViz/HorizontalStackedBar/HorizontalStackedBar.module.scss
  frontend/src/pages/portfolios/list/PortfolioList.helpers.js
  frontend/src/pages/portfolios/list/PortfolioList.jsx
  frontend/src/pages/portfolios/list/PortfolioTabs/PortfolioTabs.jsx
  frontend/src/uswds/css/styles.css
  frontend/src/uswds/css/styles.css.map
Due: eslint

feat: improve portfolio legend readability and enhance tag styling
  frontend/src/components/Portfolios/PortfolioSummaryCards/PortfolioLegend.jsx
  frontend/src/components/UI/Tag/Tag.jsx
  frontend/src/pages/portfolios/list/PortfolioList.helpers.js
Due: eslint

feat: pass fiscal year from portfolio list page to detail page
  frontend/src/components/Portfolios/PortfolioTable/PortfolioTable.jsx
  frontend/src/components/Portfolios/PortfolioTable/PortfolioTableRow.jsx
  frontend/src/pages/portfolios/detail/PortfolioDetail.jsx
Due: eslint

fix(tests): update required param test to use async/await
  frontend/src/pages/researchProjects/detail/getResearchProject.test.js
Due: eslint

test: update e2e test for portfolio list
  frontend/cypress/e2e/portfolioList.cy.js
  frontend/src/components/UI/DataViz/HorizontalStackedBar/HorizontalStackedBar.jsx
Due: eslint

test: fix unit test failures
  frontend/src/components/Portfolios/PortfolioSummaryCards/PortfolioSummaryCards.helpers.test.js
  frontend/src/components/Portfolios/PortfolioSummaryCards/PortfolioSummaryCards.test.jsx
  frontend/src/components/UI/DataViz/HorizontalStackedBar/HorizontalStackedBar.test.jsx
Due: eslint

chore: fix lint error
  backend/ops_api/ops/resources/portfolio_funding_summary.py
  backend/ops_api/ops/schemas/portfolio_funding_summary.py
  backend/ops_api/tests/ops/funding_summary/test_portfolio_funding_summary.py
Due: nox-lint

fix: backend/Dockerfile.data-tools-import to reduce vulnerabilities
  backend/Dockerfile.data-tools-import
Due: none

chore: fix lint error
  frontend/src/api/opsAPI.js
  frontend/src/components/Portfolios/PortfolioSummaryCards/PortfolioLegend.test.jsx
  frontend/src/components/Portfolios/PortfolioSummaryCards/PortfolioSummaryCards.test.jsx
  frontend/src/components/UI/DataViz/HorizontalStackedBar/HorizontalStackedBar.test.jsx
  frontend/src/components/UI/Form/ComboBox/ComboBox.hooks.js
  frontend/src/components/UI/Tag/Tag.jsx
  frontend/src/pages/portfolios/list/PortfolioFilterButton/AvailableBudgetPercentageFilter.jsx
  frontend/src/pages/portfolios/list/PortfolioFilterButton/PortfolioFilterButton.jsx
  frontend/src/pages/portfolios/list/PortfolioFilterTags.jsx
  frontend/src/pages/portfolios/list/PortfolioList.helpers.js
  frontend/src/pages/portfolios/list/PortfolioList.hooks.js
  frontend/src/pages/portfolios/list/PortfolioList.hooks.test.js
  frontend/src/pages/portfolios/list/PortfolioTabs/PortfolioTabs.jsx
Due: eslint

test: update e2e test
  frontend/cypress/e2e/portfolioList.cy.js
Due: eslint

Notes added by 'git notes add'
  25e8db35e4c17d7c0da001229799fec57b32c369
Due: none

fix: frontend/Dockerfile.azure to reduce vulnerabilities
  frontend/Dockerfile.azure
Due: none

fix: backend/Dockerfile.data-tools to reduce vulnerabilities
  backend/Dockerfile.data-tools
Due: none

fix: backend/Dockerfile.ops-api to reduce vulnerabilities
  backend/Dockerfile.ops-api
Due: none

test: cleaned test data
  backend/data_tools/data/agreements_and_blin_data.json5
Due: none

test: back end test cleanup
  backend/ops_api/tests/ops/agreement/test_agreement.py
Due: nox-lint

Notes added by 'git notes add'
  23bb7a1a2ccaac5a0484bbd756f85ac95b1b3894
Due: none

chore: resolve copilot review comments
  backend/ops_api/ops/resources/portfolio_funding_summary.py
  backend/ops_api/tests/ops/funding_summary/test_portfolio_funding_summary.py
Due: nox-lint

test: update test for new BLIs
  frontend/cypress/e2e/canDetail.cy.js
Due: eslint

test: update portfoilio e2e test
  frontend/cypress/e2e/portfolioDetail.cy.js
Due: eslint

fix: enhance error handling for agreement updates and add tests for immutable fields
  backend/ops_api/ops/resources/agreements.py
  backend/ops_api/tests/ops/agreement/test_agreement_immutable_awarded_fields.py
Due: nox-lint

test: add unit test coverage
  frontend/src/components/Portfolios/PortfolioTable/PortfolioTable.test.jsx
  frontend/src/components/Portfolios/PortfolioTable/PortfolioTableHead.test.jsx
  frontend/src/components/Portfolios/PortfolioTable/PortfolioTableRow.test.jsx
  frontend/src/pages/portfolios/list/PortfolioFiscalYearSelect/PortfolioFiscalYearSelect.test.jsx
  frontend/src/pages/portfolios/list/PortfolioList.test.jsx
  frontend/src/pages/portfolios/list/PortfolioTabs/PortfolioTabs.test.jsx
Due: eslint

chore: fix lint error
  frontend/src/components/Portfolios/PortfolioTable/PortfolioTableHead.test.jsx
  frontend/src/components/Portfolios/PortfolioTable/PortfolioTableRow.test.jsx
  frontend/src/pages/portfolios/list/PortfolioFiscalYearSelect/PortfolioFiscalYearSelect.test.jsx
  frontend/src/pages/portfolios/list/PortfolioTabs/PortfolioTabs.test.jsx
Due: eslint

fix: prevent deletion of awarded agreements and enhance event metadata
  backend/ops_api/ops/resources/agreements.py
  backend/ops_api/ops/services/agreements.py
  backend/ops_api/tests/ops/agreement/test_agreement_immutable_awarded_fields.py
  backend/ops_api/tests/ops/features/delete_agreement.feature
  backend/ops_api/tests/ops/features/test_delete_agreement.py
Due: nox-lint

fix: backend/Dockerfile.debug to reduce vulnerabilities
  backend/Dockerfile.debug
Due: none

Notes added by 'git notes add'
  6f3e5e795f3c9b3c5be6221629827d4138bf423b
Due: none

Path conditions:
  nox-lint: any of: \.py$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.css$, \.(html|htm|xhtml)$
