Repository HHS/OPRE-OPS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-lint, eslint

nox-lint:
  name: nox-lint
  entry: bash -c 'cd ./backend/ops_api && pipenv run nox -s lint'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd ./frontend/ && bun lint'
  language: system
  pass_filenames: false

chore: run formatter
  frontend/src/pages/agreements/details/Agreement.jsx
Due: eslint

chore: clean up
  frontend/cypress/e2e/procurementTracker.cy.js
  frontend/src/pages/agreements/details/AgreementProcurementTracker.jsx
Due: eslint

test: reverted change
  frontend/cypress/e2e/agreementDetails.cy.js
Due: eslint

chore: clean up
  frontend/cypress/e2e/procurementTracker.cy.js
Due: eslint

test: updating tests to cleanup and have bdd tests not affect future tests and fix tests
  backend/ops_api/tests/ops/features/test_validate_procurement_tracker_steps.py
  backend/ops_api/tests/ops/procurement_tracker/test_procurement_tracker_steps_api.py
Due: nox-lint

Notes added by 'git notes add'
  f1653604cf92279f2cde8ecb826c12dae4147d96
Due: none

test: adds unit-tests for affected components
  frontend/src/components/Agreements/DetailsTabs/DetailsTabs.test.js
  frontend/src/components/UI/StepIndicator/StepIndicator.test.jsx
  frontend/src/pages/agreements/details/AgreementProcurementTracker.test.jsx
Due: eslint

refactor: consolidate mock endpoints
  frontend/src/mocks/handlers.js
  frontend/src/pages/dev/ProcurementMocksDebug.jsx
Due: eslint

test: add e2e test coverage
  frontend/cypress/e2e/procurementTracker.cy.js
Due: eslint

chore: resolve copilot comments
  frontend/src/pages/agreements/details/AgreementProcurementTracker.jsx
Due: eslint

feat: update procurement tracker readiness flag for production environment
  frontend/src/constants.js
Due: eslint

chore: update AgreementProcurementTracker prop type and error handling
  frontend/src/pages/agreements/details/Agreement.jsx
  frontend/src/pages/agreements/details/AgreementProcurementTracker.jsx
Due: eslint

chore: fix lint error
  frontend/src/pages/agreements/details/Agreement.jsx
Due: eslint

Notes added by 'git notes add'
  53c53892b84909c354c01395aa7e9c068cd0ad82
Due: none

style: add custom sort order for portfolios in summary card
  frontend/src/components/Portfolios/PortfolioSummaryCards/PortfolioLegend.jsx
  frontend/src/components/Portfolios/PortfolioSummaryCards/PortfolioLegend.module.scss
  frontend/src/components/Portfolios/PortfolioSummaryCards/PortfolioSummaryCards.constants.js
  frontend/src/components/Portfolios/PortfolioSummaryCards/PortfolioSummaryCards.helpers.js
  frontend/src/components/Portfolios/PortfolioSummaryCards/PortfolioSummaryCards.helpers.test.js
  frontend/src/components/Portfolios/PortfolioTable/PortfolioTableRow.jsx
Due: eslint

style: add aliases for DO portfolio in summary card
  frontend/src/components/Portfolios/PortfolioSummaryCards/PortfolioSummaryCards.constants.js
Due: eslint

test: fix unit test failures
  frontend/src/components/Portfolios/PortfolioSummaryCards/PortfolioSummaryCards.helpers.js
  frontend/src/components/Portfolios/PortfolioTable/PortfolioTableRow.jsx
  frontend/src/components/Portfolios/PortfolioTable/PortfolioTableRow.test.jsx
Due: eslint

chore: linter
  frontend/src/components/Portfolios/PortfolioTable/PortfolioTableRow.jsx
Due: eslint

Notes added by 'git notes add'
  c127d7f17aaba1167399fd33cdc1fc212ff31fc8
Due: none

chore(deps): update to next major version of pytest
  backend/data_tools/Pipfile
  backend/data_tools/Pipfile.lock
  backend/ops_api/Pipfile
  backend/ops_api/Pipfile.lock
Due: none

chore: pipfile merge conflict handling
  backend/data_tools/Pipfile
  backend/data_tools/Pipfile.lock
  backend/ops_api/Pipfile
  backend/ops_api/Pipfile.lock
Due: none

chore(lint): satisfying black linting
  backend/ops_api/tests/ops/agreement/test_agreement.py
  backend/ops_api/tests/ops/budget_line_items/test_budget_line_item.py
  backend/ops_api/tests/ops/funding_summary/test_research_project_funding_summary.py
  backend/ops_api/tests/ops/notification/test_notification.py
  backend/ops_api/tests/ops/procurement_action/test_procurement_action.py
  backend/ops_api/tests/ops/services/test_agreements.py
  backend/ops_api/tests/ops/services_components/test_services_component.py
  backend/ops_api/tests/ops/validation/rules/test_immutable_awarded_fields_rule.py
  backend/ops_api/tests/ops/validation/test_agreement_validator.py
  backend/ops_api/tests/ops/validation/test_awarded_agreement_validator.py
Due: nox-lint

refactor: rename ProcurementTrackerValidator to ProcurementTrackerStepValidator
  backend/ops_api/ops/services/procurement_tracker_steps.py
  backend/ops_api/ops/validation/procurement_tracker_steps_validator.py
Due: nox-lint

feat: started accordions
  frontend/src/pages/agreements/details/AgreementProcurementTracker.jsx
Due: eslint

feat: initialize event subscriptions globally at app startup to avoid redundant setup
  backend/ops_api/ops/__init__.py
  backend/ops_api/ops/services/MESSAGEBUS_SUBSCRIBERS.md
  backend/ops_api/ops/services/message_bus.py
  backend/ops_api/tests/ops/messagebus/test_message_bus.py
Due: nox-lint

feat: adds dynamic accordions
  frontend/src/pages/agreements/details/AgreementProcurementTracker.jsx
Due: eslint

chore: turn off MSW from dev environment
  frontend/vite-env/env.dev.local
Due: none

chore: turns off MSW by default
  .github/workflows/dev_fe_build_and_deploy.yml
  CLAUDE.md
  frontend/src/mocks/README.md
Due: none

refactor: refactor location of some procurement tracker steps file. shrink patch request schema
  backend/ops_api/ops/resources/procurement_tracker_steps.py
  backend/ops_api/ops/schemas/procurement_tracker_steps.py
  backend/ops_api/ops/schemas/procurement_trackers.py
  backend/ops_api/ops/services/procurement_tracker_steps.py
  backend/ops_api/ops/validation/procurement_tracker_validator.py
  backend/ops_api/tests/ops/features/test_validate_procurement_tracker_steps.py
Due: nox-lint

fix: readding accidentally deleted schema code, restoring previous existing functionality
  backend/ops_api/ops/schemas/procurement_tracker_steps.py
Due: nox-lint

refactor: renamimg some vars to properly reference acquisition planning
  backend/ops_api/ops/validation/rules/procurement_tracker_step.py
Due: nox-lint

feat: enhance message bus handling
  backend/models/can_history.py
  backend/ops_api/ops/__init__.py
  backend/ops_api/ops/services/agreement_messages.py
  backend/ops_api/ops/services/can_messages.py
  backend/ops_api/tests/ops/agreement/test_agreement_history.py
  backend/ops_api/tests/ops/can_history/test_can_history.py
Due: nox-lint

feat: upgrade React from 18.3.1 to 19.2.4
  frontend/bun.lock
  frontend/package.json
  frontend/src/components/CANs/CANFundingReceivedForm/CanFundingReceivedForm.test.jsx
  frontend/src/index.jsx
Due: eslint

fix: linting and e2e test
  frontend/cypress/e2e/saveChangesToEdits.cy.js
  frontend/src/index.jsx
Due: eslint

fix: add .first() to agreementDetails test selectors for React 19
  frontend/cypress/e2e/agreementDetails.cy.js
Due: eslint

test: skip USWDS tooltip E2E tests due to React 19 compatibility
  frontend/cypress/e2e/agreementDetails.cy.js
Due: eslint

fix: improve edit and delete button logic for service components
  frontend/src/components/ServicesComponents/ServicesComponentListItem/ServicesComponentListItem.jsx
Due: eslint

fix: update button styles to indicate edit and delete disabled states
  frontend/src/components/ServicesComponents/ServicesComponentListItem/ServicesComponentListItem.jsx
Due: eslint

feat: wip placed components
  frontend/src/pages/agreements/details/AgreementProcurementTracker.jsx
Due: eslint

Path conditions:
  nox-lint: any of: \.py$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.css$, \.(html|htm|xhtml)$
