Repository HHS/OPRE-OPS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-lint, eslint, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: detect-aws-credentials
        args: [--allow-missing-credentials]
      - id: detect-private-key
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: '^frontend/src/uswds/.*(\.svg|\.map)$'
      - id: check-json
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
  - repo: https://github.com/hadolint/hadolint
    rev: v2.14.0
    hooks:
      - id: hadolint
  - repo: https://github.com/pycqa/isort
    rev: 7.0.0
    hooks:
      - id: isort
        name: isort (ops_api)
        args: ["--settings-file", "backend/ops_api/pyproject.toml", "--filter-files"]
        files: ^backend/ops_api/
      - id: isort
        name: isort (data_tools)
        args: ["--settings-file", "backend/data_tools/pyproject.toml", "--filter-files"]
        files: ^backend/data_tools/
  - repo: local
    hooks:
      - id: nox-lint
        name: nox-lint
        entry: bash -c 'cd ./backend/ops_api && pipenv run nox -s lint'
        language: system
        types:
          - python
        pass_filenames: false
      - id: eslint
        name: eslint
        entry: bash -c 'cd ./frontend/ && bun lint'
        language: system
        types_or:
          - javascript
          - jsx
          - css
          - html
        pass_filenames: false
      - id: prettier
        name: prettier
        entry: bash -c 'cd ./frontend/ && bunx prettier --check --ignore-unknown'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json|css|scss|html|md)$
        pass_filenames: true
      - id: trufflehog
        name: TruffleHog
        description: Detect secrets in your data.
        entry: bash -c 'if command -v podman >/dev/null 2>&1; then podman run --rm -v "$(pwd):/workdir" -i trufflesecurity/trufflehog:latest git file:///workdir --since-commit HEAD --only-verified --fail; elif command -v docker >/dev/null 2>&1; then docker run --rm -v "$(pwd):/workdir" -i trufflesecurity/trufflehog:latest git file:///workdir --since-commit HEAD --only-verified --fail; else echo "Neither docker nor podman found. Please install one of them." && exit 1; fi'
        language: system
        stages: ["pre-commit", "pre-push"]
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.24.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional"]
        language_version: 22.8.0
  - repo: https://github.com/renovatebot/pre-commit-hooks
    rev: 43.15.0
    hooks:
      - id: renovate-config-validator

fix(tests): remove remaining backtick assertions from notification tests
  backend/ops_api/tests/ops/procurement_tracker/test_procurement_tracker_steps_duplicate_notifications.py
Due: nox-lint

fix: remove backticks from pre-award approval notification notes
  backend/ops_api/Pipfile.lock
  backend/ops_api/ops/services/procurement_tracker_steps.py
  backend/ops_api/tests/ops/procurement_tracker/test_procurement_tracker_steps_duplicate_notifications.py
Due: nox-lint

fix(build): revert Pipfile.lock to main to fix CI Docker build
  backend/ops_api/Pipfile.lock
Due: none

fix: restore accordion behavior to open next step after completion
  frontend/src/pages/agreements/details/AgreementProcurementTracker.jsx
Due: eslint, prettier

fix(e2e): remove intercept/wait from team member awarded agreement test
  frontend/cypress/e2e/agreementDetailsEdit.cy.js
Due: eslint, prettier

fix: address Copilot accessibility and security concerns
  backend/ops_api/Pipfile.lock
  backend/ops_api/ops/services/procurement_tracker_steps.py
  backend/ops_api/tests/ops/procurement_tracker/test_procurement_tracker_steps_duplicate_notifications.py
  frontend/public/mockServiceWorker.js
  frontend/src/pages/agreements/details/Agreement.jsx
  frontend/src/pages/agreements/pre-award-approval/ApprovePreAwardApproval.jsx
  frontend/src/pages/agreements/pre-award-approval/RequestPreAwardApproval.jsx
Due: nox-lint, eslint, prettier

refactor: extract reusable FileUploadButton component
  frontend/src/components/UI/Button/FileUploadButton/FileUploadButton.jsx
  frontend/src/components/UI/Button/FileUploadButton/FileUploadButton.test.jsx
  frontend/src/components/UI/Button/FileUploadButton/index.js
  frontend/src/pages/agreements/pre-award-approval/RequestPreAwardApproval.jsx
Due: eslint, prettier

fix: restore upload button positioning after tooltip accessibility changes
  frontend/src/pages/agreements/pre-award-approval/RequestPreAwardApproval.jsx
Due: eslint, prettier

refactor: add upload/download variants to FileUploadButton and simplify pre-award pages
  frontend/src/components/UI/Button/FileUploadButton/FileUploadButton.jsx
  frontend/src/components/UI/Button/FileUploadButton/FileUploadButton.test.jsx
  frontend/src/pages/agreements/pre-award-approval/ApprovePreAwardApproval.jsx
  frontend/src/pages/agreements/pre-award-approval/ApprovePreAwardApproval.test.jsx
  frontend/src/pages/agreements/pre-award-approval/RequestPreAwardApproval.jsx
Due: eslint, prettier

style: fix prettier formatting in FileUploadButton test
  frontend/src/components/UI/Button/FileUploadButton/FileUploadButton.test.jsx
Due: eslint, prettier

fix: pin deepdiff dependency to resolve pipenv deploy CI failure
  backend/ops_api/Pipfile
  backend/ops_api/Pipfile.lock
Due: none

fix(e2e): add URL synchronization to awarded AA agreement edit tests
  frontend/cypress/e2e/agreementDetailsEdit.cy.js
Due: eslint, prettier

fix: revert Agreement.jsx to use window.location.search for E2E tests
  frontend/src/pages/agreements/details/Agreement.jsx
Due: eslint, prettier

fix(deps): regenerate Pipfile.lock with pipenv 2026.5.2 to match CI
  backend/data_tools/Pipfile.lock
Due: none

feat: adding read-only role and user to backend
  backend/data_tools/data/user_data.json5
  backend/data_tools/initial_data/003-role.sql
  backend/data_tools/initial_data/004-role_version.sql
  backend/ops_api/ops/services/users.py
  backend/ops_api/tests/ops/users/test_users_get.py
Due: nox-lint

feat: added date computations for table row and rendering
  backend/data_tools/src/import_static_data/import_data.py
  backend/ops_api/ops/resources/agreements.py
  backend/ops_api/ops/services/agreements.py
  frontend/src/api/opsAPI.js
  frontend/src/pages/procurementDashboard/ProcurementDashboardPage.jsx
  frontend/src/pages/procurementDashboard/details/ProcurementDetails.jsx
  frontend/src/pages/procurementDashboard/details/ProcurementDetailsTableRow.jsx
Due: nox-lint, eslint, prettier

Notes added by 'git notes add'
  de49876eecd0acc6424023f941371ffa449d20e7
Due: none

feat: expanded row renders data
  frontend/src/pages/procurementDashboard/ProcurementDashboardPage.jsx
  frontend/src/pages/procurementDashboard/details/ProcurementDetails.jsx
  frontend/src/pages/procurementDashboard/details/ProcurementDetailsStep.jsx
  frontend/src/pages/procurementDashboard/details/ProcurementDetailsTable.jsx
  frontend/src/pages/procurementDashboard/details/ProcurementDetailsTableRow.jsx
Due: eslint, prettier

fix: update totalFunding prop logic in CanFunding component and add related tests
  frontend/src/pages/cans/detail/CanFunding.jsx
  frontend/src/pages/cans/detail/CanFunding.test.jsx
Due: eslint, prettier

Notes added by 'git notes add'
  8468a16cc961b9ed1d4e1f107cf50d9318f32960
Due: none

fix: new projects not appearing in create agreement project dropdown
  frontend/src/api/opsAPI.js
  frontend/src/pages/agreements/StepSelectProject.jsx
  frontend/src/pages/agreements/StepSelectProject.test.jsx
Due: eslint, prettier

fix: address PR review comments
  frontend/src/api/opsAPI.test.js
  frontend/src/pages/agreements/StepSelectProject.jsx
  frontend/src/pages/agreements/StepSelectProject.test.jsx
Due: eslint, prettier

fix: address johndeange review suggestions
  frontend/src/api/opsAPI.js
  frontend/src/api/opsAPI.test.js
  frontend/src/pages/agreements/StepSelectProject.test.jsx
Due: eslint, prettier

Notes added by 'git notes add'
  af6ba50e75ef82658379e1736864f41d30ada028
Due: none

chore: format
  frontend/src/api/opsAPI.test.js
Due: eslint, prettier

Notes added by 'git notes add'
  9909afca330180a2b68ad0ccca7ad91bae86d761
Due: none

fix: new projects not appearing in create agreement project dropdown (#5608)
  frontend/src/api/opsAPI.js
  frontend/src/api/opsAPI.test.js
  frontend/src/pages/agreements/StepSelectProject.jsx
  frontend/src/pages/agreements/StepSelectProject.test.jsx
Due: eslint, prettier

Notes added by 'git notes add'
  63c3236e4002d3f6db2c928690636d70e6484840
Due: none

fix: fix FE agreement vendor validation logic error
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.hooks.js
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.jsx
  frontend/src/components/Agreements/AgreementEditor/AgreementEditFormSuite.js
  frontend/src/pages/agreements/review/suite.js
  frontend/src/pages/agreements/review/suite.test.js
Due: eslint, prettier

fix: prevent procurement tracker from scrolling away from completed step
  frontend/src/pages/agreements/details/AgreementProcurementTracker.jsx
Due: eslint, prettier

fix(security): address Snyk findings across backend, frontend, Dockerfiles
  .github/actions/zap-json-to-sarif/zap_json_to_sarif.py
  backend/Dockerfile.data-tools
  backend/Dockerfile.data-tools-import
  backend/Dockerfile.debug
  backend/Dockerfile.ops-api
  backend/Pipfile
  backend/data_tools/Pipfile.lock
  frontend/Dockerfile
  frontend/Dockerfile.azure
  frontend/Dockerfile.dev
  frontend/bun.lock
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Agreements/Documents/Document.js
  frontend/src/components/Agreements/Documents/Document.test.js
  frontend/src/components/Auth/MultiAuthSection.jsx
  frontend/src/helpers/safeRedirect.helpers.js
  frontend/src/helpers/safeRedirect.helpers.test.js
  frontend/src/helpers/tableExport.helpers.js
  frontend/src/helpers/tableExport.helpers.test.js
  frontend/src/pages/agreements/list/AgreementsList.test.jsx
  frontend/src/pages/help/FAQ.jsx
  frontend/src/pages/help/HelpCenter.jsx
  frontend/src/pages/help/HowToGuides.jsx
Due: nox-lint, eslint, prettier

fix: forward refs through accordion components for scroll positioning
  frontend/src/components/Agreements/ProcurementTracker/StepBuilderAccordion/StepBuilderAccordion.jsx
  frontend/src/components/UI/Accordion/Accordion.jsx
  frontend/src/pages/agreements/details/AgreementProcurementTracker.jsx
Due: eslint, prettier

style: center align tooltip text (#5597)
  frontend/src/components/Agreements/DetailsTabs/DetailsTabs.jsx
  frontend/src/components/Agreements/DetailsTabs/DetailsTabs.module.scss
Due: eslint, prettier

fix: ensure conditional execution of field-specific tests in AgreementEditFormSuite
  frontend/src/components/Agreements/AgreementEditor/AgreementEditFormSuite.js
Due: eslint, prettier

fix: address Copilot review issues for FileUploadButton accessibility and standards
  frontend/src/components/UI/Button/FileUploadButton/FileUploadButton.jsx
  frontend/src/components/UI/Button/FileUploadButton/FileUploadButton.test.jsx
  frontend/src/index.css
  frontend/src/pages/agreements/details/AgreementProcurementTracker.jsx
  frontend/src/pages/agreements/pre-award-approval/ApprovePreAwardApproval.test.jsx
Due: eslint, prettier

fix: adjust FileUploadButton tooltip position to right with proper width
  frontend/src/components/UI/Button/FileUploadButton/FileUploadButton.jsx
  frontend/src/index.css
Due: eslint, prettier

Notes added by 'git notes add'
  2dfd1993be6ec80c664ba77fdb021d2b207d6273
Due: none

feat: add budget team requisition approval backend (OPS-1639 PR1)
  backend/alembic/versions/2026_04_30_1543-b9c8d7e6f5a4_add_pre_award_requisition_fields.py
  backend/models/procurement_tracker.py
  backend/ops_api/Pipfile.lock
  backend/ops_api/ops/schemas/procurement_tracker_steps.py
  backend/ops_api/ops/services/procurement_tracker_steps.py
  backend/ops_api/tests/ops/procurement_tracker/test_ops_1639_budget_team_requisition.py
Due: nox-lint

style: apply black formatting
  backend/ops_api/Pipfile.lock
  backend/ops_api/ops/services/procurement_tracker_steps.py
  backend/ops_api/tests/ops/procurement_tracker/test_ops_1639_budget_team_requisition.py
Due: nox-lint
