Repository HHS/OPRE-OPS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-lint, eslint

nox-lint:
  name: nox-lint
  entry: bash -c 'cd ./backend/ops_api && pipenv run nox -s lint'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd ./frontend/ && bun lint'
  language: system
  pass_filenames: false

refactor: use ChangeRequestService and add new change request handling
  backend/ops_api/ops/services/agreement_change_requests.py
  backend/ops_api/ops/services/agreements.py
  backend/ops_api/ops/services/budget_line_items.py
  backend/ops_api/ops/services/change_request.py
  backend/ops_api/ops/services/notifications.py
Due: nox-lint

test: improve UserInfo component tests with enhanced wait conditions and stability checks
  frontend/src/components/Users/UserInfo/UserInfo.test.js
Due: eslint

test: further enhance UserInfo component tests with additional wait conditions and stability
  frontend/src/components/Users/UserInfo/UserInfo.test.js
Due: eslint

chore: update jsconfig.json to include additional test file patterns and add jest-dom types
  frontend/jsconfig.json
Due: none

feat: add Cypress ESLint configuration for improved testing support
  frontend/cypress/e2e/agreementList.cy.js
  frontend/eslint.config.js
Due: eslint

revert: revert backs
  frontend/cypress/e2e/agreementList.cy.js
Due: eslint

feat: implement notification service for change request approvals
  backend/ops_api/ops/services/change_request.py
  backend/ops_api/ops/services/notifications.py
  backend/ops_api/ops/utils/change_requests.py
  backend/ops_api/tests/ops/agreement/test_agreement.py
Due: nox-lint

feat: add change request creation and update events to ops_event_type
  backend/alembic/versions/2025_06_23_0638-86da18a548ad_adding_change_request_create_update_.py
  backend/models/events.py
  backend/ops_api/ops/services/change_request.py
Due: nox-lint

feat: implement CSRF protection for Azure environments with header validation
  backend/ops_api/ops/__init__.py
  backend/ops_api/ops/utils/api_helpers.py
  backend/ops_api/tests/ops/test_ops.py
Due: nox-lint

refactor: improve change request GET
  backend/ops_api/ops/resources/change_requests.py
  backend/ops_api/ops/services/change_request.py
Due: nox-lint

refactor: replace current_app.db_session with self.db_session in change_request.py
  backend/ops_api/ops/services/change_request.py
Due: nox-lint

feat: enhance CSRF protection by validating Host and Referer headers in Azure environments
  backend/ops_api/ops/__init__.py
  backend/ops_api/ops/environment/azure/dev.py
  backend/ops_api/ops/environment/azure/prod.py
  backend/ops_api/ops/environment/azure/stg.py
  backend/ops_api/ops/environment/default_settings.py
  backend/ops_api/ops/utils/api_helpers.py
  backend/ops_api/tests/ops/test_ops.py
Due: nox-lint

feat: update CSRF protection Host header prefix for production environment
  backend/ops_api/ops/environment/azure/prod.py
Due: nox-lint

Notes added by 'git notes add'
  90713b7fc4005f164695087407393200614619da
Due: none

Notes added by 'git notes add'
  ec54d2483e1157857189c476d7e210d6b3779f5b
Due: none

Notes added by 'git notes add'
  72d132f9128bca18138d3da167ec735cca0b871e
Due: none

feat: exclude health check endpoint from CSRF protection in Azure environments
  backend/ops_api/ops/__init__.py
  backend/ops_api/ops/auth/exceptions.py
  backend/ops_api/ops/error_handlers.py
  backend/ops_api/tests/ops/test_ops.py
Due: nox-lint

feat: enhance CSRF protection by allowing OPTIONS and HEAD methods
  backend/ops_api/ops/__init__.py
Due: nox-lint

test: skip table sorting test in agreementList.cy.js
  frontend/cypress/e2e/agreementList.cy.js
Due: eslint

Notes added by 'git notes add'
  e956fbb822b333ed353886861fcd954cdba48134
Due: none

refactor: enhance loading state presentation
  frontend/src/pages/portfolios/list/PortfolioList.jsx
Due: eslint

fix: update sql statement to dynamically reference table name
  backend/data_tools/src/import_static_data/import_data.py
Due: nox-lint

chore: cleanup
  frontend/src/components/Portfolios/PortfolioTabsSection/PortfolioTabsSection.jsx
  frontend/src/components/Portfolios/PortfolioTabsSection/PortfolioTabsSection.test.js
  frontend/src/components/UI/Tabs/Tabs.jsx
  frontend/src/components/UI/TabsSection/TabsSection.jsx
Due: eslint

feat: add BenefitsGrid, ReleaseNotes, and WhatsNext components with routing updates
  frontend/src/index.jsx
  frontend/src/pages/home/BenefitsGrid.jsx
  frontend/src/pages/home/Home.jsx
  frontend/src/pages/home/release-notes/ReleaseNotes.jsx
  frontend/src/pages/home/release-notes/index.js
  frontend/src/pages/home/whats-next/WhatsNext.jsx
  frontend/src/pages/home/whats-next/index.js
Due: eslint

fix: correct aria-label for navigation in Tabs component tests
  frontend/src/components/UI/Tabs/Tabs.test.jsx
Due: eslint

chore: update database schema for portfolio URL events
  backend/alembic/versions/2025_06_24_2034-bf7b5e587a03_portfolio_url_opsevents.py
  backend/ops_api/ops/resources/portfolios_url.py
  backend/ops_api/ops/services/portfolio_url.py
  backend/ops_api/tests/ops/portfolio/test_portfolio_url.py
Due: nox-lint

chore: improve JSDoc comments
  frontend/src/components/UI/Tabs/Tabs.jsx
Due: eslint

feat: refactor agreement model to rename IAA-AA to AA and update related fields
  backend/data_tools/data/agreements_and_blin_data.json5
  backend/data_tools/src/import_static_data/import_data.py
  backend/models/agreements.py
  backend/models/budget_line_items.py
Due: nox-lint

refactor: simplify section structure in DebugCode component
  frontend/src/components/DebugCode/DebugCode.jsx
Due: eslint

feat: implement ReleaseNotes component with mock data and structure
  frontend/src/pages/home/release-notes/ReleaseNotes.jsx
  frontend/src/pages/home/release-notes/data.js
Due: eslint

feat: add AA agreement type and agency model with related database changes
  backend/alembic/versions/2025_06_25_1818-ec6f7a5a9cea_add_aa_agreeement_type_and_nick_name.py
  backend/data_tools/data/agreements_and_blin_data.json5
  backend/data_tools/data/first_contract_data.json5
  backend/data_tools/src/import_static_data/import_data.py
  backend/models/agreements.py
  backend/models/users.py
  backend/ops_api/ops/resources/agreements.py
  backend/ops_api/ops/resources/agreements_constants.py
Due: nox-lint

feat: add ReleaseNote component
  frontend/sass/uswds/styles.scss
  frontend/src/pages/home/release-notes/ReleaseNote.jsx
  frontend/src/pages/home/release-notes/ReleaseNotes.jsx
  frontend/src/uswds/css/styles.css
  frontend/src/uswds/css/styles.css.map
Due: eslint

test: fix unit tests to exclude aa agreements until impl
  backend/ops_api/tests/ops/agreement/test_agreement.py
Due: nox-lint

feat: adds Accordion for displaying prev releases
  frontend/src/pages/home/release-notes/ReleaseNote.jsx
  frontend/src/pages/home/release-notes/ReleaseNotes.jsx
Due: eslint

refactor: remove unused expires date logic from notification creation
  backend/models/change_requests.py
  backend/ops_api/ops/services/change_request.py
  backend/ops_api/ops/utils/change_requests.py
Due: nox-lint

docs: update comments in release notes data file for clarity
  frontend/src/pages/home/release-notes/data.js
Due: eslint

feat: format release date in ReleaseNotes using formatDateToMonthDayYear function
  frontend/src/helpers/utils.js
  frontend/src/pages/home/release-notes/ReleaseNotes.jsx
Due: eslint

feat: update AA agreement model and related database schema, remove miscellaneous type
  backend/alembic/versions/2025_06_25_1818-ec6f7a5a9cea_add_aa_agreeement_type_and_nick_name.py
  backend/models/agreements.py
  backend/ops_api/ops/resources/agreements_constants.py
  backend/ops_api/tests/ops/can/test_agreement_type.py
Due: nox-lint

feat: update release notes data
  frontend/src/pages/home/release-notes/data.js
Due: eslint

feat: adds ReleaseNotesCards component
  frontend/src/pages/home/release-notes/ReleaseNotes.jsx
  frontend/src/pages/home/release-notes/ReleaseNotesCards.jsx
Due: eslint

Path conditions:
  nox-lint: any of: \.py$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.css$, \.(html|htm|xhtml)$
