Repository HHS/OPRE-OPS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-lint, eslint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: detect-aws-credentials
        args: [--allow-missing-credentials]
      - id: detect-private-key
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: '^frontend/src/uswds/.*\.svg$'
      - id: check-json
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
  - repo: https://github.com/hadolint/hadolint
    rev: v2.13.1
    hooks:
      - id: hadolint
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.10.1
    hooks:
      - id: isort
        args: ["--profile", "black", "--filter-files"]
  - repo: local
    hooks:
      - id: nox-lint
        name: nox-lint
        entry: bash -c 'cd ./backend/ops_api && pipenv run nox -s lint'
        language: system
        types:
          - python
        pass_filenames: false
      - id: eslint
        name: eslint
        entry: bash -c 'cd ./frontend/ && bun lint'
        language: system
        types_or:
          - javascript
          - jsx
          - css
          - html
        pass_filenames: false
      - id: trufflehog
        name: TruffleHog
        description: Detect secrets in your data.
        entry: bash -c 'if command -v podman >/dev/null 2>&1; then podman run --rm -v "$(pwd):/workdir" -i trufflesecurity/trufflehog:latest git file:///workdir --since-commit HEAD --only-verified --fail; elif command -v docker >/dev/null 2>&1; then docker run --rm -v "$(pwd):/workdir" -i trufflesecurity/trufflehog:latest git file:///workdir --since-commit HEAD --only-verified --fail; else echo "Neither docker nor podman found. Please install one of them." && exit 1; fi'
        language: system
        stages: ["pre-commit", "pre-push"]
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.22.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional"]
        language_version: 22.8.0
  - repo: https://github.com/renovatebot/pre-commit-hooks
    rev: 41.113.0
    hooks:
      - id: renovate-config-validator

feat: integrate pagination schema into AgreementRequestSchema
  backend/ops_api/ops/resources/change_requests.py
  backend/ops_api/ops/schemas/agreements.py
  backend/ops_api/tests/auth/test_login.py
Due: nox-lint

test: add unit tests for AgreementRequestSchema pagination support
  backend/ops_api/tests/ops/schemas/__init__.py
  backend/ops_api/tests/ops/schemas/test_agreements.py
Due: nox-lint

feat: adds Funding Method card
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.jsx
  frontend/src/components/UI/Cards/DefinitionListCard/DefinitionListCard.jsx
  frontend/src/components/UI/Cards/DefinitionListCard/index.js
Due: eslint

feat: fancy select for Agreement Agencies (#4556)
  frontend/cypress/e2e/createAAAgreement.cy.js
  frontend/src/components/Agreements/AgencySelect/AgencySelect.jsx
  frontend/src/components/Agreements/AgencySelect/AgencySelect.test.js
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.jsx
  frontend/src/components/Agreements/AgreementEditor/AgreementEditFormSuite.js
  frontend/src/components/Agreements/AgreementEditor/AgreementEditorContext.hooks.js
  frontend/src/components/Agreements/AgreementEditor/AgreementEditorContext.jsx
  frontend/src/components/UI/Form/ComboBox/ComboBox.hooks.js
Due: eslint

Notes added by 'git notes add'
  0912932e4be37a4e18f89f77e5b2828d06f9dc60
Due: none

feat: implement pagination and filtering for agreements endpoint
  backend/ops_api/ops/resources/agreements.py
  backend/ops_api/ops/services/agreements.py
  backend/ops_api/tests/ops/agreement/test_agreement.py
Due: nox-lint

test: add pagination tests for AgreementsService
  backend/ops_api/tests/ops/services/test_agreements.py
Due: nox-lint

test: add integration tests for pagination functionality in agreements API
  backend/ops_api/tests/ops/agreement/test_agreement.py
Due: nox-lint

chore: adds docs for definition list
  frontend/src/components/UI/Cards/DefinitionListCard/DefinitionListCard.jsx
  frontend/src/types/DefinitionListTypes.d.ts
Due: eslint

fix: changing validation failure text per copilot
  backend/ops_api/ops/schemas/pagination.py
Due: nox-lint

docs: adds type definition
  frontend/src/components/Agreements/AgencySelect/AgencySelect.jsx
Due: eslint

feat: filters agreement type options
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.jsx
  frontend/src/components/Agreements/AgreementTypeSelect.jsx
Due: eslint

chore: make var usage consistent
  backend/ops_api/tests/ops/users/test_users_get.py
Due: nox-lint

chore: remove dups
  backend/ops_api/tests/ops/users/test_users_get.py
Due: nox-lint

feat: adds partner to agreement types enum
  frontend/src/components/Agreements/AgreementTypeSelect.jsx
  frontend/src/components/ServicesComponents/ServicesComponents.constants.js
  frontend/src/helpers/utils.js
Due: eslint

feat: adds validation and conditional rendering
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.jsx
  frontend/src/components/Agreements/AgreementEditor/AgreementEditFormSuite.js
Due: eslint

test: adds unit test for the definition list card
  frontend/src/components/UI/Cards/DefinitionListCard/DefinitionListCard.test.jsx
Due: eslint

chore: wip for BLI export
  frontend/src/helpers/budgetLines.helpers.js
  frontend/src/pages/agreements/details/AgreementBudgetLines.jsx
Due: eslint

fix: update response key from 'agreements' to 'data' in agreements API
  backend/ops_api/ops/resources/agreements.py
  backend/ops_api/tests/ops/agreement/test_agreement.py
  backend/ops_api/tests/ops/services/test_agreements.py
Due: nox-lint

feat: edit button switches to editing
  frontend/src/components/Agreements/AgreementBudgetLinesHeader.jsx
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.hooks.js
  frontend/src/pages/agreements/details/AgreementBudgetLines.jsx
Due: eslint

feat: add pagination support to agreements API and update response format
  frontend/src/api/opsAPI.js
Due: eslint

feat: add pagination navigation to agreements list component
  frontend/src/pages/agreements/list/AgreementsList.jsx
Due: eslint

test: add baseline statistics and failure reports for performance testing
  performance_tests/results/2025-10-28/dev-baseline.html
  performance_tests/results/2025-10-28/dev-baseline_exceptions.csv
  performance_tests/results/2025-10-28/dev-baseline_failures.csv
  performance_tests/results/2025-10-28/dev-baseline_stats.csv
  performance_tests/results/2025-10-28/dev-baseline_stats_history.csv
  performance_tests/results/2025-10-28/production-baseline-normal.html
  performance_tests/results/2025-10-28/production-baseline-normal_exceptions.csv
  performance_tests/results/2025-10-28/production-baseline-normal_failures.csv
  performance_tests/results/2025-10-28/production-baseline-normal_stats.csv
  performance_tests/results/2025-10-28/production-baseline-normal_stats_history.csv
  performance_tests/results/2025-10-28/production-baseline.html
  performance_tests/results/2025-10-28/production-baseline_exceptions.csv
  performance_tests/results/2025-10-28/production-baseline_failures.csv
  performance_tests/results/2025-10-28/production-baseline_stats.csv
  performance_tests/results/2025-10-28/production-baseline_stats_history.csv
  performance_tests/results/2025-10-28/stg-baseline-normal.html
  performance_tests/results/2025-10-28/stg-baseline-normal_exceptions.csv
  performance_tests/results/2025-10-28/stg-baseline-normal_failures.csv
  performance_tests/results/2025-10-28/stg-baseline-normal_stats.csv
  performance_tests/results/2025-10-28/stg-baseline-normal_stats_history.csv
  performance_tests/results/2025-10-28/stg-baseline.html
  performance_tests/results/2025-10-28/stg-baseline_exceptions.csv
  performance_tests/results/2025-10-28/stg-baseline_failures.csv
  performance_tests/results/2025-10-28/stg-baseline_stats.csv
  performance_tests/results/2025-10-28/stg-baseline_stats_history.csv
  performance_tests/results/Performance_Comparison_Report_2025-10-15_vs_2025-10-28.md
Due: eslint

feat: added alert and tag and updated editing button switching logic
  frontend/src/components/Agreements/AgreementBudgetLinesHeader.jsx
  frontend/src/components/BudgetLineItems/BudgetLinesForm/BudgetLinesForm.jsx
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.hooks.js
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.jsx
  frontend/src/components/UI/Alert/Alert.jsx
  frontend/src/components/UI/Alert/alertSlice.js
  frontend/src/hooks/use-alert.hooks.js
Due: eslint

fix: remove duplicate logger handlers
  backend/data_tools/src/cleanup_user_sessions/utils.py
Due: nox-lint

fix: grammatical error
  backend/data_tools/tests/cleanup_user_sessions/test_utils.py
Due: nox-lint

feat: add cutoff date to env vars
  backend/data_tools/environment/azure.py
  backend/data_tools/environment/dev.py
  backend/data_tools/environment/local.py
  backend/data_tools/environment/pytest.py
  backend/data_tools/environment/pytest_data_tools.py
  backend/data_tools/environment/types.py
Due: nox-lint

feat: include in script and add method to parse date
  backend/data_tools/src/cleanup_user_sessions/utils.py
Due: nox-lint

test: add parse cutoff date unittests
  backend/data_tools/tests/cleanup_user_sessions/test_utils.py
Due: nox-lint

docs: updating openapi to include
  backend/openapi.yml
Due: none

feat: enhance agreements list component with query parameter logging and reset functionality
  frontend/src/pages/agreements/list/AgreementsList.jsx
Due: eslint

style: adds top margin
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.jsx
Due: eslint

test: adds agreement filter selection
  frontend/cypress/e2e/createAAAgreement.cy.js
Due: eslint

test: updates create agreement test
  frontend/cypress/e2e/createAgreement.cy.js
Due: eslint

chore: copilot suggestions
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.jsx
  frontend/src/components/Agreements/AgreementTypeSelect.jsx
  frontend/src/components/UI/Cards/DefinitionListCard/DefinitionListCard.jsx
Due: eslint

Notes added by 'git notes add'
  4f26cbb44d68773e5b3f547d3e04efe9f17ddd4a
Due: none

feat: add lazy loading for fetching all agreements in export functionality
  frontend/src/api/opsAPI.js
  frontend/src/pages/agreements/list/AgreementsList.jsx
Due: eslint

feat: export blis from individual agreement
  frontend/src/api/opsAPI.js
  frontend/src/helpers/budgetLines.helpers.js
  frontend/src/pages/agreements/details/AgreementBudgetLines.jsx
Due: eslint

test: add unit tests for AgreementsList component with pagination and export functionality
  frontend/src/api/opsAPI.test.js
  frontend/src/pages/agreements/list/AgreementsList.test.jsx
Due: eslint

chore: format code for consistency in AgreementsList and opsAPI files
  frontend/src/api/opsAPI.js
  frontend/src/pages/agreements/list/AgreementsList.jsx
Due: eslint
