Repository HHS/OPRE-OPS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-lint, eslint

nox-lint:
  name: nox-lint
  entry: bash -c 'cd ./backend/ops_api && pipenv run nox -s lint'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd ./frontend/ && yarn lint'
  language: system
  pass_filenames: false

fix: :bug: corrects after approval toggle logix
  frontend/src/components/Agreements/AgreementBLIAccordion/AgreementBLIAccordion.js
  frontend/src/pages/agreements/review/ReviewAgreement.jsx
Due: eslint

remove division in vs out logic and just display all CANs as cards
  frontend/src/components/Agreements/AgreementCANReviewAccordian/AgreementCANReviewAccordion.js
Due: eslint

fix typo
  frontend/src/components/Agreements/AgreementCANReviewAccordian/AgreementCANReviewAccordion.js
Due: eslint

cleanup more division logic
  frontend/src/components/Agreements/AgreementCANReviewAccordian/AgreementCANReviewAccordion.js
Due: eslint

resolve some merge conflicts by manually bringing in changes from target branch (OPS-1588-Can-Review-Section )
  frontend/src/components/Agreements/AgreementCANReviewAccordian/AgreementCANReviewAccordion.js
Due: eslint

testing out a pinned version of semgrep
  .github/workflows/security_semgrep.yml
Due: none

docker syntax over ghcr
  .github/workflows/security_semgrep.yml
Due: none

getting a better version
  .github/workflows/security_semgrep.yml
Due: none

Update README.md
  README.md
Due: none

chore: Updated image build and push
  .github/workflows/build_and_push.yaml
Due: none

chore: Added test for build
  .github/workflows/test_build.yaml
Due: none

chore: add push to get workflow in github
  .github/workflows/test_build.yaml
Due: none

chore: helps to use right file name
  .github/workflows/test_build.yaml
Due: none

chore: trying permissions
  .github/workflows/test_build.yaml
Due: none

chore: not sure why this is required for my stuff
  .github/workflows/test_build.yaml
Due: none

chore: restructure
  .github/workflows/test_build.yaml
Due: none

chore: permissions?
  .github/workflows/test_build.yaml
Due: none

chore: trying some cleanup
  .github/workflows/build_and_push.yaml
  .github/workflows/test_build.yaml
Due: none

chore: building all for now
  .github/workflows/test_backend_build.yaml
  .github/workflows/test_datatools_build.yaml
  .github/workflows/test_frontend_build.yaml
Due: none

refactor: :recycle: Refactor budget line helper functions
  frontend/src/components/Agreements/AgreementBLIAccordion/AgreementBLIAccordion.js
  frontend/src/components/Agreements/AgreementCANReviewAccordian/AgreementCANReviewAccordion.js
  frontend/src/helpers/agreement.helpers.js
  frontend/src/helpers/budgetLines.helpers.js
Due: eslint

feat: :sparkles: adds ToggleButton component (#1633)
  frontend/src/components/Agreements/AgreementBLIAccordion/AgreementBLIAccordion.js
  frontend/src/components/Agreements/AgreementCANReviewAccordian/AgreementCANReviewAccordion.js
  frontend/src/components/Agreements/AgreementDetailsCards/BLIsByFYSummaryCard/BLIsByFYSummaryCard.jsx
  frontend/src/components/CANs/CANFundingCard/CANFundingCard.js
  frontend/src/components/UI/ToggleButton/ToggleButton.js
  frontend/src/components/UI/ToggleButton/index.js
  frontend/src/helpers/agreement.helpers.js
  frontend/src/helpers/budgetLines.helpers.js
  frontend/src/hooks/useToggle.js
  frontend/src/pages/agreements/review/ReviewAgreement.jsx
Due: eslint

fix typo in folder name
  frontend/src/components/Agreements/AgreementCANReviewAccordion/AgreementCANReviewAccordion.js
  frontend/src/components/Agreements/AgreementCANReviewAccordion/index.js
  frontend/src/pages/agreements/review/ReviewAgreement.jsx
Due: eslint

add data-cy to fix test
  frontend/cypress/e2e/reviewAgreement.cy.js
  frontend/src/components/UI/ToggleButton/ToggleButton.js
Due: eslint

test: :test_tube: Add after approval toggle functionality
  frontend/cypress/e2e/reviewAgreement.cy.js
  frontend/src/components/UI/ToggleButton/ToggleButton.js
Due: eslint

test: :test_tube: Add after approval toggle functionality (#1638)
  frontend/cypress/e2e/reviewAgreement.cy.js
Due: eslint

chore: Added the backend for dev
  terraform/eus/dev/tf_backend/README.md
  terraform/eus/dev/tf_backend/bootstrap.sh
  terraform/eus/dev/tf_backend/main.tf
  terraform/eus/dev/tf_backend/outputs.tf
  terraform/eus/dev/tf_backend/providers.tf
  terraform/eus/dev/tf_backend/templates.tf
  terraform/eus/dev/tf_backend/templates/readme.md.tmpl
  terraform/eus/dev/tf_backend/templates/terraform.tf.tmpl
  terraform/eus/dev/tf_backend/terraform.tf
  terraform/eus/dev/tf_backend/variables.tf
Due: none

fix: removed static values
  terraform/eus/dev/tf_backend/main.tf
Due: none

wip: adds bun
  frontend/Dockerfile
  frontend/bun.lockb
  frontend/jsconfig.json
Due: none

Update package.json and Dockerfile
  frontend/Dockerfile
  frontend/package.json
  frontend/yarn.lock
Due: none

Remove jsconfig.json file
  frontend/tsconfig.json
Due: none

chore: Added TF locks to ignore
  .gitignore
Due: none

add AcquisitionType
  backend/models/cans.py
Due: nox-lint

update tooltip colors
  frontend/src/uswds/css/styles.css
  frontend/src/uswds/css/styles.css.map
Due: eslint

Add bun-types dependency and update devDependencies and scripts in package.json
  frontend/bun.lockb
  frontend/jsconfig.json
  frontend/package.json
  frontend/tsconfig.json
Due: none

add portfolio_data.json5 as per team req doc;update division id on a few portfolios
  backend/data_tools/data/portfolio_data.json5
Due: none

add division director and deputy division director to Division Model;make division_id on Portfolio non-null
  backend/models/portfolios.py
Due: nox-lint

Update package manager from yarn to bun
  .github/actions/setup-javascript/action.yml
  .github/workflows/ci.yml
  .github/workflows/deploy_reusable.yml
  .github/workflows/unit_test_reusable.yml
  .pre-commit-config.yaml
  docker-compose.debug.yml
Due: none

Update setup-javascript action to use Bun instead of Node.js
  .github/actions/setup-javascript/action.yml
Due: none

Fix Bun version in setup-javascript action.yml
  .github/actions/setup-javascript/action.yml
Due: none

Path conditions:
  nox-lint: any of: \.py$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.css$, \.(html|htm|xhtml)$
