Repository HHS/OPRE-OPS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-lint, eslint

nox-lint:
  name: nox-lint
  entry: bash -c 'cd ./backend/ops_api && pipenv run nox -s lint'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd ./frontend/ && bun lint'
  language: system
  pass_filenames: false

feat: add requisition model and relationships to procurement actions in OpenAPI spec
  backend/openapi.yml
Due: none

feat: add Requisition schema and related properties to OpenAPI spec
  backend/openapi.yml
Due: none

chore: address coPilot feedback
  frontend/src/components/Agreements/AgreementMetaAccordion/AgreementMetaAccordion.jsx
Due: eslint

style: horizontal spacing
  frontend/src/components/Agreements/AgreementMetaAccordion/AgreementMetaAccordion.jsx
Due: eslint

refactor: team members into its own component
  frontend/src/components/Agreements/AgreementMetaAccordion/AgreementMetaAccordion.jsx
Due: eslint

feat: add procurement actions model and related schema changes
  backend/alembic/versions/2025_12_11_1746-5b89d517ea94_add_procurement_actions.py
Due: nox-lint

refactor: remove requisition-related code from budget line item tests and utility functions
  backend/data_tools/src/load_contract_budget_lines/utils.py
  backend/data_tools/src/load_direct_obligation_budget_lines/utils.py
  backend/data_tools/tests/load_contract_budget_line_items/test_load_contract_budget_line_items.py
  backend/data_tools/tests/load_master_spreadsheet_budget_lines/test_load_master_spreadsheet_budget_lines_items.py
  backend/data_tools/tests/load_master_spreadsheet_budget_lines_v2/test_load_master_spreadsheet_budget_lines_items_v2.py
  backend/models/utils.py
Due: nox-lint

Notes added by 'git notes add'
  b65c7fb171547f75525062ce8b6a9ce138e8aaf4
Due: none

fix: a11y issues
  frontend/src/components/Agreements/AgreementMetaAccordion/AgreementMetaAccordion.jsx
Due: eslint

feat: ui updates for Awarded Agreement (#4747)
  frontend/cypress/e2e/agreementDetails.cy.js
  frontend/cypress/e2e/reviewAgreement.cy.js
  frontend/src/components/Agreements/AgreementMetaAccordion/AgreementMetaAccordion.jsx
  frontend/src/components/Agreements/AgreementMetaAccordion/AgreementMetaAccordion.test.js
  frontend/src/components/UI/Term/Term.jsx
  frontend/src/components/UI/Term/Term.test.js
  frontend/src/helpers/budgetLines.helpers.test.js
  frontend/src/pages/agreements/approve/ApproveAgreement.hooks.js
  frontend/src/pages/agreements/approve/ApproveAgreement.jsx
  frontend/src/pages/agreements/details/Agreement.jsx
  frontend/src/pages/agreements/details/AgreementDetails.jsx
  frontend/src/pages/agreements/details/AgreementDetails.test.js
  frontend/src/pages/agreements/details/AgreementDetailsView.jsx
  frontend/src/pages/agreements/review/ReviewAgreement.hooks.js
  frontend/src/pages/agreements/review/ReviewAgreement.jsx
  frontend/src/types/AgreementTypes.d.ts
Due: eslint

Notes added by 'git notes add'
  7090f706483f7dc1140efd49cdecbb513a4a15f7
Due: none

chore: cleanup
  frontend/src/components/Agreements/AgreementMetaAccordion/AgreementMetaAccordion.jsx
Due: eslint

docs: adding to faqs
  frontend/src/pages/help/content/faq.js
Due: eslint

feat: add procurement action data model and update import data configuration
  backend/data_tools/data/agreements_and_blin_data.json5
  backend/data_tools/src/import_static_data/import_data.py
Due: nox-lint

revert: brings back the data-cy attribute
  frontend/src/components/Agreements/AgreementMetaAccordion/AgreementMetaAccordion.jsx
Due: eslint

docs: update how tos
  frontend/src/pages/help/content/howToGuides.js
Due: eslint

docs: update feedback link
  frontend/src/pages/help/Feedback.jsx
Due: eslint

fix: linter error
  frontend/src/pages/help/Feedback.jsx
Due: eslint

style: better vertical spacing
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.jsx
  frontend/src/components/Agreements/ResearchMethodologyComboBox/ResearchMethodologyComboBox.jsx
  frontend/src/components/Agreements/SpecialTopicComboBox/SpecialTopicComboBox.jsx
Due: eslint

refactor: replace totalBudgetLineAmountPlusFees with total in budget line total calculations
  backend/ops_api/noxfile.py
  backend/ops_api/ops/db.py
  backend/ops_api/ops/environment/azure/prod.py
  backend/ops_api/ops/resources/cans.py
  backend/ops_api/ops/schemas/agreements.py
  backend/ops_api/ops/schemas/budget_line_items.py
  backend/ops_api/ops/services/agreements.py
  backend/ops_api/ops/services/cans.py
  backend/ops_api/tests/ops/agreement/test_agreement.py
  backend/ops_api/tests/ops/agreement/test_agreement_history.py
  backend/ops_api/tests/ops/services/test_agreements.py
  frontend/src/components/Agreements/AgreementsTable/AgreementTableRow.jsx
  frontend/src/components/Agreements/AgreementsTable/AgreementTableRow.test.js
  frontend/src/components/Agreements/AgreementsTable/AgreementsTable.helpers.js
  frontend/src/components/Agreements/AgreementsTable/AgreementsTable.test.js
  frontend/src/components/BudgetLineItems/AllBudgetLinesTable/AllBLIRow.jsx
  frontend/src/components/BudgetLineItems/AllBudgetLinesTable/AllBLIRow.test.jsx
  frontend/src/components/BudgetLineItems/BLIDiffTable/BLIDiffRow.jsx
  frontend/src/components/BudgetLineItems/BLIDiffTable/BLIDiffTable.test.js
  frontend/src/components/BudgetLineItems/BLIReviewTable/BLIReviewRow.jsx
  frontend/src/components/BudgetLineItems/BudgetLinesTable/BLIRow.jsx
  frontend/src/components/BudgetLineItems/BudgetLinesTable/BLIRow.test.jsx
  frontend/src/components/CANs/CANBudgetLineTable/CANBudgetLineTable.test.jsx
  frontend/src/components/CANs/CANBudgetLineTable/CANBudgetLineTableRow.jsx
  frontend/src/components/CANs/CANBudgetLineTable/CANBudgetLineTableRow.test.jsx
  frontend/src/helpers/utils.js
  frontend/src/hooks/lookup.hooks.js
  frontend/src/hooks/use-sortable-data.hooks.js
  frontend/src/tests/data.js
  frontend/src/types/BudgetLineTypes.d.ts
Due: nox-lint, eslint

test: fix unit test failures
  backend/models/budget_line_items.py
  backend/models/utils.py
  backend/ops_api/tests/ops/funding_summary/test_portfolio_funding_summary.py
Due: nox-lint

fix: update budget line item filtering and total calculation logic
  backend/ops_api/ops/resources/portfolio_cans.py
  backend/ops_api/ops/utils/portfolios.py
Due: nox-lint

style: better vertical spacing (#4754)
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.jsx
  frontend/src/components/Agreements/ResearchMethodologyComboBox/ResearchMethodologyComboBox.jsx
  frontend/src/components/Agreements/SpecialTopicComboBox/SpecialTopicComboBox.jsx
Due: eslint

style: run prettier on frontend
  frontend/src/api/opsAPI.js
  frontend/src/components/Agreements/AgreementNameComboBox/AgreementNameComboBox.jsx
  frontend/src/components/Agreements/AgreementNameComboBox/AgreementNameComboBox.test.js
  frontend/src/components/BudgetLineItems/BudgetLinesForm/BudgetLinesForm.test.jsx
  frontend/src/components/BudgetLineItems/BudgetLinesTable/BLIRow.test.jsx
  frontend/src/components/ChangeRequests/ProcurementShopReviewCard/ProcurementShopReviewCard.jsx
  frontend/src/components/Portfolios/PortfolioFunding/PortfolioFunding.jsx
  frontend/src/components/Portfolios/PortfolioSpending/PortfolioSpending.jsx
  frontend/src/components/ServicesComponents/ServicesComponents.jsx
  frontend/src/components/UI/Alert/Alert.jsx
  frontend/src/components/UI/Alert/alertSlice.js
  frontend/src/components/UI/Term/Term.test.js
  frontend/src/helpers/utils.js
  frontend/src/hooks/useChangeRequests.hooks.js
  frontend/src/hooks/useGetAllAgreements.js
  frontend/src/hooks/useGetAllCans.js
  frontend/src/pages/cans/list/CanList.jsx
  frontend/src/pages/home/release-notes/data.js
  frontend/src/pages/portfolios/detail/PortfolioDetail.jsx
  frontend/src/tests/mocks.js
  frontend/src/tests/setupTests.js
Due: eslint

Updates to Help Center (#4752)
  frontend/src/pages/help/Feedback.jsx
  frontend/src/pages/help/content/faq.js
  frontend/src/pages/help/content/howToGuides.js
Due: eslint

style: run uswds updates
  frontend/src/uswds/css/styles.css.map
Due: none

feat: ux feedback
  frontend/src/helpers/agreement.helpers.js
  frontend/src/pages/agreements/agreements.constants.js
  frontend/src/pages/agreements/details/Agreement.jsx
  frontend/src/pages/agreements/details/AgreementDetailsView.jsx
Due: eslint

feat: only show contract number for AAs and Contracts
  frontend/src/components/Agreements/AgreementMetaAccordion/AgreementMetaAccordion.jsx
Due: eslint

test: update unit-tests
  frontend/src/components/Agreements/AgreementMetaAccordion/AgreementMetaAccordion.test.jsx
  frontend/src/helpers/agreement.helpers.test.js
  frontend/src/pages/agreements/details/AgreementDetailsView.test.jsx
Due: eslint

chore: remove duplicate test
  frontend/src/pages/agreements/details/AgreementDetailsView.test.jsx
Due: eslint

refactor: use has_proc_shop_change prop
  frontend/src/components/Agreements/AgreementChangesResponseAlert/AgreementChangesResponseAlert.hooks.jsx
  frontend/src/components/BudgetLineItems/BLIDiffTable/BLIDiffRow.helpers.js
Due: eslint

refactor: use new prop
  frontend/src/components/Agreements/AgreementCANReviewAccordion/AgreementCANReviewAccordion.jsx
  frontend/src/components/BudgetLineItems/BLIDiffTable/BLIDiffRow.helpers.js
  frontend/src/helpers/changeRequests.helpers.js
  frontend/src/hooks/useChangeRequests.hooks.js
Due: eslint

test: fix unit tests
  frontend/src/components/Agreements/AgreementCANReviewAccordion/AgreementCANReviewAccordion.test.jsx
  frontend/src/tests/data.js
Due: eslint

feat: add fallback
  frontend/src/components/BudgetLineItems/BLIDiffTable/BLIDiffRow.helpers.js
  frontend/src/components/BudgetLineItems/BLIDiffTable/BLIDiffRow.helpers.test.js
Due: eslint

docs: better comments
  frontend/src/components/BudgetLineItems/BLIDiffTable/BLIDiffRow.helpers.js
Due: eslint

fix: save and exit navigates correctly
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.hooks.js
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.jsx
  frontend/src/components/UI/Modals/SaveChangesAndExitModal.jsx
Due: eslint

test: fixed e2e tests failure
  frontend/cypress/e2e/portfolioDetail.cy.js
  frontend/src/pages/agreements/approve/ApproveAgreement.hooks.js
Due: eslint

style: 💅 better vertical spacing for agreement meta accordion (#4751)
  frontend/src/components/Agreements/AgreementMetaAccordion/AgreementMetaAccordion.jsx
  frontend/src/components/CANs/CANDetailView/CANDetailView.jsx
  frontend/src/components/UI/Term/Term.jsx
Due: eslint

fix: remove unnecessary fields on agreement create to prevent 403
  backend/models/utils.py
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.hooks.js
  frontend/src/helpers/agreement.helpers.js
Due: nox-lint, eslint

feat: UX feedback for view Awarded Agreements (#4761)
  frontend/src/components/Agreements/AgreementMetaAccordion/AgreementMetaAccordion.jsx
  frontend/src/components/Agreements/AgreementMetaAccordion/AgreementMetaAccordion.test.jsx
  frontend/src/helpers/agreement.helpers.js
  frontend/src/helpers/agreement.helpers.test.js
  frontend/src/pages/agreements/agreements.constants.js
  frontend/src/pages/agreements/details/Agreement.jsx
  frontend/src/pages/agreements/details/AgreementDetailsView.jsx
  frontend/src/pages/agreements/details/AgreementDetailsView.test.jsx
Due: eslint

Path conditions:
  nox-lint: any of: \.py$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.css$, \.(html|htm|xhtml)$
