Repository HHS/OPRE-OPS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-lint, eslint, prettier

nox-lint:
  name: nox-lint
  entry: bash -c 'cd ./backend/ops_api && pipenv run nox -s lint'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd ./frontend/ && bun lint'
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: bash -c 'cd ./frontend/ && bunx prettier --check --ignore-unknown'
  language: system
  pass_filenames: true

Notes added by 'git notes add'
  f946e3facf6acaa8d6cf3142b7eb9b95b2d0cb67
Due: none

fix: address PR review comments for edit-grant feature
  frontend/cypress/e2e/editGrantAgreement.cy.js
  frontend/src/components/Agreements/AgreementEditor/AgreementEditorContext.jsx
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.hooks.js
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.hooks.test.js
  frontend/src/hooks/useNavigationBlocker.hooks.js
  frontend/src/pages/agreements/review/EditAgreementAndBudgetLines.test.jsx
  frontend/src/pages/agreements/review/ReviewAgreement.hooks.js
Due: eslint, prettier

style: fix prettier formatting
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.hooks.test.js
  frontend/src/hooks/useNavigationBlocker.hooks.js
Due: eslint, prettier

fix: warn before Edit discards unsaved pre-award request notes
  frontend/src/pages/agreements/pre-award-approval/RequestPreAwardApproval.hooks.js
  frontend/src/pages/agreements/pre-award-approval/RequestPreAwardApproval.hooks.test.js
Due: eslint, prettier

ci: adding a github action to tag users in slack when tagged in issue or comment
  .github/slack_user_map.json
  .github/workflows/slack_mention_notify.yml
Due: none

fix: render save-changes-before-leaving modal on Edit click
  frontend/src/pages/agreements/pre-award-approval/RequestPreAwardApproval.jsx
  frontend/src/pages/agreements/pre-award-approval/RequestPreAwardApproval.test.jsx
Due: eslint, prettier

fix: update aln_number to aln_numbers in backend test and reset BLI dirty state after bundle save
  backend/ops_api/tests/ops/agreement/test_agreement.py
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.jsx
  frontend/src/pages/agreements/review/EditAgreementAndBudgetLines.jsx
Due: nox-lint, eslint, prettier

style: format test file and strengthen modal prop coverage
  frontend/src/pages/agreements/pre-award-approval/RequestPreAwardApproval.hooks.test.js
  frontend/src/pages/agreements/pre-award-approval/RequestPreAwardApproval.test.jsx
Due: eslint, prettier

Notes added by 'git notes add'
  567e1dfc7e22832a2071ddc462a9dc0454017ac8
Due: none

fix: repair delete-flow approval message after budget-line id refactor
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.hooks.js
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.hooks.test.js
Due: eslint, prettier

fix: ref-based blocker bypass on save and fix aln_numbers backend test
  backend/ops_api/tests/ops/agreement/test_agreement.py
  frontend/src/hooks/useNavigationBlocker.hooks.js
  frontend/src/pages/agreements/review/EditAgreementAndBudgetLines.jsx
Due: nox-lint, eslint, prettier

fix: store full BLI objects for delete approval routing and fix tests after main merge
  frontend/src/components/Agreements/AgreementEditor/AgreementEditorContext.hooks.js
  frontend/src/components/Agreements/AgreementEditor/AgreementEditorContext.hooks.test.js
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.hooks.js
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.hooks.test.js
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.jsx
Due: eslint, prettier

fix: update canDetail E2E to match new blocker modal heading text
  frontend/cypress/e2e/canDetail.cy.js
Due: eslint, prettier

fix: update E2E modal text assertions and move grant BLIs to CAN 500
  backend/data_tools/data/agreements_and_blin_data.json5
  frontend/cypress/e2e/agreementDetails.cy.js
  frontend/cypress/e2e/canDetail.cy.js
Due: eslint, prettier

fix: revert BLI CAN to 504, update draft count, fix reconciliation in reducer, fix E2E aln field
  backend/data_tools/data/agreements_and_blin_data.json5
  frontend/cypress/e2e/canDetail.cy.js
  frontend/cypress/e2e/editGrantAgreement.cy.js
  frontend/src/components/Agreements/AgreementEditor/AgreementEditorContext.hooks.js
Due: eslint, prettier

fix: update donut card draft amount for new grant BLIs on CAN 504
  frontend/cypress/e2e/canDetail.cy.js
Due: eslint, prettier

fix: address agent review findings and correct canDetail row count assertion
  frontend/src/components/Agreements/AgreementEditor/AgreementEditorContext.hooks.js
  frontend/src/components/Agreements/AgreementEditor/AgreementEditorContext.hooks.test.js
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.hooks.test.js
  frontend/src/pages/agreements/review/EditAgreementAndBudgetLines.jsx
Due: eslint, prettier

Notes added by 'git notes add'
  c8773f30b0cc4f1d8e473f75af905c6369c35df1
Due: none

Notes added by 'git notes add'
  66611585ae9cf4e5c44304e6ce7a50015c2553f3
Due: none

test: fix Defect B guard to use out-of-scope field not always-direct comments
  backend/ops_api/tests/ops/budget_line_items/test_skip_cr_draft_planned.py
Due: nox-lint

fix: couple AWARDED status to obligated date and reset Vest suite on mount
  backend/ops_api/ops/services/procurement_tracker_steps.py
  backend/ops_api/tests/ops/services/test_award_approval_service.py
  frontend/src/pages/agreements/award-approval/ApproveAwardApproval.hooks.js
  frontend/src/pages/agreements/award-approval/ApproveAwardApproval.hooks.test.js
Due: nox-lint, eslint, prettier

feat: add validation if a user tries to advance a BL that has been moved out of window by SC change
  frontend/src/components/BudgetLineItems/BLIReviewTable/BLIReviewRow.jsx
  frontend/src/components/BudgetLineItems/BLIReviewTable/BLIReviewRow.test.jsx
  frontend/src/components/BudgetLineItems/BudgetLinesTable/BLIRow.helpers.js
  frontend/src/pages/agreements/review/ReviewAgreement.hooks.js
  frontend/src/pages/agreements/review/ReviewAgreement.jsx
  frontend/src/pages/agreements/review/suite.js
  frontend/src/pages/agreements/review/suite.test.js
Due: eslint, prettier

Notes added by 'git notes add'
  d45219fc7c330f012920db70d9ca99914c6cdf97
Due: none

fix: small wording change for notification
  frontend/src/pages/agreements/review/suite.js
  frontend/src/pages/agreements/review/suite.test.js
Due: eslint, prettier

chore: ran formatting
  frontend/src/types/ProcurementTrackerTypes.d.ts
Due: prettier

chore: linter again
  frontend/src/types/ProcurementTrackerTypes.d.ts
Due: prettier

fix: adjusting agreement start and end to instead be called period of performance in some notifs
  frontend/src/components/BudgetLineItems/BLIReviewTable/BLIReviewRow.jsx
  frontend/src/components/BudgetLineItems/BLIReviewTable/BLIReviewRow.test.jsx
  frontend/src/components/BudgetLineItems/BudgetLinesForm/BudgetLinesForm.test.jsx
  frontend/src/components/BudgetLineItems/BudgetLinesForm/datePickerSuite.js
  frontend/src/components/BudgetLineItems/BudgetLinesForm/datePickerSuite.test.js
  frontend/src/components/ServicesComponents/ServicesComponents.hooks.js
  frontend/src/components/ServicesComponents/ServicesComponents.hooks.test.js
  frontend/src/components/ServicesComponents/ServicesComponents.test.jsx
Due: eslint, prettier

fix: remove grant edit block, fix save-failure blocker, clean review comments
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.hooks.js
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.jsx
  frontend/src/components/Agreements/AgreementEditor/AgreementEditFormSuite.js
  frontend/src/components/Agreements/AgreementMetaAccordion/AgreementMetaAccordion.jsx
  frontend/src/components/Agreements/AgreementsTable/AgreementTableRow.jsx
  frontend/src/components/Agreements/AgreementsTable/AgreementTableRow.test.js
  frontend/src/helpers/agreement.helpers.js
  frontend/src/pages/agreements/review/EditAgreementAndBudgetLines.jsx
  frontend/src/pages/agreements/review/ReviewAgreement.hooks.js
Due: eslint, prettier

fix: update budget line item deletion handling
  backend/openapi.yml
  backend/ops_api/ops/resources/budget_line_items.py
  backend/ops_api/ops/services/agreement_edit_bundle.py
  backend/ops_api/ops/services/budget_line_items.py
  backend/ops_api/ops/services/change_requests.py
  backend/ops_api/tests/ops/agreement/test_agreement_edit_bundle.py
Due: nox-lint

fix: fixing spacing between portfolio hero fields
  frontend/src/components/Portfolios/PortfolioHero/PortfolioHero.jsx
Due: eslint, prettier

test: align Draft->Planned success alert heading with implementation
  frontend/src/components/Agreements/AgreementBLIAccordion/AgreementBLIAccordion.jsx
  frontend/src/components/Agreements/AgreementBLIAccordion/AgreementBLIAccordion.test.jsx
  frontend/src/components/Agreements/AgreementCANReviewAccordion/AgreementCANReviewAccordion.jsx
  frontend/src/components/Agreements/AgreementCANReviewAccordion/AgreementCANReviewAccordion.test.jsx
  frontend/src/components/BudgetLineItems/BLIReviewTable/BLIReviewRow.jsx
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.jsx
  frontend/src/pages/agreements/details/AgreementBudgetLines.jsx
  frontend/src/pages/agreements/details/AgreementBudgetLines.test.jsx
  frontend/src/pages/agreements/review/ReviewAgreement.hooks.js
  frontend/src/pages/agreements/review/ReviewAgreement.hooks.test.js
  frontend/src/pages/agreements/review/ReviewAgreement.jsx
  frontend/src/pages/agreements/review/suite.js
Due: eslint, prettier

fix: remove stray debug text from portfolio hero division heading
  frontend/src/components/Portfolios/PortfolioHero/PortfolioHero.jsx
Due: eslint, prettier

test: add history entry for direct Draft to Planned status change
  backend/models/agreement_history.py
  backend/ops_api/tests/ops/agreement/test_agreement_history.py
Due: nox-lint

Notes added by 'git notes add'
  31c706cb57b9acfd0eeaf153e85d54f144cbaff7
Due: none

test: fixing cypress tests after text wording changed
  frontend/cypress/e2e/approveChangeRequestsAtAgreementLevel.cy.js
  frontend/cypress/e2e/procurementShopChangeRequest.cy.js
  frontend/cypress/e2e/reviewAgreement.cy.js
Due: eslint, prettier

chore: track .claude/stories directory in git
  .claude/stories/.gitkeep
  .gitignore
  CLAUDE.md
Due: none

docs: update templates README to reflect stories are tracked in git
  .claude/templates/README.md
Due: none

fix: update handling of deleted budget line items
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.hooks.js
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.hooks.test.js
Due: eslint, prettier

test: fixing one more cypress test failure
  frontend/cypress/e2e/reviewAgreement.cy.js
Due: eslint, prettier

test: scope proc shop CR card click by content to avoid stale card collision
  frontend/cypress/e2e/procurementShopChangeRequest.cy.js
Due: eslint, prettier

Path conditions:
  nox-lint: any of: \.py$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.css$, \.(html|htm|xhtml)$
  prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|scss|html|md)$
