Repository HHS/OPRE-OPS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-lint, eslint

nox-lint:
  name: nox-lint
  entry: bash -c 'cd ./backend/ops_api && pipenv run nox -s lint'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd ./frontend/ && bun lint'
  language: system
  pass_filenames: false

test: fixed unit test failure
  frontend/src/components/CANs/CANBudgetForm/CANBudgetForm.test.jsx
Due: eslint

chore: updating to new acf-gov urls
  backend/data_tools/data/ops_event.json5
  backend/data_tools/data/portfolio_data.json5
  backend/data_tools/data/research_project_data.json5
  backend/data_tools/initial_data/009-portfolio_url.sql
  backend/data_tools/initial_data/010-portfolio_url_version.sql
  backend/openapi.yml
  backend/ops_api/tests/ops/portfolio/test_portfolio_url.py
  frontend/src/components/UI/Footer/Identifier.jsx
  frontend/src/pages/agreements/details/AgreementDetails.test.js
  frontend/src/pages/portfolios/detail/getResearchProjects.test.js
  frontend/src/pages/researchProjects/detail/getResearchProject.test.js
  frontend/src/tests/data.js
Due: nox-lint, eslint

chore: missed one
  backend/ops_api/tests/ops/project/test_project.py
Due: nox-lint

Notes added by 'git notes add'
  cefbda6fb89c2a54ef647b9490c563a8a2ed32e2
Due: none

chore: clean up
  frontend/src/components/CANs/CANBudgetForm/CANBudgetForm.jsx
  frontend/src/components/UI/Form/CurrencyInput/CurrencyInput.jsx
  frontend/src/pages/cans/detail/CanFundingSuite.js
  frontend/src/pages/cans/list/CanList.jsx
Due: eslint

Notes added by 'git notes add'
  4f02a06c7f4ea0d8efcb198674516dece7b94d4a
Due: none

test: updates test to handle decimal places
  frontend/cypress/e2e/canDetail.cy.js
Due: eslint

Notes added by 'git notes add'
  0a250461d4f1a9e0098543dab0c2a6439b0e8dfb
Due: none

test: updates test to ensure save btn is still active
  frontend/cypress/e2e/canDetail.cy.js
Due: eslint

chore: syntax issue
  frontend/cypress/e2e/canDetail.cy.js
Due: eslint

test: add test for multi-delete
  frontend/cypress/e2e/canList.cy.js
Due: eslint

test: update budget backend unittests
  backend/ops_api/tests/ops/can/test_can_funding_budget.py
Due: nox-lint

feat: update frontend can history query, add fiscal year to the CAN history panel, and render the logs based on the selected year (#3457)
  backend/data_tools/data/can_data.json5
  backend/data_tools/data/ops_event.json5
  frontend/cypress/e2e/canDetail.cy.js
  frontend/src/api/opsAPI.js
  frontend/src/components/CANs/CANDetailView/CANDetailView.jsx
  frontend/src/components/CANs/CANHistoryPanel/CANHistoryPanel.jsx
  frontend/src/pages/cans/detail/CanDetail.jsx
Due: eslint

Notes added by 'git notes add'
  6eb42941b23cb3b4bcd2ee6908ac1ca0c7bcbc6c
Due: none

test: update budget backend unittests (#3485)
  backend/ops_api/tests/ops/can/test_can_funding_budget.py
Due: nox-lint

feat: wip getting data for cards
  frontend/src/api/opsAPI.js
  frontend/src/components/Portfolios/BudgetAndSpending/BudgetAndSpending.jsx
  frontend/src/pages/portfolios/detail/PortfolioDetail.jsx
Due: eslint

test: fix backend can history and summary unit tests
  backend/ops_api/tests/ops/can_history/test_can_history.py
  backend/ops_api/tests/ops/funding_summary/test_can_funding_summary.py
Due: nox-lint

revert: backend can history unittest
  backend/ops_api/tests/ops/can_history/test_can_history.py
Due: nox-lint

feat: initial files for load_contract_budget_lines.sh
  backend/data_tools/scripts/load_contract_budget_lines.sh
  backend/data_tools/src/load_contract_budget_lines/__init__.py
  backend/data_tools/src/load_contract_budget_lines/main.py
  backend/data_tools/src/load_contract_budget_lines/utils.py
  backend/data_tools/test_csv/contract_budget_lines.tsv
  backend/data_tools/tests/load_contract_budget_line_items/__init__.py
  backend/data_tools/tests/load_contract_budget_line_items/test_load_contract_budget_line_items.py
Due: nox-lint

fix: merge in alembic files from main
  backend/alembic/versions/2025_02_13_1646-8c9a30d8d6b4_model_changes_needed_to_load_data.py
Due: nox-lint

fix: vitest script and coverage report
  frontend/jsconfig.json
  frontend/package.json
  frontend/vite.config.mjs
Due: eslint

chore: add initial get_sc
  backend/data_tools/src/load_contract_budget_lines/utils.py
Due: nox-lint

feat: added project types and budge line status type to cards
  backend/ops_api/ops/resources/administrative_and_support_projects.py
  backend/ops_api/ops/resources/research_projects.py
  frontend/src/api/opsAPI.js
  frontend/src/components/Portfolios/BudgetAndSpending/BudgetAndSpending.jsx
  frontend/src/components/Portfolios/PortfolioBudgetSummary/PortfolioBudgetSummary.jsx
  frontend/src/pages/portfolios/detail/PortfolioDetail.jsx
Due: nox-lint, eslint

chore: remove unneeded version and sync with docker-compose.initial.yml
  docker-compose.initial.yml
  docker-compose.yml
Due: none

test: fix can history sort unittest
  backend/ops_api/tests/ops/can_history/test_can_history.py
Due: nox-lint

feat: adds react compiler for react 18
  frontend/bun.lockb
  frontend/eslint.config.js
  frontend/package.json
  frontend/src/components/Agreements/AgreementEditor/AgreementEditorContext.jsx
  frontend/src/components/Agreements/AgreementSelect/AgreementSelect.jsx
  frontend/src/components/BudgetLineItems/BLIStatusSummaryCard/BLIStatusSummaryCard.jsx
  frontend/src/components/CANs/CANDetailForm/CANDetailForm.test.jsx
  frontend/src/components/Projects/ProjectSelectWithSummaryCard/ProjectSelectWithSummaryCard.jsx
  frontend/src/pages/help/Glossary.jsx
  frontend/vite.config.mjs
Due: eslint

chore: moves to deps
  frontend/bun.lockb
  frontend/package.json
Due: none

test: add tests for get_sc
  backend/data_tools/src/load_contract_budget_lines/utils.py
  backend/data_tools/tests/load_contract_budget_line_items/test_load_contract_budget_line_items.py
Due: nox-lint

Notes added by 'git notes add'
  af0a32a76dd664a67a771bd8be060841bfae5256
Due: none

Notes added by 'git notes add'
  5f3804a87cb7a1b6c68f2e49aa54ee1d18e339d3
Due: none

feat: get agreement type count and in draft funding
  frontend/src/api/opsAPI.js
  frontend/src/components/Portfolios/BudgetAndSpending/BudgetAndSpending.jsx
  frontend/src/components/Portfolios/PortfolioBudgetSummary/PortfolioBudgetSummary.jsx
  frontend/src/pages/portfolios/detail/PortfolioDetail.jsx
Due: eslint

Notes added by 'git notes add'
  4cfd9141f3a5864f535c30484b637c6bc9a726b4
Due: none

fix: fixes HMR for frontend
  docker-compose.yml
Due: none

fix: updating language from user to how to guide
  frontend/src/pages/help/HelpCenter.jsx
  frontend/src/pages/help/HowToGuides.jsx
  frontend/src/pages/help/HowToGuides.test.jsx
Due: eslint

fix: removing the plus icon from the can budget button
  frontend/src/components/CANs/CANBudgetForm/CANBudgetForm.jsx
Due: eslint

test: updating help center test
  frontend/src/pages/help/HowToGuides.test.jsx
Due: eslint

test: cypress strikes again
  frontend/cypress/e2e/helpCenter.cy.js
Due: eslint

chore: add remaining conditions for get_sc
  backend/data_tools/src/load_contract_budget_lines/utils.py
  backend/data_tools/tests/load_contract_budget_line_items/test_load_contract_budget_line_items.py
Due: nox-lint

Notes added by 'git notes add'
  fa8700ffb9dacb574ab1f87136f96eb61aeae14e
Due: none

chore: add get_clin and get_invoice
  backend/data_tools/src/load_contract_budget_lines/utils.py
  backend/data_tools/tests/load_contract_budget_line_items/test_load_contract_budget_line_items.py
Due: nox-lint

Path conditions:
  nox-lint: any of: \.py$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.css$, \.(html|htm|xhtml)$
