Repository HHS/OPRE-OPS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-lint, eslint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: detect-aws-credentials
        args: [--allow-missing-credentials]
      - id: detect-private-key
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: '^frontend/src/uswds/.*\.svg$'
      - id: check-json
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
  - repo: https://github.com/hadolint/hadolint
    rev: v2.10.0
    hooks:
      - id: hadolint
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.10.1
    hooks:
      - id: isort
        args: ["--profile", "black", "--filter-files"]
  - repo: local
    hooks:
      - id: nox-lint
        name: nox-lint
        entry: bash -c 'cd ./backend/ops_api && pipenv run nox -s lint'
        language: system
        types:
          - python
        pass_filenames: false
      - id: eslint
        name: eslint
        entry: bash -c 'cd ./frontend/ && bun lint'
        language: system
        types_or:
          - javascript
          - jsx
          - css
          - html
        pass_filenames: false
      - id: trufflehog
        name: TruffleHog
        description: Detect secrets in your data.
        entry: bash -c 'if command -v podman >/dev/null 2>&1; then podman run --rm -v "$(pwd):/workdir" -i trufflesecurity/trufflehog:latest git file:///workdir --since-commit HEAD --only-verified --fail; elif command -v docker >/dev/null 2>&1; then docker run --rm -v "$(pwd):/workdir" -i trufflesecurity/trufflehog:latest git file:///workdir --since-commit HEAD --only-verified --fail; else echo "Neither docker nor podman found. Please install one of them." && exit 1; fi'
        language: system
        stages: ["pre-commit", "pre-push"]
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.18.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional"]
        language_version: 22.8.0

fix: update zero value formatting in CAN detail budget received card
  frontend/cypress/e2e/canDetail.cy.js
Due: eslint

test: update CAN detail and funding page test expectations
  frontend/cypress/e2e/canDetail.cy.js
Due: eslint

test: update CAN detail history list assertions
  .gitignore
  frontend/cypress/e2e/canDetail.cy.js
Due: eslint

chore: removed undefined class
  frontend/src/components/UI/DataViz/LineGraph/LineGraph.jsx
  frontend/src/components/UI/DataViz/LineGraph/ReverseLineGraph.jsx
Due: eslint

Notes added by 'git notes add'
  15a1a47558ff012cdca383689049eb877760701c
Due: none

test: simplifies tests
  frontend/cypress/e2e/canDetail.cy.js
Due: eslint

test: update CAN detail history list test assertions
  frontend/cypress/e2e/canDetail.cy.js
Due: eslint

Notes added by 'git notes add'
  c34131a00afb1b100046fbc0a32136ed19eaeccc
Due: none

feat: get started on can list
  frontend/src/pages/cans/list/CanList.jsx
Due: eslint

feat: create export helper function
  frontend/src/helpers/exportData.helpers.js
  frontend/src/pages/cans/list/CanList.jsx
Due: eslint

fix: brings back refresh
  frontend/src/components/Auth/auth.js
Due: eslint

style: update button style
  frontend/src/pages/cans/list/CanList.jsx
Due: eslint

Notes added by 'git notes add'
  d7f209bc91da4ce2cce78b6ecb9cbbe91432ab8d
Due: none

docs: update howtoguides.jsx
  frontend/src/pages/help/HowToGuides.jsx
Due: eslint

feat: changing portfolio cans to filter blis by fiscal year
  backend/ops_api/ops/resources/portfolio_cans.py
  backend/ops_api/ops/schemas/portfolios.py
  backend/ops_api/tests/ops/can/test_portfolio_cans.py
  frontend/src/api/opsAPI.js
  frontend/src/components/Portfolios/PortfolioSpending/PortfolioSpending.jsx
  frontend/src/pages/portfolios/detail/PortfolioDetail.jsx
Due: nox-lint, eslint

feat: enhance CAN table header tooltips and styling
  frontend/src/components/CANs/CANTable/CANTableHead.jsx
Due: eslint

Notes added by 'git notes add'
  51af1a1ecb66d28054efe5027a896322ccfae820
Due: none

feat: add initial grant bli code, tests passing
  backend/data_tools/scripts/load_grant_budget_lines.sh
  backend/data_tools/src/load_grant_budget_lines/__init__.py
  backend/data_tools/src/load_grant_budget_lines/main.py
  backend/data_tools/src/load_grant_budget_lines/utils.py
  backend/data_tools/test_csv/grant_budget_lines.tsv
  backend/data_tools/tests/load_grant_budget_line_items/__init__.py
  backend/data_tools/tests/load_grant_budget_line_items/test_load_contract_budget_line_items.py
Due: nox-lint

test: fixing test data so that e2e tests pass again
  backend/data_tools/data/agreements_and_blin_data.json5
  backend/data_tools/data/can_data.json5
  frontend/cypress/e2e/portfolioDetail.cy.js
Due: eslint

fix: add pagination fix for CAN list filtering
  frontend/cypress/e2e/canList.cy.js
  frontend/src/components/CANs/CANTable/CANTable.jsx
Due: eslint

Notes added by 'git notes add'
  1a6a6dbe019ad0c0e8532e8b22b6b21781c888a4
Due: none

feat: add CSV export functionality to CAN table
  frontend/bun.lockb
  frontend/package.json
  frontend/src/components/CANs/CANTable/CANTable.jsx
Due: eslint

chore: wip adding more data to table export
  frontend/src/components/CANs/CANTable/CANTable.jsx
Due: eslint

fix: work on upsert; tests passing
  backend/alembic/versions/2025_03_06_2007-89175beb9f35_move_grant_details_to_grant_bli_model.py
  backend/data_tools/src/load_grant_budget_lines/utils.py
  backend/models/budget_line_items.py
Due: nox-lint

fix: work on upsert; tests passing
  backend/data_tools/tests/load_grant_budget_line_items/test_load_contract_budget_line_items.py
  backend/data_tools/tests/load_grant_budget_line_items/test_load_grant_budget_line_items.py
Due: nox-lint

fix: optimize number of session commits
  backend/data_tools/src/load_grant_budget_lines/utils.py
  backend/data_tools/tests/load_grant_budget_line_items/test_load_grant_budget_line_items.py
Due: nox-lint

chore: wip removed tooltip from can names
  frontend/src/components/CANs/CANTable/CANTable.jsx
Due: eslint

test: updating to fix unit tests after merge
  backend/data_tools/data/agreements_and_blin_data.json5
  backend/ops_api/tests/ops/can/test_budget_line_item.py
  backend/ops_api/tests/ops/can/test_can.py
  backend/ops_api/tests/ops/can/test_portfolio_cans.py
  backend/ops_api/tests/ops/funding_summary/test_can_funding_summary.py
Due: nox-lint

feat: adds helper function based on papaParse
  frontend/src/api/opsAPI.js
  frontend/src/components/CANs/CANTable/CANTable.jsx
  frontend/src/utils/tableExport.js
Due: eslint

test: fixing cypress tests after data change was made to fix a previous cypress test
  frontend/cypress/e2e/agreementList.cy.js
  frontend/cypress/e2e/reviewAgreement.cy.js
Due: eslint

test: fixing more cypress
  backend/openapi.yml
  frontend/cypress/e2e/budgetLineItemsList.cy.js
  frontend/cypress/e2e/statusChangeRequest.cy.js
Due: eslint

test: fix more cypress tests
  backend/ops_api/tests/ops/can/test_can.py
  frontend/cypress/e2e/canList.cy.js
  frontend/cypress/e2e/reviewAgreement.cy.js
Due: nox-lint, eslint

test: fixing backend unit test
  backend/ops_api/tests/ops/funding_summary/test_can_funding_summary.py
Due: nox-lint

feat: adds table headers to table export func
  frontend/src/components/CANs/CANTable/CANTable.jsx
  frontend/src/utils/tableExport.js
Due: eslint

test: added unit test and e2e tests
  frontend/cypress/e2e/canList.cy.js
  frontend/src/components/CANs/CANTable/CANTable.jsx
  frontend/src/components/CANs/CANTable/CANTable.test.jsx
  frontend/src/helpers/tableExport.helpers.js
  frontend/src/helpers/tableExport.helpers.test.js
Due: eslint

fix: frontend/package.json to reduce vulnerabilities
  frontend/package.json
Due: none

Notes added by 'git notes add'
  15e86d0c16321a64a4aa26747ca095bf6d936d43
Due: none

Notes added by 'git notes add'
  1b39cdec0cf34f16c341365b582b0967182f2f0f
Due: none

Notes added by 'git notes add'
  cae0bf9da81873dac0f865fb3aef1ec6c3f39fb1
Due: none
