Repository HHS/OPRE-OPS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-lint, eslint

nox-lint:
  name: nox-lint
  entry: bash -c 'cd ./backend/ops_api && pipenv run nox -s lint'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd ./frontend/ && bun lint'
  language: system
  pass_filenames: false

feat: add utility functions for procurement fee calculation and budget line item status mapping
  backend/data_tools/tests/load_budget_line_items_from_master_spreadsheet/test_load_budget_line_items_from_master_spreadsheet.py
  backend/data_tools/tests/load_master_spreadsheet_budget_lines/test_load_master_spreadsheet_budget_lines_items.py
Due: nox-lint

test: enable accessibility checks in Portfolio List tests and update assertions
  frontend/cypress/e2e/portfolioList.cy.js
Due: eslint

refactor: remove portfolio list state and associated tests
  frontend/src/pages/portfolios/list/getPortfolioList.js
  frontend/src/pages/portfolios/list/getPortfolioList.test.js
  frontend/src/pages/portfolios/list/portfolioListSlice.js
  frontend/src/store.js
Due: eslint

feat: add loading spinner for export functionality in Agreements and Budget Line Item lists
  frontend/src/pages/agreements/list/AgreementsList.jsx
  frontend/src/pages/budgetLines/list/BudgetLineItemList.jsx
Due: eslint

test: refactor fixture setup and cleanup
  backend/data_tools/tests/load_master_spreadsheet_budget_lines/test_load_master_spreadsheet_budget_lines_items.py
Due: nox-lint

test: cleanup ops_event in test_load_users.py
  backend/data_tools/tests/load_users/test_load_users.py
Due: nox-lint

test: undo cleanup
  backend/data_tools/tests/load_users/test_load_users.py
Due: nox-lint

Notes added by 'git notes add'
  c0bb85d9497314d301846d8818864878e77a1ff6
Due: none

feat: add ProcurementShopType enum
  frontend/src/helpers/agreement.helpers.js
  frontend/src/pages/agreements/agreements.constants.js
  frontend/src/pages/agreements/details/AgreementBudgetLines.jsx
Due: eslint

Notes added by 'git notes add'
  af55f18b4b2b73d090b4360ceafc6adb6c0dfe35
Due: none

test: cleanup schemas in test_load_users.py
  backend/data_tools/tests/load_users/test_load_users.py
Due: nox-lint

test: remove spacing
  backend/data_tools/tests/load_users/test_load_users.py
Due: nox-lint

test: rename fixture for database cleanup and enhance cleanup logic
  backend/data_tools/tests/load_master_spreadsheet_budget_lines/test_load_master_spreadsheet_budget_lines_items.py
Due: nox-lint

feat: allow Division Directors to edit Agreement metadata and enhance authorization checks
  backend/ops_api/ops/resources/agreements.py
  backend/ops_api/ops/services/budget_line_items.py
  backend/ops_api/tests/ops/features/edit_agreement_metadata.feature
  backend/ops_api/tests/ops/features/test_edit_agreement_metadata.py
Due: nox-lint

test: update test cases for budget lines to reflect new data structure
  backend/data_tools/test_csv/master_spreadsheet_budget_lines.tsv
  backend/data_tools/tests/load_master_spreadsheet_budget_lines/test_load_master_spreadsheet_budget_lines_items.py
Due: nox-lint

refactor: update budget line item creation and update logic
  backend/data_tools/src/load_master_spreadsheet_budget_lines/utils.py
Due: nox-lint

refactor: improve logging messages for budget line item processing
  backend/data_tools/src/load_master_spreadsheet_budget_lines/utils.py
Due: nox-lint

refactor: add new budget line item for mismatched project title and update logging level
  backend/data_tools/src/load_master_spreadsheet_budget_lines/utils.py
  backend/data_tools/test_csv/master_spreadsheet_budget_lines.tsv
Due: nox-lint

refactor: update budget line items and adjust test cases for new data structure
  backend/data_tools/test_csv/master_spreadsheet_budget_lines.tsv
  backend/data_tools/tests/load_master_spreadsheet_budget_lines/test_load_master_spreadsheet_budget_lines_items.py
Due: nox-lint

refactor: remove redundant deletion of grant budget line items in test cases
  backend/data_tools/tests/load_users/test_load_users.py
Due: nox-lint

refactor: remove unnecessary assignment of budget line item ID
  backend/data_tools/src/load_master_spreadsheet_budget_lines/utils.py
Due: nox-lint

refactor: remove redundant cleanup of user and budget line item tables in tests
  backend/data_tools/tests/load_users/test_load_users.py
Due: nox-lint

refactor: remove redundant deletion of contract budget line item tables in tests
  backend/data_tools/tests/load_users/test_load_users.py
Due: nox-lint

refactor: update test cases for new contract addition and adjust record counts
  backend/data_tools/src/load_master_spreadsheet_budget_lines/utils.py
  backend/data_tools/test_csv/master_spreadsheet_budget_lines.tsv
  backend/data_tools/tests/load_master_spreadsheet_budget_lines/test_load_master_spreadsheet_budget_lines_items.py
Due: nox-lint

style: enhance loading export UI for better alignment and spacing
  frontend/src/pages/agreements/list/AgreementsList.jsx
  frontend/src/pages/budgetLines/list/BudgetLineItemList.jsx
Due: eslint

feat: integrate rehype-raw for enhanced Markdown rendering in HowToGuides component
  frontend/bun.lockb
  frontend/package.json
  frontend/src/pages/help/HowToGuides.jsx
Due: eslint

fix: pin rehype-raw version to 7.0.0 for consistency in Markdown rendering
  frontend/package.json
Due: none

feat: enhance Markdown rendering with rehype-raw and remark-gfm
  frontend/src/pages/help/FAQ.jsx
  frontend/src/pages/help/Feedback.jsx
  frontend/src/pages/help/Glossary.jsx
  frontend/src/pages/help/HelpCenter.jsx
  frontend/src/pages/help/HowToGuides.jsx
Due: eslint

Notes added by 'git notes add'
  9a54cee45f79776f12bca081fb73f29817b036fa
Due: none

Notes added by 'git notes add'
  87550ab566c296f8024dd4be0295a3d1626a3fdc
Due: none

feat: implement AgreementsService for CRUD operations and enhance authorization checks
  backend/ops_api/ops/resources/agreements.py
  backend/ops_api/ops/services/agreements.py
  backend/ops_api/ops/services/budget_line_items.py
  backend/ops_api/tests/ops/agreement/test_agreement.py
  backend/ops_api/tests/ops/features/test_delete_agreement.py
  backend/ops_api/tests/ops/features/test_edit_agreement_metadata.py
Due: nox-lint

docs: update faq.jsx
  frontend/src/pages/help/FAQ.jsx
Due: eslint

docs: update howtoguides.jsx
  frontend/src/pages/help/HowToGuides.jsx
Due: eslint

feat: initial commit
  frontend/src/api/opsAPI.js
  frontend/src/pages/agreements/list/AgreementsList.jsx
Due: eslint

feat: add display for Division Director(s) and Team Leader(s) in agreement details
  frontend/src/pages/agreements/details/AgreementDetailsView.jsx
Due: eslint

test: add scenario to prevent unassociated users from editing Agreement metadata
  backend/ops_api/tests/ops/features/edit_agreement_metadata.feature
  backend/ops_api/tests/ops/features/test_edit_agreement_metadata.py
Due: nox-lint

feat: add scenario and tests for Portfolio Team Leader editing Agreement metadata
  backend/ops_api/tests/ops/features/edit_agreement_metadata.feature
  backend/ops_api/tests/ops/features/test_edit_agreement_metadata.py
Due: nox-lint

Notes added by 'git notes add'
  fdc53bfd77f3c682141dcdfd27a1eba2fbef0b03
Due: none

Add new load data type and script for master BLI spreadsheet (#3707)
  backend/data_tools/scripts/load_data.sh
  backend/data_tools/src/load_budget_lines/utils.py
  backend/data_tools/src/load_data.py
  backend/data_tools/src/load_master_spreadsheet_budget_lines/__init__.py
  backend/data_tools/src/load_master_spreadsheet_budget_lines/utils.py
  backend/data_tools/test_csv/master_spreadsheet_budget_lines.tsv
  backend/data_tools/tests/load_grant_budget_line_items/test_load_grant_budget_line_items.py
  backend/data_tools/tests/load_master_spreadsheet_budget_lines/test_load_master_spreadsheet_budget_lines_items.py
  backend/data_tools/tests/load_users/test_load_users.py
Due: nox-lint

feat: add metadata to Agreement responses indicating editability
  backend/ops_api/ops/resources/agreements.py
  backend/ops_api/ops/schemas/agreements.py
  backend/ops_api/tests/ops/agreement/test_agreement.py
Due: nox-lint

Path conditions:
  nox-lint: any of: \.py$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.css$, \.(html|htm|xhtml)$
