Repository HHS/OPRE-OPS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-lint, eslint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: detect-aws-credentials
        args: [--allow-missing-credentials]
      - id: detect-private-key
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: '^frontend/src/uswds/.*\.svg$'
      - id: check-json
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
  - repo: https://github.com/hadolint/hadolint
    rev: v2.10.0
    hooks:
      - id: hadolint
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.10.1
    hooks:
      - id: isort
        args: ["--profile", "black", "--filter-files"]
  - repo: local
    hooks:
      - id: nox-lint
        name: nox-lint
        entry: bash -c 'cd ./backend/ops_api && pipenv run nox -s lint'
        language: system
        types:
          - python
        pass_filenames: false
      - id: eslint
        name: eslint
        entry: bash -c 'cd ./frontend/ && bun lint'
        language: system
        types_or:
          - javascript
          - jsx
          - css
          - html
        pass_filenames: false
      - id: trufflehog
        name: TruffleHog
        description: Detect secrets in your data.
        entry: bash -c 'if command -v podman >/dev/null 2>&1; then podman run --rm -v "$(pwd):/workdir" -i trufflesecurity/trufflehog:latest git file:///workdir --since-commit HEAD --only-verified --fail; elif command -v docker >/dev/null 2>&1; then docker run --rm -v "$(pwd):/workdir" -i trufflesecurity/trufflehog:latest git file:///workdir --since-commit HEAD --only-verified --fail; else echo "Neither docker nor podman found. Please install one of them." && exit 1; fi'
        language: system
        stages: ["pre-commit", "pre-push"]
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.18.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional"]
        language_version: 22.8.0

fix: rename and update procurement shop fee handling for clarity
  backend/ops_api/ops/services/agreements.py
Due: nox-lint

Notes added by 'git notes add'
  9009ef80ce515a107fd6ad2d485901b18971e264
Due: none

feat(export): enhance XLSX export functionality with currency formatting
  frontend/src/helpers/tableExport.helpers.js
  frontend/src/pages/agreements/list/AgreementsList.jsx
Due: eslint

docs: update parameter type in tableSortCodes documentation to include contractType
  frontend/src/helpers/utils.js
Due: eslint

Notes added by 'git notes add'
  ced03c7b041c8829ee9f066ea8624ccfa02d601a
Due: none

feat: adds export currency to agreements list and adds test
  frontend/src/components/UI/FilterButton/FilterButton.jsx
  frontend/src/helpers/tableExport.helpers.test.js
  frontend/src/pages/agreements/list/AgreementsList.jsx
  frontend/src/pages/budgetLines/list/BudgetLineItemList.jsx
Due: eslint

chore: working on tests and events
  backend/alembic/versions/2025_06_27_1508-070df8b08b8d_get_agreement_history_trigger_and_new_.py
  backend/data_tools/data/ops_event.json5
  backend/models/agreement_history.py
  backend/ops_api/ops/resources/agreements.py
  backend/ops_api/tests/ops/agreement/test_agreement_history.py
Due: nox-lint

Notes added by 'git notes add'
  b382e79dd7bcae984d4f826490ae6a671d2ebb3a
Due: none

feat: add AaAgreement support and update agreement schemas
  backend/ops_api/ops/resources/agreements.py
  backend/ops_api/ops/resources/agreements_constants.py
  backend/ops_api/ops/schemas/agreements.py
  backend/ops_api/tests/ops/agreement/test_agreement.py
Due: nox-lint

fix: update down_revision for agreement type and nickname migration
  backend/alembic/versions/2025_06_25_1818-ec6f7a5a9cea_add_aa_agreeement_type_and_nick_name.py
Due: nox-lint

Notes added by 'git notes add'
  8c08acd057c06d144224b8a94181c8aa8ca1568f
Due: none

Notes added by 'git notes add'
  cc2cd6c0f7e3e39017f4cc14ac7ace49996809b8
Due: none

fix: update agreement filtering to include AaAgreement for contract number and type
  backend/ops_api/ops/resources/agreements.py
  backend/ops_api/tests/ops/agreement/test_agreement.py
Due: nox-lint

Notes added by 'git notes add'
  b81ca0336b3587d8f09e2670186d6f28136f93bb
Due: none

feat: ✨adds last data update
  frontend/src/components/Layouts/DefaultLayout/DefaultLayout.jsx
  frontend/src/constants.js
  frontend/src/pages/home/release-notes/ReleaseNotesCards.jsx
Due: eslint

fix: 🐛 corrects release date count in tests
  frontend/src/pages/home/release-notes/ReleaseNotesCards.test.jsx
Due: eslint

test: 🧪 update date display checks in ReleaseNotes tests
  frontend/src/pages/home/release-notes/ReleaseNotes.test.jsx
  frontend/src/pages/home/release-notes/ReleaseNotesCards.test.jsx
Due: eslint

feat: add AaAgreement support and update agreement handling
  backend/ops_api/ops/resources/agreements.py
  backend/ops_api/ops/resources/agreements_constants.py
  backend/ops_api/ops/schemas/agreements.py
  backend/ops_api/tests/ops/agreement/test_agreement.py
Due: nox-lint

Notes added by 'git notes add'
  f2c82ae9b0642511a7b42b2c4c8430b8cc09e04c
Due: none

chore: continued work on tests
  .vscode/settings.json
  backend/data_tools/data/ops_event.json5
  backend/models/agreement_history.py
  backend/ops_api/tests/ops/agreement/test_agreement_history.py
Due: nox-lint

feat: refactor agreement creation to use service layer
  backend/ops_api/ops/resources/agreements.py
  backend/ops_api/ops/services/agreements.py
  backend/ops_api/ops/services/ops_service.py
  backend/ops_api/tests/ops/agreement/test_agreement.py
Due: nox-lint

feat: implement obe budget line item import
  backend/data_tools/src/load_master_spreadsheet_budget_lines/utils.py
  backend/data_tools/src/load_obe_budget_lines/__init__.py
  backend/data_tools/src/load_obe_budget_lines/utils.py
  backend/data_tools/test_csv/obe_budget_lines.tsv
  backend/data_tools/tests/load_obe_budget_lines/__init__.py
  backend/data_tools/tests/load_obe_budget_lines/test_load_obe_budget_lines.py
  frontend/cypress/e2e/budgetLineItemsList.cy.js
Due: nox-lint, eslint

feat: ✨ implement WhatsNextTableRow component with expandable rows and update data structure
  frontend/src/pages/home/whats-next/WhatsNextTable.jsx
  frontend/src/pages/home/whats-next/WhatsNextTableRow.jsx
  frontend/src/pages/home/whats-next/data.js
Due: eslint

feat: streamline team members and support contacts handling in agreement creation
  backend/ops_api/ops/services/agreements.py
Due: nox-lint

test: 🧪 add comprehensive tests for WhatsNextTable and WhatsNextTableRow components
  frontend/src/pages/home/whats-next/WhatsNextTable.test.jsx
  frontend/src/pages/home/whats-next/WhatsNextTableRow.test.jsx
Due: eslint

fix: 🐛 ensure sortedData is a new array to prevent mutation of original data
  frontend/src/pages/home/whats-next/WhatsNextTable.jsx
Due: eslint

chore: adding more in-app release note entries
  frontend/src/pages/home/release-notes/data.js
Due: eslint

docs: updates content with a little help from UX
  frontend/sass/uswds/styles.scss
  frontend/src/constants.js
  frontend/src/pages/home/release-notes/ReleaseNotes.jsx
  frontend/src/pages/home/release-notes/data.js
  frontend/src/pages/home/whats-next/WhatsNext.jsx
  frontend/src/pages/home/whats-next/data.js
  frontend/src/uswds/css/styles.css
  frontend/src/uswds/css/styles.css.map
Due: eslint

fix: improve text wrapping for agreement description and notes
  frontend/src/pages/agreements/details/AgreementDetailsView.jsx
Due: eslint

fix: 🐛 correct property name from 'date' to 'releaseDate' in mock data
  frontend/src/pages/home/release-notes/ReleaseNotes.test.jsx
Due: eslint

refactor: improve mark_budget_lines_as_obe function and tests
  backend/alembic/versions/2025_06_24_2034-bf7b5e587a03_portfolio_url_opsevents.py
  backend/alembic/versions/2025_06_26_1824-00a7e0543939_removed_obe_status_with_obe_boolean_.py
  backend/data_tools/src/load_obe_budget_lines/utils.py
  backend/data_tools/tests/load_obe_budget_lines/test_load_obe_budget_lines.py
Due: nox-lint

chore: finishing agreement updates notifications
  backend/models/agreement_history.py
  backend/models/agreements.py
  backend/ops_api/tests/ops/agreement/test_agreement_history.py
Due: nox-lint

chore: updating sql script so order works
  backend/alembic/versions/2025_06_27_1508-070df8b08b8d_get_agreement_history_trigger_and_new_.py
Due: nox-lint

fix: update logic used for determining stale users to disable
  backend/data_tools/src/disable_users/disable_users.py
Due: nox-lint

build(deps): removes prohibition on renovate updating marshmallow
  .github/renovate.json
Due: none

test: adds mocha globals
  frontend/eslint.config.js
Due: eslint

fix: adds a11y improvements
  frontend/src/pages/home/release-notes/ReleaseNotesCards.jsx
Due: eslint

test: adds e2e tests for new pages
  frontend/cypress/e2e/mainPage.cy.js
Due: eslint

feat: adds and configures eslint cypres
  frontend/bun.lockb
  frontend/cypress/e2e/agreementDelete.cy.js
  frontend/cypress/e2e/agreementDetails.cy.js
  frontend/cypress/e2e/agreementDetailsEdit.cy.js
  frontend/cypress/e2e/agreementList.cy.js
  frontend/cypress/e2e/approveChangeRequestsAtAgreementLevel.cy.js
  frontend/cypress/e2e/approveCrossDivisionCRs.cy.js
  frontend/cypress/e2e/budgetChangeRequest.cy.js
  frontend/cypress/e2e/budgetLineItemsList.cy.js
  frontend/cypress/e2e/canDetail.cy.js
  frontend/cypress/e2e/canList.cy.js
  frontend/cypress/e2e/createAgreementWithValidations.cy.js
  frontend/cypress/e2e/declineChangeRequestsAtAgreementLevel.cy.js
  frontend/cypress/e2e/editAgreement.cy.js
  frontend/cypress/e2e/editAgreementAsBasicUser.cy.js
  frontend/cypress/e2e/portfolioDetail.cy.js
  frontend/cypress/e2e/researchProjectDetail.cy.js
  frontend/cypress/e2e/reviewAgreement.cy.js
  frontend/cypress/e2e/reviewChangeRequestsAtCardLevel.cy.js
  frontend/cypress/e2e/statusChangeRequest.cy.js
  frontend/cypress/e2e/uploadDocument.cy.js
  frontend/cypress/support/commands.js
  frontend/cypress/support/e2e.js
  frontend/eslint.config.js
  frontend/package.json
Due: eslint

fix: fixed description text wrap issue in multiple places
  frontend/sass/uswds/styles.scss
  frontend/src/components/Agreements/AgreementsTable/AgreementTableRow.jsx
  frontend/src/components/BudgetLineItems/AllBudgetLinesTable/AllBLIRow.jsx
  frontend/src/components/BudgetLineItems/BLIDiffTable/BLIDiffRow.jsx
  frontend/src/components/BudgetLineItems/BLIReviewTable/BLIReviewRow.jsx
  frontend/src/components/BudgetLineItems/BudgetLinesTable/BLIRow.jsx
  frontend/src/components/CANs/CANBudgetLineTable/CANBudgetLineTableRow.jsx
  frontend/src/components/ServicesComponents/ServicesComponentMetadata/ServicesComponentMetadata.jsx
  frontend/src/components/UI/Term/Term.jsx
  frontend/src/pages/agreements/details/AgreementDetailsView.jsx
  frontend/src/uswds/css/styles.css
  frontend/src/uswds/css/styles.css.map
Due: eslint
