Repository HHS/OPRE-OPS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-lint, eslint, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: detect-aws-credentials
        args: [--allow-missing-credentials]
      - id: detect-private-key
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: '^frontend/src/uswds/.*(\.svg|\.map)$'
      - id: check-json
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
  - repo: https://github.com/hadolint/hadolint
    rev: v2.14.0
    hooks:
      - id: hadolint
  - repo: https://github.com/pycqa/isort
    rev: 7.0.0
    hooks:
      - id: isort
        name: isort (ops_api)
        args: ["--settings-file", "backend/ops_api/pyproject.toml", "--filter-files"]
        files: ^backend/ops_api/
      - id: isort
        name: isort (data_tools)
        args: ["--settings-file", "backend/data_tools/pyproject.toml", "--filter-files"]
        files: ^backend/data_tools/
  - repo: local
    hooks:
      - id: nox-lint
        name: nox-lint
        entry: bash -c 'cd ./backend/ops_api && pipenv run nox -s lint'
        language: system
        types:
          - python
        pass_filenames: false
      - id: eslint
        name: eslint
        entry: bash -c 'cd ./frontend/ && bun lint'
        language: system
        types_or:
          - javascript
          - jsx
          - css
          - html
        pass_filenames: false
      - id: prettier
        name: prettier
        entry: bash -c 'cd ./frontend/ && bunx prettier --check --ignore-unknown'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json|css|scss|html|md)$
        pass_filenames: true
      - id: trufflehog
        name: TruffleHog
        description: Detect secrets in your data.
        entry: bash -c 'if command -v podman >/dev/null 2>&1; then podman run --rm -v "$(pwd):/workdir" -i trufflesecurity/trufflehog:latest git file:///workdir --since-commit HEAD --only-verified --fail; elif command -v docker >/dev/null 2>&1; then docker run --rm -v "$(pwd):/workdir" -i trufflesecurity/trufflehog:latest git file:///workdir --since-commit HEAD --only-verified --fail; else echo "Neither docker nor podman found. Please install one of them." && exit 1; fi'
        language: system
        stages: ["pre-commit", "pre-push"]
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.24.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional"]
        language_version: 22.8.0
  - repo: https://github.com/renovatebot/pre-commit-hooks
    rev: 43.15.0
    hooks:
      - id: renovate-config-validator

test: fixing test after structure of cans query creater in opsApi happened
  frontend/src/api/opsAPI.test.js
Due: eslint, prettier

fix: restore Pipfile.lock from main to resolve CI failures
  backend/ops_api/Pipfile.lock
Due: none

feat: add budget team requisition review page
  frontend/src/components/ChangeRequests/BudgetTeamRequisitionReviewCard/BudgetTeamRequisitionReviewCard.jsx
  frontend/src/components/ChangeRequests/BudgetTeamRequisitionReviewCard/BudgetTeamRequisitionReviewCard.test.jsx
  frontend/src/index.jsx
  frontend/src/pages/agreements/pre-award-approval/ReviewBudgetTeamRequisition.jsx
  frontend/src/pages/agreements/pre-award-approval/ReviewBudgetTeamRequisition.test.jsx
  frontend/src/pages/agreements/pre-award-approval/index.js
Due: eslint, prettier

fix: update budget team requisition page instructional text
  frontend/src/pages/agreements/pre-award-approval/ReviewBudgetTeamRequisition.jsx
Due: eslint, prettier

fix: remove grey background from notes section to match Figma design
  frontend/src/pages/agreements/pre-award-approval/ReviewBudgetTeamRequisition.jsx
Due: eslint, prettier

fix: increase spacing between notes headings and content
  frontend/src/pages/agreements/pre-award-approval/ReviewBudgetTeamRequisition.jsx
Due: eslint, prettier

fix: corrected color changes and missing earliest pop
  backend/data_tools/data/agreements_and_blin_data.json5
  frontend/src/pages/procurementDashboard/details/ProcurementDetailsStep.jsx
  frontend/src/pages/procurementDashboard/details/ProcurementDetailsTableRow.jsx
  frontend/src/pages/procurementDashboard/summary/ProcurementOverviewCard.jsx
  frontend/src/pages/procurementDashboard/summary/StepLegendItem.jsx
Due: eslint, prettier

feat: implement Phase 4 functionality for budget team requisition review
  frontend/src/pages/agreements/pre-award-approval/ReviewBudgetTeamRequisition.hooks.js
  frontend/src/pages/agreements/pre-award-approval/ReviewBudgetTeamRequisition.jsx
Due: eslint, prettier

fix: remove server-controlled field from PATCH and standardize required field styling
  frontend/src/pages/agreements/pre-award-approval/ReviewBudgetTeamRequisition.hooks.js
  frontend/src/pages/agreements/pre-award-approval/ReviewBudgetTeamRequisition.jsx
Due: eslint, prettier

fix: update modal and notification text to match Figma designs
  backend/ops_api/Pipfile.lock
  backend/ops_api/ops/services/procurement_tracker_steps.py
  frontend/src/pages/agreements/pre-award-approval/ReviewBudgetTeamRequisition.hooks.js
  frontend/src/pages/agreements/pre-award-approval/ReviewBudgetTeamRequisition.jsx
Due: nox-lint, eslint, prettier

chore: restore Pipfile.lock from main
  backend/ops_api/Pipfile.lock
Due: none

feat: update project authorization by including team leaders
  backend/ops_api/ops/services/projects.py
  backend/ops_api/ops/utils/projects_helpers.py
  backend/ops_api/tests/ops/project/test_project_authorization.py
Due: nox-lint

fix: remove BUDGET_TEAM from Division Director pre-award approval permissions
  frontend/src/pages/agreements/pre-award-approval/ApprovePreAwardApproval.hooks.js
Due: eslint, prettier

fix: prevent step 5 completion and notification dismissal until budget team approves requisition
  backend/ops_api/ops/services/procurement_tracker_steps.py
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepFive/ProcurementTrackerStepFive.jsx
Due: nox-lint, eslint, prettier

feat: enhance project detail form with validation and improved UI elements
  frontend/src/components/Projects/ProjectDetailForm/ProjectDetailForm.hooks.js
  frontend/src/components/Projects/ProjectDetailForm/ProjectDetailForm.jsx
  frontend/src/components/Projects/ProjectDetailForm/ProjectDetailForm.test.jsx
  frontend/src/components/Projects/ProjectDetailForm/suite.js
  frontend/src/components/Projects/ProjectTypeSelect/ProjectTypeSelect.jsx
  frontend/src/components/UI/Form/Input/Input.jsx
  frontend/src/pages/projects/detail/ProjectDetailsView.jsx
Due: eslint, prettier

Notes added by 'git notes add'
  4e89bc98dd09e38a7f6b9ca0a863d81da77ecd86
Due: none

test: fix tests failures
  frontend/cypress/e2e/projectDetails.cy.js
  frontend/src/pages/projects/detail/ProjectDetail.test.jsx
  frontend/src/pages/projects/detail/ProjectDetailsView.test.jsx
Due: eslint, prettier

style: spacing adjusments
  frontend/src/components/UI/FiscalYear/FiscalYear.jsx
  frontend/src/components/UI/Table/table.module.css
  frontend/src/pages/procurementDashboard/details/ProcurementDetailsStep.test.jsx
  frontend/src/pages/procurementDashboard/details/ProcurementDetailsTable.jsx
  frontend/src/pages/procurementDashboard/details/ProcurementDetailsTableRow.jsx
  frontend/src/pages/procurementDashboard/summary/ProcShopFilter.jsx
  frontend/src/pages/procurementDashboard/summary/ProcurementOverviewCard.jsx
  frontend/src/pages/procurementDashboard/summary/ProcurementSummaryCards.jsx
  frontend/src/pages/procurementDashboard/summary/StepLegendItem.jsx
Due: eslint, prettier

chore: fixed typo
  backend/ops_api/ops/services/agreements.py
Due: nox-lint

chore: updated step descriptions
  frontend/src/pages/procurementDashboard/details/ProcurementDetailsStep.jsx
Due: eslint, prettier

fix: correct pre-award approval workflow notifications and edit restrictions
  backend/ops_api/Pipfile.lock
  backend/ops_api/ops/services/procurement_tracker_steps.py
  frontend/src/components/Agreements/AgreementBudgetLinesHeader.jsx
  frontend/src/components/Agreements/AgreementDetailHeader.jsx
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepFive/ProcurementTrackerStepFive.jsx
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepFive/ProcurementTrackerStepFive.test.jsx
  frontend/src/pages/agreements/details/Agreement.jsx
  frontend/src/pages/agreements/details/AgreementBudgetLines.jsx
  frontend/src/pages/agreements/details/AgreementDetails.jsx
  frontend/src/pages/agreements/pre-award-approval/ApprovePreAwardApproval.hooks.test.js
  frontend/src/pages/agreements/pre-award-approval/ReviewBudgetTeamRequisition.hooks.js
Due: nox-lint, eslint, prettier

fix: include director approval notes in requisition approved notification
  backend/ops_api/ops/services/procurement_tracker_steps.py
Due: nox-lint

chore: revert Pipfile.lock to original hash for Docker compatibility
  backend/ops_api/Pipfile.lock
Due: none

fix: update test expectations for new notification messages
  backend/ops_api/tests/ops/procurement_tracker/test_ops_1639_budget_team_requisition.py
  backend/ops_api/tests/ops/procurement_tracker/test_procurement_tracker_steps_duplicate_notifications.py
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepFive/ProcurementTrackerStepFive.test.jsx
  frontend/src/index.jsx
Due: nox-lint, eslint, prettier

fix: address Copilot review comments - modal handler and keyboard accessibility
  frontend/src/components/Agreements/AgreementBudgetLinesHeader.jsx
  frontend/src/components/Agreements/AgreementDetailHeader.jsx
  frontend/src/pages/agreements/pre-award-approval/ReviewBudgetTeamRequisition.jsx
Due: eslint, prettier

style: apply Black formatting to notification test file
  backend/ops_api/tests/ops/procurement_tracker/test_procurement_tracker_steps_duplicate_notifications.py
Due: nox-lint

fix: prevent displaying loading tooltip when in review
  frontend/src/components/UI/TableTag/TableTag.jsx
Due: eslint, prettier

feat: improve create-pr skill score (89% → 95%)
  .claude/skills/create-pr/PR_TEMPLATE_GUIDE.md
  .claude/skills/create-pr/SKILL.md
Due: none

Notes added by 'git notes add'
  2b717149481e8c6e8e62ce6e6210d03606a39512
Due: none

fix: handling can funding summary card bug
  frontend/src/pages/cans/list/CanList.jsx
  frontend/src/pages/cans/list/CanList.test.jsx
Due: eslint, prettier

feat: enforce project-level authorization on project updates (#5635)
  backend/alembic/versions/2026_05_06_1400-e9f8a7b6c5d4_add_patch_research_project_permission.py
  backend/data_tools/data/user_data.json5
  backend/data_tools/initial_data/003-role.sql
  backend/ops_api/ops/services/projects.py
  backend/ops_api/ops/utils/projects_helpers.py
  backend/ops_api/tests/ops/project/test_project_authorization.py
Due: nox-lint

Notes added by 'git notes add'
  6391e4acce6f2d63940b25c9767f8aec85e6692c
Due: none

fix: prevent displaying loading tooltip when in review (#5654)
  frontend/src/components/UI/TableTag/TableTag.jsx
Due: eslint, prettier

Notes added by 'git notes add'
  0caba4e02f78219b190aaa1cead4a2ab4b6351f9
Due: none

feat: add service requirement type validation for Contract and AA agreements
  backend/ops_api/ops/resources/agreements.py
  backend/ops_api/ops/services/agreements.py
  backend/ops_api/ops/validation/agreement_validator.py
  backend/ops_api/ops/validation/rules/agreement.py
  backend/ops_api/tests/ops/agreement/test_agreement.py
  backend/ops_api/tests/ops/budget_line_items/test_budget_line_item.py
  backend/ops_api/tests/ops/features/test_edit_agreement_metadata.py
  backend/ops_api/tests/ops/history/test_history.py
  backend/ops_api/tests/ops/validation/rules/test_service_requirement_type_rule.py
  backend/ops_api/tests/ops/validation/test_agreement_validator.py
  backend/ops_api/tests/ops/validation/test_awarded_agreement_validator.py
Due: nox-lint

style: format ServiceRequirementTypeRule with Black
  backend/ops_api/ops/validation/rules/agreement.py
Due: nox-lint

fix: add service_requirement_type to E2E test agreement payloads
  frontend/cypress/e2e/agreementDelete.cy.js
  frontend/cypress/e2e/createAgreementWithValidations.cy.js
  frontend/cypress/e2e/createBLIForAgreement.cy.js
Due: eslint, prettier

feat: add project metadata for edit permissions and update related components
  backend/ops_api/ops/resources/projects.py
  backend/ops_api/ops/schemas/projects.py
  backend/ops_api/ops/services/projects.py
  backend/ops_api/tests/ops/project/test_project_authorization.py
  frontend/src/pages/projects/detail/ProjectDetail.jsx
  frontend/src/pages/projects/detail/ProjectDetail.test.jsx
  frontend/src/pages/projects/detail/ProjectDetailsView.jsx
  frontend/src/pages/projects/detail/ProjectDetailsView.test.jsx
  frontend/src/types/ProjectTypes.d.ts
Due: nox-lint, eslint, prettier

fix: use explicit None check in creation validation and add negative test
  backend/ops_api/ops/services/agreements.py
  backend/ops_api/tests/ops/agreement/test_agreement.py
Due: nox-lint

feat: add JWT authentication architecture documentation
  docs/jwt-authentication-architecture.md
Due: none
