Repository HHS/OPRE-OPS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-lint, eslint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: detect-aws-credentials
        args: [--allow-missing-credentials]
      - id: detect-private-key
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: '^frontend/src/uswds/.*\.svg$'
      - id: check-json
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
  - repo: https://github.com/hadolint/hadolint
    rev: v2.10.0
    hooks:
      - id: hadolint
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.10.1
    hooks:
      - id: isort
        args: ["--profile", "black", "--filter-files"]
  - repo: local
    hooks:
      - id: nox-lint
        name: nox-lint
        entry: bash -c 'cd ./backend/ops_api && pipenv run nox -s lint'
        language: system
        types:
          - python
        pass_filenames: false
      - id: eslint
        name: eslint
        entry: bash -c 'cd ./frontend/ && bun lint'
        language: system
        types_or:
          - javascript
          - jsx
          - css
          - html
        pass_filenames: false
      - id: trufflehog
        name: TruffleHog
        description: Detect secrets in your data.
        entry: bash -c 'if command -v podman >/dev/null 2>&1; then podman run --rm -v "$(pwd):/workdir" -i trufflesecurity/trufflehog:latest git file:///workdir --since-commit HEAD --only-verified --fail; elif command -v docker >/dev/null 2>&1; then docker run --rm -v "$(pwd):/workdir" -i trufflesecurity/trufflehog:latest git file:///workdir --since-commit HEAD --only-verified --fail; else echo "Neither docker nor podman found. Please install one of them." && exit 1; fi'
        language: system
        stages: ["pre-commit", "pre-push"]
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.18.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional"]
        language_version: 22.8.0

Notes added by 'git notes add'
  7d1cb81f779660bc38d4a9734ffd9ff2eb022cc4
Due: none

Notes added by 'git notes add'
  aa941a6db908c393bf9d2c7edce9e7ab6ba38aeb
Due: none

Notes added by 'git notes add'
  7aa259c120a1d691142a09f95003ad140540a183
Due: none

chore: removing some test code that was left in the branch. removing old commented code
  backend/models/services_components.py
  backend/openapi.yml
  backend/ops_api/ops/resources/agreements.py
  backend/ops_api/ops/schemas/agreements.py
  frontend/src/pages/agreements/list/AgreementsList.jsx
Due: nox-lint, eslint

refactor: update service component access logic
  backend/ops_api/ops/resources/services_component.py
  backend/ops_api/tests/ops/can/test_services_component.py
Due: nox-lint

feat: process contract in execution blis on reruns
  backend/data_tools/src/load_master_spreadsheet_budget_lines/utils.py
Due: nox-lint

refactor: streamline budget line item amount conversion and enhance test assertions
  backend/data_tools/src/common/utils.py
  backend/data_tools/src/load_master_spreadsheet_budget_lines/utils.py
  backend/data_tools/tests/load_master_spreadsheet_budget_lines/test_load_master_spreadsheet_budget_lines_items.py
Due: nox-lint

test: update assertions for budget line item record counts
  backend/data_tools/tests/load_master_spreadsheet_budget_lines/test_load_master_spreadsheet_budget_lines_items.py
Due: nox-lint

refactor: enhance budget amount conversion utility and add comprehensive tests
  backend/data_tools/src/common/utils.py
  backend/data_tools/tests/common/test_utils.py
Due: nox-lint

feat: adds more Service Components
  frontend/src/components/ServicesComponents/ServicesComponentSelect/ServicesComponentSelect.jsx
  frontend/src/components/ServicesComponents/ServicesComponents.constants.js
  frontend/src/components/UI/Form/Select/Select.jsx
  frontend/src/components/UI/Form/Select/Select.test.jsx
Due: eslint

test: change status on create model unit test and fix
  backend/data_tools/tests/load_master_spreadsheet_budget_lines/test_load_master_spreadsheet_budget_lines_items.py
Due: nox-lint

docs: improve JSDoc types for form components
  frontend/src/components/ServicesComponents/ServicesComponentForm/ServicesComponentForm.jsx
  frontend/src/components/ServicesComponents/ServicesComponentSelect/ServicesComponentSelect.jsx
  frontend/src/components/UI/Form/Select/Select.jsx
Due: eslint

test: add patch functionality test for team leaders on service components
  backend/ops_api/tests/ops/can/test_services_component.py
Due: nox-lint

Notes added by 'git notes add'
  3d45c2e1f40b3ad9d8a3e309f3cea13486cbd84b
Due: none

fix: update filtering logic for CANs based on funding details and active period
  frontend/src/pages/cans/list/CanList.jsx
Due: eslint

Notes added by 'git notes add'
  b368e4618617e47b2de8bd75295b628593707fa4
Due: none

test: rename upsert test and add new test for contract in execution budget line item
  backend/data_tools/tests/load_master_spreadsheet_budget_lines/test_load_master_spreadsheet_budget_lines_items.py
Due: nox-lint

fix: use 'dump_default' instead of the deprecated 'default', in compliance with Marshmallow 3.13+
  backend/ops_api/ops/schemas/budget_line_items.py
Due: nox-lint

Ops 3387/backend p1 (#3883)
  backend/models/budget_line_items.py
  backend/ops_api/ops/schemas/budget_line_items.py
  backend/ops_api/tests/ops/agreement/test_agreement.py
Due: nox-lint

feat: update CANs filter by fiscal year logic
  frontend/src/pages/cans/list/CanList.helpers.js
  frontend/src/pages/cans/list/CanList.jsx
Due: eslint

chore: fixed lint error
  frontend/src/pages/cans/list/CanList.jsx
Due: eslint

fix: fixing an issue that cropped up after a merge
  backend/ops_api/ops/resources/agreements.py
Due: nox-lint

test: add unit tests for filterCANsByFiscalYear function
  frontend/src/pages/cans/list/CanList.helpers.test.js
Due: eslint

test: add unit tests for filterCANsByFiscalYear function (#3900)
  frontend/src/pages/cans/list/CanList.helpers.test.js
Due: eslint

fix(CanList): return filtered CANs in useMemo for correct memoization
  frontend/src/pages/cans/list/CanList.jsx
Due: eslint

test(CanList): update expected values and assertions for fiscal year 2044
  frontend/cypress/e2e/canList.cy.js
Due: eslint

test(CanList): update expected table row value for fiscal year 2044
  frontend/cypress/e2e/canList.cy.js
Due: eslint

test(CanList): add validation for budget column and enhance CANs portfolio view test
  frontend/cypress/e2e/canList.cy.js
Due: eslint

test(CanList): add validation for budget column and enhance CANs portfolio view test (#3902)
  frontend/cypress/e2e/canList.cy.js
Due: eslint

feat: enhance authorization checks for service components and update tests
  backend/ops_api/ops/auth/decorators.py
  backend/ops_api/ops/resources/agreements.py
  backend/ops_api/ops/resources/services_component.py
  backend/ops_api/tests/ops/can/test_services_component.py
Due: nox-lint

chore: add better types and cleanup
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.jsx
  frontend/src/components/Agreements/ProjectOfficerComboBox.jsx
  frontend/src/components/Agreements/TeamMemberComboBox.jsx
  frontend/src/components/UI/Form/ComboBox/ComboBox.jsx
  frontend/src/pages/agreements/details/AgreementDetails.jsx
Due: eslint

refactor: improved sorting and null checks
  frontend/src/components/Agreements/TeamMemberList.jsx
  frontend/src/components/UI/Form/ComboBox/ComboBox.hooks.js
  frontend/src/pages/agreements/details/AgreementDetailsView.jsx
Due: eslint

refactor: enhance ComboBox sorting and update FiscalYearComboBox prop types
  frontend/src/components/UI/Form/ComboBox/ComboBox.hooks.js
  frontend/src/components/UI/Form/FiscalYearComboBox/FiscalYearComboBox.jsx
  frontend/src/components/UI/Form/FiscalYearComboBox/FiscalYearComboBox.test.js
  frontend/src/pages/agreements/details/AgreementDetailsView.jsx
Due: eslint

chore: more load_data interation and tests
  backend/data_tools/src/load_roles/utils.py
  backend/data_tools/test_csv/roles.tsv
  backend/data_tools/tests/load_roles/__init__.py
  backend/data_tools/tests/load_roles/test_load_roles.py
Due: nox-lint

chore: updating order of class parameters
  backend/data_tools/src/load_roles/utils.py
Due: nox-lint

chore: test typo
  backend/data_tools/src/load_roles/utils.py
Due: nox-lint

chore: troubleshooting enum test
  backend/data_tools/test_csv/roles.tsv
  backend/data_tools/tests/load_roles/test_load_roles.py
Due: nox-lint

chore: more troubleshooting dict validation
  backend/data_tools/tests/load_roles/test_load_roles.py
Due: nox-lint

chore: updating parent load_data script
  backend/data_tools/src/load_data.py
Due: nox-lint

chore: more troubleshooting
  backend/data_tools/test_csv/roles.tsv
  backend/data_tools/tests/load_roles/test_load_roles.py
Due: nox-lint
