Repository HHS/OPRE-OPS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-lint, eslint

nox-lint:
  name: nox-lint
  entry: bash -c 'cd ./backend/ops_api && pipenv run nox -s lint'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd ./frontend/ && bun lint'
  language: system
  pass_filenames: false

Notes added by 'git notes add'
  8668882620b03d757213863942ae34e83fa6d604
Due: none

test: fixes flaky test
  frontend/src/components/Users/UserInfo/UserInfo.test.js
Due: eslint

fix: updates budgetlinestable in an agreement to show missing can
  frontend/src/components/BudgetLineItems/BudgetLinesTable/BLIRow.jsx
Due: eslint

test: removing cans from obe budget lines in sample data
  backend/data_tools/data/agreements_and_blin_data.json5
Due: none

fix: update procurement shop fee check logic for obligated budget line items
  backend/data_tools/src/load_master_spreadsheet_budget_lines/utils.py
Due: nox-lint

test: update tests
  frontend/src/components/BudgetLineItems/BLIDiffTable/BLIDiffRow.test.jsx
  frontend/src/components/ChangeRequests/ReviewCard/ReviewCard.helpers.test.js
  frontend/src/components/ChangeRequests/ReviewChangeRequestAccordion/ReviewChangeRequestAccordion.jsx
  frontend/src/components/ChangeRequests/ReviewChangeRequestAccordion/ReviewChangeRequestAccordion.test.jsx
Due: eslint

test: adds test for proc-shop-change
  frontend/src/components/BudgetLineItems/BLIDiffTable/BLIDiffRow.test.jsx
  frontend/src/tests/data.js
Due: eslint

fix: fixes duplicate key warning
  frontend/src/components/ChangeRequests/ReviewChangeRequestAccordion/ReviewChangeRequestAccordion.jsx
Due: eslint

feat: adds logic for procurement shop change to can review accordion
  frontend/src/components/Agreements/AgreementCANReviewAccordion/AgreementCANReviewAccordion.jsx
  frontend/src/pages/agreements/approve/ApproveAgreement.jsx
Due: eslint

fix: user info test
  frontend/src/components/Users/UserInfo/UserInfo.test.js
Due: eslint

refactor: adds proc shop to budget changes
  frontend/src/pages/agreements/approve/ApproveAgreement.hooks.js
Due: eslint

feat: add custom hook for procurement shop change alert message
  frontend/src/hooks/useChangeRequests.hooks.js
  frontend/src/pages/agreements/approve/ApproveAgreement.hooks.js
Due: eslint

feat: enhance procurement shop handling in agreement components
  frontend/src/components/Agreements/AgreementBLIAccordion/AgreementBLIAccordion.jsx
  frontend/src/components/Agreements/AgreementDetailsCards/BLIsByFYSummaryCard/BLIsByFYSummaryCard.jsx
  frontend/src/components/Agreements/AgreementDetailsCards/BLIsByFYSummaryCard/BLIsFYSummaryCard.helpers.js
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.jsx
  frontend/src/components/Agreements/AgreementMetaAccordion/AgreementMetaAccordion.jsx
  frontend/src/components/ChangeRequests/ReviewChangeRequestAccordion/ReviewChangeRequestAccordion.jsx
  frontend/src/pages/agreements/approve/ApproveAgreement.hooks.js
Due: eslint

docs: brings back previous change set
  frontend/src/pages/home/release-notes/data.js
Due: eslint

chore: cleanup
  frontend/src/components/ChangeRequests/ReviewChangeRequestAccordion/ReviewChangeRequestAccordion.jsx
Due: eslint

fix: adds optional chaining
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.jsx
Due: eslint

fix: proc shop toggle for card
  frontend/src/components/Agreements/AgreementBLIAccordion/AgreementBLIAccordion.jsx
  frontend/src/components/Agreements/AgreementDetailsCards/BLIsByFYSummaryCard/BLIsByFYSummaryCard.jsx
Due: eslint

Notes added by 'git notes add'
  c28effc969a2d06f7dbc29fcd6ef94260b9375ed
Due: none

feat: filters out draft budget lines for card
  frontend/src/components/Agreements/AgreementCANReviewAccordion/AgreementCANReviewAccordion.jsx
Due: eslint

chore: finish updating import scripts with events. change contract file to test agreement update
  backend/data_tools/src/load_direct_obligation_budget_lines/utils.py
  backend/data_tools/src/load_direct_obligations/utils.py
  backend/data_tools/src/load_iaa_budget_lines/utils.py
  backend/data_tools/src/load_iaas/utils.py
  backend/data_tools/src/load_master_spreadsheet_budget_lines/utils.py
  backend/data_tools/test_csv/contracts.tsv
Due: nox-lint

chore: moved agreement history api to use new agreement history table
  backend/ops_api/ops/resources/agreement_history.py
  backend/ops_api/ops/schemas/agreement_history.py
  backend/ops_api/ops/services/agreement_history.py
Due: nox-lint

style: align tags in proc shop change card
  frontend/src/components/ChangeRequests/TermTag/TermTag.jsx
Due: eslint

refactor: combine logix into one if block
  frontend/src/pages/agreements/approve/ApproveAgreement.hooks.js
Due: eslint

test: update unit test
  frontend/src/components/Agreements/AgreementCANReviewAccordion/AgreementCANReviewAccordion.jsx
  frontend/src/components/Agreements/AgreementCANReviewAccordion/AgreementCANReviewAccordion.test.jsx
Due: eslint

test: add unit test for procurement change rendering in AgreementCANReviewAccordion
  frontend/src/components/Agreements/AgreementCANReviewAccordion/AgreementCANReviewAccordion.test.jsx
Due: eslint

feat: updaing authoritative spreasheet import bl status mapping
  backend/data_tools/src/load_master_spreadsheet_budget_lines/utils.py
Due: nox-lint

Notes added by 'git notes add'
  33012cf62dacd75e12f5708070a3db46213f2dd0
Due: none

feat: implement AAS data loading functionality with validation and model creation
  backend/data_tools/src/load_aas/__init__.py
  backend/data_tools/src/load_aas/utils.py
  backend/data_tools/src/load_data.py
  backend/data_tools/test_csv/aas.tsv
  backend/data_tools/tests/load_aas/__init__.py
  backend/data_tools/tests/load_aas/test_load_aas.py
  backend/data_tools/tests/load_contracts/test_load_contracts.py
Due: nox-lint

test: starts approval page e2e test
  frontend/cypress/e2e/procurementShopChangeRequest.cy.js
Due: eslint

fix: a11y issue on definition list
  frontend/cypress/e2e/procurementShopChangeRequest.cy.js
  frontend/src/components/Agreements/AgreementMetaAccordion/AgreementMetaAccordion.jsx
Due: eslint

fix: more a11y
  frontend/src/components/Agreements/AgreementMetaAccordion/AgreementMetaAccordion.jsx
Due: eslint

fix: fixing broken test with agreement history changes
  backend/ops_api/ops/services/agreement_history.py
  backend/ops_api/tests/ops/workflows/test_change_requests.py
Due: nox-lint

test: updates cards amounts
  frontend/cypress/e2e/agreementDetails.cy.js
Due: eslint

test: adds approve test
  frontend/cypress/e2e/procurementShopChangeRequest.cy.js
Due: eslint

feat: enhance AAS data loading with original CIG handling and budget line item conversion
  backend/data_tools/src/common/utils.py
  backend/data_tools/src/load_aas/utils.py
  backend/data_tools/src/update_budget_line_type/utils.py
  backend/data_tools/test_csv/aas.tsv
  backend/data_tools/tests/load_aas/test_load_aas.py
Due: nox-lint

chore: comment out flaky test items
  frontend/cypress/e2e/procurementShopChangeRequest.cy.js
Due: eslint

chore: missed one
  frontend/cypress/e2e/procurementShopChangeRequest.cy.js
Due: eslint

chore: adding more logging and environment handling in can loading
  backend/data_tools/src/load_cans/utils.py
Due: nox-lint

refactor: remove obe blis and obe filter from blis list api
  backend/ops_api/ops/services/budget_line_items.py
Due: nox-lint

refactor: remove OBE status from budget line item tests
  backend/ops_api/tests/ops/budget_line_items/test_budget_line_item.py
Due: nox-lint

Path conditions:
  nox-lint: any of: \.py$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.css$, \.(html|htm|xhtml)$
