Repository HHS/OPRE-OPS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-lint, eslint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: detect-aws-credentials
        args: [--allow-missing-credentials]
      - id: detect-private-key
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: '^frontend/src/uswds/.*\.svg$'
      - id: check-json
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
  - repo: https://github.com/hadolint/hadolint
    rev: v2.10.0
    hooks:
      - id: hadolint
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.10.1
    hooks:
      - id: isort
        args: ["--profile", "black", "--filter-files"]
  - repo: local
    hooks:
      - id: nox-lint
        name: nox-lint
        entry: bash -c 'cd ./backend/ops_api && pipenv run nox -s lint'
        language: system
        types:
          - python
        pass_filenames: false
      - id: eslint
        name: eslint
        entry: bash -c 'cd ./frontend/ && bun lint'
        language: system
        types_or:
          - javascript
          - jsx
          - css
          - html
        pass_filenames: false
      - id: trufflehog
        name: TruffleHog
        description: Detect secrets in your data.
        entry: bash -c 'if command -v podman >/dev/null 2>&1; then podman run --rm -v "$(pwd):/workdir" -i trufflesecurity/trufflehog:latest git file:///workdir --since-commit HEAD --only-verified --fail; elif command -v docker >/dev/null 2>&1; then docker run --rm -v "$(pwd):/workdir" -i trufflesecurity/trufflehog:latest git file:///workdir --since-commit HEAD --only-verified --fail; else echo "Neither docker nor podman found. Please install one of them." && exit 1; fi'
        language: system
        stages: ["pre-commit", "pre-push"]
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.18.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional"]
        language_version: 22.8.0

feat: add editBudgetLineByPowerUser test to Cypress configuration
  frontend/cypress.config.ci.js
Due: eslint

chore: remove unused Pipfile from backend
  backend/Pipfile
Due: none

test: fixing more tests and fixing alembic script ordering
  backend/alembic/versions/2025_08_14_1543-a62f33014a89_move_service_requirement_type_to_.py
  frontend/cypress/e2e/reviewChangeRequestsAtCardLevel.cy.js
  frontend/cypress/e2e/statusChangeRequest.cy.js
Due: nox-lint, eslint

Notes added by 'git notes add'
  0619dc65a96ea1298ee3c9e4d94f3235dab412a9
Due: none

test: fixing number of contracts for test
  backend/data_tools/tests/load_contracts/test_load_contracts.py
Due: nox-lint

test: fixing borken agreement history functionality to pass tests
  backend/models/agreement_history.py
  backend/ops_api/tests/ops/agreement/test_agreement_history.py
Due: nox-lint

Notes added by 'git notes add'
  8c07e75b98560b1b002adc0beced6ae4217cedc1
Due: none

docs(data): updating date of last data submission that has been processed
  frontend/src/constants.js
Due: eslint

Notes added by 'git notes add'
  5ddbe22d0d183fcc18532e585e1bfd3df5b36a4f
Due: none

refactor: replace desert with marshmallow for schema definitions
  backend/ops_api/ops/resources/cans.py
  backend/ops_api/ops/resources/notifications.py
  backend/ops_api/tests/ops/notification/test_notification.py
Due: nox-lint

fix: adjusting services component metadata after merging updates
  backend/models/agreement_history.py
  backend/ops_api/ops/resources/services_component.py
Due: nox-lint

refactor: replace hardcoded notification URLs with url_for for improved maintainability
  backend/ops_api/tests/ops/notification/test_notification.py
Due: nox-lint

docs: add comprehensive guide for creating new users in OPS
  docs/developers/creating-new-users.md
Due: none

test: fixing test data to fix sc test
  backend/data_tools/data/ops_event.json5
Due: none

test: updating data_tools test to account for change to contract tsv
  backend/data_tools/tests/load_contracts/test_load_contracts.py
Due: nox-lint

refactor: replace desert with marshmallow for schema definitions and update API query handling
  backend/ops_api/ops/resources/research_project_funding_summary.py
  backend/ops_api/ops/utils/research_project_helper.py
  backend/ops_api/tests/ops/funding_summary/test_research_project_funding_summary.py
Due: nox-lint

refactor: remove desert dependency from Pipfile and Pipfile.lock
  backend/ops_api/Pipfile
  backend/ops_api/Pipfile.lock
Due: none

refactor: clean up UpdateSchema by removing commented-out fields
  backend/ops_api/ops/resources/notifications.py
Due: nox-lint

refactor: implement is_super_user utility and improved user role handling
  backend/ops_api/ops/utils/agreements_helpers.py
  backend/ops_api/ops/utils/users.py
  backend/ops_api/tests/auth_client.py
  backend/ops_api/tests/conftest.py
  backend/ops_api/tests/ops/utils/test_users.py
Due: nox-lint

feat: undisables edit icon from table for su
  frontend/src/components/BudgetLineItems/BudgetLinesTable/BLIRow.jsx
Due: eslint

Notes added by 'git notes add'
  9d8dd8364307a9a217565c098741f8380f5ba55f
Due: none

refactor: enhance budget line item editability checks and add tests for power user permissions
  backend/ops_api/ops/services/budget_line_items.py
  backend/ops_api/tests/ops/budget_line_items/test_budget_line_item_power_user.py
Due: nox-lint

refactor: add tests to ensure power users cannot update contract BLI in review
  backend/ops_api/tests/ops/budget_line_items/test_budget_line_item_power_user.py
Due: nox-lint

refactor: update budget line item editability logic and add tests for power user permissions
  backend/ops_api/ops/services/budget_line_items.py
  backend/ops_api/tests/ops/budget_line_items/test_budget_line_item_power_user.py
Due: nox-lint

fix: fixing a bug introduced by an earlier part of refactor in can history
  backend/models/can_history.py
Due: nox-lint

feat: remove validation for super user
  frontend/cypress/e2e/editBudgetLineByPowerUser.cy.js
  frontend/src/components/BudgetLineItems/BudgetLinesForm/BudgetLinesForm.jsx
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.hooks.js
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.jsx
  frontend/src/components/CANs/CanComboBox/CanComboBox.jsx
  frontend/src/components/UI/Form/ComboBox/ComboBox.jsx
  frontend/src/components/UI/USWDS/DatePicker/DatePicker.jsx
Due: eslint

test: fixing a broken test after fixing can history creation
  backend/ops_api/tests/ops/can_history/test_can_history.py
Due: nox-lint

test: wip adding superuser edits grant bli test
  backend/ops_api/ops/services/budget_line_items.py
  backend/ops_api/tests/ops/budget_line_items/test_budget_line_item.py
Due: nox-lint

refactor: remove desert dependency from Pipfile.lock
  backend/ops_api/Pipfile.lock
Due: none

refactor: streamline input schema loading in get method
  backend/ops_api/ops/resources/research_project_funding_summary.py
Due: nox-lint

test: adds/updates unit-tests for affected components
  frontend/src/components/BudgetLineItems/BudgetLinesForm/BudgetLinesForm.test.jsx
  frontend/src/components/BudgetLineItems/BudgetLinesTable/BLIRow.test.jsx
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIAndSCs.test.js
  frontend/src/components/CANs/CanComboBox/CanComboBox.test.js
  frontend/src/components/UI/Form/ComboBox/ComboBox.test.js
  frontend/src/components/UI/USWDS/DatePicker/DatePicker.test.jsx
Due: eslint

fix: a11y issue on user info component
  frontend/cypress/e2e/editBudgetLineByPowerUser.cy.js
  frontend/src/components/Users/UserInfo/UserInfo.jsx
Due: eslint

fix: add missing 'and_' import
  backend/data_tools/tests/load_procurement_shops/test_load_procurement_shops.py
Due: nox-lint

feat: update fee calculation for budget line items (#4231)
  backend/data_tools/tests/load_procurement_shops/test_load_procurement_shops.py
  backend/models/budget_line_items.py
  backend/ops_api/tests/ops/budget_line_items/test_budget_line_item.py
  backend/ops_api/tests/ops/budget_line_items/test_budget_line_item_fees_property.py
  backend/ops_api/tests/ops/budget_line_items/test_budget_line_item_procurement_shops.py
  frontend/cypress/e2e/agreementList.cy.js
  frontend/cypress/e2e/approveCrossDivisionCRs.cy.js
  frontend/cypress/e2e/budgetLineItemsList.cy.js
  frontend/cypress/e2e/declineChangeRequestsAtAgreementLevel.cy.js
  frontend/cypress/e2e/statusChangeRequest.cy.js
Due: nox-lint, eslint

Notes added by 'git notes add'
  a94ced6b74485a10e85cf63dc993e4661bf867c1
Due: none

fix: add dynamic decimal scale for budget line fees display
  frontend/src/components/BudgetLineItems/BudgetLinesTable/BLIRow.jsx
Due: eslint

feat: add roles data type handling and transform utility
  backend/data_tools/src/load_data.py
  backend/data_tools/src/load_roles/__init__.py
  backend/data_tools/src/load_roles/utils.py
Due: nox-lint

Notes added by 'git notes add'
  7412568c27f4fc9adbfeb926f3047c25044b9043
Due: none

fix: handle case where super user role is not found
  backend/ops_api/ops/utils/users.py
Due: nox-lint

test: enhance BLIRow tests to validate decimal rounding for budget line amounts
  frontend/src/components/BudgetLineItems/BudgetLinesTable/BLIRow.test.jsx
Due: eslint
