Repository HHS/OPRE-OPS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-lint, eslint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: detect-aws-credentials
        args: [--allow-missing-credentials]
      - id: detect-private-key
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: '^frontend/src/uswds/.*\.svg$'
      - id: check-json
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
  - repo: https://github.com/hadolint/hadolint
    rev: v2.10.0
    hooks:
      - id: hadolint
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.10.1
    hooks:
      - id: isort
        args: ["--profile", "black", "--filter-files"]
  - repo: local
    hooks:
      - id: nox-lint
        name: nox-lint
        entry: bash -c 'cd ./backend/ops_api && pipenv run nox -s lint'
        language: system
        types:
          - python
        pass_filenames: false
      - id: eslint
        name: eslint
        entry: bash -c 'cd ./frontend/ && bun lint'
        language: system
        types_or:
          - javascript
          - jsx
          - css
          - html
        pass_filenames: false
      - id: trufflehog
        name: TruffleHog
        description: Detect secrets in your data.
        entry: bash -c 'if command -v podman >/dev/null 2>&1; then podman run --rm -v "$(pwd):/workdir" -i trufflesecurity/trufflehog:latest git file:///workdir --since-commit HEAD --only-verified --fail; elif command -v docker >/dev/null 2>&1; then docker run --rm -v "$(pwd):/workdir" -i trufflesecurity/trufflehog:latest git file:///workdir --since-commit HEAD --only-verified --fail; else echo "Neither docker nor podman found. Please install one of them." && exit 1; fi'
        language: system
        stages: ["pre-commit", "pre-push"]
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.18.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional"]
        language_version: 22.8.0

Notes added by 'git notes add'
  318ce94efd93305c10dab3cbfb7c3000109aa797
Due: none

feat: update new_funding calc, refactor for all cans, fix FE endpoint usage
  backend/openapi.yml
  backend/ops_api/ops/resources/can_funding_summary.py
  backend/ops_api/ops/utils/cans.py
  backend/ops_api/tests/ops/funding_summary/test_can_funding_summary.py
  frontend/src/api/getCanFundingSummary.js
  frontend/src/api/opsAPI.js
  frontend/src/components/Agreements/AgreementCANReviewAccordion/AgreementCANReviewAccordion.test.jsx
  frontend/src/components/CANs/CANFundingCard/CANFundingCard.jsx
  frontend/src/components/CANs/CANFundingCard/CanFundingCard.test.jsx
  frontend/src/components/CANs/CanCard/CanCard.jsx
  frontend/src/components/CANs/CanCard/CanCard.test.jsx
Due: nox-lint, eslint

docs: Edit openapi.yml to add new agreement data to BLI
  backend/openapi.yml
  backend/ops_api/ops/schemas/budget_line_items.py
Due: nox-lint

feat: use funding details to get new funding w/o given FY
  backend/ops_api/ops/utils/cans.py
Due: nox-lint

feat: handle new funding for multiyear cans
  backend/ops_api/ops/utils/cans.py
Due: nox-lint

feat: adds LineBar component
  frontend/src/components/CANs/CANBudgetByFYCard/CANBudgetByFYCard.jsx
  frontend/src/components/UI/DataViz/LineBar/LineBar.jsx
  frontend/src/components/UI/DataViz/LineBar/LineBar.styles.module.css
  frontend/src/components/UI/DataViz/LineBar/index.js
  frontend/src/pages/cans/detail/Can.hooks.js
  frontend/src/pages/cans/detail/Can.jsx
  frontend/src/pages/cans/detail/CanFunding.jsx
Due: eslint

test: adds check for can funding card
  frontend/cypress/e2e/canDetail.cy.js
  frontend/src/components/CANs/CANFundingInfoCard/CANFundingInfoCard.jsx
  frontend/src/components/UI/Cards/BudgetCard/BudgetCard.jsx
Due: eslint

test: adds test for budget card
  frontend/cypress/e2e/canDetail.cy.js
  frontend/src/components/UI/Cards/BudgetCard/BudgetCard.jsx
Due: eslint

test: adds test for can-budget-fy-card
  frontend/cypress/e2e/canDetail.cy.js
  frontend/src/components/CANs/CANBudgetByFYCard/CANBudgetByFYCard.jsx
Due: eslint

style: updates chart colors
  frontend/sass/uswds/styles.scss
  frontend/src/components/CANs/CANBudgetByFYCard/CANBudgetByFYCard.helpers.js
  frontend/src/constants.js
  frontend/src/uswds/css/styles.css
  frontend/src/uswds/css/styles.css.map
Due: eslint

Notes added by 'git notes add'
  53d9ded4aac26349b92068115e23cab1286355b4
Due: none

Notes added by 'git notes add'
  5c7aeac9bb890e3e40ac24a311be04af285ffb31
Due: none

feat: adds Funding Received TYD table
  frontend/cypress/e2e/canDetail.cy.js
  frontend/src/pages/cans/detail/Can.hooks.js
  frontend/src/pages/cans/detail/CanFunding.jsx
Due: eslint

feat: ✨adds CAN Funding Cards to CAN Funding page (#3084)
  frontend/cypress/e2e/canDetail.cy.js
  frontend/sass/uswds/styles.scss
  frontend/src/components/CANs/CANBudgetByFYCard/CANBudgetByFYCard.helpers.js
  frontend/src/components/CANs/CANBudgetByFYCard/CANBudgetByFYCard.jsx
  frontend/src/components/CANs/CANBudgetByFYCard/index.js
  frontend/src/components/CANs/CANFundingInfoCard/CANFundingInfoCard.jsx
  frontend/src/components/CANs/CANTable/CANTable.helpers.js
  frontend/src/components/CANs/CANTable/CANTable.jsx
  frontend/src/components/CANs/CANTable/CANTableRow.jsx
  frontend/src/components/UI/Cards/BudgetCard/BudgetCard.jsx
  frontend/src/components/UI/Cards/BudgetCard/BudgetCard.test.jsx
  frontend/src/components/UI/DataViz/LineBar/LineBar.jsx
  frontend/src/components/UI/DataViz/LineBar/LineBar.styles.module.css
  frontend/src/components/UI/DataViz/LineBar/index.js
  frontend/src/constants.js
  frontend/src/pages/cans/detail/Can.helpers.js
  frontend/src/pages/cans/detail/Can.hooks.js
  frontend/src/pages/cans/detail/Can.jsx
  frontend/src/pages/cans/detail/CanFunding.jsx
  frontend/src/pages/cans/detail/CanSpending.jsx
  frontend/src/uswds/css/styles.css
  frontend/src/uswds/css/styles.css.map
Due: eslint

Notes added by 'git notes add'
  b13b4a435d21a460d2b0309e23d543d26c8d9644
Due: none

style: props to customize card
  frontend/src/components/UI/Cards/BudgetCard/BudgetCard.jsx
  frontend/src/pages/cans/detail/CanFunding.jsx
Due: eslint

test: update card test
  frontend/cypress/e2e/canDetail.cy.js
Due: eslint

chore: typo
  frontend/src/pages/cans/detail/CanFunding.jsx
Due: eslint

refactor: use total instead of expected
  frontend/cypress/e2e/canDetail.cy.js
  frontend/src/components/UI/Cards/BudgetCard/BudgetCard.jsx
  frontend/src/pages/cans/detail/Can.jsx
  frontend/src/pages/cans/detail/CanFunding.jsx
Due: eslint

docs: fix CreateUpdateCANFundingBudgetRequest example
  backend/openapi.yml
Due: none

fix: make dataclass fields optional
  backend/data_tools/src/load_users/utils.py
Due: nox-lint

test: add unit tests
  backend/data_tools/tests/load_users/test_load_users.py
Due: nox-lint

refactor: add new component
  frontend/src/components/UI/Cards/BudgetCard/ReceivedFundingCard.jsx
  frontend/src/components/UI/DataViz/LineGraph/LineGraph.jsx
  frontend/src/pages/cans/detail/CanFunding.jsx
Due: eslint

chore: cleanup
  frontend/cypress/e2e/canDetail.cy.js
  frontend/src/components/UI/Cards/BudgetCard/BudgetCard.jsx
Due: eslint

style: consistent grid for data
  frontend/src/components/UI/DataViz/LineBar/LineBar.jsx
  frontend/src/components/UI/DataViz/LineBar/LineBar.styles.module.css
Due: eslint

feat: component for reverse line graph
  frontend/src/components/UI/Cards/BudgetCard/ReceivedFundingCard.jsx
  frontend/src/components/UI/DataViz/LineGraph/ReverseLineGraph.jsx
Due: eslint

chore: cleanup
  frontend/src/components/UI/DataViz/LineGraph/LineGraph.jsx
Due: eslint

fix: remove extra ?
  frontend/src/api/opsAPI.js
Due: eslint

fix: use correct symbol in query param chaining
  frontend/src/api/opsAPI.js
Due: eslint

docs: edit openapi.yml to add new agreement data to BLI
  backend/openapi.yml
  backend/ops_api/ops/schemas/budget_line_items.py
Due: nox-lint

fix: add logic for empty fund code and appropriation year
  backend/data_tools/src/load_cans/utils.py
  backend/data_tools/tests/load_cans/test_load_cans.py
Due: nox-lint

build: add back compose for initial data
  docker-compose.initial.yml
Due: none

feat: validate the fund code when importing CANs
  backend/data_tools/src/load_cans/utils.py
  backend/data_tools/tests/load_cans/test_load_cans.py
Due: nox-lint

docs: add agreement data to bli schema
  backend/openapi.yml
  backend/ops_api/ops/schemas/budget_line_items.py
Due: nox-lint

feat: add simple agreement to bli obj on can list response
  backend/openapi.yml
  backend/ops_api/ops/schemas/budget_line_items.py
  backend/ops_api/tests/ops/can/test_can.py
Due: nox-lint

refactor: update admin user role to SYSTEM_OWNER role in BE
  backend/data_tools/data/user_data.json5
  backend/data_tools/initial_data/001-division.sql
  backend/ops_api/ops/document/service.py
  backend/ops_api/ops/resources/users.py
  backend/ops_api/ops/utils/users.py
  backend/ops_api/tests/auth/test_roles.py
  backend/ops_api/tests/auth_client.py
  backend/ops_api/tests/conftest.py
  backend/ops_api/tests/ops/users/test_users_patch.py
  backend/ops_api/tests/ops/users/test_users_post.py
  backend/ops_api/tests/ops/users/test_users_put.py
Due: nox-lint

chore: integrate can-funding-summary endpoint
  backend/openapi.yml
  backend/ops_api/ops/resources/can_funding_summary.py
  backend/ops_api/tests/ops/funding_summary/test_can_funding_summary.py
  frontend/src/api/opsAPI.js
  frontend/src/components/CANs/CANTable/CANTableRow.jsx
  frontend/src/pages/cans/list/CanList.jsx
Due: nox-lint, eslint

chore: integrate can-funding-summary endpoint (#3112)
  backend/openapi.yml
  backend/ops_api/ops/resources/can_funding_summary.py
  backend/ops_api/tests/ops/funding_summary/test_can_funding_summary.py
  frontend/src/api/opsAPI.js
  frontend/src/components/CANs/CANTable/CANTableRow.jsx
  frontend/src/pages/cans/list/CanList.jsx
Due: nox-lint, eslint

docs: fix CreateUpdateCANFundingBudgetRequest example (#3105)
  backend/openapi.yml
Due: none
