Repository HHS/OPRE-OPS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-lint, eslint

nox-lint:
  name: nox-lint
  entry: bash -c 'cd ./backend/ops_api && pipenv run nox -s lint'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd ./frontend/ && bun lint'
  language: system
  pass_filenames: false

test: update role and user tests to include is_superuser property
  backend/ops_api/tests/auth/test_roles.py
  backend/ops_api/tests/ops/users/test_users_patch.py
  backend/ops_api/tests/ops/users/test_users_post.py
  backend/ops_api/tests/ops/users/test_users_put.py
Due: nox-lint

test: unskip test
  frontend/cypress/e2e/editBudgetLineByPowerUser.cy.js
Due: eslint

test: budgetline does not need sc
  frontend/cypress/e2e/editBudgetLineByPowerUser.cy.js
Due: eslint

feat: ✨skips validations for superUser on budget form (#4368)
  frontend/cypress/e2e/editBudgetLineByPowerUser.cy.js
  frontend/src/components/BudgetLineItems/BudgetLinesForm/BudgetLinesForm.jsx
  frontend/src/components/BudgetLineItems/BudgetLinesForm/BudgetLinesForm.test.jsx
  frontend/src/components/BudgetLineItems/BudgetLinesForm/datePickerSuite.js
  frontend/src/components/BudgetLineItems/BudgetLinesForm/suite.js
  frontend/src/components/BudgetLineItems/BudgetLinesForm/suite.test.js
  frontend/test_validation.js
Due: eslint

Notes added by 'git notes add'
  f42b4f7543adabf79757fe54cd8e15f8044e477d
Due: none

test: unskips NYD agreements
  frontend/cypress/e2e/editBudgetLineByPowerUser.cy.js
Due: eslint

feat: update role structure to include is_superuser property in user roles logic
  frontend/src/components/UI/Header/NavMenu.jsx
  frontend/src/hooks/user.hooks.js
  frontend/src/mocks/handlers.js
  frontend/src/pages/agreements/approve/ApproveAgreement.hooks.js
  frontend/src/pages/agreements/details/AgreementDetails.test.js
  frontend/src/pages/cans/list/CanList.helpers.js
  frontend/src/pages/cans/list/CanList.helpers.test.js
  frontend/src/pages/users/detail/UserDetail.jsx
  frontend/src/tests/data.js
Due: eslint

feat: moves create services component to context
  frontend/src/components/Agreements/AgreementEditor/AgreementEditorContext.hooks.js
  frontend/src/components/ServicesComponents/ServicesComponents.hooks.js
Due: eslint

feat: refactor role checks to use some() for accurate user role validation
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.hooks.js
  frontend/src/pages/cans/detail/Can.hooks.js
  frontend/src/types/UserTypes.d.ts
Due: eslint

feat: refactor budget line item tests and utilities for improved clarity and functionality
  backend/data_tools/src/common/utils.py
  backend/data_tools/src/load_master_spreadsheet_budget_lines/utils.py
  backend/data_tools/src/load_master_spreadsheet_budget_lines_v2/utils.py
  backend/data_tools/tests/load_master_spreadsheet_budget_lines/test_load_master_spreadsheet_budget_lines_items.py
  backend/data_tools/tests/load_master_spreadsheet_budget_lines_v2/test_load_master_spreadsheet_budget_lines_items_v2.py
Due: nox-lint

test: fixed unit tests
  frontend/src/components/BudgetLineItems/BudgetLinesTable/BLIRow.jsx
  frontend/src/components/BudgetLineItems/BudgetLinesTable/BLIRow.test.jsx
  frontend/src/components/BudgetLineItems/BudgetLinesTable/BudgetLinesTable.test.js
  frontend/src/tests/data.js
Due: eslint

test: fix tests by adding is_superuser property in user roles
  frontend/src/components/BudgetLineItems/BudgetLinesTable/BLIRow.test.jsx
  frontend/src/hooks/user.hooks.test.js
Due: eslint

chore: adding test data and agreement history. still need to test
  backend/data_tools/data/ops_event.json5
  backend/models/agreement_history.py
  backend/ops_api/ops/resources/budget_line_items.py
  backend/ops_api/tests/auth/test_login.py
  backend/ops_api/tests/ops/agreement/test_agreement_history.py
Due: nox-lint

chore: uncommenting a line I forgot to uncomment
  backend/data_tools/src/update_agreement_history/update_agreement_history.py
Due: nox-lint

feat: process roles to include name labels
  frontend/src/components/Users/UserInfo/UserInfo.jsx
Due: eslint

fix: update role validation logic to use includes for accurate role checks
  frontend/src/components/Users/UserInfo/UserInfo.jsx
  frontend/src/hooks/user.hooks.js
Due: eslint

fix: update role check logic
  frontend/src/hooks/user.hooks.js
Due: eslint

feat: create and read servicesComponents
  frontend/src/components/ServicesComponents/AllServicesComponentSelect/AllServicesComponentSelect.jsx
  frontend/src/components/ServicesComponents/ServicesComponents.hooks.js
  frontend/src/components/ServicesComponents/ServicesComponentsList/ServicesComponentsList.jsx
Due: eslint

feat: refactor get_sc function for improved clarity
  backend/data_tools/src/common/utils.py
  backend/data_tools/src/load_contract_budget_lines/utils.py
  backend/data_tools/test_csv/master_spreadsheet_budget_lines_v2.tsv
  backend/data_tools/tests/load_contract_budget_line_items/test_load_contract_budget_line_items.py
  backend/data_tools/tests/load_master_spreadsheet_budget_lines_v2/test_load_master_spreadsheet_budget_lines_items_v2.py
Due: nox-lint

test: add is_superuser property to user roles in tests
  frontend/src/components/Agreements/AgreementsTable/AgreementTableRow.test.js
  frontend/src/components/Users/UserInfo/UserInfo.test.js
Due: eslint

fix: remove unnecessary eslint-disable comments in test files
  frontend/src/components/Users/UserInfo/UserInfo.test.js
Due: eslint

test: wip making adjustments to bli helper
  frontend/src/components/BudgetLineItems/BudgetLinesTable/BLIRow.jsx
  frontend/src/components/BudgetLineItems/BudgetLinesTable/BLIRow.test.jsx
  frontend/src/helpers/budgetLines.helpers.js
Due: eslint

fix: update super user role check to use 'some' for accurate validation bypass
  frontend/cypress/e2e/editBudgetLineByPowerUser.cy.js
Due: eslint

fix: update isSuperUser check in bli suite
  frontend/src/components/BudgetLineItems/BudgetLinesForm/datePickerSuite.js
Due: eslint

fix: update super user check to use is_superuser property in role validation
  frontend/src/components/BudgetLineItems/BudgetLinesForm/datePickerSuite.js
  frontend/src/components/BudgetLineItems/BudgetLinesForm/suite.js
Due: eslint

fix: remove 'only' from bypass validation test to ensure all tests run
  frontend/cypress/e2e/editBudgetLineByPowerUser.cy.js
Due: eslint

fix: update test cases to include is_superuser property for role validation
  frontend/src/components/BudgetLineItems/BudgetLinesForm/BudgetLinesForm.test.jsx
Due: eslint

fix: update SUPER_USER role tests to include is_superuser property
  frontend/src/components/BudgetLineItems/BudgetLinesForm/suite.test.js
Due: eslint

feat: add is_superuser property to user and roles schema in OpenAPI definition
  backend/openapi.yml
Due: none

fix: update history_message length per linting errors
  backend/ops_api/tests/ops/agreement/test_agreement_history.py
Due: nox-lint

refactor: remove commented-out role assignments and clean up user data handling
  backend/ops_api/ops/resources/users.py
  backend/ops_api/ops/schemas/users.py
  backend/ops_api/tests/ops/users/test_users_put.py
Due: nox-lint

refactor: remove commented-out role checks and update isSuperUser logic
  frontend/src/components/BudgetLineItems/BudgetLinesForm/datePickerSuite.js
  frontend/src/components/BudgetLineItems/BudgetLinesForm/suite.js
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.hooks.js
  frontend/src/components/UI/Header/NavMenu.jsx
  frontend/src/hooks/user.hooks.js
  frontend/src/pages/agreements/approve/ApproveAgreement.hooks.js
  frontend/src/pages/cans/detail/Can.hooks.js
  frontend/src/pages/cans/list/CanList.helpers.js
  frontend/src/pages/users/detail/UserDetail.jsx
Due: eslint

feat: update label format for service components
  frontend/src/components/ServicesComponents/AllServicesComponentSelect/AllServicesComponentSelect.jsx
  frontend/src/components/ServicesComponents/ServicesComponents.helpers.js
Due: eslint

docs(import): updating date of last submission that was processed
  frontend/src/constants.js
Due: eslint

test: finish writing tests for new bli draft dev msgs
  backend/data_tools/data/ops_event.json5
  backend/models/agreement_history.py
  backend/ops_api/tests/ops/agreement/test_agreement_history.py
Due: nox-lint

feat: update test suite for master spreadsheet budget lines v2 and enhance utility functions
  backend/data_tools/src/common/utils.py
  backend/data_tools/src/load_master_spreadsheet_budget_lines_v2/utils.py
  backend/data_tools/tests/load_master_spreadsheet_budget_lines_v2/test_load_master_spreadsheet_budget_lines_items_v2.py
Due: nox-lint

refactor: adds abbr parameter
  frontend/src/components/ServicesComponents/AllServicesComponentSelect/AllServicesComponentSelect.jsx
  frontend/src/components/ServicesComponents/ServicesComponents.helpers.js
Due: eslint

fix: do not show services component form if agreement is NYD (#4417)
  frontend/cypress/e2e/agreementDetailsEdit.cy.js
  frontend/cypress/e2e/approveChangeRequestsAtAgreementLevel.cy.js
  frontend/cypress/e2e/approveCrossDivisionCRs.cy.js
  frontend/cypress/e2e/budgetChangeRequest.cy.js
  frontend/cypress/e2e/declineChangeRequestsAtAgreementLevel.cy.js
  frontend/cypress/e2e/editAgreement.cy.js
  frontend/cypress/e2e/editBudgetLineByPowerUser.cy.js
  frontend/cypress/e2e/procurementShopChangeRequest.cy.js
  frontend/cypress/e2e/reviewChangeRequestResponse.cy.js
  frontend/cypress/e2e/reviewChangeRequestsAtCardLevel.cy.js
  frontend/cypress/e2e/statusChangeRequest.cy.js
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIAndSCs.test.js
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.hooks.js
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.jsx
  frontend/src/components/ServicesComponents/ServicesComponentForm/ServicesComponentForm.jsx
  frontend/src/components/ServicesComponents/ServicesComponentForm/ServicesComponentForm.test.jsx
  frontend/src/helpers/agreement.helpers.test.js
Due: eslint

docs: updates readme to reflect the watch flag is optional (#4408)
  AGENTS.md
  README.md
Due: none

Notes added by 'git notes add'
  91247942e3e2a3fed886c37cc4089685c193cb8e
Due: none

Path conditions:
  nox-lint: any of: \.py$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.css$, \.(html|htm|xhtml)$
