Repository HHS/OPRE-OPS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-lint, eslint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: detect-aws-credentials
        args: [--allow-missing-credentials]
      - id: detect-private-key
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: '^frontend/src/uswds/.*\.svg$'
      - id: check-json
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
  - repo: https://github.com/hadolint/hadolint
    rev: v2.10.0
    hooks:
      - id: hadolint
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.10.1
    hooks:
      - id: isort
        args: ["--profile", "black", "--filter-files"]
  - repo: local
    hooks:
      - id: nox-lint
        name: nox-lint
        entry: bash -c 'cd ./backend/ops_api && pipenv run nox -s lint'
        language: system
        types:
          - python
        pass_filenames: false
      - id: eslint
        name: eslint
        entry: bash -c 'cd ./frontend/ && bun lint'
        language: system
        types_or:
          - javascript
          - jsx
          - css
          - html
        pass_filenames: false
      - id: trufflehog
        name: TruffleHog
        description: Detect secrets in your data.
        entry: bash -c 'if command -v podman >/dev/null 2>&1; then podman run --rm -v "$(pwd):/workdir" -i trufflesecurity/trufflehog:latest git file:///workdir --since-commit HEAD --only-verified --fail; elif command -v docker >/dev/null 2>&1; then docker run --rm -v "$(pwd):/workdir" -i trufflesecurity/trufflehog:latest git file:///workdir --since-commit HEAD --only-verified --fail; else echo "Neither docker nor podman found. Please install one of them." && exit 1; fi'
        language: system
        stages: ["pre-commit", "pre-push"]
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.18.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional"]
        language_version: 22.8.0

fix: corrects fee total for ALLBliRow
  frontend/src/components/BudgetLineItems/AllBudgetLinesTable/AllBLIRow.jsx
Due: eslint

refactor: display 0 year for active period of 0 year can
  frontend/src/components/CANs/CANFundingInfoCard/CANFundingInfoCard.jsx
  frontend/src/components/CANs/CANTable/CANTableRow.helpers.js
Due: eslint

chore: adding dummy starter data for agreement history
  backend/data_tools/data/agreements_and_blin_data.json5
  backend/data_tools/data/ops_event.json5
  backend/data_tools/src/import_static_data/import_data.py
Due: nox-lint

test: update verbiage in test
  frontend/cypress/e2e/procurementShopChangeRequest.cy.js
Due: eslint

test: update unit test
  frontend/src/components/CANs/CANTable/CANTableRow.helpers.test.js
Due: eslint

chore: resolve comments from copilot
  backend/ops_api/ops/services/cans.py
Due: nox-lint

chore: fix lint error
  backend/ops_api/ops/services/cans.py
Due: nox-lint

refactor: streamline ServicesComponent API and schemas for improved clarity and functionality
  backend/ops_api/ops/resources/services_component.py
  backend/ops_api/ops/schemas/services_component.py
  backend/ops_api/ops/services/services_component.py
  backend/ops_api/tests/ops/can/test_services_component.py
Due: nox-lint

test: fix unit test failures
  backend/ops_api/tests/ops/can/test_can.py
  backend/ops_api/tests/ops/funding_summary/test_can_funding_summary.py
Due: nox-lint

Notes added by 'git notes add'
  6515ff7a23b66298fe9275f45a3dc647eefe41c1
Due: none

fix: infinite loop issue with memoization
  frontend/src/pages/agreements/details/Agreement.jsx
Due: eslint

chore: cleanup
  frontend/src/components/BudgetLineItems/AllBudgetLinesTable/AllBLIRow.jsx
  frontend/src/components/BudgetLineItems/BudgetLinesTable/BLIRow.jsx
Due: eslint

test: updates unit-tests
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.test.jsx
  frontend/src/pages/agreements/details/Agreement.test.js
Due: eslint

Notes added by 'git notes add'
  5593e5385b00861141703b8f8eb25a463f5aeca9
Due: none

Notes added by 'git notes add'
  1fd18ddc4c7bb4b25156c20ee56ae12a590c075f
Due: none

feat: update fee casting and update related tests
  backend/models/budget_line_items.py
  backend/ops_api/tests/ops/budget_line_items/test_budget_line_item.py
  backend/ops_api/tests/ops/budget_line_items/test_budget_line_item_procurement_shops.py
  backend/ops_api/tests/ops/funding_summary/test_can_funding_summary.py
  backend/ops_api/tests/ops/procurement_shop/test_procurement_shops.py
Due: nox-lint

fix: correct expected fee value in review card test
  frontend/cypress/e2e/approveCrossDivisionCRs.cy.js
Due: eslint

fix: update expected fee value in status change request test
  frontend/cypress/e2e/statusChangeRequest.cy.js
Due: eslint

fix: update review card interactions to target the first element and correct expected fee values
  frontend/cypress/e2e/declineChangeRequestsAtAgreementLevel.cy.js
Due: eslint

refactor: rename test file for clarity and remove unnecessary comments
  backend/ops_api/tests/ops/budget_line_items/test_budget_line_item_fees_property.py
Due: nox-lint

fix: update expected fee value in agreement list test
  frontend/cypress/e2e/agreementList.cy.js
Due: eslint

fix: update expected bli totals and correct test assertions
  frontend/cypress/e2e/budgetLineItemsList.cy.js
Due: eslint

docs: add AGENTS.md for project guidance and common development commands
  AGENTS.md
  README.md
Due: none

fix: fixing agreement history to not break on no history
  frontend/src/components/Agreements/AgreementDetails/AgreementHistoryPanel.jsx
Due: eslint

Notes added by 'git notes add'
  2083098443f33d92c7cb2bc5e477bcefd15e32ef
Due: none

refactor: update parameter names and return types in OpsService and ServicesComponent methods
  backend/ops_api/ops/resources/services_component.py
  backend/ops_api/ops/services/ops_service.py
  backend/ops_api/ops/services/services_component.py
Due: nox-lint

refactor: update data loading in get method of ServicesComponent
  backend/ops_api/ops/resources/services_component.py
Due: nox-lint

feat: added custom logic for home route active state
  frontend/src/components/UI/Header/NavMenu.jsx
Due: eslint

refactor: update NavMenu to use useLocation for active state logic
  frontend/src/components/UI/Header/NavMenu.jsx
Due: eslint

Notes added by 'git notes add'
  bb00cbb6959d79e6859ae7fd9e94149999a73f74
Due: none

refactor: simplify agreement check in ServicesComponent methods
  backend/ops_api/ops/services/services_component.py
Due: nox-lint

refactor: remove unused date conversion in ServicesComponent creation
  backend/ops_api/ops/services/services_component.py
Due: nox-lint

chore: update styled-components to version 6.1.19
  frontend/bun.lockb
  frontend/package.json
Due: none

fix: update budget range slider component and improve test selector
  frontend/cypress/e2e/canList.cy.js
  frontend/src/components/CANs/CANFYBudgetRangeSlider/CANFYBudgetRangeSlider.jsx
Due: eslint

fix: enable filter button test case
  frontend/cypress/e2e/canList.cy.js
Due: eslint

fix: update budget range slider component to use data-testid for improved testability
  frontend/cypress/e2e/canList.cy.js
  frontend/src/components/CANs/CANFYBudgetRangeSlider/CANFYBudgetRangeSlider.jsx
Due: eslint

refactor: clean up imports in budget_line_items.py for clarity
  backend/models/budget_line_items.py
Due: nox-lint

test: fixing tests after changes to front end with history
  backend/models/agreement_history.py
  frontend/cypress/e2e/agreementDetailsEdit.cy.js
  frontend/cypress/e2e/approveChangeRequestsAtAgreementLevel.cy.js
  frontend/cypress/e2e/approveCrossDivisionCRs.cy.js
  frontend/cypress/e2e/budgetChangeRequest.cy.js
  frontend/cypress/e2e/declineChangeRequestsAtAgreementLevel.cy.js
  frontend/src/components/Agreements/AgreementDetails/AgreementHistoryPanel.jsx
  frontend/src/pages/agreements/details/AgreementDetailsView.jsx
Due: nox-lint, eslint

feat: added power user and updated tests
  backend/Pipfile
  backend/data_tools/data/user_data.json5
  backend/data_tools/src/disable_users/queries.py
  backend/ops_api/ops/auth/authentication_provider/fake_auth_provider.py
  backend/ops_api/ops/environment/default_settings.py
  backend/ops_api/ops/utils/agreements_helpers.py
  frontend/cypress.config.js
  frontend/cypress/e2e/editBudgetLineByPowerUser.cy.js
  frontend/cypress/support/e2e.js
  frontend/src/components/Auth/MultiAuthSection.jsx
  frontend/src/components/Users/User.constants.js
  frontend/src/constants.js
  frontend/src/mocks/handlers.js
  frontend/src/tests/data.js
Due: nox-lint, eslint

chore: fix lint error
  backend/ops_api/ops/utils/agreements_helpers.py
Due: nox-lint
