Repository HHS/OPRE-OPS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-lint, eslint

nox-lint:
  name: nox-lint
  entry: bash -c 'cd ./backend/ops_api && pipenv run nox -s lint'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd ./frontend/ && bun lint'
  language: system
  pass_filenames: false

feat: add endpoints for portfolio urls
  backend/openapi.yml
  backend/ops_api/ops/resources/portfolios_url.py
  backend/ops_api/ops/urls.py
  backend/ops_api/ops/views.py
  backend/ops_api/tests/ops/portfolio/test_portfolio_url.py
Due: nox-lint

Notes added by 'git notes add'
  4218707609f748ea5a0a6984f2597010ff803197
Due: none

feat: updated agreement put api
  backend/ops_api/ops/resources/agreements.py
  backend/ops_api/ops/services/agreements.py
Due: nox-lint

test: add awarding_entity_id to agreement put tests
  backend/ops_api/tests/ops/agreement/test_agreement.py
Due: nox-lint

feat: add create and update functionality for PortfolioUrl
  backend/models/events.py
  backend/openapi.yml
  backend/ops_api/ops/resources/portfolios_url.py
  backend/ops_api/ops/schemas/cans.py
  backend/ops_api/ops/services/portfolio_url.py
  backend/ops_api/tests/ops/portfolio/test_portfolio_url.py
Due: nox-lint

test: adding e2e for all budget lines table
  frontend/cypress/e2e/budgetLineItemsList.cy.js
  frontend/src/components/BudgetLineItems/AllBudgetLinesTable/AllBLIRow.jsx
Due: eslint

test: removing an unnecessary 'only' statement
  frontend/cypress/e2e/budgetLineItemsList.cy.js
Due: eslint

Notes added by 'git notes add'
  3df7a23d34a4237e52e20d9799a7d13f3f271abf
Due: none

chore: adds more logging and dry run parameter option into more modules of dada_load
  backend/data_tools/src/load_grant_budget_lines/utils.py
  backend/data_tools/src/load_master_spreadsheet_budget_lines/utils.py
  backend/data_tools/src/load_remove_agreements/utils.py
  backend/data_tools/src/update_budget_line_type/utils.py
Due: nox-lint

feat: updating date when we last received data to import
  frontend/src/components/Layouts/DefaultLayout/DefaultLayout.jsx
Due: eslint

Notes added by 'git notes add'
  36268f51f7deaae6838cf1181d63db0da14cacaf
Due: none

feat: add validation for updating agreement procurement shop with budget line items
  backend/ops_api/ops/services/agreements.py
  backend/ops_api/tests/ops/agreement/test_agreement.py
Due: nox-lint

chore: fix lint error
  backend/ops_api/ops/schemas/agreements.py
Due: nox-lint

Notes added by 'git notes add'
  85fd8c3aebdcd5dc6cd36297285450d628d3c777
Due: none

feat: finishing default sorting for can, agreements, and bli
  backend/ops_api/ops/resources/agreements.py
  backend/ops_api/ops/services/budget_line_items.py
  backend/ops_api/ops/services/cans.py
Due: nox-lint

feat: add delete functionality for PortfolioUrl
  backend/models/events.py
  backend/models/portfolios.py
  backend/openapi.yml
  backend/ops_api/ops/resources/portfolios_url.py
  backend/ops_api/ops/services/portfolio_url.py
  backend/ops_api/tests/ops/portfolio/test_portfolio_url.py
Due: nox-lint

refactor: streamline agreement retrieval and improve test for empty portfolio team leaders
  backend/ops_api/ops/resources/agreements.py
  backend/ops_api/ops/services/agreements.py
  backend/ops_api/tests/ops/agreement/test_agreement.py
Due: nox-lint

refactor: improve agreement deletion logic
  backend/ops_api/ops/resources/agreements.py
  backend/ops_api/ops/services/agreements.py
Due: nox-lint

chore: remove unused AuthorizationError import from agreements.py
  backend/ops_api/ops/resources/agreements.py
Due: nox-lint

test: fixing broken unit tests
  backend/ops_api/tests/ops/agreement/test_agreement.py
  backend/ops_api/tests/ops/budget_line_items/test_budget_line_item.py
Due: nox-lint

chore: remove comments in agreement creation
  backend/ops_api/ops/services/agreements.py
Due: nox-lint

test: fixing bli list e2e test and attempting to fix agreement delete test
  frontend/cypress/e2e/agreementDelete.cy.js
  frontend/cypress/e2e/budgetLineItemsList.cy.js
Due: eslint

test: fix canList test with sort changes
  frontend/cypress/e2e/canList.cy.js
Due: eslint

Notes added by 'git notes add'
  f7a197157b4d3f741c335abb548c83bcc3c7964a
Due: none

fix: update response mapping for miscellaneous agreements
  backend/ops_api/ops/resources/agreements.py
  backend/ops_api/ops/resources/agreements_constants.py
  frontend/cypress/e2e/agreementList.cy.js
Due: nox-lint, eslint

test: update agreement test data for consistency
  backend/ops_api/tests/ops/agreement/test_agreement.py
Due: nox-lint

test: add wait before visiting agreements page
  frontend/cypress/e2e/agreementDelete.cy.js
Due: eslint

Notes added by 'git notes add'
  39ee4ed332ce3fa3d47e9a09dfa5b11d09f10e32
Due: none

chore: adding dry_run option to project loading
  backend/data_tools/src/load_projects/utils.py
Due: nox-lint

Notes added by 'git notes add'
  7bf9fa28aa9aa3d64acfd60930cb196bce2e0869
Due: none

Notes added by 'git notes add'
  eb596ad1bc3b1598e20d18a0da00895bce017638
Due: none

feat: add overcome by events status to budgetlineItemstatus enum and update related logic
  backend/alembic/versions/2025_06_09_1826-35527bc8640d_update_bli_status.py
  backend/data_tools/data/agreements_and_blin_data.json5
  backend/models/budget_line_items.py
  backend/ops_api/ops/services/budget_line_items.py
  backend/ops_api/ops/utils/budget_line_items.py
  backend/ops_api/tests/ops/budget_line_items/test_budget_line_item.py
  backend/ops_api/tests/ops/budget_line_items/test_budget_line_item_status.py
  backend/ops_api/tests/ops/funding_summary/test_can_funding_summary.py
  backend/ops_api/tests/ops/funding_summary/test_portfolio_funding_summary.py
Due: nox-lint

chore: wip updating all marshmallow defaults to use load_default and dump_default
  backend/data_tools/src/load_cans/utils.py
  backend/data_tools/src/load_contracts/utils.py
  backend/data_tools/src/load_direct_obligation_budget_lines/utils.py
  backend/data_tools/src/load_grant_budget_lines/utils.py
  backend/data_tools/src/load_grants/utils.py
  backend/data_tools/src/load_iaa_agency/utils.py
  backend/data_tools/src/load_iaa_budget_lines/utils.py
  backend/data_tools/src/load_iaas/utils.py
  backend/data_tools/src/load_master_spreadsheet_budget_lines/utils.py
  backend/data_tools/src/load_procurement_shops/utils.py
  backend/data_tools/src/load_projects/utils.py
  backend/data_tools/src/load_remove_budget_lines/utils.py
  backend/data_tools/src/load_vendors/utils.py
  backend/models/base.py
  backend/models/marshmallow.py
  backend/ops_api/Pipfile
  backend/ops_api/Pipfile.lock
  backend/ops_api/ops/resources/administrative_and_support_projects.py
  backend/ops_api/ops/resources/notifications.py
  backend/ops_api/ops/schemas/agreements.py
  backend/ops_api/ops/schemas/budget_line_items.py
  backend/ops_api/ops/schemas/can_funding_summary.py
  backend/ops_api/ops/schemas/can_history.py
Due: nox-lint

test: poc on howw to trigger an approval process
  backend/models/agreements.py
  backend/ops_api/ops/schemas/agreements.py
  backend/ops_api/ops/services/agreements.py
  backend/ops_api/tests/ops/agreement/test_agreement.py
Due: nox-lint

feat: add properties to manage change requests in review for agreements
  backend/models/agreements.py
Due: nox-lint

feat: add 'in_review' property to AgreementData for tracking review status
  backend/ops_api/ops/schemas/agreements.py
Due: nox-lint

feat: add type hint for 'in_review' property in AgreementData
  backend/models/agreements.py
Due: nox-lint

feat: add 'change_requests_in_review' property to AgreementData
  backend/ops_api/ops/schemas/agreements.py
Due: nox-lint

feat: add psf fixture, add test for updating agreement procurement shop with planned BLI
  backend/ops_api/tests/ops/agreement/test_agreement.py
Due: nox-lint

feat: add change_requests service module
  backend/ops_api/ops/services/change_requests.py
Due: nox-lint

Path conditions:
  nox-lint: any of: \.py$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.css$, \.(html|htm|xhtml)$
