Repository HHS/OPRE-OPS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-lint, eslint

nox-lint:
  name: nox-lint
  entry: bash -c 'cd ./backend/ops_api && pipenv run nox -s lint'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd ./frontend/ && bun lint'
  language: system
  pass_filenames: false

fix: ops api url for funding sums
  backend/ops_api/tests/ops/funding_summary/test_can_funding_summary.py
  frontend/src/api/opsAPI.js
  frontend/src/pages/cans/list/CanList.jsx
Due: nox-lint, eslint

refactor: be logic
  backend/ops_api/ops/resources/can_funding_summary.py
Due: nox-lint

feat: apply fy to filter
  backend/ops_api/ops/resources/can_funding_summary.py
  backend/ops_api/ops/utils/cans.py
  backend/ops_api/tests/ops/funding_summary/test_can_funding_summary.py
  frontend/src/pages/cans/list/CanList.jsx
Due: nox-lint, eslint

feat: add fy as filter option, fix fe url (#3113)
  backend/ops_api/ops/resources/can_funding_summary.py
  backend/ops_api/ops/utils/cans.py
  backend/ops_api/tests/ops/funding_summary/test_can_funding_summary.py
  frontend/src/api/opsAPI.js
  frontend/src/pages/cans/list/CanList.jsx
Due: nox-lint, eslint

refactor: use LineBar component
  frontend/src/components/Agreements/AgreementDetailsCards/BLIsByFYSummaryCard/BLIsByFYSummaryCard.jsx
Due: eslint

refactor: use Budget Card
  frontend/src/components/CANs/CANFundingCard/CANFundingCard.jsx
  frontend/src/components/UI/DataViz/LineGraph/LineGraph.jsx
Due: eslint

refactor: rename view for consistency
  backend/ops_api/ops/resources/can_funding_summary.py
  backend/ops_api/ops/urls.py
  backend/ops_api/ops/views.py
Due: nox-lint

chore: add Marshmallow schema
  backend/ops_api/ops/resources/can_funding_summary.py
  backend/ops_api/ops/schemas/can_funding_summary.py
  frontend/src/components/CANs/CANTable/CANTableRow.jsx
  frontend/src/pages/cans/list/CanList.jsx
Due: nox-lint, eslint

chore: renaming, update can schema to basic
  backend/ops_api/ops/resources/can_funding_summary.py
  backend/ops_api/ops/schemas/can_funding_summary.py
  backend/ops_api/tests/ops/funding_summary/test_can_funding_summary.py
Due: nox-lint

feat: pass funding totals to summary card
  backend/ops_api/ops/schemas/can_funding_summary.py
  frontend/src/components/CANs/CANSummaryCards/CANSummaryCards.jsx
  frontend/src/pages/cans/list/CanList.jsx
Due: nox-lint, eslint

chore: calc total spending
  frontend/src/components/CANs/CANSummaryCards/CANSummaryCards.jsx
  frontend/src/pages/cans/list/CanList.jsx
Due: eslint

fix: correct id param and endpoint response usage
  frontend/src/api/getCanFundingSummary.js
  frontend/src/components/CANs/CANFundingCard/CANFundingCard.jsx
  frontend/src/pages/cans/detail/Can.hooks.js
Due: eslint

refactor: ♻️ use new components (#3114)
  frontend/src/components/Agreements/AgreementDetailsCards/BLIsByFYSummaryCard/BLIsByFYSummaryCard.jsx
  frontend/src/components/CANs/CANFundingCard/CANFundingCard.jsx
  frontend/src/components/UI/DataViz/LineGraph/LineGraph.jsx
Due: eslint

test: fixes tests
  frontend/src/components/Agreements/AgreementCANReviewAccordion/AgreementCANReviewAccordion.test.jsx
  frontend/src/components/CANs/CANFundingCard/CANFundingCard.jsx
Due: eslint

test: fix card tests by adding id
  frontend/cypress/e2e/reviewAgreement.cy.js
  frontend/src/components/CANs/CANFundingCard/CANFundingCard.jsx
  frontend/src/components/CANs/CANSummaryCards/CANSummaryCards.jsx
  frontend/src/components/UI/Cards/BudgetCard/BudgetCard.jsx
  frontend/src/components/UI/Cards/BudgetCard/BudgetCard.test.jsx
Due: eslint

chore: remove commented out code
  frontend/src/components/CANs/CANSummaryCards/CANSummaryCards.jsx
  frontend/src/pages/cans/list/CanList.jsx
Due: eslint

mob next [ci-skip] [ci skip] [skip ci]
  frontend/src/pages/cans/list/CanList.jsx
Due: eslint

mob next [ci-skip] [ci skip] [skip ci]
  backend/ops_api/tests/ops/funding_summary/test_can_funding_summary.py
  frontend/src/pages/cans/list/CanList.jsx
Due: nox-lint, eslint

mob next [ci-skip] [ci skip] [skip ci]
  backend/ops_api/ops/utils/cans.py
  backend/ops_api/tests/ops/funding_summary/test_can_funding_summary.py
Due: nox-lint

mob next [ci-skip] [ci skip] [skip ci]
  frontend/src/pages/cans/list/CanList.helpers.js
  frontend/src/pages/cans/list/CanList.jsx
Due: eslint

Notes added by 'git notes add'
  d6a4587182ca75d10907c430969ebc2eb16e6195
Due: none

test: fixes e2e tests
  frontend/cypress/e2e/canList.cy.js
Due: eslint

test: update BE unit tests and test data
  backend/data_tools/data/user_data.json5
  backend/ops_api/ops/auth/authentication_provider/fake_auth_provider.py
  backend/ops_api/tests/auth/test_login.py
  backend/ops_api/tests/auth/test_logout.py
  backend/ops_api/tests/auth/test_oidc_controller.py
  backend/ops_api/tests/auth/test_refresh.py
  backend/ops_api/tests/conftest.py
Due: nox-lint

test: edit FE e2e to allow system owner login
  frontend/cypress/e2e/agreementDelete.cy.js
  frontend/cypress/e2e/agreementDetails.cy.js
  frontend/cypress/e2e/agreementDetailsEdit.cy.js
  frontend/cypress/e2e/agreementList.cy.js
  frontend/cypress/e2e/auth.cy.js
  frontend/cypress/e2e/budgetChangeRequest.cy.js
  frontend/cypress/e2e/budgetLineItemsList.cy.js
  frontend/cypress/e2e/canDetail.cy.js
  frontend/cypress/e2e/components.cy.js
  frontend/cypress/e2e/createAgreement.cy.js
  frontend/cypress/e2e/createAgreementWithValidations.cy.js
  frontend/cypress/e2e/createBLIForAgreement.cy.js
  frontend/cypress/e2e/createResearchProject.cy.js
  frontend/cypress/e2e/editAgreement.cy.js
  frontend/cypress/e2e/loginPage.cy.js
  frontend/cypress/e2e/mainPage.cy.js
  frontend/cypress/e2e/notificationCenter.cy.js
  frontend/cypress/e2e/portfolioDetail.cy.js
  frontend/cypress/e2e/portfolioList.cy.js
  frontend/cypress/e2e/researchProjectDetail.cy.js
  frontend/cypress/e2e/reviewAgreement.cy.js
  frontend/cypress/e2e/reviewChangeRequestResponse.cy.js
  frontend/cypress/e2e/statusChangeRequest.cy.js
  frontend/cypress/e2e/uploadDocument.cy.js
  frontend/cypress/support/e2e.js
  frontend/src/components/Auth/MultiAuthSection.jsx
  frontend/src/components/Auth/MultiAuthSectionWithDebugging.jsx
  frontend/src/components/Auth/auth.test.js
Due: eslint

test: add system owner role to initial data set
  backend/data_tools/initial_data/003-role.sql
  backend/data_tools/initial_data/004-role_version.sql
Due: none

mob next [ci-skip] [ci skip] [skip ci]
  backend/ops_api/ops/utils/cans.py
  frontend/src/pages/cans/list/CanList.helpers.js
Due: nox-lint, eslint

refactor: change to is_system_owner
  backend/ops_api/ops/document/service.py
  backend/ops_api/tests/document/test_service.py
Due: nox-lint

test: remove unused function
  backend/ops_api/ops/utils/users.py
Due: nox-lint

feat: use labels instead of role names
  frontend/src/components/Users/UserInfo/UserInfo.jsx
  frontend/src/constants.js
Due: eslint

test: fix fe unit tests
  frontend/src/api/opsAuthAPI.test.js
  frontend/src/components/Users/UserInfo/UserInfo.jsx
  frontend/src/components/Users/UserInfo/UserInfo.test.js
  frontend/src/tests/data.js
Due: eslint

feat: adds expandable row
  frontend/src/components/CANs/CANFundingReceivedTable/CANFundingReceivedTable.jsx
  frontend/src/components/CANs/CANFundingReceivedTable/index.js
  frontend/src/pages/cans/detail/CanFunding.jsx
Due: eslint

chore: cleanup
  frontend/src/components/CANs/CANFundingReceivedTable/CANFundingReceivedTable.jsx
Due: eslint

feat: adds CAN Funding YTD table (#3097)
  frontend/cypress/e2e/canDetail.cy.js
  frontend/cypress/e2e/canList.cy.js
  frontend/cypress/e2e/reviewAgreement.cy.js
  frontend/src/components/Agreements/AgreementCANReviewAccordion/AgreementCANReviewAccordion.test.jsx
  frontend/src/components/Agreements/AgreementDetailsCards/BLIsByFYSummaryCard/BLIsByFYSummaryCard.jsx
  frontend/src/components/CANs/CANFundingCard/CANFundingCard.jsx
  frontend/src/components/CANs/CANFundingReceivedTable/CANFundingReceivedTable.jsx
  frontend/src/components/CANs/CANFundingReceivedTable/index.js
  frontend/src/components/CANs/CANSummaryCards/CANSummaryCards.jsx
  frontend/src/components/UI/Cards/BudgetCard/BudgetCard.test.jsx
  frontend/src/components/UI/Cards/BudgetCard/ReceivedFundingCard.jsx
  frontend/src/components/UI/DataViz/LineBar/LineBar.jsx
  frontend/src/components/UI/DataViz/LineBar/LineBar.styles.module.css
  frontend/src/components/UI/DataViz/LineGraph/LineGraph.jsx
  frontend/src/components/UI/DataViz/LineGraph/ReverseLineGraph.jsx
  frontend/src/pages/cans/detail/Can.hooks.js
  frontend/src/pages/cans/detail/Can.jsx
  frontend/src/pages/cans/detail/CanFunding.jsx
Due: eslint

Notes added by 'git notes add'
  7ca233436aa907f6c33f330747cc788ed2932497
Due: none

feat: add funding method, received, and type to cans model
  backend/models/cans.py
Due: nox-lint

refactor: changerequests are now filtered in the backend using the user's id
  backend/ops_api/ops/resources/change_requests.py
  frontend/src/api/opsAPI.js
  frontend/src/components/BudgetLineItems/BLIDiffTable/BLIDiffRow.jsx
  frontend/src/components/BudgetLineItems/BLIDiffTable/BLIDiffRow.test.jsx
  frontend/src/components/ChangeRequests/ChangeRequestsList/ChangeRequestList.test.jsx
  frontend/src/components/ChangeRequests/ChangeRequestsList/ChangeRequestsList.jsx
  frontend/src/hooks/useChangeRequests.hooks.js
  frontend/src/pages/cans/list/CanList.helpers.js
  frontend/src/pages/cans/list/CanList.helpers.test.js
  frontend/src/tests/data.js
Due: nox-lint, eslint

feat: api integration is updating CAN List cards
  backend/ops_api/ops/utils/cans.py
  backend/ops_api/tests/ops/funding_summary/test_can_funding_summary.py
  frontend/src/pages/cans/list/CanList.helpers.js
  frontend/src/pages/cans/list/CanList.jsx
Due: nox-lint, eslint

Path conditions:
  nox-lint: any of: \.py$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.css$, \.(html|htm|xhtml)$
