Repository HHS/OPRE-OPS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-lint, eslint, prettier

nox-lint:
  name: nox-lint
  entry: bash -c 'cd ./backend/ops_api && pipenv run nox -s lint'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd ./frontend/ && bun lint'
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: bash -c 'cd ./frontend/ && bunx prettier --check --ignore-unknown'
  language: system
  pass_filenames: true

style: decrease font weight
  frontend/src/components/GrantNumbers/GrantNumberListItem/GrantNumberListItem.jsx
  frontend/src/components/ServicesComponents/ServicesComponentListItem/ServicesComponentListItem.jsx
Due: eslint, prettier

refactor: drop redundant array spread before sort in RoadmapStatusCard
  frontend/src/pages/home/ops-at-a-glance/RoadmapStatusCard.jsx
Due: eslint, prettier

fix: disable Procurement Shop dropdown when the backend would reject the change (#6339)
  .claude/stories/6312-procurement-shop-lock-parity.md
  backend/openapi.yml
  backend/ops_api/ops/resources/agreements.py
  backend/ops_api/ops/schemas/agreements.py
  backend/ops_api/ops/services/agreements.py
  backend/ops_api/ops/utils/agreements_helpers.py
  backend/ops_api/ops/validation/rules/agreement.py
  backend/ops_api/tests/ops/agreement/test_agreement.py
  backend/ops_api/tests/ops/agreement/test_agreement_change_requests.py
  backend/ops_api/tests/ops/agreement/test_procurement_shop_lock.py
  backend/ops_api/tests/ops/agreement/test_skip_cr_proc_shop.py
  frontend/cypress/e2e/agreementDetailsEdit.cy.js
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.helpers.js
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.helpers.test.js
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.hooks.js
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.hooks.test.js
  frontend/src/components/Agreements/AgreementEditor/AgreementEditFormSuite.js
  frontend/src/components/Agreements/AgreementEditor/AgreementEditFormSuite.test.js
  frontend/src/types/AgreementTypes.d.ts
Due: nox-lint, eslint, prettier

Notes added by 'git notes add'
  86e82d59a9a50b19a4954bc47af7be25db7db4b1
Due: none

fix: never auto-approve AWARD step on an already-completed linked tracker
  backend/data_tools/tests/backfill_procurement_tracker/test_procurement_workflow.py
  backend/models/procurement_workflow.py
Due: nox-lint

fix: never clobber an in-progress tracker's real step history on reimport
  backend/data_tools/tests/backfill_procurement_tracker/test_procurement_workflow.py
  backend/models/procurement_workflow.py
Due: nox-lint

fix: never fall back to a guessed award date, leave it unset instead
  backend/data_tools/src/backfill_procurement_tracker.py
  backend/data_tools/src/load_master_spreadsheet_budget_lines_v2/utils.py
  backend/data_tools/tests/backfill_procurement_tracker/test_backfill_procurement_tracker.py
Due: nox-lint

feat: make award tracker backfill eligible types match the loader (add IAA)
  backend/data_tools/src/backfill_procurement_tracker.py
  backend/data_tools/tests/backfill_procurement_tracker/test_backfill_procurement_tracker.py
Due: nox-lint

fix: find missing-award-tracker agreements by NEW_AWARD tracker only
  backend/data_tools/src/backfill_procurement_tracker.py
  backend/data_tools/tests/backfill_procurement_tracker/test_backfill_procurement_tracker.py
Due: nox-lint

fix: split unobligated BLI to modification when order flips award
  backend/data_tools/tests/backfill_procurement_tracker/test_procurement_workflow.py
  backend/data_tools/tests/load_master_spreadsheet_budget_lines_v2/test_load_master_spreadsheet_budget_lines_items_v2.py
  backend/models/procurement_workflow.py
Due: nox-lint

fix: count agreements touched by promotion, not just create/link
  backend/data_tools/src/backfill_procurement_tracker.py
  backend/data_tools/tests/backfill_procurement_tracker/test_backfill_procurement_tracker.py
Due: nox-lint

refactor: move welcome-message cache to shared helper, invalidate on logout
  frontend/src/components/Auth/authSlice.js
  frontend/src/components/Auth/authSlice.test.js
  frontend/src/helpers/featureFlags.test.js
  frontend/src/helpers/visitSessionCache.helpers.js
  frontend/src/helpers/visitSessionCache.helpers.test.js
  frontend/src/pages/home/HomeIndex.test.jsx
  frontend/src/pages/home/release-notes/ReleaseNotesCards.jsx
  frontend/src/pages/home/release-notes/ReleaseNotesCards.test.jsx
  frontend/src/pages/home/useWelcomeMessage.js
  frontend/src/pages/home/useWelcomeMessage.test.js
Due: eslint, prettier

Notes added by 'git notes add'
  0ce2e060d573cc1ebefcbff796b06a8648782c17
Due: none

fix: scroll to top before navigating on tab switch to avoid snap
  frontend/src/components/UI/Tabs/Tabs.jsx
  frontend/src/components/UI/Tabs/Tabs.test.jsx
Due: eslint, prettier

fix: default latest release accordion to closed like older releases
  frontend/src/pages/home/release-notes/ReleaseNotesList.jsx
  frontend/src/pages/home/release-notes/ReleaseNotesList.test.jsx
  frontend/src/pages/home/whats-new/WhatsNewContent.test.jsx
Due: eslint, prettier

refactor: share Home route paths between router and nav highlighting
  frontend/src/components/UI/Header/NavMenu.jsx
  frontend/src/index.jsx
  frontend/src/pages/home/HomeLanding.jsx
  frontend/src/pages/home/homeRoutes.js
Due: eslint, prettier

fix: revert latest release accordion to open-by-default per Figma
  frontend/src/pages/home/release-notes/ReleaseNotesList.jsx
  frontend/src/pages/home/release-notes/ReleaseNotesList.test.jsx
  frontend/src/pages/home/whats-new/WhatsNewContent.test.jsx
Due: eslint, prettier

feat: add OPS at a Glance roadmap status board (mocked data)
  .claude/stories/6330-ops-at-a-glance-tab.md
  frontend/src/pages/home/ops-at-a-glance/OpsAtAGlanceContent.jsx
  frontend/src/pages/home/ops-at-a-glance/OpsAtAGlanceContent.test.jsx
  frontend/src/pages/home/ops-at-a-glance/RoadmapStatusCard.jsx
  frontend/src/pages/home/ops-at-a-glance/RoadmapStatusCard.test.jsx
  frontend/src/pages/home/ops-at-a-glance/constants.js
  frontend/src/pages/home/ops-at-a-glance/data.js
Due: eslint, prettier

feat: unify homepage roadmap data and document OPS-6331 data-wiring plan
  .claude/stories/6331-homepage-data-wiring.md
  frontend/src/pages/home/CurrentlyDevelopingCard.jsx
  frontend/src/pages/home/CurrentlyDevelopingCard.test.jsx
  frontend/src/pages/home/homepageData.js
  frontend/src/pages/home/ops-at-a-glance/RoadmapStatusCard.jsx
  frontend/src/pages/home/ops-at-a-glance/RoadmapStatusCard.test.jsx
  frontend/src/pages/home/ops-at-a-glance/constants.js
  frontend/src/pages/home/ops-at-a-glance/data.js
  frontend/src/pages/home/roadmapData.json
  frontend/src/pages/home/roadmapStatus.constants.js
Due: eslint, prettier

feat: remove homepage redesign flag and delete the legacy homepage
  frontend/cypress/e2e/mainPage.cy.js
  frontend/src/helpers/featureFlags.js
  frontend/src/helpers/featureFlags.test.js
  frontend/src/images/gold-diagnal.png
  frontend/src/index.jsx
  frontend/src/pages/home/BenefitsGrid.jsx
  frontend/src/pages/home/BenefitsGrid.test.jsx
  frontend/src/pages/home/Home.jsx
  frontend/src/pages/home/Home.test.jsx
  frontend/src/pages/home/release-notes/ReleaseNotes.jsx
  frontend/src/pages/home/release-notes/ReleaseNotes.test.jsx
  frontend/src/pages/home/release-notes/index.js
  frontend/src/pages/home/whats-next/WhatsNext.jsx
  frontend/src/pages/home/whats-next/WhatsNext.test.jsx
  frontend/src/pages/home/whats-next/WhatsNextTable.jsx
  frontend/src/pages/home/whats-next/WhatsNextTable.test.jsx
  frontend/src/pages/home/whats-next/WhatsNextTableRow.jsx
  frontend/src/pages/home/whats-next/WhatsNextTableRow.test.jsx
  frontend/src/pages/home/whats-next/constants.js
  frontend/src/pages/home/whats-next/data.js
  frontend/src/pages/home/whats-next/index.js
Due: eslint, prettier

fix: batch budget-line-item fetches to prevent portfolio spending 500s
  backend/openapi.yml
  backend/ops_api/ops/resources/budget_line_items.py
  backend/ops_api/ops/schemas/budget_line_items.py
  backend/ops_api/ops/services/budget_line_items.py
  backend/ops_api/ops/urls.py
  backend/ops_api/ops/views.py
  backend/ops_api/tests/ops/budget_line_items/test_budget_line_items_batch.py
  frontend/src/api/opsAPI.js
  frontend/src/components/Portfolios/PortfolioSpending/PortfolioSpending.jsx
  frontend/src/components/Portfolios/PortfolioSpending/PortfolioSpending.test.jsx
  frontend/src/helpers/utils.js
Due: nox-lint, eslint, prettier

docs: share visual-check skill with team
  .claude/skills/visual-check/SKILL.md
Due: none

fix: address visual-check skill review feedback
  .claude/skills/visual-check/SKILL.md
Due: none

feat: add project-scoped Playwright and Figma MCP servers
  .mcp.json
Due: none

fix: address Copilot review feedback on visual-check skill
  .claude/skills/visual-check/SKILL.md
Due: none

fix: pin Playwright MCP server version instead of @latest
  .mcp.json
Due: none

fix: keep Playwright MCP output outside repo per review
  .gitignore
  .mcp.json
Due: none

fix: deny Figma MCP write tools, allow only read-only design tools
  .claude/settings.json
Due: none

fix: align visual-check skill with Playwright MCP output-dir config
  .claude/skills/visual-check/SKILL.md
Due: none

fix: use text-ink on Currently Developing tag to meet contrast ratio
  frontend/src/pages/home/ops-at-a-glance/RoadmapStatusCard.jsx
Due: eslint, prettier

fix: escape apostrophe in Cypress data-cy selector for What's New tab
  frontend/cypress/e2e/mainPage.cy.js
Due: eslint, prettier

fix: cancel stale Tabs scroll-navigation listeners on new click/unmount
  frontend/src/components/UI/Tabs/Tabs.jsx
  frontend/src/components/UI/Tabs/Tabs.test.jsx
Due: eslint, prettier

refactor: extract shared getRoadmapItemsByStatus helper
  frontend/src/pages/home/CurrentlyDevelopingCard.jsx
  frontend/src/pages/home/ops-at-a-glance/RoadmapStatusCard.jsx
  frontend/src/pages/home/roadmapData.helpers.js
  frontend/src/pages/home/roadmapData.helpers.test.js
Due: eslint, prettier

fix: derive What's New tab path from HOME_RELATIVE_PATHS constant
  frontend/src/pages/home/HomeLanding.jsx
Due: eslint, prettier

chore: remove dead ReleaseNotesCards wrapper and RightCard
  frontend/src/pages/home/release-notes/ReleaseNotesCards.jsx
  frontend/src/pages/home/release-notes/ReleaseNotesCards.test.jsx
Due: eslint, prettier

docs: trim derivable content from CLAUDE.md files
  CLAUDE.md
  backend/data_tools/CLAUDE.md
  backend/ops_api/CLAUDE.md
  frontend/CLAUDE.md
Due: prettier

fix: remove Planned Mod status from budget line displays and award copy
  frontend/cypress/e2e/agreementDetailsEdit.cy.js
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.hooks.test.js
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.helpers.js
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.hooks.test.js
  frontend/src/components/UI/TableTag/TableTag.jsx
  frontend/src/components/UI/TableTag/TableTag.test.jsx
  frontend/src/components/UI/Tag/StatusTagList.jsx
  frontend/src/components/UI/Tag/StatusTagList.test.jsx
  frontend/src/helpers/budgetLines.helpers.js
  frontend/src/helpers/utils.js
  frontend/src/hooks/use-sortable-data.hooks.js
  frontend/src/pages/agreements/award-approval/ApproveAwardApproval.hooks.js
  frontend/src/pages/agreements/award-approval/ApproveAwardApproval.jsx
  frontend/src/pages/agreements/pre-award-approval/RequestPreAwardApproval.hooks.js
  frontend/src/pages/agreements/pre-award-approval/constants.js
  frontend/src/pages/procurementDashboard/details/ProcurementDetailsTableRow.jsx
Due: eslint, prettier

fix: tighten tracker-untouched check and add order-flip promotion opt-out
  backend/data_tools/src/backfill_procurement_tracker.py
  backend/data_tools/tests/backfill_procurement_tracker/test_procurement_workflow.py
  backend/models/procurement_workflow.py
Due: nox-lint

fix: remove PLANNED_MOD budget line status and migrate existing rows to PLANNED
  backend/alembic/versions/2026_10_07_1200-3f9c2b7d1e4a_remove_planned_mod_bli_status.py
  backend/models/budget_line_items.py
  backend/openapi.yml
  backend/ops_api/ops/services/agreements.py
  backend/ops_api/ops/services/budget_line_items.py
  backend/ops_api/ops/utils/agreements_helpers.py
  backend/ops_api/ops/utils/budget_line_items_helpers.py
  backend/ops_api/ops/utils/cans.py
  backend/ops_api/ops/utils/portfolios.py
  backend/ops_api/ops/utils/reporting_summary.py
  backend/ops_api/tests/ops/agreement/test_agreement.py
  backend/ops_api/tests/ops/agreement/test_procurement_shop_lock.py
  backend/ops_api/tests/ops/budget_line_items/test_budget_line_item_status.py
  backend/ops_api/tests/ops/services/test_agreements.py
  backend/ops_api/tests/ops/test_planned_mod_status.py
Due: nox-lint

Path conditions:
  nox-lint: any of: \.py$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.css$, \.(html|htm|xhtml)$
  prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|scss|html|md)$
