Repository HHS/OPRE-OPS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-lint, eslint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: detect-aws-credentials
        args: [--allow-missing-credentials]
      - id: detect-private-key
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: '^frontend/src/uswds/.*\.svg$'
      - id: check-json
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
  - repo: https://github.com/hadolint/hadolint
    rev: v2.10.0
    hooks:
      - id: hadolint
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.10.1
    hooks:
      - id: isort
        args: ["--profile", "black", "--filter-files"]
  - repo: local
    hooks:
      - id: nox-lint
        name: nox-lint
        entry: bash -c 'cd ./backend/ops_api && pipenv run nox -s lint'
        language: system
        types:
          - python
        pass_filenames: false
      - id: eslint
        name: eslint
        entry: bash -c 'cd ./frontend/ && bun lint'
        language: system
        types_or:
          - javascript
          - jsx
          - css
          - html
        pass_filenames: false
      - id: trufflehog
        name: TruffleHog
        description: Detect secrets in your data.
        entry: bash -c 'if command -v podman >/dev/null 2>&1; then podman run --rm -v "$(pwd):/workdir" -i trufflesecurity/trufflehog:latest git file:///workdir --since-commit HEAD --only-verified --fail; elif command -v docker >/dev/null 2>&1; then docker run --rm -v "$(pwd):/workdir" -i trufflesecurity/trufflehog:latest git file:///workdir --since-commit HEAD --only-verified --fail; else echo "Neither docker nor podman found. Please install one of them." && exit 1; fi'
        language: system
        stages: ["pre-commit", "pre-push"]
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.18.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional"]
        language_version: 22.8.0

Notes added by 'git notes add'
  5f6a0d7a27520bbc73329ea6abab7e931040cded
Due: none

feat: ✨su edit iaa bli amounts (#4303)
  frontend/cypress/e2e/editBudgetLineByPowerUser.cy.js
Due: eslint

Notes added by 'git notes add'
  9a90ba572b10b64b5b8a176491ef76ee514a95f0
Due: none

fix: remove duplicate POST_RESEARCH_PROJECT permissions
  backend/data_tools/data/user_data.json5
Due: none

feat: ✨su edit direct obligation bli amounts (#4310)
  frontend/cypress/e2e/editBudgetLineByPowerUser.cy.js
Due: eslint

Notes added by 'git notes add'
  6375739920a9bf9604b78b63421e48ac02894218
Due: none

test: add tests for power user CAN changes on contract BLI
  backend/ops_api/tests/ops/budget_line_items/test_budget_line_item_power_user.py
Due: nox-lint

feat: ✨ add tests for editing GRANT, DIRECT OBLIGATION, and IAA agreement budget lines CAN
  frontend/cypress/e2e/editBudgetLineByPowerUser.cy.js
Due: eslint

Notes added by 'git notes add'
  4edb08c4c20be4b737ab11ff1bf9be8a6e5ce9b4
Due: none

Notes added by 'git notes add'
  06e7c6d4dced39616f0f39874bd75ffb9575bed6
Due: none

Notes added by 'git notes add'
  70469f70e3b245c6757cfc2be7d64b5109406272
Due: none

feat(importing): modernization of direct obligation importing to remove maps id
  backend/data_tools/src/load_direct_obligations/utils.py
Due: nox-lint

chore: updating latest date
  frontend/src/constants.js
Due: eslint

feat: add login error handling and display alert on sign-in failure
  frontend/src/api/opsAuthAPI.js
  frontend/src/components/Auth/authSlice.js
  frontend/src/pages/Login.jsx
Due: eslint

fix: reset modal visibility on login error
  frontend/src/components/Auth/MultiAuthSection.jsx
Due: eslint

refactor: remove redundant deletion of agreement objects in budget line item tests
  backend/ops_api/tests/ops/budget_line_items/test_budget_line_item_power_user.py
Due: nox-lint

refactor: enhance CONTRACT_NAME validation to trim whitespace
  backend/data_tools/src/load_ops_contracts/utils.py
Due: nox-lint

Notes added by 'git notes add'
  58d5689e87a2db830bffbc298fac8eaf3b83b5dd
Due: none

chore: set TEMPORARY_YEAR_END as super user role in prod config (#4324)
  backend/ops_api/ops/environment/azure/prod.py
Due: nox-lint

feat: ✨blocks su from editing in_review blis (#4313)
  frontend/cypress/e2e/editBudgetLineByPowerUser.cy.js
  frontend/cypress/e2e/utils.js
  frontend/src/components/BudgetLineItems/BudgetLinesTable/BLIRow.jsx
  frontend/src/components/BudgetLineItems/BudgetLinesTable/BLIRow.test.jsx
Due: eslint

Notes added by 'git notes add'
  d1498c68c03f7b62dd4deb1ad2c22cca90892914
Due: none

fix: update super user configuration in prod
  backend/ops_api/ops/environment/azure/prod.py
Due: nox-lint

feat: added script to convert old agreement history to new version
  backend/data_tools/src/update_agreement_history/__init__.py
  backend/data_tools/src/update_agreement_history/update_agreement_history.py
  backend/models/agreement_history.py
  frontend/src/components/Agreements/AgreementDetails/AgreementHistoryPanel.jsx
Due: nox-lint, eslint

fix: update super user configuration in prod (#4353)
  backend/ops_api/ops/environment/azure/prod.py
Due: nox-lint

Notes added by 'git notes add'
  af22c0746f38dabe3775222f8d0114fa4ead4b28
Due: none

feat: implement login error handling with detailed response types
  backend/ops_api/ops/auth/auth_types.py
  backend/ops_api/ops/error_handlers.py
  backend/ops_api/tests/auth/test_oidc_controller.py
Due: nox-lint

test: add tests for user and power user CAN changes in contract BLI
  backend/ops_api/tests/ops/budget_line_items/test_budget_line_item.py
  backend/ops_api/tests/ops/budget_line_items/test_budget_line_item_power_user.py
Due: nox-lint

test: merge BLI amount and CAN test
  frontend/cypress/e2e/editBudgetLineByPowerUser.cy.js
Due: eslint

feat: add is_superuser property to user and role models
  backend/models/users.py
  backend/ops_api/ops/resources/users.py
  backend/ops_api/ops/schemas/users.py
Due: nox-lint

chore: fixing an incorrect import
  backend/data_tools/src/update_agreement_history/update_agreement_history.py
Due: nox-lint

test: starts adding tests
  frontend/cypress/e2e/editBudgetLineByPowerUser.cy.js
  frontend/src/components/BudgetLineItems/BudgetLinesForm/BudgetLinesForm.jsx
Due: eslint

feat: allows power user to edit obligate by date and add e2e tests
  frontend/cypress/e2e/editBudgetLineByPowerUser.cy.js
  frontend/src/components/BudgetLineItems/BudgetLinesForm/BudgetLinesForm.jsx
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.hooks.js
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.jsx
Due: eslint

test: implemented test cans fixture
  backend/ops_api/tests/ops/budget_line_items/test_budget_line_item.py
  backend/ops_api/tests/ops/budget_line_items/test_budget_line_item_power_user.py
Due: nox-lint

fix: fix double error bug
  frontend/src/components/Agreements/AgreementCANReviewAccordion/AgreementCANReviewAccordion.jsx
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.jsx
  frontend/src/components/Agreements/AgreementReasonSelect.jsx
  frontend/src/components/Agreements/AgreementTypeSelect.jsx
  frontend/src/components/Agreements/ProcurementShopSelect/ProcurementShopSelect.jsx
  frontend/src/components/Agreements/ProjectOfficerComboBox.jsx
  frontend/src/components/Agreements/TeamMemberComboBox.jsx
  frontend/src/components/CANs/CANFundingCard/CANFundingCard.jsx
  frontend/src/components/CANs/CanComboBox/CanComboBox.jsx
  frontend/src/components/ChangeRequests/ChangeRequestsList/ChangeRequestsList.jsx
  frontend/src/components/Portfolios/PortfoliosComboBox/PortfoliosComboBox.jsx
  frontend/src/components/Users/UserEmailComboBox/UserEmailComboBox.jsx
  frontend/src/components/Users/UserInfo/UserInfo.jsx
  frontend/src/pages/agreements/EditAgreement.jsx
  frontend/src/pages/agreements/StepSelectProject.jsx
  frontend/src/pages/agreements/approve/ApproveAgreement.jsx
  frontend/src/pages/agreements/details/Agreement.jsx
  frontend/src/pages/agreements/list/AgreementsList.jsx
  frontend/src/pages/agreements/review/ReviewAgreement.jsx
  frontend/src/pages/cans/list/CanList.jsx
  frontend/src/pages/portfolios/list/PortfolioList.jsx
  frontend/src/pages/users/edit/EditUser.jsx
Due: eslint

fix: fixed missing imports
  backend/ops_api/tests/ops/budget_line_items/test_budget_line_item_power_user.py
Due: nox-lint

fix: fixing a mismatch that in opseventtypes that merge would not have seen
  backend/alembic/versions/2025_09_04_0324-8768c59ac795_adding_ops_event_for_roles.py
Due: nox-lint

feat: add super user configuration to staging environment
  backend/ops_api/ops/environment/azure/stg.py
Due: nox-lint

Notes added by 'git notes add'
  61fd224f71d249847077a2076cc83068991daa46
Due: none

chore: removes double entry
  frontend/cypress/e2e/editBudgetLineByPowerUser.cy.js
Due: eslint

fix: add redirect message on error for multiple components
  frontend/src/components/Agreements/AgreementCANReviewAccordion/AgreementCANReviewAccordion.jsx
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.jsx
  frontend/src/components/Agreements/AgreementReasonSelect.jsx
  frontend/src/components/Agreements/AgreementTypeSelect.jsx
  frontend/src/components/Agreements/ProcurementShopSelect/ProcurementShopSelect.jsx
  frontend/src/components/Agreements/ProjectOfficerComboBox.jsx
  frontend/src/components/Agreements/TeamMemberComboBox.jsx
  frontend/src/components/CANs/CANFundingCard/CANFundingCard.jsx
  frontend/src/components/CANs/CanComboBox/CanComboBox.jsx
  frontend/src/components/ChangeRequests/ChangeRequestsList/ChangeRequestsList.jsx
  frontend/src/components/Portfolios/PortfoliosComboBox/PortfoliosComboBox.jsx
  frontend/src/components/Users/UserEmailComboBox/UserEmailComboBox.jsx
  frontend/src/components/Users/UserInfo/UserInfo.jsx
  frontend/src/pages/agreements/EditAgreement.jsx
  frontend/src/pages/agreements/StepSelectProject.jsx
  frontend/src/pages/agreements/approve/ApproveAgreement.jsx
  frontend/src/pages/agreements/details/Agreement.jsx
  frontend/src/pages/agreements/list/AgreementsList.jsx
  frontend/src/pages/agreements/review/ReviewAgreement.jsx
  frontend/src/pages/cans/list/CanList.jsx
  frontend/src/pages/portfolios/list/PortfolioList.jsx
  frontend/src/pages/users/edit/EditUser.jsx
Due: eslint
