Repository HHS/OPRE-OPS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-lint, eslint

nox-lint:
  name: nox-lint
  entry: bash -c 'cd ./backend/ops_api && pipenv run nox -s lint'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd ./frontend/ && bun lint'
  language: system
  pass_filenames: false

test: comment out slow budget line items test due to performance issues
  frontend/cypress/e2e/budgetLineItemsList.cy.js
Due: eslint

feat: adds Agreement link and conditionally renders Portfolio url
  frontend/src/components/CANs/CANBudgetLineTable/CANBudgetLineTableRow.jsx
  frontend/src/components/UI/HeroDescription/HeroDescription.jsx
Due: eslint

test: fix unit test failure
  frontend/src/components/CANs/CANBudgetLineTable/CANBudgetLineTable.test.jsx
  frontend/src/components/CANs/CANBudgetLineTable/CANBudgetLineTableRow.test.jsx
Due: eslint

fix: disable test for external link until endpoint is ready
  frontend/cypress/e2e/portfolioDetail.cy.js
Due: eslint

fix(portfolio_cans): allow budget line items without date_needed to be included in filtering
  backend/ops_api/ops/resources/portfolio_cans.py
Due: nox-lint

fix(agreements): update amounts and statuses for agreement entries in JSON data
  backend/data_tools/data/agreements_and_blin_data.json5
Due: none

test(portfolio_cans): add test for budget line items with null date_needed
  backend/ops_api/tests/ops/can/test_portfolio_cans.py
Due: nox-lint

test: undo bli data edits, create new blis for fix
  backend/data_tools/data/agreements_and_blin_data.json5
Due: none

test: add new can for testing no date_needed blis
  backend/data_tools/data/can_data.json5
Due: none

test(portfolio_cans): update test for bli with null date_needed to use newly created data
  backend/ops_api/tests/ops/can/test_portfolio_cans.py
Due: nox-lint

test: fix agreement block for new data
  backend/data_tools/data/agreements_and_blin_data.json5
Due: none

test: fix BE bli pagination and total amt unittests
  backend/ops_api/tests/ops/can/test_budget_line_item.py
Due: nox-lint

test: fix BE can unittests
  backend/ops_api/tests/ops/can/test_can.py
Due: nox-lint

test: fix BE can funding sum unittests
  backend/ops_api/tests/ops/funding_summary/test_can_funding_summary.py
Due: nox-lint

test: fix bli unittests
  backend/ops_api/tests/ops/can/test_budget_line_item.py
Due: nox-lint

test: update budget line item totals in e2e tests
  frontend/cypress/e2e/budgetLineItemsList.cy.js
Due: eslint

test: remove only from budget lines filter test
  frontend/cypress/e2e/budgetLineItemsList.cy.js
Due: eslint

feat: allow portfolio CAN filter to include BLIs with no date needed (#3746)
  backend/data_tools/data/agreements_and_blin_data.json5
  backend/data_tools/data/can_data.json5
  backend/ops_api/ops/resources/portfolio_cans.py
  backend/ops_api/tests/ops/can/test_budget_line_item.py
  backend/ops_api/tests/ops/can/test_can.py
  backend/ops_api/tests/ops/can/test_portfolio_cans.py
  backend/ops_api/tests/ops/funding_summary/test_can_funding_summary.py
  frontend/cypress/e2e/budgetLineItemsList.cy.js
Due: nox-lint, eslint

Notes added by 'git notes add'
  3a9eb29e0b8bc30c788328a271ed6991f4b825ca
Due: none

Notes added by 'git notes add'
  47e661ec4dae0ded01325758d1d86b650b3f371b
Due: none

feat: add ipython and related dependencies to Pipfile and Pipfile.lock
  backend/data_tools/Pipfile
  backend/data_tools/Pipfile.lock
Due: none

feat: add team members functionality with data loading and validation
  backend/data_tools/src/load_data.py
  backend/data_tools/src/load_team_members/__init__.py
  backend/data_tools/src/load_team_members/utils.py
  backend/data_tools/test_csv/team_members.tsv
  backend/data_tools/tests/load_team_members/__init__.py
  backend/data_tools/tests/load_team_members/test_load_team_members.py
Due: nox-lint

fix: update test cases to use correct user IDs and email retrieval logic
  backend/data_tools/tests/load_team_members/test_load_team_members.py
  backend/data_tools/tests/load_users/test_load_users.py
Due: nox-lint

fix: update BudgetLine type to make agreement optional and improve conditional rendering
  frontend/src/components/BudgetLineItems/BudgetLineTypes.d.ts
  frontend/src/components/CANs/CANBudgetLineTable/CANBudgetLineTable.jsx
  frontend/src/components/CANs/CANBudgetLineTable/CANBudgetLineTableRow.jsx
  frontend/src/components/UI/Table/Table.jsx
Due: eslint

Notes added by 'git notes add'
  d1d5a0d742c8d60797cdc1ba51b6fe85cf8b0fd9
Due: none

feat: add functionality to remove budget line items with associated tests
  backend/data_tools/src/load_data.py
  backend/data_tools/src/load_remove_budget_lines/__init__.py
  backend/data_tools/src/load_remove_budget_lines/utils.py
  backend/data_tools/test_csv/budget_line_items_to_delete.tsv
  backend/data_tools/tests/load_remove_budget_lines/test_load_remove_budget_lines.py
Due: nox-lint

fix: improve logging for agreements with no budget line items
  backend/data_tools/src/load_remove_budget_lines/utils.py
Due: nox-lint

Notes added by 'git notes add'
  3b1dbf57bd915330518cca90f085a7c16c268966
Due: none

Notes added by 'git notes add'
  e522a67b4e1138e99d2e447ce776ea5b98d9449e
Due: none

chore: fixing format to call load_data.sh script with specific python image
  backend/data_tools/scripts/azure/EventGridBlobIngestTrigger/run.ps1
Due: none

feat: update budget line items and enhance agreement handling in helpers
  backend/data_tools/data/agreements_and_blin_data.json5
  backend/ops_api/ops/resources/budget_line_items.py
  backend/ops_api/tests/ops/can/test_budget_line_item.py
  backend/ops_api/tests/ops/can/test_portfolio_cans.py
  backend/ops_api/tests/ops/funding_summary/test_can_funding_summary.py
  frontend/src/components/Portfolios/PortfolioSpending/PortfolioSpending.helpers.js
  frontend/src/components/Portfolios/PortfolioSpending/PortfolioSpending.helpers.test.js
  frontend/src/components/Portfolios/PortfolioSpending/PortfolioSpending.jsx
  frontend/src/helpers/budgetLines.helpers.js
  frontend/src/helpers/budgetLines.helpers.test.js
  frontend/src/pages/cans/detail/Can.hooks.js
Due: nox-lint, eslint

fix: update budget line item totals and skip budget line filtering test
  frontend/cypress/e2e/budgetLineItemsList.cy.js
  frontend/cypress/e2e/portfolioDetail.cy.js
Due: eslint

Notes added by 'git notes add'
  d82799e43183b427d5a0e3ef5ff27a7d7b5dd862
Due: none

Notes added by 'git notes add'
  fd6241f7e25bb77336fcd1407358de15e89971cf
Due: none

feat: enhance budget line item editability and filter by fiscal year in PortfolioSpending
  backend/ops_api/ops/resources/budget_line_items.py
  frontend/src/components/Portfolios/PortfolioSpending/PortfolioSpending.jsx
Due: nox-lint, eslint

feat: add link to agreement details in budget line items and improve date formatting
  frontend/src/components/BudgetLineItems/AllBudgetLinesTable/AllBLIRow.jsx
  frontend/src/components/BudgetLineItems/AllBudgetLinesTable/AllBLIRow.test.jsx
  frontend/src/components/CANs/CANBudgetLineTable/CANBudgetLineTable.jsx
  frontend/src/helpers/utils.js
Due: eslint

refactor: remove unused mocks in AllBLIRow test file
  frontend/src/components/BudgetLineItems/AllBudgetLinesTable/AllBLIRow.test.jsx
Due: eslint

fix: ensure agreement exists before checking user association in check_user_association function
  backend/ops_api/ops/services/agreements.py
Due: nox-lint

fix: fixed lint error
  backend/ops_api/ops/resources/budget_line_items.py
  backend/ops_api/ops/services/agreements.py
Due: nox-lint

fix: correct environment variable reference for development years in constants
  frontend/src/constants.js
Due: eslint

Path conditions:
  nox-lint: any of: \.py$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.css$, \.(html|htm|xhtml)$
