Repository HHS/OPRE-OPS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-lint, eslint, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: detect-aws-credentials
        args: [--allow-missing-credentials]
      - id: detect-private-key
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: '^frontend/src/uswds/.*(\.svg|\.map)$'
      - id: check-json
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
  - repo: https://github.com/hadolint/hadolint
    rev: v2.14.0
    hooks:
      - id: hadolint
  - repo: https://github.com/pycqa/isort
    rev: 7.0.0
    hooks:
      - id: isort
        name: isort (ops_api)
        args: ["--settings-file", "backend/ops_api/pyproject.toml", "--filter-files"]
        files: ^backend/ops_api/
      - id: isort
        name: isort (data_tools)
        args: ["--settings-file", "backend/data_tools/pyproject.toml", "--filter-files"]
        files: ^backend/data_tools/
  - repo: local
    hooks:
      - id: nox-lint
        name: nox-lint
        entry: bash -c 'cd ./backend/ops_api && pipenv run nox -s lint'
        language: system
        types:
          - python
        pass_filenames: false
      - id: eslint
        name: eslint
        entry: bash -c 'cd ./frontend/ && bun lint'
        language: system
        types_or:
          - javascript
          - jsx
          - css
          - html
        pass_filenames: false
      - id: prettier
        name: prettier
        entry: bash -c 'cd ./frontend/ && bunx prettier --check --ignore-unknown'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json|css|scss|html|md)$
        pass_filenames: true
      - id: trufflehog
        name: TruffleHog
        description: Detect secrets in your data.
        entry: bash -c 'if command -v podman >/dev/null 2>&1; then podman run --rm -v "$(pwd):/workdir" -i trufflesecurity/trufflehog:latest git file:///workdir --since-commit HEAD --only-verified --fail; elif command -v docker >/dev/null 2>&1; then docker run --rm -v "$(pwd):/workdir" -i trufflesecurity/trufflehog:latest git file:///workdir --since-commit HEAD --only-verified --fail; else echo "Neither docker nor podman found. Please install one of them." && exit 1; fi'
        language: system
        stages: ["pre-commit", "pre-push"]
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.24.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional"]
        language_version: 22.8.0
  - repo: https://github.com/renovatebot/pre-commit-hooks
    rev: 43.15.0
    hooks:
      - id: renovate-config-validator

fix: use budget_team_auth_client in requisition tests
  backend/ops_api/tests/ops/procurement_tracker/test_budget_team_requisition_review_card.py
Due: nox-lint

fix: address code review - enum serialization and null safety
  backend/ops_api/ops/schemas/procurement_tracker_steps.py
  frontend/src/components/ChangeRequests/BudgetTeamRequisitionReviewCard/BudgetTeamRequisitionReviewCard.jsx
  frontend/src/components/ChangeRequests/ChangeRequestsList/ChangeRequestsList.jsx
Due: nox-lint, eslint, prettier

fix: add requisition_date check to pending requisitions query
  backend/ops_api/ops/services/procurement_tracker_steps.py
Due: nox-lint

fix: restore Pipfile.lock from main
  backend/ops_api/Pipfile.lock
Due: none

fix: add mockReturnValue for budget requisitions in tests
  frontend/src/hooks/useChangeRequests.hooks.test.js
Due: eslint, prettier

test: add MSW handler and non-budget-team test for pending requisitions
  backend/ops_api/Pipfile.lock
  backend/ops_api/tests/ops/procurement_tracker/test_budget_team_requisition_review_card.py
  frontend/src/components/ChangeRequests/BudgetTeamRequisitionReviewCard/BudgetTeamRequisitionReviewCard.jsx
  frontend/src/components/ChangeRequests/PreAwardReviewCard/PreAwardReviewCard.jsx
  frontend/src/mocks/handlers.js
Due: nox-lint, eslint, prettier

fix: restore Pipfile.lock from main to resolve CI failures
  backend/ops_api/Pipfile.lock
Due: none

fix: add missing mock for useGetPendingBudgetRequisitionsQuery in tests
  frontend/src/components/ChangeRequests/ChangeRequestsList/ChangeRequestList.test.jsx
Due: eslint, prettier

fix: add missing mock in useChangeRequests test
  frontend/src/hooks/useChangeRequests.hooks.test.js
Due: eslint, prettier

fix: preserve trailing decimal in CurrencyInput during mid-entry
  frontend/src/components/UI/Form/CurrencyInput/CurrencyInput.jsx
Due: eslint, prettier

test: add failing unit tests for CurrencyInput decimal entry
  frontend/src/components/UI/Form/CurrencyInput/CurrencyInput.test.jsx
Due: eslint, prettier

refactor: address code review feedback for budget team requisition card
  backend/ops_api/ops/services/procurement_tracker_steps.py
  frontend/src/components/ChangeRequests/BudgetTeamRequisitionReviewCard/BudgetTeamRequisitionReviewCard.jsx
  frontend/src/components/ChangeRequests/ChangeRequestsList/ChangeRequestsList.jsx
Due: nox-lint, eslint, prettier

style: fix prettier formatting for ChangeRequestsList
  frontend/src/components/ChangeRequests/ChangeRequestsList/ChangeRequestsList.jsx
Due: eslint, prettier

chore: add .worktrees to gitignore
  .gitignore
Due: none

fix: resolve copilot issues in budget team requisition review
  backend/ops_api/Pipfile.lock
  backend/ops_api/ops/services/procurement_tracker_steps.py
  backend/ops_api/tests/ops/procurement_tracker/test_budget_team_requisition_review_card.py
  frontend/src/components/ChangeRequests/ChangeRequestsList/ChangeRequestList.test.jsx
Due: nox-lint, eslint, prettier

test: add e2e test for decimal amount entry in budget line form
  frontend/cypress/e2e/createAgreement.cy.js
Due: eslint, prettier

fix: allow decimal entry in CurrencyInput by using local display state
  frontend/src/components/UI/Form/CurrencyInput/CurrencyInput.jsx
Due: eslint, prettier

fix: use skip-sync ref to prevent parent echo from stripping decimal mid-entry
  frontend/src/components/UI/Form/CurrencyInput/CurrencyInput.jsx
  frontend/src/components/UI/Form/CurrencyInput/CurrencyInput.test.jsx
Due: eslint, prettier

test: fix decimal assertion in e2e test for CurrencyInput
  frontend/cypress/e2e/createAgreement.cy.js
Due: eslint, prettier

refactor: move handleChange above return in CurrencyInput
  frontend/src/components/UI/Form/CurrencyInput/CurrencyInput.jsx
Due: eslint, prettier

fix: sync CurrencyInput display on external value reset
  frontend/cypress/e2e/createAgreement.cy.js
  frontend/src/components/UI/Form/CurrencyInput/CurrencyInput.jsx
  frontend/src/components/UI/Form/CurrencyInput/CurrencyInput.test.jsx
Due: eslint, prettier

test: strengthen round-trip test to verify both sides of skip-sync guard
  frontend/src/components/UI/Form/CurrencyInput/CurrencyInput.test.jsx
Due: eslint, prettier

test: clarify timing assumption in round-trip guard test comment
  frontend/src/components/UI/Form/CurrencyInput/CurrencyInput.test.jsx
Due: eslint, prettier

fix: add --legacy-peer-deps to npm lockfile generation
  .github/workflows/security_snyk.yml
Due: none

fix: point Snyk at Pipfile.lock to avoid pipenv dependency in container
  .github/workflows/security_snyk.yml
Due: none

fix: use Snyk CLI on runner instead of Docker action for Python scans
  .github/workflows/security_snyk.yml
Due: none

Notes added by 'git notes add'
  2f200807a1bd952a1d3901a67472c70544cc2417
Due: none

Notes added by 'git notes add'
  b70a9333ac2ca9783caee9afe812be986dbce252
Due: none

test: fixing final failed test
  backend/ops_api/tests/ops/services/test_change_requests.py
Due: nox-lint

Notes added by 'git notes add'
  ff852abcc05488cd1fe8f1f9b9f5dd942c3783e1
Due: none

test: responding to ai pr review feedback
  backend/ops_api/ops/utils/change_requests_helpers.py
  frontend/cypress/e2e/changeRequestsPagination.cy.js
  frontend/src/hooks/useChangeRequests.hooks.js
Due: nox-lint, eslint, prettier

Notes added by 'git notes add'
  f6fb332eb4ea64d318912afc539323f7d68f11ed
Due: none

fix: restore Pipfile.lock from main to fix deployment
  backend/ops_api/Pipfile.lock
Due: none

fix: add merge migration to resolve multiple heads
  backend/alembic/versions/2026_05_28_1600-merge_heads.py
  backend/ops_api/Pipfile.lock
Due: nox-lint

fix: restore Pipfile.lock from main to match expected hash
  backend/ops_api/Pipfile.lock
Due: none

feat: add division directors and team leaders to AgreementMetaAccordion
  frontend/src/components/Agreements/AgreementMetaAccordion/AgreementMetaAccordion.jsx
  frontend/src/components/Agreements/AgreementMetaAccordion/AgreementMetaAccordion.test.jsx
  frontend/src/tests/data.js
Due: eslint, prettier

Notes added by 'git notes add'
  e724cb06c18862138a31b9a10cdf42a3d3112153
Due: none

test: update e2e test and add coverage
  frontend/cypress/e2e/reviewAgreement.cy.js
  frontend/src/components/Agreements/AgreementMetaAccordion/AgreementMetaAccordion.jsx
Due: eslint, prettier

feat: moving filtering back to sql query
  backend/ops_api/ops/utils/change_requests_helpers.py
  backend/ops_api/tests/ops/utils/test_change_requests_helpers.py
Due: nox-lint
