Repository HHS/OPRE-OPS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-lint, eslint

nox-lint:
  name: nox-lint
  entry: bash -c 'cd ./backend/ops_api && pipenv run nox -s lint'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd ./frontend/ && bun lint'
  language: system
  pass_filenames: false

refactor: improve table header button structure and styling
  frontend/src/components/UI/Table/Table.jsx
Due: eslint

Fix portfolio CAN and budget lines display (#3630)
  backend/ops_api/ops/resources/portfolio_cans.py
  backend/ops_api/ops/schemas/can_funding_summary.py
  backend/ops_api/tests/ops/can/test_portfolio_cans.py
  backend/ops_api/tests/ops/funding_summary/test_can_funding_summary.py
  backend/ops_api/tests/ops/funding_summary/test_portfolio_funding_summary.py
  frontend/cypress/e2e/portfolioDetail.cy.js
  frontend/src/components/CANs/CanCard/CanCard.jsx
  frontend/src/pages/portfolios/detail/PortfolioDetail.jsx
Due: nox-lint, eslint

chore: wip commit on CAN Table sorting and more unit tests
  frontend/src/components/CANs/CANTable/CANTable.jsx
  frontend/src/components/CANs/CANTable/CANTableHead.jsx
  frontend/src/hooks/use-sortable-data.hooks.js
  frontend/src/hooks/useSortableData.test.js
Due: eslint

test: add more test data to contract blis
  backend/data_tools/data/agreements_and_blin_data.json5
Due: none

feat(agreements): add ContractListAgreementResponse and update response mapping
  backend/data_tools/data/agreements_and_blin_data.json5
  backend/ops_api/ops/resources/agreements_constants.py
  backend/ops_api/ops/schemas/agreements.py
Due: nox-lint

style: ux updates for better table layout
  frontend/src/components/Agreements/AgreementsTable/AgreementTableRow.jsx
Due: eslint

style: consistent max lines per Agreement table
  frontend/src/components/BudgetLineItems/AllBudgetLinesTable/AllBLIRow.jsx
Due: eslint

test: update useSortableData tests to include additional agreement data
  frontend/src/hooks/useSortableData.test.js
Due: eslint

feat: implement AgreementRequestSchema and update API to support 3 new filters
  backend/ops_api/ops/resources/agreements.py
  backend/ops_api/ops/schemas/agreements.py
  frontend/src/api/opsAPI.js
  frontend/src/pages/agreements/list/AgreementsList.jsx
Due: nox-lint, eslint

test: clean up CAN funding page tests by removing redundant budget update checks
  frontend/cypress/e2e/canDetail.cy.js
Due: eslint

test: update CAN funding page tests with revised budget values and history messages
  frontend/cypress/e2e/canDetail.cy.js
Due: eslint

chore: updating agreement query logic to use query params, wip
  backend/models/budget_line_items.py
  backend/ops_api/ops/resources/agreements.py
  backend/ops_api/tests/conftest.py
Due: nox-lint

refactor: consolidate sorting logic across budget line item tables
  frontend/src/components/Agreements/AgreementsTable/AgreementsTable.hooks.js
  frontend/src/components/Agreements/AgreementsTable/AgreementsTable.jsx
  frontend/src/components/BudgetLineItems/AllBudgetLinesTable/AllBudgetLinesTable.hooks.js
  frontend/src/components/BudgetLineItems/AllBudgetLinesTable/AllBudgetLinesTable.jsx
  frontend/src/components/BudgetLineItems/BLIDiffTable/BLIDiffTable.hooks.js
  frontend/src/components/BudgetLineItems/BLIDiffTable/BLIDiffTable.jsx
  frontend/src/components/BudgetLineItems/BLIReviewTable/BLIReviewTable.hooks.js
  frontend/src/components/BudgetLineItems/BLIReviewTable/BLIReviewTable.jsx
  frontend/src/components/BudgetLineItems/BudgetLinesTable/BudgetLinesTable.hooks.js
  frontend/src/components/BudgetLineItems/BudgetLinesTable/BudgetLinesTable.jsx
  frontend/src/components/CANs/CANBudgetLineTable/CANBudgetLineTable.hooks.js
  frontend/src/components/CANs/CANBudgetLineTable/CANBudgetLineTable.jsx
  frontend/src/components/CANs/CANFundingReceivedTable/CANFundingReceived.hooks.js
  frontend/src/components/CANs/CANFundingReceivedTable/CANFundingReceivedTable.jsx
Due: eslint

chore: update bug template with new label
  .github/ISSUE_TEMPLATE/bugs.md
Due: none

fix: remove unwanted acronym for an opre division
  backend/data_tools/data/user_data.json5
  backend/data_tools/initial_data/001-division.sql
  backend/data_tools/initial_data/002-division_version.sql
  backend/data_tools/test_csv/users.tsv
  frontend/src/components/Agreements/AgreementCANReviewAccordion/AgreementCANReviewAccordion.test.jsx
  frontend/src/tests/data.js
Due: eslint

fix: removes unwanted margin
  frontend/src/components/UI/Alert/SlimAlert.jsx
Due: eslint

fix: update selector for Change Requests tab verification
  frontend/cypress/e2e/agreementList.cy.js
Due: eslint

feat: enhance fiscal_year property with SQL expression and refactor query logic in AgreementListAPI
  backend/models/budget_line_items.py
  backend/ops_api/ops/resources/agreements.py
  backend/ops_api/tests/ops/agreement/test_agreement.py
Due: nox-lint

chore: wip send api call for agreement data
  frontend/src/components/Agreements/AgreementsTable/AgreementTableRow.jsx
Due: eslint

feat: refactor response schemas and update AgreementTableRow logic
  backend/ops_api/ops/resources/agreements.py
  backend/ops_api/ops/resources/agreements_constants.py
  frontend/src/components/Agreements/AgreementsTable/AgreementTableRow.jsx
Due: nox-lint, eslint

test: enhance agreement retrieval tests for fiscal years 2043 and 2000
  backend/ops_api/tests/ops/agreement/test_agreement.py
Due: nox-lint

feat: agreements table enhancements
  frontend/src/components/Agreements/AgreementsTable/AgreementTableRow.jsx
  frontend/src/pages/agreements/list/AgreementsList.jsx
Due: eslint

feat: add lazy loading for user retrieval and enhance agreement edit permissions
  frontend/src/api/opsAPI.js
  frontend/src/components/Agreements/AgreementsTable/AgreementTableRow.jsx
  frontend/src/components/Agreements/AgreementsTable/AgreementsTable.helpers.js
Due: eslint

chore: removed debug log
  frontend/src/components/Agreements/AgreementsTable/AgreementTableRow.jsx
Due: eslint

test: enhance agreement tests with mock API responses and update store configuration
  frontend/src/api/opsAPI.test.js
  frontend/src/components/Agreements/AgreementsTable/AgreementTableRow.test.js
  frontend/src/components/Agreements/AgreementsTable/AgreementsTable.test.js
Due: eslint

test: add wait time in agreement edit test to ensure proper element visibility
  frontend/cypress/e2e/editAgreementAsBasicUser.cy.js
Due: eslint

Notes added by 'git notes add'
  b9c1b302dac4cea0b4e99e0d1a8434681b15f4a7
Due: none

feat: enhance AgreementRequestSchema with additional query parameters; fix API tests
  backend/ops_api/ops/resources/agreements.py
  backend/ops_api/ops/schemas/agreements.py
  backend/ops_api/tests/ops/agreement/test_agreement.py
  backend/ops_api/tests/ops/can/test_budget_line_item.py
  backend/ops_api/tests/ops/can/test_can.py
  backend/ops_api/tests/ops/features/test_edit_agreement_metadata.py
  backend/ops_api/tests/ops/funding_summary/test_can_funding_summary.py
  backend/ops_api/tests/ops/funding_summary/test_portfolio_funding_summary.py
  backend/ops_api/tests/ops/research_project/test_research_project.py
Due: nox-lint

chore: update Pipfile.lock and pytest.ini for dev dependency version changes
  backend/ops_api/Pipfile.lock
  backend/ops_api/pytest.ini
Due: none

chore: update Pipfile.lock and pytest.ini for dev dependency version changes
  backend/ops_api/Pipfile
  backend/ops_api/pytest.ini
Due: none

fix: bug in BudgetLineItem.portfolio_id
  backend/models/budget_line_items.py
  backend/ops_api/tests/ops/agreement/test_agreement.py
Due: nox-lint

feat: add new response classes for Grant and IAA agreements
  backend/ops_api/ops/resources/agreements_constants.py
  backend/ops_api/ops/schemas/agreements.py
Due: nox-lint

test: increase wait time in edit agreement test for improved element visibility
  frontend/cypress/e2e/editAgreementAsBasicUser.cy.js
Due: eslint

feat: refine CANSchema to limit nested fields in budget_line_items and portfolio
  backend/ops_api/ops/schemas/cans.py
Due: nox-lint

feat: add lazy loading for agreement retrieval in agreementslist and budgetlineitemlist components
  frontend/src/api/opsAPI.js
  frontend/src/pages/agreements/list/AgreementsList.jsx
  frontend/src/pages/budgetLines/list/BudgetLineItemList.jsx
Due: eslint

Notes added by 'git notes add'
  0b3385251b8a539dc88ebba7699a7eb2802a0d30
Due: none

refactor: update AgreementTableRow to use agreementId prop instead of agreement object
  frontend/src/components/Agreements/AgreementsTable/AgreementTableRow.jsx
  frontend/src/components/Agreements/AgreementsTable/AgreementsTable.jsx
Due: eslint

test: fixing front end unit tests, beginning work on e2e tests
  frontend/cypress/e2e/agreementDetails.cy.js
  frontend/src/components/Agreements/AgreementsTable/AgreementTableRow.test.js
  frontend/src/components/Agreements/AgreementsTable/AgreementsTable.test.js
Due: eslint

fix: update agreement details tests and adjust schema fields for accuracy
  backend/ops_api/ops/schemas/cans.py
  frontend/cypress/e2e/agreementDetails.cy.js
  frontend/src/pages/cans/detail/CanDetail.jsx
Due: nox-lint, eslint

docs: update howtogguides.jsx
  frontend/src/pages/help/HowToGuides.jsx
Due: eslint

Path conditions:
  nox-lint: any of: \.py$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.css$, \.(html|htm|xhtml)$
