Repository HHS/OPRE-OPS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-lint, eslint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: detect-aws-credentials
      - id: detect-private-key
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-json
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

  - repo: https://github.com/hadolint/hadolint
    rev: v2.10.0
    hooks:
      - id: hadolint
  # We're running black, but doing it via nox session instead - see below
  # - repo: https://github.com/psf/black
  #   rev: 22.6.0
  #   hooks:
  #   -   id: black
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.10.1
    hooks:
      - id: isort
        args: ["--profile", "black", "--filter-files"]
  - repo: local
    hooks:
      - id: nox-lint
        name: nox-lint
        entry: bash -c 'cd ./backend/ops_api && pipenv run nox -s lint'
        language: system
        types:
          - python
        pass_filenames: false
      - id: eslint
        name: eslint
        entry: bash -c 'cd ./frontend/ && yarn lint'
        language: system
        types_or:
          - javascript
          - jsx
          - css
          - html
        pass_filenames: false

Trying to get openapi to work.
  openapi.yml
Due: none

feat: :sparkles: redirects user back to budgetlines after editing BLI
  frontend/src/components/BudgetLineItems/AllBLIRow/AllBLIRow.js
  frontend/src/components/UI/WizardSteps/StepCreateBudgetLines/StepCreateBudgetLines.jsx
  frontend/src/pages/agreements/details/AgreementBudgetLines.js
Due: eslint

Fixing openapi.yml again.
  openapi.yml
Due: none

More openapi.yml fixes.
  openapi.yml
Due: none

black, isort, flake8
  backend/ops_api/ops/utils/errors.py
Due: nox-lint

display agreement.notes
  frontend/src/pages/agreements/details/AgreementDetailsView.js
Due: eslint

DRYer lookup components
  frontend/src/components/Agreements/AgreementDetails/AgreementHistoryList.js
Due: eslint

test: :test_tube: updates tests
  frontend/cypress/e2e/editAgreement.cy.js
Due: eslint

feat: :memo: adds error handling for Projects
  frontend/src/pages/projects/CreateProject.jsx
Due: eslint

node-gyp needed for new version of node v18.18
  frontend/package.json
  frontend/yarn.lock
Due: none

fix e2e
  frontend/cypress/e2e/editAgreement.cy.js
  frontend/src/pages/agreements/EditModeTitle.jsx
Due: eslint

rev to postgres:16
  backend/data_tools/tests/docker-compose.yml
  backend/ops_api/tests/docker-compose.yml
  docker-compose.debug.yml
  docker-compose.e2e.yml
  docker-compose.yml
Due: none

refresh yarn.lock
  frontend/yarn.lock
Due: none

refactor: :art: moves AgreementTable to Agreements domain directory
  frontend/src/components/Agreements/AgreementTableRow/AgreementTableRow.jsx
  frontend/src/components/Agreements/AgreementTableRow/AgreementTableRow.test.js
  frontend/src/components/Agreements/AgreementTableRow/index.js
  frontend/src/components/Agreements/AgreementsTable/AgreementsTable.jsx
  frontend/src/components/Agreements/AgreementsTable/AgreementsTable.test.js
  frontend/src/components/Agreements/AgreementsTable/index.js
  frontend/src/pages/agreements/list/AgreementsList.jsx
Due: eslint

cleanup
  frontend/src/components/Agreements/AgreementTableRow/AgreementTableRow.jsx
Due: eslint

enable maxlength on TextArea and limit Agreement.notes to 1000, Agreement.description to 500 and BLI.comments to 150
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.jsx
  frontend/src/components/UI/Form/CreateBudgetLinesForm/CreateBudgetLinesForm.jsx
  frontend/src/components/UI/Form/TextArea/TextArea.jsx
Due: eslint

refactor: :art: moves Row components into the Table directory
  frontend/src/components/Agreements/AgreementTableRow/index.js
  frontend/src/components/Agreements/AgreementsTable/AgreementTableRow.jsx
  frontend/src/components/Agreements/AgreementsTable/AgreementTableRow.test.js
  frontend/src/components/Agreements/AgreementsTable/AgreementsTable.jsx
  frontend/src/components/BudgetLineItems/AllBLIRow/index.js
  frontend/src/components/BudgetLineItems/AllBudgetLinesTable/AllBLIRow.js
  frontend/src/components/BudgetLineItems/AllBudgetLinesTable/AllBudgetLinesTable.js
  frontend/src/components/BudgetLineItems/BLIRow/index.js
  frontend/src/components/BudgetLineItems/BudgetLinesTable/BLIRow.js
  frontend/src/components/BudgetLineItems/BudgetLinesTable/BudgetLinesTable.jsx
Due: eslint

refactor: :art: moves component constants into its own directory
  frontend/src/components/BudgetLineItems/AllBudgetLinesTable/AllBudgetLinesTable.constants.js
  frontend/src/components/BudgetLineItems/AllBudgetLinesTable/AllBudgetLinesTable.js
  frontend/src/components/BudgetLineItems/BudgetLinesTable/BudgetLinesTable.constants.js
  frontend/src/components/BudgetLineItems/BudgetLinesTable/BudgetLinesTable.jsx
  frontend/src/constants.js
Due: eslint

refactor: composes Table component
  frontend/src/components/Agreements/AgreementsTable/AgreementsTable.constants.js
  frontend/src/components/Agreements/AgreementsTable/AgreementsTable.jsx
Due: eslint

refactor: adds helpers and hooks directory
  frontend/src/components/Agreements/AgreementsTable/AgreementTableRow.jsx
  frontend/src/components/Agreements/AgreementsTable/AgreementsTable.helpers.js
  frontend/src/components/Agreements/AgreementsTable/agreements-table.hooks.js
Due: eslint

Update dependency mypy to v1
  backend/ops_api/Pipfile
  backend/ops_api/Pipfile.lock
Due: none

Fixing stuff and things.
  backend/ops_api/Pipfile.lock
Due: none

piplock conflicts
  backend/ops_api/Pipfile.lock
Due: none

Fixing the lock file.
  backend/ops_api/Pipfile.lock
Due: none

Fixing pipfile.lock
  backend/ops_api/Pipfile.lock
Due: none

feat: :sparkles: Fixed CORS
  backend/ops_api/ops/__init__.py
  backend/ops_api/ops/environment/default_settings.py
  backend/ops_api/ops/utils/response.py
Due: nox-lint

feat: :sparkles: redirects user back to budgetlines after editing BLI (#1509)
  frontend/cypress/e2e/editAgreement.cy.js
  frontend/src/components/BudgetLineItems/AllBLIRow/AllBLIRow.js
  frontend/src/components/UI/WizardSteps/StepCreateBudgetLines/StepCreateBudgetLines.jsx
  frontend/src/pages/agreements/details/AgreementBudgetLines.js
Due: eslint

refactor: :recycle: moves business logic to component hook or helper
  frontend/src/components/Agreements/AgreementsTable/AgreementTableRow.jsx
  frontend/src/components/Agreements/AgreementsTable/AgreementsTable.helpers.js
  frontend/src/components/Agreements/AgreementsTable/agreements-table.hooks.js
Due: eslint

e2e tests for Agreement notes
  frontend/cypress/e2e/agreementDetails.cy.js
  frontend/cypress/e2e/agreementDetailsEdit.cy.js
  frontend/src/pages/agreements/details/AgreementDetailsView.js
Due: eslint

cleanup
  frontend/src/components/Agreements/AgreementsTable/AgreementTableRow.jsx
  frontend/src/components/Agreements/AgreementsTable/AgreementsTable.helpers.js
Due: eslint

fix - remove unused imports
  frontend/src/pages/agreements/details/AgreementDetailsView.js
Due: eslint

refactor: :recycle: last of the helper fns
  frontend/src/components/Agreements/AgreementsTable/AgreementTableRow.jsx
  frontend/src/components/Agreements/AgreementsTable/AgreementsTable.helpers.js
Due: eslint

refactor: :recycle: adds hooks directory and moves hooks there
  frontend/src/components/Agreements/AgreementDetails/AgreementHistoryList.js
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.jsx
  frontend/src/components/Agreements/AgreementsTable/AgreementTableRow.jsx
  frontend/src/components/Agreements/AgreementsTable/agreements-table.hooks.js
  frontend/src/components/BudgetLineItems/AllBudgetLinesTable/AllBLIRow.js
  frontend/src/components/BudgetLineItems/BudgetLinesTable/BLIRow.js
  frontend/src/components/Portfolios/ResearchProjects/AdminAndSupportProjectsTable.jsx
  frontend/src/components/Portfolios/ResearchProjects/ResearchProjectsTable.jsx
  frontend/src/components/UI/Layouts/DefaultLayout/DefaultLayout.js
  frontend/src/components/UI/WizardSteps/StepCreateBudgetLines/StepCreateBudgetLines.jsx
  frontend/src/hooks/agreement.hooks.js
  frontend/src/hooks/budget-line.hooks.js
  frontend/src/hooks/lookup.hooks.js
  frontend/src/hooks/use-alert.hooks.js
  frontend/src/hooks/use-sortable-data.hooks.js
  frontend/src/hooks/useSortableData.test.js
  frontend/src/hooks/user.hooks.js
  frontend/src/pages/agreements/CreateEditAgreement.jsx
  frontend/src/pages/agreements/EditAgreement.js
  frontend/src/pages/agreements/details/AgreementBudgetLines.js
  frontend/src/pages/agreements/details/AgreementDetails.js
  frontend/src/pages/agreements/review/ReviewAgreement.jsx
  frontend/src/pages/budgetLines/StepSuccess.jsx
  frontend/src/pages/projects/CreateProject.jsx
Due: eslint

agreement description limit upped to 1000
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.jsx
Due: eslint

create ops user and schema;change connection string to use ops user
  backend/data_tools/environment/dev.py
  backend/data_tools/environment/local.py
  backend/data_tools/environment/pytest.py
  backend/data_tools/environment/test.py
  backend/data_tools/ops_db_sql_init/1_init.sql
  backend/data_tools/tests/docker-compose.yml
  backend/ops_api/ops/__init__.py
  backend/ops_api/ops/environment/default_settings.py
  backend/ops_api/ops/environment/dev.py
  backend/ops_api/ops/environment/local/container.py
  backend/ops_api/ops/environment/local/e2e.py
  backend/ops_api/ops/environment/local/localhost.py
  backend/ops_api/tests/docker-compose.yml
  docker-compose.debug.yml
  docker-compose.e2e.yml
  docker-compose.yml
Due: nox-lint

refactor: :recycle: adds TableRowExpandable
  frontend/src/components/Agreements/AgreementsTable/AgreementTableRow.jsx
Due: eslint

fix: :bug: fixes table row hover
  frontend/src/components/BudgetLineItems/AllBLIRow/AllBLIRow.js
  frontend/src/components/BudgetLineItems/BLIRow/BLIRow.js
Due: eslint

refactor: :recycle: adds sendToReview props and genericizes ChangeIcon
  frontend/src/components/Agreements/AgreementsTable/AgreementTableRow.jsx
  frontend/src/components/BudgetLineItems/ChangeIcons/ChangeIcons.js
Due: eslint

refactor: :recycle: adds isItemDeletable prop
  frontend/src/components/Agreements/AgreementsTable/AgreementTableRow.jsx
  frontend/src/components/BudgetLineItems/AllBudgetLinesTable/AllBLIRow.js
  frontend/src/components/BudgetLineItems/BudgetLinesTable/BLIRow.js
  frontend/src/components/BudgetLineItems/ChangeIcons/ChangeIcons.js
  frontend/src/components/BudgetLineItems/ChangeIcons/DisabledChangeIcons.constants.js
  frontend/src/components/BudgetLineItems/ChangeIcons/DisabledChangeIcons.js
  frontend/src/constants.js
Due: eslint

refactor: :recycle: defaults is deletable to is editable
  frontend/src/components/BudgetLineItems/AllBudgetLinesTable/AllBLIRow.js
  frontend/src/components/BudgetLineItems/BudgetLinesTable/BLIRow.js
  frontend/src/components/BudgetLineItems/ChangeIcons/ChangeIcons.js
  frontend/src/components/UI/WizardSteps/StepCreateBudgetLines/StepCreateBudgetLines.jsx
  frontend/src/hooks/agreement.hooks.js
Due: eslint
