Repository HHS/OPRE-OPS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-lint, eslint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: detect-aws-credentials
        args: [--allow-missing-credentials]
      - id: detect-private-key
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: '^frontend/src/uswds/.*(\.svg|\.map)$'
      - id: check-json
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
  - repo: https://github.com/hadolint/hadolint
    rev: v2.14.0
    hooks:
      - id: hadolint
  - repo: https://github.com/pycqa/isort
    rev: 7.0.0
    hooks:
      - id: isort
        name: isort (ops_api)
        args: ["--settings-file", "backend/ops_api/pyproject.toml", "--filter-files"]
        files: ^backend/ops_api/
      - id: isort
        name: isort (data_tools)
        args: ["--settings-file", "backend/data_tools/pyproject.toml", "--filter-files"]
        files: ^backend/data_tools/
  - repo: local
    hooks:
      - id: nox-lint
        name: nox-lint
        entry: bash -c 'cd ./backend/ops_api && pipenv run nox -s lint'
        language: system
        types:
          - python
        pass_filenames: false
      - id: eslint
        name: eslint
        entry: bash -c 'cd ./frontend/ && bun lint'
        language: system
        types_or:
          - javascript
          - jsx
          - css
          - html
        pass_filenames: false
      - id: trufflehog
        name: TruffleHog
        description: Detect secrets in your data.
        entry: bash -c 'if command -v podman >/dev/null 2>&1; then podman run --rm -v "$(pwd):/workdir" -i trufflesecurity/trufflehog:latest git file:///workdir --since-commit HEAD --only-verified --fail; elif command -v docker >/dev/null 2>&1; then docker run --rm -v "$(pwd):/workdir" -i trufflesecurity/trufflehog:latest git file:///workdir --since-commit HEAD --only-verified --fail; else echo "Neither docker nor podman found. Please install one of them." && exit 1; fi'
        language: system
        stages: ["pre-commit", "pre-push"]
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.23.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional"]
        language_version: 22.8.0
  - repo: https://github.com/renovatebot/pre-commit-hooks
    rev: 41.165.2
    hooks:
      - id: renovate-config-validator

feat: add superuser bypass for immutable field validation on awarded agreements
  backend/ops_api/ops/validation/rules/awarded.py
  backend/ops_api/tests/ops/validation/rules/test_immutable_awarded_fields_rule.py
  backend/ops_api/tests/ops/validation/test_agreement_validator.py
Due: nox-lint

style: changed modal link to sentence case
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.hooks.js
Due: eslint

chore: resolve ux feedback
  frontend/src/components/BudgetLineItems/AllBudgetLinesTable/AllBLIRow.jsx
  frontend/src/components/BudgetLineItems/AllBudgetLinesTable/AllBLIRow.test.jsx
  frontend/src/components/BudgetLineItems/AllBudgetLinesTable/AllBudgetLinesTable.test.jsx
  frontend/src/helpers/utils.js
  frontend/src/pages/budgetLines/list/BLIFilterButton.jsx
  frontend/src/pages/budgetLines/list/BudgetLineItemList.jsx
Due: eslint

test: fix e2e test failure
  frontend/cypress/e2e/budgetLineItemsList.cy.js
Due: eslint

Updated Budget Lines List for Reporting (#4806)
  backend/data_tools/tests/load_procurement_shops/test_load_procurement_shops.py
  backend/models/budget_line_items.py
  backend/openapi.yml
  backend/ops_api/noxfile.py
  backend/ops_api/ops/schemas/budget_line_items.py
  backend/ops_api/ops/services/budget_line_items.py
  backend/ops_api/tests/ops/budget_line_items/test_budget_line_item.py
  frontend/cypress/e2e/agreementList.cy.js
  frontend/cypress/e2e/budgetLineItemsList.cy.js
  frontend/src/api/opsAPI.js
  frontend/src/components/Agreements/AgreementNameComboBox/AgreementNameComboBox.jsx
  frontend/src/components/BudgetLineItems/AllBudgetLinesTable/AllBLIRow.jsx
  frontend/src/components/BudgetLineItems/AllBudgetLinesTable/AllBLIRow.test.jsx
  frontend/src/components/BudgetLineItems/AllBudgetLinesTable/AllBudgetLinesTable.constants.js
  frontend/src/components/BudgetLineItems/AllBudgetLinesTable/AllBudgetLinesTable.test.jsx
  frontend/src/components/BudgetLineItems/BLIStatusSummaryCard/BLIStatusSummaryCard.jsx
  frontend/src/components/BudgetLineItems/BudgetLinesForm/BudgetLinesForm.test.jsx
  frontend/src/components/BudgetLineItems/BudgetLinesForm/suite.test.js
  frontend/src/components/BudgetLineItems/SummaryCardsSection/SummaryCardsSection.jsx
  frontend/src/components/CANs/CANActivePeriodComboBox/CANActivePeriodComboBox.jsx
  frontend/src/components/UI/BudgetRangeSlider/BudgetRangeSlider.jsx
  frontend/src/components/UI/BudgetRangeSlider/index.js
  frontend/src/components/UI/FiscalYear/FiscalYear.jsx
  frontend/src/components/UI/Table/table.module.css
  frontend/src/constants.js
  frontend/src/helpers/utils.js
  frontend/src/hooks/useGetAllAgreements.js
  frontend/src/pages/budgetLines/list/BLIFilterButton.jsx
  frontend/src/pages/budgetLines/list/BLIFilterTags.jsx
  frontend/src/pages/budgetLines/list/BudgetLineItemList.jsx
  frontend/src/pages/budgetLines/list/BudgetLinesItems.hooks.js
  frontend/src/types/BudgetLineTypes.d.ts
Due: nox-lint, eslint

fix: disable vendor since its a connected property to Agreement Reason
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.jsx
Due: eslint

chore: revert backend changes
  backend/models/agreements.py
  backend/ops_api/tests/ops/agreement/test_agreement_immutable_awarded_fields.py
Due: nox-lint

test: adds unit-tests for relevant changes
  frontend/src/components/Agreements/AgencySelect/AgencySelect.test.js
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.helpers.test.js
Due: eslint

Notes added by 'git notes add'
  701529ff746f2486d3091e7b111ab34033dd25de
Due: none

feat: disable fields for agreement edit form (#4794)
  frontend/cypress/e2e/editAgreement.cy.js
  frontend/sass/uswds/styles.scss
  frontend/src/components/Agreements/AgencySelect/AgencySelect.jsx
  frontend/src/components/Agreements/AgencySelect/AgencySelect.test.js
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.helpers.js
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.helpers.test.js
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.hooks.js
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.jsx
  frontend/src/components/Agreements/AgreementReasonSelect.jsx
  frontend/src/components/Agreements/ProductServiceCodeSelect.jsx
  frontend/src/components/ServicesComponents/ContractTypeSelect/ContractTypeSelect.jsx
  frontend/src/components/ServicesComponents/ServiceReqTypeSelect/ServiceReqTypeSelect.jsx
  frontend/src/components/UI/Form/ComboBox/ComboBox.jsx
  frontend/src/components/UI/Form/Input/Input.jsx
  frontend/src/components/UI/Form/Select/Select.jsx
  frontend/src/components/UI/Form/Select/Select.test.jsx
  frontend/src/pages/agreements/agreements.constants.js
  frontend/src/pages/agreements/details/AgreementDetailsEdit.test.js
  frontend/src/uswds/css/styles.css
  frontend/src/uswds/css/styles.css.map
Due: eslint

Notes added by 'git notes add'
  84d53d48a0bddf1ac5a962e70bfec4057fe70ac9
Due: none

refactor: remove all validations from agreement review until bli is selected
  frontend/src/components/Agreements/AgreementMetaAccordion/AgreementMetaAccordion.jsx
  frontend/src/components/BudgetLineItems/BLIReviewTable/BLIReviewRow.jsx
  frontend/src/pages/agreements/review/ReviewAgreement.hooks.js
  frontend/src/pages/agreements/review/ReviewAgreement.jsx
Due: eslint

fix: updating typing of detailed_name per feedback in PR
  backend/models/research_methodologies.py
Due: nox-lint

Notes added by 'git notes add'
  63cd069299071ceca751be9d3f19e45efae4eb1a
Due: none

feat: remove budget line status validation and add awarded agreement edit scenario
  backend/ops_api/ops/validation/agreement_validator.py
  backend/ops_api/tests/ops/agreement/test_agreement.py
  backend/ops_api/tests/ops/agreement/test_agreement_history.py
  backend/ops_api/tests/ops/features/edit_agreement_metadata.feature
  backend/ops_api/tests/ops/features/test_edit_agreement_metadata.py
  backend/ops_api/tests/ops/validation/test_agreement_validator.py
  backend/ops_api/tests/ops/validation/test_awarded_agreement_validator.py
Due: nox-lint

feat: add scenarios for editing awarded agreements and power user permissions
  backend/ops_api/tests/ops/agreement/test_agreement.py
  backend/ops_api/tests/ops/features/edit_agreement_metadata.feature
  backend/ops_api/tests/ops/features/test_edit_agreement_metadata.py
Due: nox-lint

feat: add vendor field handling and related test scenarios for awarded agreements
  backend/models/agreements.py
  backend/ops_api/ops/validation/rules/awarded.py
  backend/ops_api/tests/ops/agreement/test_agreement_immutable_awarded_fields.py
  backend/ops_api/tests/ops/agreement/test_agreement_required_fields.py
  backend/ops_api/tests/ops/features/edit_agreement_metadata.feature
  backend/ops_api/tests/ops/features/test_edit_agreement_metadata.py
Due: nox-lint

refactor: remove BudgetLineStatusRule validation from agreement.py
  backend/ops_api/ops/validation/rules/agreement.py
  backend/ops_api/tests/ops/validation/rules/test_budget_line_status_rule.py
Due: nox-lint

fix: update vendor comparison logic and correct validator count in tests
  backend/ops_api/ops/validation/rules/awarded.py
  backend/ops_api/tests/ops/validation/test_awarded_agreement_validator.py
Due: nox-lint

docs: adds BLI types
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.hooks.js
Due: eslint

revert: calculate via frontend
  frontend/src/components/BudgetLineItems/BudgetLinesTable/BLIRow.jsx
Due: eslint

fix: fees for card calculations
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.hooks.js
Due: eslint

feat: enhance user metadata structure in session management
  backend/ops_api/ops/auth/service.py
Due: nox-lint

test: add check for budget line total and summary card
  frontend/cypress/e2e/createAgreement.cy.js
Due: eslint

chore: copilot suggestions
  frontend/src/components/BudgetLineItems/BudgetLinesTable/BLIRow.jsx
Due: eslint

Notes added by 'git notes add'
  2530c1deb02c1f0f9653fa5a4575e072bfdb7e71
Due: none

feat: add notification indexes to improve query performance
  backend/alembic/versions/2026_01_08_1526-deb9c01d49f7_add_notification_indexes.py
  backend/models/change_requests.py
  backend/models/notifications.py
  backend/ops_api/ops/resources/notifications.py
Due: nox-lint

style: removed width styling from modal
  frontend/src/components/UI/Modals/SaveChangesAndExitModal.jsx
Due: eslint

feat: update notification indexes for improved query performance
  backend/alembic/versions/2026_01_08_1620-ecda0a67535a_add_notification_indexes.py
  backend/models/change_requests.py
  backend/models/notifications.py
Due: nox-lint

chore: weekly prettier formatting
  frontend/src/api/opsAPI.js
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.helpers.test.js
  frontend/src/components/Agreements/AgreementNameComboBox/AgreementNameComboBox.jsx
  frontend/src/components/Agreements/AgreementsTable/AgreementTableRow.test.js
  frontend/src/components/Agreements/ResearchMethodologyComboBox/ResearchMethodologyComboBox.jsx
  frontend/src/components/BudgetLineItems/BLIDiffTable/BLIDiffRow.helpers.test.js
  frontend/src/components/BudgetLineItems/BudgetLinesTable/BLIRow.test.jsx
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.hooks.js
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.jsx
  frontend/src/components/Users/UserEmailComboBox/UserEmailComboBox.test.jsx
  frontend/src/helpers/budgetLines.helpers.test.js
  frontend/src/helpers/changeRequests.helpers.js
  frontend/src/pages/ErrorPage.test.jsx
  frontend/src/pages/agreements/details/AgreementDetailsEdit.test.js
  frontend/src/pages/budgetLines/list/BLIFilterTags.jsx
Due: eslint

docs: better prettier consistency in project
  .github/workflows/ci.yml
  .vscode/extensions.json
  .vscode/settings.json
  CLAUDE.md
  frontend/.prettierignore
Due: none

fix: ignore unknown file types
  .github/workflows/ci.yml
  frontend/.prettierignore
  frontend/package.json
Due: none

feat: add indexes to notification and change request tables for improved query performance
  backend/alembic/versions/2026_01_08_1852-e09dc67015ff_add_notification_indexes.py
  backend/models/change_requests.py
  backend/models/notifications.py
Due: nox-lint

feat: add user session indices for improved performance and refactor session retrieval logic
  backend/alembic/versions/2026_01_08_1913-da5d9205b20e_add_user_session_and_notification_.py
  backend/models/auth.py
  backend/ops_api/ops/auth/decorators.py
  backend/ops_api/ops/auth/service.py
  backend/ops_api/ops/auth/utils.py
  backend/ops_api/ops/services/users.py
  backend/ops_api/tests/auth/test_check_user_session.py
  backend/ops_api/tests/ops/users/test_users_patch.py
  backend/ops_api/tests/ops/users/test_users_put.py
Due: nox-lint

fix: remove unused import from auth.py
  backend/models/auth.py
Due: nox-lint

feat: enhance portfolio display and sorting logic
  frontend/src/components/Portfolios/PortfolioSummaryCards/PortfolioLegend.jsx
  frontend/src/components/Portfolios/PortfolioSummaryCards/PortfolioSummaryCards.constants.js
  frontend/src/components/Portfolios/PortfolioTable/PortfolioTable.helpers.js
  frontend/src/pages/portfolios/list/PortfolioList.jsx
Due: eslint

chore: add format-check sessions for Black and isort in Nox configurations
  .github/workflows/ci.yml
  CLAUDE.md
  backend/data_tools/noxfile.py
  backend/ops_api/noxfile.py
Due: nox-lint

test: update unit tests
  frontend/src/components/Portfolios/PortfolioSummaryCards/PortfolioSummaryCards.helpers.test.js
  frontend/src/pages/portfolios/list/PortfolioFilterButton/AvailableBudgetPercentageFilter.test.jsx
  frontend/src/pages/portfolios/list/PortfolioFilterButton/PortfolioFYBudgetRangeSlider.test.jsx
  frontend/src/pages/portfolios/list/PortfolioFilterButton/PortfolioFilterButton.test.jsx
  frontend/src/pages/portfolios/list/PortfolioFilterTags.test.jsx
Due: eslint

test: changed sc id in test data
  backend/data_tools/data/agreements_and_blin_data.json5
Due: none
