Repository HHS/OPRE-OPS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-lint, eslint, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: detect-aws-credentials
        args: [--allow-missing-credentials]
      - id: detect-private-key
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: '^frontend/src/uswds/.*(\.svg|\.map)$'
      - id: check-json
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
  - repo: https://github.com/hadolint/hadolint
    rev: v2.14.0
    hooks:
      - id: hadolint
  - repo: https://github.com/pycqa/isort
    rev: 7.0.0
    hooks:
      - id: isort
        name: isort (ops_api)
        args: ["--settings-file", "backend/ops_api/pyproject.toml", "--filter-files"]
        files: ^backend/ops_api/
      - id: isort
        name: isort (data_tools)
        args: ["--settings-file", "backend/data_tools/pyproject.toml", "--filter-files"]
        files: ^backend/data_tools/
  - repo: local
    hooks:
      - id: nox-lint
        name: nox-lint
        entry: bash -c 'cd ./backend/ops_api && pipenv run nox -s lint'
        language: system
        types:
          - python
        pass_filenames: false
      - id: eslint
        name: eslint
        entry: bash -c 'cd ./frontend/ && bun lint'
        language: system
        types_or:
          - javascript
          - jsx
          - css
          - html
        pass_filenames: false
      - id: prettier
        name: prettier
        entry: bash -c 'cd ./frontend/ && bunx prettier --check --ignore-unknown'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json|css|scss|html|md)$
        pass_filenames: true
      - id: trufflehog
        name: TruffleHog
        description: Detect secrets in your data.
        entry: bash -c 'if command -v podman >/dev/null 2>&1; then podman run --rm -v "$(pwd):/workdir" -i trufflesecurity/trufflehog:latest git file:///workdir --since-commit HEAD --only-verified --fail; elif command -v docker >/dev/null 2>&1; then docker run --rm -v "$(pwd):/workdir" -i trufflesecurity/trufflehog:latest git file:///workdir --since-commit HEAD --only-verified --fail; else echo "Neither docker nor podman found. Please install one of them." && exit 1; fi'
        language: system
        stages: ["pre-commit", "pre-push"]
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.24.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional"]
        language_version: 22.8.0
  - repo: https://github.com/renovatebot/pre-commit-hooks
    rev: 43.15.0
    hooks:
      - id: renovate-config-validator

fix: add requisition fields to API schema and improve data integrity
  backend/alembic/versions/2026_04_30_1543-b9c8d7e6f5a4_add_pre_award_requisition_fields.py
  backend/ops_api/ops/schemas/procurement_tracker_steps.py
  backend/ops_api/tests/ops/procurement_tracker/test_ops_1639_budget_team_requisition.py
Due: nox-lint

style: apply black formatting to test file
  backend/ops_api/tests/ops/procurement_tracker/test_ops_1639_budget_team_requisition.py
Due: nox-lint

fix: correct UserRole query in budget team fixture
  backend/ops_api/tests/ops/procurement_tracker/test_ops_1639_budget_team_requisition.py
Due: nox-lint

fix: add required status field to PATCH requests in tests
  backend/ops_api/tests/ops/procurement_tracker/test_ops_1639_budget_team_requisition.py
Due: nox-lint

fix: correct UserRole.role to Role.name and Notification.created_at to created_on
  backend/ops_api/ops/services/procurement_tracker_steps.py
  backend/ops_api/tests/ops/procurement_tracker/test_ops_1639_budget_team_requisition.py
Due: nox-lint

fix: use PreAwardApprovalNotification and response.json property in tests
  backend/ops_api/tests/ops/procurement_tracker/test_ops_1639_budget_team_requisition.py
Due: nox-lint

fix: restore Pipfile.lock from main to resolve CI dependency issues
  backend/ops_api/Pipfile.lock
Due: none

fix: add requisition field definitions to response schema and fix remaining response.json() call
  backend/ops_api/Pipfile.lock
  backend/ops_api/ops/schemas/procurement_tracker_steps.py
  backend/ops_api/tests/ops/procurement_tracker/test_ops_1639_budget_team_requisition.py
Due: nox-lint

fix: update existing tests to match OPS-1639 notification flow changes
  backend/ops_api/tests/ops/procurement_tracker/test_procurement_tracker_steps_api.py
  backend/ops_api/tests/ops/procurement_tracker/test_procurement_tracker_steps_duplicate_notifications.py
Due: nox-lint

test: fix remaining test failures in OPS-1639
  backend/ops_api/tests/ops/procurement_tracker/test_procurement_tracker_steps_api.py
  backend/ops_api/tests/ops/procurement_tracker/test_procurement_tracker_steps_duplicate_notifications.py
Due: nox-lint

fix: make test_get_procurement_tracker_steps_list more robust
  backend/ops_api/tests/ops/procurement_tracker/test_procurement_tracker_steps_api.py
Due: nox-lint

fix: update Pipfile.lock and apply Black formatting
  backend/ops_api/tests/ops/procurement_tracker/test_procurement_tracker_steps_duplicate_notifications.py
Due: nox-lint

fix: restore Pipfile.lock from main to fix Docker build
  backend/ops_api/Pipfile.lock
Due: none

feat: adding filter button to project page
  backend/openapi.yml
  backend/ops_api/ops/schemas/projects.py
  backend/ops_api/ops/services/projects.py
  backend/ops_api/tests/ops/project/test_project.py
  frontend/cypress/e2e/projectsList.cy.js
  frontend/src/api/opsAPI.js
  frontend/src/components/Projects/ProjectTypeComboBox/ProjectTypeComboBox.jsx
  frontend/src/components/Projects/ProjectTypeComboBox/index.js
  frontend/src/pages/projects/list/ProjectFilterButton/ProjectFilterButton.hooks.js
  frontend/src/pages/projects/list/ProjectFilterButton/ProjectFilterButton.jsx
  frontend/src/pages/projects/list/ProjectFilterButton/ProjectFilterButton.module.css
  frontend/src/pages/projects/list/ProjectFilterButton/ProjectFilterButton.test.jsx
  frontend/src/pages/projects/list/ProjectFilterButton/ProjectFilterTypes.d.ts
  frontend/src/pages/projects/list/ProjectFilterTags/ProjectFilterTags.hooks.js
  frontend/src/pages/projects/list/ProjectFilterTags/ProjectFilterTags.jsx
  frontend/src/pages/projects/list/ProjectFilterTags/ProjectFilterTags.test.jsx
  frontend/src/pages/projects/list/ProjectsList.jsx
Due: nox-lint, eslint, prettier

test: added new and updated fe unit tests
  frontend/src/api/opsAPI.test.js
  frontend/src/pages/procurementDashboard/ProcurementDashboardPage.jsx
  frontend/src/pages/procurementDashboard/ProcurementDashboardPage.test.jsx
  frontend/src/pages/procurementDashboard/details/DetailsBuilderAccordion.test.jsx
  frontend/src/pages/procurementDashboard/details/ProcurementDetails.test.jsx
  frontend/src/pages/procurementDashboard/details/ProcurementDetailsStep.test.jsx
  frontend/src/pages/procurementDashboard/details/ProcurementDetailsTable.test.jsx
  frontend/src/pages/procurementDashboard/details/ProcurementDetailsTableRow.jsx
  frontend/src/pages/procurementDashboard/details/ProcurementDetailsTableRow.test.jsx
Due: eslint, prettier

fix: address PR review - db commits, server-controlled audit fields, test fixes
  backend/ops_api/ops/schemas/procurement_tracker_steps.py
  backend/ops_api/ops/services/procurement_tracker_steps.py
  backend/ops_api/tests/ops/procurement_tracker/test_ops_1639_budget_team_requisition.py
  backend/ops_api/tests/ops/procurement_tracker/test_procurement_tracker_steps_api.py
  backend/ops_api/tests/ops/procurement_tracker/test_procurement_tracker_steps_duplicate_notifications.py
Due: nox-lint

fix: use subqueries to fix multiple filter issue
  backend/ops_api/ops/services/projects.py
  frontend/cypress/e2e/projectsList.cy.js
Due: nox-lint, eslint, prettier

style: apply Black formatting
  backend/ops_api/tests/ops/procurement_tracker/test_procurement_tracker_steps_duplicate_notifications.py
Due: nox-lint

fix: correct validation error assertion in whitespace test
  backend/ops_api/tests/ops/procurement_tracker/test_procurement_tracker_steps_duplicate_notifications.py
Due: nox-lint

style: fixing formatting
  backend/ops_api/ops/services/projects.py
Due: nox-lint

feat: refactoring project filter titles to match design
  frontend/src/components/Projects/ProjectTitleComboBox/ProjectTitleComboBox.jsx
  frontend/src/pages/projects/list/ProjectFilterButton/ProjectFilterButton.jsx
Due: eslint, prettier

style: fix formatting in frontend
  frontend/src/pages/projects/list/ProjectFilterButton/ProjectFilterButton.hooks.js
  frontend/src/pages/projects/list/ProjectFilterTags/ProjectFilterTags.test.jsx
Due: eslint, prettier

feat: implement unsaved changes blocker and modal for CAN detail and funding forms
  frontend/src/components/CANs/CANDetailForm/CANDetailForm.hooks.js
  frontend/src/components/CANs/CANDetailForm/CANDetailForm.jsx
  frontend/src/components/CANs/CANDetailForm/CANDetailForm.test.jsx
  frontend/src/pages/cans/detail/Can.hooks.js
  frontend/src/pages/cans/detail/Can.hooks.test.js
  frontend/src/pages/cans/detail/CanFunding.hooks.js
  frontend/src/pages/cans/detail/CanFunding.hooks.test.js
  frontend/src/pages/cans/detail/CanFunding.jsx
Due: eslint, prettier

test: add e2e test coverage for unsaved changes navigation blocking
  frontend/cypress/e2e/canDetail.cy.js
Due: eslint, prettier

refactor: extract shared useNavigationBlocker hook and fix blocker bugs
  frontend/src/components/CANs/CANDetailForm/CANDetailForm.hooks.js
  frontend/src/hooks/useNavigationBlocker.hooks.js
  frontend/src/hooks/useNavigationBlocker.test.js
  frontend/src/pages/cans/detail/Can.hooks.js
  frontend/src/pages/cans/detail/CanFunding.hooks.js
  frontend/src/pages/cans/detail/CanFunding.hooks.test.js
Due: eslint, prettier

chore: formatting
  frontend/src/hooks/useNavigationBlocker.test.js
Due: eslint, prettier

test: added tests for compute days in procurement step
  backend/ops_api/tests/ops/services/test_agreements.py
Due: nox-lint

feat: add budget team requisition review card to for review tab
  backend/ops_api/Pipfile.lock
  backend/ops_api/ops/resources/procurement_tracker_steps.py
  backend/ops_api/ops/schemas/procurement_tracker_steps.py
  backend/ops_api/ops/services/procurement_tracker_steps.py
  backend/ops_api/ops/urls.py
  backend/ops_api/ops/views.py
  backend/ops_api/tests/ops/procurement_tracker/test_budget_team_requisition_review_card.py
  frontend/src/api/opsAPI.js
  frontend/src/components/ChangeRequests/BudgetTeamRequisitionReviewCard/BudgetTeamRequisitionReviewCard.jsx
  frontend/src/components/ChangeRequests/BudgetTeamRequisitionReviewCard/BudgetTeamRequisitionReviewCard.test.jsx
  frontend/src/components/ChangeRequests/BudgetTeamRequisitionReviewCard/index.js
  frontend/src/components/ChangeRequests/ChangeRequestsList/ChangeRequestsList.jsx
  frontend/src/hooks/useChangeRequests.hooks.js
Due: nox-lint, eslint, prettier

fix: address code review - enum serialization and null safety
  backend/ops_api/ops/schemas/procurement_tracker_steps.py
  frontend/src/components/ChangeRequests/BudgetTeamRequisitionReviewCard/BudgetTeamRequisitionReviewCard.jsx
  frontend/src/components/ChangeRequests/ChangeRequestsList/ChangeRequestsList.jsx
Due: nox-lint, eslint, prettier

fix: fixing duplicate "fy" in filter tag
  frontend/cypress/e2e/projectsList.cy.js
  frontend/src/pages/projects/list/ProjectFilterTags/ProjectFilterTags.hooks.js
Due: eslint, prettier

Notes added by 'git notes add'
  16cea284f54a924533e5c5c7f8dce403ebdf0551
Due: none

fix: update totalFunding prop logic in CanFunding component and add related tests (#5606)
  frontend/src/pages/cans/detail/CanFunding.jsx
  frontend/src/pages/cans/detail/CanFunding.test.jsx
Due: eslint, prettier

fix: add vendor validation to review page and fix stale validation error (#5610)
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.hooks.js
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.jsx
  frontend/src/components/Agreements/AgreementEditor/AgreementEditFormSuite.js
  frontend/src/pages/agreements/review/suite.js
  frontend/src/pages/agreements/review/suite.test.js
Due: eslint, prettier

Notes added by 'git notes add'
  17883c20712a3b5c0d572aa5ca86849959b6b231
Due: none

Notes added by 'git notes add'
  0cc69d6499d02e14c57de9b428bfb6df78a4d258
Due: none

feat: added table sorting
  backend/data_tools/data/agreements_and_blin_data.json5
  frontend/src/hooks/use-sortable-data.hooks.js
  frontend/src/pages/procurementDashboard/ProcurementDashboardPage.jsx
  frontend/src/pages/procurementDashboard/details/ProcurementDetailsStep.jsx
  frontend/src/pages/procurementDashboard/details/ProcurementDetailsTable.constants.js
  frontend/src/pages/procurementDashboard/details/ProcurementDetailsTable.jsx
Due: eslint, prettier

fix(security): address Snyk findings across backend, frontend, Dockerfiles
  .github/actions/zap-json-to-sarif/zap_json_to_sarif.py
  backend/Dockerfile.data-tools
  backend/Dockerfile.data-tools-import
  backend/Dockerfile.debug
  backend/Dockerfile.ops-api
  backend/Pipfile
  backend/data_tools/Pipfile.lock
  frontend/Dockerfile
  frontend/Dockerfile.azure
  frontend/Dockerfile.dev
  frontend/bun.lock
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Agreements/Documents/Document.js
  frontend/src/components/Agreements/Documents/Document.test.js
  frontend/src/components/Auth/MultiAuthSection.jsx
  frontend/src/helpers/safeRedirect.helpers.js
  frontend/src/helpers/safeRedirect.helpers.test.js
  frontend/src/helpers/tableExport.helpers.js
  frontend/src/helpers/tableExport.helpers.test.js
  frontend/src/pages/agreements/list/AgreementsList.test.jsx
  frontend/src/pages/help/FAQ.jsx
  frontend/src/pages/help/HelpCenter.jsx
  frontend/src/pages/help/HowToGuides.jsx
Due: nox-lint, eslint, prettier
