Repository HHS/OPRE-OPS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-lint, eslint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: detect-aws-credentials
        args: [--allow-missing-credentials]
      - id: detect-private-key
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: '^frontend/src/uswds/.*\.svg$'
      - id: check-json
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
  - repo: https://github.com/hadolint/hadolint
    rev: v2.10.0
    hooks:
      - id: hadolint
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.10.1
    hooks:
      - id: isort
        args: ["--profile", "black", "--filter-files"]
  - repo: local
    hooks:
      - id: nox-lint
        name: nox-lint
        entry: bash -c 'cd ./backend/ops_api && pipenv run nox -s lint'
        language: system
        types:
          - python
        pass_filenames: false
      - id: eslint
        name: eslint
        entry: bash -c 'cd ./frontend/ && bun lint'
        language: system
        types_or:
          - javascript
          - jsx
          - css
          - html
        pass_filenames: false
      - id: trufflehog
        name: TruffleHog
        description: Detect secrets in your data.
        entry: bash -c 'if command -v podman >/dev/null 2>&1; then podman run --rm -v "$(pwd):/workdir" -i trufflesecurity/trufflehog:latest git file:///workdir --since-commit HEAD --only-verified --fail; elif command -v docker >/dev/null 2>&1; then docker run --rm -v "$(pwd):/workdir" -i trufflesecurity/trufflehog:latest git file:///workdir --since-commit HEAD --only-verified --fail; else echo "Neither docker nor podman found. Please install one of them." && exit 1; fi'
        language: system
        stages: ["pre-commit", "pre-push"]
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.18.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional"]
        language_version: 22.8.0

Notes added by 'git notes add'
  6954de52dae6068f6c28ae517c780397c3b6a77c
Due: none

fix: fixed fallback procurement shop percentage value
  frontend/src/helpers/budgetLines.helpers.js
  frontend/src/pages/agreements/details/AgreementBudgetLines.jsx
Due: eslint

fix: procurement shop fallback
  frontend/src/api/opsAPI.js
  frontend/src/components/BudgetLineItems/AllBudgetLinesTable/AllBLIRow.jsx
  frontend/src/components/BudgetLineItems/BudgetLinesTable/BLIRow.jsx
  frontend/src/components/BudgetLineItems/BudgetLinesTable/BudgetLinesTable.jsx
  frontend/src/helpers/budgetLines.helpers.js
  frontend/src/pages/agreements/details/AgreementBudgetLines.jsx
  frontend/src/pages/budgetLines/list/BudgetLineItemList.jsx
Due: eslint

chore: updating obe budget lines script to account for list of lines instead of dictreader
  backend/data_tools/src/load_obe_budget_lines/utils.py
Due: nox-lint

chore: updating root load_data script for obe_budget_lines argument
  backend/data_tools/src/load_data.py
Due: nox-lint

test: updating obe tests
  backend/data_tools/tests/load_obe_budget_lines/test_load_obe_budget_lines.py
Due: nox-lint

chore: test iteration
  backend/data_tools/tests/load_obe_budget_lines/test_load_obe_budget_lines.py
Due: nox-lint

Notes added by 'git notes add'
  6a21a121ccb3b53e1cb93c3cd2e9035ff40a9e29
Due: none

fix: change fees type from string to float in budget line items
  backend/openapi.yml
  backend/ops_api/ops/schemas/budget_line_items.py
  backend/ops_api/tests/ops/budget_line_items/test_budget_line_item.py
  frontend/src/types/BudgetLineTypes.d.ts
Due: nox-lint

fix: update agreement serialization to use appropriate schema mappings
  backend/ops_api/ops/resources/agreements.py
Due: nox-lint

feat: include fees in the budget line item response (#4112)
  backend/openapi.yml
  backend/ops_api/ops/schemas/budget_line_items.py
  backend/ops_api/tests/ops/budget_line_items/test_budget_line_item.py
  frontend/src/types/BudgetLineTypes.d.ts
Due: nox-lint

Notes added by 'git notes add'
  f08a188fb355983dbe6b76521f5b14f53cd48f6a
Due: none

feat: adds procshop fee rates to export
  frontend/src/api/opsAPI.js
  frontend/src/pages/budgetLines/list/BudgetLineItemList.jsx
Due: eslint

Notes added by 'git notes add'
  8188083b3e3fc87ca0004d92a89be0584e92e654
Due: none

fix: update budget line item fiscal year in OBE processing and testing
  backend/data_tools/src/load_obe_budget_lines/utils.py
  backend/data_tools/test_csv/obe_budget_lines.tsv
  backend/data_tools/tests/load_obe_budget_lines/test_load_obe_budget_lines.py
Due: nox-lint

feat: utilize procurement shops data and refactor fee calculations
  frontend/src/components/BudgetLineItems/AllBudgetLinesTable/AllBLIRow.jsx
  frontend/src/components/BudgetLineItems/AllBudgetLinesTable/AllBLIRow.test.jsx
  frontend/src/pages/budgetLines/list/BudgetLineItemList.jsx
Due: eslint

feat: integrate procurement shops data into budget lines table and update related tooltips
  frontend/src/components/BudgetLineItems/AllBudgetLinesTable/AllBudgetLinesTable.jsx
  frontend/src/components/BudgetLineItems/AllBudgetLinesTable/AllBudgetLinesTable.test.jsx
  frontend/src/helpers/budgetLines.helpers.test.js
Due: eslint

fix: update procurement shop label to use tbd missing codes
  frontend/src/helpers/budgetLines.helpers.test.js
Due: eslint

test: adds mock api responses
  frontend/src/components/BudgetLineItems/AllBudgetLinesTable/AllBudgetLinesTable.test.jsx
Due: eslint

feat: add properties to AA budget line items and update relationships
  backend/alembic/versions/2025_07_22_1400-a17cf0a735c7_add_props_to_aa_bli_update_.py
  backend/models/budget_line_items.py
  backend/models/services_components.py
  backend/ops_api/tests/ops/can/test_clin.py
  backend/ops_api/tests/ops/can/test_services_component.py
Due: nox-lint

test: update assertions for budget line item attributes
  backend/data_tools/tests/load_obe_budget_lines/test_load_obe_budget_lines.py
Due: nox-lint

test: update agreement detail e2e test woth agreement 10
  backend/data_tools/data/agreements_and_blin_data.json5
  backend/ops_api/tests/ops/budget_line_items/test_budget_line_item.py
  backend/ops_api/tests/ops/funding_summary/test_can_funding_summary.py
  backend/ops_api/tests/ops/funding_summary/test_portfolio_funding_summary.py
  frontend/cypress/e2e/agreementDetails.cy.js
Due: nox-lint, eslint

chore: remove unused lazy query for procurement shop by id
  frontend/src/api/opsAPI.js
Due: eslint

chore: continue processing budget line items when not found
  backend/data_tools/src/load_obe_budget_lines/utils.py
Due: nox-lint

test: fixed e2e test failure
  frontend/cypress/e2e/canDetail.cy.js
Due: eslint

test: updates tests to avoid agreement 1
  frontend/cypress/e2e/agreementDetails.cy.js
Due: eslint

test: fixes agreement budget line
  frontend/cypress/e2e/agreementDetailsEdit.cy.js
Due: eslint

feat: refactor budget line item creation and update relationships
  backend/alembic/versions/2025_07_22_2127-76e2039458d9_add_props_to_aa_bli.py
  backend/models/budget_line_items.py
  backend/models/services_components.py
  backend/ops_api/ops/resources/budget_line_items.py
  backend/ops_api/ops/services/budget_line_items.py
  backend/ops_api/ops/utils/budget_line_items_helpers.py
  backend/ops_api/tests/conftest.py
  backend/ops_api/tests/ops/agreement/test_agreement.py
  backend/ops_api/tests/ops/budget_line_items/test_budget_line_item.py
Due: nox-lint

chore: working on procurement shop history messages
  backend/alembic/versions/2025_06_27_1508-070df8b08b8d_get_agreement_history_trigger_and_new_.py
  backend/data_tools/data/ops_event.json5
  backend/models/agreement_history.py
  backend/ops_api/ops/resources/agreements.py
  backend/ops_api/ops/services/agreement_messages.py
  backend/ops_api/tests/ops/agreement/test_agreement_history.py
Due: nox-lint

test: updates tests since we have 2 new BLIs
  frontend/cypress/e2e/budgetLineItemsList.cy.js
Due: eslint

test: updates test to account for 2 new BLIs
  frontend/cypress/e2e/reviewAgreement.cy.js
Due: eslint

chore: update send to approval modal message
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.jsx
Due: eslint

feat: update budget line item fields to remove dump_default while maintaining allow_none
  backend/ops_api/ops/schemas/budget_line_items.py
Due: nox-lint

docs: updates type info
  frontend/src/helpers/budgetLines.helpers.js
  frontend/src/pages/budgetLines/list/BudgetLineItemList.jsx
Due: eslint

fix: decimal scale math
  frontend/src/components/BudgetLineItems/BudgetLinesTable/BLIRow.jsx
  frontend/src/helpers/utils.js
Due: eslint

feat: set default status to DRAFT for budget line items and update tests
  backend/models/budget_line_items.py
  backend/ops_api/ops/schemas/budget_line_items.py
  backend/ops_api/tests/ops/budget_line_items/test_budget_line_item.py
Due: nox-lint

Notes added by 'git notes add'
  682c5478c840ca19b2d49c69b5d2c101fd435768
Due: none

feat: finds agreement change requests
  frontend/src/components/ChangeRequests/ChangeRequestsList/ChangeRequestsList.jsx
Due: eslint

docs: update the change requests type
  frontend/src/types/ChangeRequestsTypes.d.ts
Due: none

Notes added by 'git notes add'
  6843b2c8363b09c4b954c6d023e7d498c035827f
Due: none
