Repository HHS/OPRE-OPS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-lint, eslint, prettier

nox-lint:
  name: nox-lint
  entry: bash -c 'cd ./backend/ops_api && pipenv run nox -s lint'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd ./frontend/ && bun lint'
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: bash -c 'cd ./frontend/ && bunx prettier --check --ignore-unknown'
  language: system
  pass_filenames: true

fix: suppress Semgrep SQL injection warnings in change_type method
  backend/models/projects.py
Due: nox-lint

fix(storybook): add nginx location block for /storybook route
  frontend/nginx.conf
Due: none

style: adjust grid column classes for improved layout in budget line item tables
  frontend/src/components/BudgetLineItems/AllBudgetLinesTable/AllBLIRow.jsx
  frontend/src/components/BudgetLineItems/BudgetLinesTable/BLIRow.jsx
  frontend/src/components/CANs/CANBudgetLineTable/CANBudgetLineTableRow.jsx
Due: eslint, prettier

feat(project): define operation type constants for version tracking
  backend/models/projects.py
  backend/ops_api/tests/ops/project/test_project.py
Due: nox-lint

fix(storybook): replace URI fallback with =404 to prevent redirect loop
  frontend/nginx.conf
Due: none

fix: address PR review comments for pre-award notification schema
  backend/ops_api/ops/schemas/procurement_tracker_steps.py
  backend/ops_api/tests/ops/notification/test_notification.py
Due: nox-lint

fix(storybook): remove addon-onboarding and add CI=true to prevent Docker build hang
  frontend/.storybook/main.js
  frontend/Dockerfile.azure
Due: eslint, prettier

feat: add procurement shop field to BLIReviewRow and BLIDiffRow
  frontend/src/components/BudgetLineItems/BLIDiffTable/BLIDiffRow.jsx
  frontend/src/components/BudgetLineItems/BLIDiffTable/BLIDiffRow.test.jsx
  frontend/src/components/BudgetLineItems/BLIReviewTable/BLIReviewRow.jsx
  frontend/src/pages/agreements/approve/ApproveAgreement.hooks.js
Due: eslint, prettier

fix: remove unused ProcurementTrackerStep import
  backend/ops_api/tests/ops/notification/test_notification.py
Due: nox-lint

style: remove unnecessary f-string prefixes from test assertions
  backend/ops_api/tests/ops/agreement/test_agreement_history.py
Due: nox-lint

fix: commit OpsEvent before triggering history in pre-award approval tests
  backend/ops_api/tests/ops/agreement/test_agreement_history.py
Due: nox-lint

fix(storybook): add nginx location block for /storybook route (#5569)
  frontend/.storybook/main.js
  frontend/Dockerfile.azure
  frontend/nginx.conf
Due: eslint, prettier

Notes added by 'git notes add'
  8315f5d53b07683e4a9145706a88d900b6be2312
Due: none

fix(ci): skip Storybook build in E2E stack to prevent >1h CI hangs
  .github/workflows/dev_fe_build_and_deploy.yml
  .github/workflows/stg_fe_build_and_deploy.yml
  .github/workflows/storybook_build.yml
  docker-compose.static.yml
  docs/developers/frontend/storybook-ci-hang-investigation.md
  frontend/Dockerfile.azure
Due: none

docs: address PR review comments on storybook-ci-hang fix
  AGENTS.md
  docs/adr/031-storybook-for-component-documentation.md
  docs/developers/frontend/storybook-ci-hang-investigation.md
Due: none

feat: flattened the project type hierarchy to just the individual project table
  backend/data_tools/src/load_projects/utils.py
  backend/data_tools/tests/backfill_procurement_tracker/test_backfill_procurement_tracker.py
  backend/data_tools/tests/backfill_procurement_tracker/test_procurement_workflow.py
  backend/data_tools/tests/load_aas/test_load_aas.py
  backend/data_tools/tests/load_award_date/test_load_award_date.py
  backend/data_tools/tests/load_contracts/test_load_contracts.py
  backend/data_tools/tests/load_direct_obligations/test_load_direct_obligations.py
  backend/data_tools/tests/load_grants/test_load_grants.py
  backend/data_tools/tests/load_iaas/test_load_iaas.py
  backend/data_tools/tests/load_master_spreadsheet_budget_lines/test_load_master_spreadsheet_budget_lines_items.py
  backend/data_tools/tests/load_master_spreadsheet_budget_lines_v2/test_load_master_spreadsheet_budget_lines_items_v2.py
  backend/data_tools/tests/load_ops_contracts/test_load_contracts.py
  backend/data_tools/tests/load_projects/test_load_projects.py
  backend/models/marshmallow.py
  backend/models/projects.py
  backend/ops_api/ops/resources/projects.py
  backend/ops_api/ops/schemas/projects.py
  backend/ops_api/ops/services/projects.py
  backend/ops_api/tests/conftest.py
  backend/ops_api/tests/ops/agreement/test_agreement.py
  backend/ops_api/tests/ops/funding_summary/test_agreement_spending_summary.py
  backend/ops_api/tests/ops/project/test_project.py
  backend/ops_api/tests/ops/project/test_project_spending.py
  backend/ops_api/tests/ops/research_project/test_research_project.py
  backend/ops_api/tests/ops/utils/test_reporting_counts.py
Due: nox-lint

fix: commit history events in pre-award approval tests
  backend/ops_api/tests/ops/agreement/test_agreement_history.py
Due: nox-lint

fix: create ProcurementTracker in pre-award approval tests
  backend/ops_api/tests/ops/agreement/test_agreement_history.py
Due: nox-lint

fix: add tracker_type to ProcurementTracker in pre-award tests
  backend/ops_api/tests/ops/agreement/test_agreement_history.py
Due: nox-lint

feat: ensure does not create procurement records for GRANT and DIRECT_OBLIGATION agreements
  backend/data_tools/src/load_master_spreadsheet_budget_lines_v2/utils.py
  backend/data_tools/tests/load_master_spreadsheet_budget_lines_v2/test_load_master_spreadsheet_budget_lines_items_v2.py
Due: nox-lint

refactor: improve readability of conditional statement in create_models function
  backend/data_tools/src/load_master_spreadsheet_budget_lines_v2/utils.py
  backend/data_tools/tests/load_master_spreadsheet_budget_lines_v2/test_load_master_spreadsheet_budget_lines_items_v2.py
Due: nox-lint

Notes added by 'git notes add'
  699bde4c2ea36a13eea657a2c46024dbb2c786cf
Due: none

Notes added by 'git notes add'
  69f74601f5b90d9d33394d9b3182ffa8b7f7f067
Due: none

feat: update disabled tooltips
  frontend/src/components/Agreements/DetailsTabs/DetailsTabs.jsx
Due: eslint, prettier

fix: resolve session isolation issues in pre-award approval tests
  backend/ops_api/Pipfile.lock
  backend/ops_api/tests/ops/agreement/test_agreement_history.py
Due: nox-lint

style: apply Black formatting to test_agreement_history
  backend/ops_api/tests/ops/agreement/test_agreement_history.py
Due: nox-lint

feat: table rows render up to target data
  frontend/src/pages/procurementDashboard/details/ProcurementDetails.jsx
  frontend/src/pages/procurementDashboard/details/ProcurementDetailsStep.jsx
  frontend/src/pages/procurementDashboard/details/ProcurementDetailsTable.jsx
  frontend/src/pages/procurementDashboard/details/ProcurementDetailsTableRow.jsx
Due: eslint, prettier

fix(ci): skip Storybook build in E2E stack to prevent >1h CI hangs (#5573)
  .github/workflows/dev_fe_build_and_deploy.yml
  .github/workflows/stg_fe_build_and_deploy.yml
  .github/workflows/storybook_build.yml
  AGENTS.md
  docker-compose.static.yml
  docs/adr/031-storybook-for-component-documentation.md
  docs/developers/frontend/storybook-ci-hang-investigation.md
  frontend/Dockerfile.azure
Due: none

Notes added by 'git notes add'
  e2b43adb4f2e48cee15acb4e4936a51643ac60a2
Due: none

feat: adding abbreviation to portfolio on project funding endpoint
  backend/models/projects.py
  backend/openapi.yml
  backend/ops_api/ops/schemas/projects.py
  backend/ops_api/tests/ops/project/test_project.py
Due: nox-lint

Notes added by 'git notes add'
  9d685ec8d1607df8794b7a6aa6048818cc4216ed
Due: none

fix: prevent markdown injection and whitespace bugs in pre-award approval notifications
  backend/ops_api/ops/services/procurement_tracker_steps.py
  backend/ops_api/tests/ops/procurement_tracker/test_procurement_tracker_steps_duplicate_notifications.py
Due: nox-lint

fix: include reviewer notes in pre-award approval/decline notification
  backend/ops_api/ops/services/procurement_tracker_steps.py
Due: nox-lint

fix: prevent markdown injection in pre-award approval notes
  backend/ops_api/ops/services/procurement_tracker_steps.py
  backend/ops_api/tests/ops/procurement_tracker/test_procurement_tracker_steps_duplicate_notifications.py
Due: nox-lint

Path conditions:
  nox-lint: any of: \.py$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.css$, \.(html|htm|xhtml)$
  prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|scss|html|md)$
