Repository HHS/OPRE-OPS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-lint, eslint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: detect-aws-credentials
        args: [--allow-missing-credentials]
      - id: detect-private-key
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: '^frontend/src/uswds/.*\.svg$'
      - id: check-json
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
  - repo: https://github.com/hadolint/hadolint
    rev: v2.10.0
    hooks:
      - id: hadolint
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.10.1
    hooks:
      - id: isort
        args: ["--profile", "black", "--filter-files"]
  - repo: local
    hooks:
      - id: nox-lint
        name: nox-lint
        entry: bash -c 'cd ./backend/ops_api && pipenv run nox -s lint'
        language: system
        types:
          - python
        pass_filenames: false
      - id: eslint
        name: eslint
        entry: bash -c 'cd ./frontend/ && bun lint'
        language: system
        types_or:
          - javascript
          - jsx
          - css
          - html
        pass_filenames: false
      - id: trufflehog
        name: TruffleHog
        description: Detect secrets in your data.
        entry: bash -c 'if command -v podman >/dev/null 2>&1; then podman run --rm -v "$(pwd):/workdir" -i trufflesecurity/trufflehog:latest git file:///workdir --since-commit HEAD --only-verified --fail; elif command -v docker >/dev/null 2>&1; then docker run --rm -v "$(pwd):/workdir" -i trufflesecurity/trufflehog:latest git file:///workdir --since-commit HEAD --only-verified --fail; else echo "Neither docker nor podman found. Please install one of them." && exit 1; fi'
        language: system
        stages: ["pre-commit", "pre-push"]
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.18.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional"]
        language_version: 22.8.0

chore: fix typo
  backend/data_tools/initial_data/001-division.sql
  backend/data_tools/initial_data/002-division_version.sql
Due: none

chore: fix typo
  backend/data_tools/initial_data/002-division_version.sql
Due: none

Notes added by 'git notes add'
  0cef7255ae23a0ddc6c555c992a5122c1aa3f29e
Due: none

Notes added by 'git notes add'
  f396937f7469bf0eba01221e86e852ad221e230c
Due: none

fix: fixing issue where failed db commits caused current user access to also throw exception
  backend/ops_api/ops/resources/administrative_and_support_projects.py
  backend/ops_api/ops/resources/budget_line_items.py
  backend/ops_api/ops/services/can_messages.py
  backend/ops_api/ops/utils/events.py
  backend/ops_api/tests/ops/can/test_can_funding_budget.py
  backend/ops_api/tests/ops/can/test_can_funding_received.py
Due: nox-lint

test: add e2e and unit-tests for our table
  frontend/cypress/e2e/canDetail.cy.js
  frontend/src/components/BudgetLineItems/ChangeIcons/ChangeIcons.jsx
  frontend/src/components/CANs/CANFundingReceivedForm/CanFundingReceivedForm.jsx
  frontend/src/components/CANs/CANFundingReceivedTable/CANFundingReceivedTable.test.jsx
  frontend/src/pages/cans/detail/CanFunding.hooks.js
Due: eslint

test: update e2e tests for funding received card updates
  frontend/cypress/e2e/canDetail.cy.js
Due: eslint

test: fix fe data
  frontend/src/components/Agreements/AgreementCANReviewAccordion/AgreementCANReviewAccordion.test.jsx
  frontend/src/components/CANs/CANFundingCard/CanFundingCard.test.jsx
  frontend/src/components/CANs/CanCard/CanCard.test.jsx
Due: eslint

chore: add comment to note carry forward is available
  backend/ops_api/ops/utils/cans.py
Due: nox-lint

fix: reformat CAN funding sum response type
  backend/openapi.yml
Due: none

feat: update CAN funding summary marshmallow schema
  backend/ops_api/ops/schemas/can_funding_summary.py
Due: nox-lint

feat: update aggregate method return and fix unittests
  backend/ops_api/ops/utils/cans.py
  backend/ops_api/tests/ops/funding_summary/test_can_funding_summary.py
Due: nox-lint

chore: updating frontend formatting of enum values
  frontend/src/components/CANs/CAN.constants.js
  frontend/src/components/CANs/CANTypes.d.ts
Due: eslint

chore: add alembic revision to accompany enum update
  backend/alembic/versions/2025_01_21_0619-6e35b193a666_updating_can_funding_source_enum.py
Due: nox-lint

fix: match funding total type
  backend/ops_api/ops/utils/cans.py
Due: nox-lint

fix: fixing project and bli functionality that relied on erroneous 400 error
  backend/openapi.yml
  backend/ops_api/ops/resources/budget_line_items.py
  backend/ops_api/ops/resources/research_projects.py
  backend/ops_api/tests/ops/can/test_budget_line_item.py
  backend/ops_api/tests/ops/project/test_project.py
Due: nox-lint

test: finish adding metadata tests to create can funding budget
  backend/ops_api/ops/resources/research_projects.py
  backend/ops_api/ops/services/can_messages.py
  backend/ops_api/tests/conftest.py
  backend/ops_api/tests/ops/can/test_can_funding_budget.py
Due: nox-lint

Update Carry Forward Funding Calculation (#3313)
  backend/ops_api/ops/utils/cans.py
  backend/ops_api/tests/ops/funding_summary/test_can_funding_summary.py
  frontend/src/components/Agreements/AgreementCANReviewAccordion/AgreementCANReviewAccordion.test.jsx
  frontend/src/components/CANs/CANFundingCard/CanFundingCard.test.jsx
  frontend/src/components/CANs/CanCard/CanCard.test.jsx
Due: nox-lint, eslint

chore: remove debug code
  frontend/src/pages/cans/detail/CanFunding.jsx
Due: eslint

chore: fix merge conflict data error
  frontend/src/components/Agreements/AgreementCANReviewAccordion/AgreementCANReviewAccordion.test.jsx
Due: eslint

chore: fix merge conflict data error again
  frontend/src/components/CANs/CANFundingCard/CanFundingCard.test.jsx
  frontend/src/components/CANs/CanCard/CanCard.test.jsx
Due: eslint

Remove authorizer and external authorizer attributes used in test data (#3214)
  frontend/src/components/Agreements/AgreementCANReviewAccordion/AgreementCANReviewAccordion.test.jsx
  frontend/src/components/CANs/CANFundingCard/CanFundingCard.test.jsx
  frontend/src/components/CANs/CanCard/CanCard.test.jsx
  frontend/src/tests/data.js
Due: eslint

Notes added by 'git notes add'
  c3c8250c136bd08bb615685a8210830c2a75382b
Due: none

test: fix funding summary unit tests
  backend/ops_api/tests/ops/funding_summary/test_can_funding_summary.py
Due: nox-lint

chore: can funding received service returns deleted can to support deletion history msg
  backend/data_tools/data/ops_event.json5
  backend/ops_api/ops/resources/can_funding_received.py
  backend/ops_api/ops/services/can_funding_received.py
  backend/ops_api/ops/services/can_messages.py
  backend/ops_api/tests/ops/can/test_can_funding_received.py
Due: nox-lint

test: switch order of data imports to not violate fk constraint while also fixing test
  backend/data_tools/data/ops_event.json5
  backend/data_tools/scripts/import_test_data.sh
  backend/ops_api/ops/services/can_messages.py
  backend/ops_api/tests/docker-compose.yml
  backend/ops_api/tests/ops/can_history/test_can_history.py
Due: nox-lint

fix: fixing utility function declaration
  backend/ops_api/ops/resources/budget_line_items.py
Due: nox-lint

feat: adds welcome modal to can funding page
  frontend/cypress/e2e/canDetail.cy.js
  frontend/src/api/opsAPI.js
  frontend/src/components/Agreements/AgreementCANReviewAccordion/AgreementCANReviewAccordion.test.jsx
  frontend/src/components/BudgetLineItems/ChangeIcons/ChangeIcons.jsx
  frontend/src/components/CANs/CANFundingCard/CanFundingCard.test.jsx
  frontend/src/components/CANs/CANFundingReceivedForm/CanFundingReceivedForm.jsx
  frontend/src/components/CANs/CANFundingReceivedTable/CANFundingReceivedTable.jsx
  frontend/src/components/CANs/CANFundingReceivedTable/CANFundingReceivedTable.test.jsx
  frontend/src/components/CANs/CANFundingReceivedTable/CANFundingReceivedTableRow.jsx
  frontend/src/components/CANs/CANTypes.d.ts
  frontend/src/components/CANs/CanCard/CanCard.test.jsx
  frontend/src/components/UI/DataViz/LineBar/LineBar.jsx
  frontend/src/pages/cans/detail/Can.hooks.js
  frontend/src/pages/cans/detail/Can.jsx
  frontend/src/pages/cans/detail/CanFunding.hooks.js
  frontend/src/pages/cans/detail/CanFunding.jsx
  frontend/src/pages/cans/detail/CanFundingSuite.js
  frontend/src/tests/data.js
Due: eslint

feat: adds welcome modal to can funding received tab
  frontend/cypress/e2e/canDetail.cy.js
  frontend/src/components/UI/DataViz/LineBar/LineBar.jsx
  frontend/src/pages/cans/detail/Can.hooks.js
  frontend/src/pages/cans/detail/Can.jsx
  frontend/src/pages/cans/detail/CanFunding.hooks.js
  frontend/src/pages/cans/detail/CanFunding.jsx
Due: eslint

docs: update prop types for budget and funding components
  frontend/src/components/CANs/CANBudgetForm/CANBudgetForm.jsx
  frontend/src/components/CANs/CANFundingReceivedForm/CanFundingReceivedForm.jsx
  frontend/src/components/CANs/CANFundingReceivedTable/CANFundingReceivedTable.jsx
  frontend/src/pages/cans/detail/CanFunding.hooks.js
  frontend/src/pages/cans/detail/CanFunding.jsx
Due: eslint

test: fix frontend test data
  frontend/src/components/Agreements/AgreementCANReviewAccordion/AgreementCANReviewAccordion.test.jsx
  frontend/src/components/CANs/CANFundingCard/CanFundingCard.test.jsx
Due: eslint

feat: make budget required on post can funding budgets
  backend/openapi.yml
  backend/ops_api/ops/resources/can_funding_budget.py
  backend/ops_api/ops/schemas/cans.py
  backend/ops_api/ops/services/can_funding_budget.py
  backend/ops_api/tests/ops/can/test_can_funding_budget.py
Due: nox-lint

chore: remove service handling
  backend/ops_api/ops/resources/can_funding_budget.py
  backend/ops_api/ops/services/can_funding_budget.py
  backend/ops_api/tests/ops/can/test_can_funding_budget.py
Due: nox-lint

chore: remove unit test
  backend/ops_api/tests/ops/can/test_can_funding_budget.py
Due: nox-lint

Notes added by 'git notes add'
  9c4538c2a14a0d7ebad042f1f375674178592329
Due: none

feat: make funding required on create and update CAN funding received
  backend/openapi.yml
  backend/ops_api/ops/schemas/cans.py
  backend/ops_api/tests/ops/can/test_can_funding_received.py
Due: nox-lint

test: rename test
  backend/ops_api/tests/ops/can/test_can_funding_received.py
Due: nox-lint

Notes added by 'git notes add'
  469ade3845356eaf03461c8377ead9d52f0f1c1e
Due: none

refactor: add iterator to show null values in can budget chart
  frontend/src/components/CANs/CANBudgetByFYCard/CANBudgetByFYCard.jsx
  frontend/src/components/UI/DataViz/LineBar/LineBar.jsx
Due: eslint

build: upgrade fontawesome and fix breaking changes
  frontend/bun.lockb
  frontend/package.json
  frontend/src/components/Auth/AuthSection.jsx
  frontend/src/components/UI/Header/Search.jsx
  frontend/src/components/UI/HeroDescription/HeroDescription.jsx
Due: eslint
