Repository HHS/OPRE-OPS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-lint, eslint, prettier

nox-lint:
  name: nox-lint
  entry: bash -c 'cd ./backend/ops_api && pipenv run nox -s lint'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd ./frontend/ && bun lint'
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: bash -c 'cd ./frontend/ && bunx prettier --check --ignore-unknown'
  language: system
  pass_filenames: true

style: improve layout of completed by and date completed tags in ProcurementTrackerStepOne
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepOne/ProcurementTrackerStepOne.jsx
Due: eslint, prettier

chore: move full width value to constants
  frontend/src/constants.js
  frontend/src/pages/agreements/list/AgreementsFilterButton/AgreementsFilterButton.jsx
  frontend/src/pages/budgetLines/list/BLIFilterButton.jsx
  frontend/src/pages/cans/list/CANFilterButton/CANFilterButton.jsx
  frontend/src/pages/portfolios/list/PortfolioFilterButton/PortfolioFilterButton.jsx
Due: eslint, prettier

test: add overrideStyles test for DoubleRangeSlider component
  frontend/src/components/UI/DoubleRangeSlider/DoubleRangeSlider.test.jsx
Due: eslint, prettier

chore(a11y): allowlist legacy landmark violations in budget list
  frontend/cypress/support/a11yAllowlist.js
Due: eslint, prettier

Hotfix/fix filter modal margins (#5145)
  frontend/cypress/e2e/canList.cy.js
  frontend/src/components/CANs/CANFYBudgetRangeSlider/CANFYBudgetRangeSlider.jsx
  frontend/src/components/UI/BudgetRangeSlider/BudgetRangeSlider.jsx
  frontend/src/components/UI/DoubleRangeSlider/DoubleRangeSlider.jsx
  frontend/src/components/UI/DoubleRangeSlider/DoubleRangeSlider.test.jsx
  frontend/src/components/UI/FilterButton/FilterButton.jsx
  frontend/src/constants.js
  frontend/src/pages/agreements/list/AgreementsFilterButton/AgreementsFilterButton.jsx
  frontend/src/pages/budgetLines/list/BLIFilterButton.jsx
  frontend/src/pages/cans/list/CANFilterButton/CANFilterButton.jsx
  frontend/src/pages/portfolios/list/PortfolioFilterButton/AvailableBudgetPercentageFilter.jsx
  frontend/src/pages/portfolios/list/PortfolioFilterButton/PortfolioFYBudgetRangeSlider.jsx
  frontend/src/pages/portfolios/list/PortfolioFilterButton/PortfolioFilterButton.jsx
Due: eslint, prettier

style: enhance layout and spacing in ProcurementTrackerStepTwo component
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepTwo/ProcurementTrackerStepTwo.jsx
Due: eslint, prettier

style: update styling and layout for ProcurementTrackerStepTwo component
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepTwo/ProcurementTrackerStepTwo.jsx
Due: eslint, prettier

feat: enhance query parameter description for including inactive CANs
  backend/openapi.yml
Due: none

test: clarify super user edit button test description
  frontend/src/components/Agreements/AgreementsTable/AgreementTableRow.test.js
Due: eslint, prettier

fix: clarify agreement editability logic for super users
  backend/ops_api/ops/services/agreements.py
Due: nox-lint

Notes added by 'git notes add'
  8350107e4d97d659d01ed1ca5a486da48b8f04b2
Due: none

fix(frontend): harden a11y gate validation and logging
  frontend/cypress/e2e/saveChangesToEdits.cy.js
  frontend/cypress/e2e/utils.js
  frontend/cypress/support/a11yAllowlist.js
  frontend/cypress/support/commands.js
  frontend/scripts/a11y/validate-suppressions.mjs
Due: eslint, prettier

Notes added by 'git notes add'
  dd00b512771ea6f6d92cfe8ed05d116a1a4e6133
Due: none

test: add unit tests for AgreementsService._is_editable method
  backend/ops_api/tests/ops/services/test_agreements.py
Due: nox-lint

feat: add query parameter to include inactive CANs in results
  backend/openapi.yml
Due: none

feat: add Solicitation step agreement history
  backend/data_tools/data/ops_event.json5
  backend/models/agreement_history.py
  backend/ops_api/tests/ops/agreement/test_agreement_history.py
Due: nox-lint

feat: adding data to cards
  backend/ops_api/ops/schemas/agreements.py
  frontend/src/components/Agreements/AgreementFYSpendingSummaryCard/AgreementFYSpendingSummaryCard.jsx
  frontend/src/components/Agreements/AgreementSummaryCardsSection/AgreementSummaryCardsSection.jsx
  frontend/src/components/Agreements/AgreementTypeSummaryCard/AgreementTypeSummaryCard.jsx
  frontend/src/helpers/agreement.helpers.js
  frontend/src/pages/agreements/list/AgreementsList.jsx
Due: nox-lint, eslint, prettier

fix: correct HTML5 definition list semantics in procurement tracker
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepOne/ProcurementTrackerStepOne.jsx
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepTwo/ProcurementTrackerStepTwo.jsx
Due: eslint, prettier

Notes added by 'git notes add'
  bdb340ab99c959a9da7546e29001503cd2625c1b
Due: none

Notes added by 'git notes add'
  4963fd8c8cc6a736f8bd632459ae777421e61f2a
Due: none

fix(deps): migrate vest to v6 run API
  frontend/bun.lock
  frontend/package.json
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.hooks.js
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepOne/ProcurementTrackerStepOne.hooks.js
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepOne/ProcurementTrackerStepOne.hooks.test.js
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepOne/suite.test.js
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepTwo/ProcurementTrackerStepTwo.hooks.js
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepTwo/ProcurementTrackerStepTwo.hooks.test.js
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepTwo/suite.test.js
  frontend/src/components/BudgetLineItems/BudgetLinesForm/BudgetLinesForm.jsx
  frontend/src/components/BudgetLineItems/BudgetLinesForm/suite.test.js
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.hooks.js
  frontend/src/components/CANs/CANDetailForm/CANDetailForm.hooks.js
  frontend/src/pages/agreements/review/ReviewAgreement.hooks.js
  frontend/src/pages/agreements/review/suite.js
  frontend/src/pages/agreements/review/suite.test.js
  frontend/src/pages/cans/detail/CanFunding.hooks.js
  frontend/src/pages/projects/CreateProject.jsx
Due: eslint, prettier

Notes added by 'git notes add'
  8f8be79ff14bb8b166e5e52b5900574492194f21
Due: none

test(frontend): complete wave 1 coverage uplift for approve and BLI flows
  .github/ISSUE_TEMPLATE/frontend-coverage-umbrella.md
  .github/ISSUE_TEMPLATE/frontend-coverage-wave.md
  docs/developers/frontend/coverage-90/umbrella-issue.md
  docs/developers/frontend/coverage-90/wave-1-issue.md
  docs/developers/frontend/coverage-90/wave-2-issue.md
  docs/developers/frontend/coverage-90/wave-3-issue.md
  docs/developers/frontend/coverage-90/wave-4-issue.md
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIAndSCs.test.js
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.hooks.test.js
  frontend/src/pages/agreements/approve/ApproveAgreement.hooks.test.js
  frontend/src/pages/agreements/approve/ApproveAgreement.test.jsx
Due: eslint, prettier

feat: add gatekeeping checkbox to procurement tracker step 3
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepThree/ProcurementTrackerStepThree.hooks.js
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepThree/ProcurementTrackerStepThree.jsx
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepThree/ProcurementTrackerStepThree.test.jsx
Due: eslint, prettier

test: update parent component tests for step 3 checkbox implementation
  frontend/src/pages/agreements/details/AgreementProcurementTracker.test.jsx
Due: eslint, prettier

feat: add cancel and complete buttons to procurement tracker step 3
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepThree/ProcurementTrackerStepThree.hooks.js
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepThree/ProcurementTrackerStepThree.jsx
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepThree/ProcurementTrackerStepThree.test.jsx
Due: eslint, prettier

feat: completed card data and fixed percentages
  frontend/src/components/Agreements/AgreementSummaryCardsSection/AgreementSummaryCardsSection.jsx
  frontend/src/components/Agreements/AgreementTypeSummaryCard/AgreementTypeSummaryCard.jsx
  frontend/src/helpers/agreement.helpers.js
Due: eslint, prettier

refactor: remove deprecated calcFunding endpoint and related resources
  backend/openapi.yml
  backend/ops_api/ops/resources/portfolio_calculate_funding.py
  backend/ops_api/ops/urls.py
  backend/ops_api/ops/views.py
  backend/ops_api/tests/ops/portfolio/test_portfolio_calculate_funding.py
  frontend/src/api/opsAPI.js
Due: nox-lint, eslint, prettier

style: added colors
  frontend/sass/uswds/styles.scss
  frontend/src/components/Agreements/AgreementFYSpendingSummaryCard/AgreementFYSpendingSummaryCard.jsx
  frontend/src/components/Agreements/AgreementTypeSummaryCard/AgreementTypeSummaryCard.jsx
  frontend/src/uswds/css/styles.css
  frontend/src/uswds/css/styles.css.map
Due: eslint, prettier

feat: award_type properties for agreement classification
  backend/models/agreements.py
  backend/openapi.yml
  backend/ops_api/ops/schemas/agreements.py
  backend/ops_api/tests/ops/agreement/test_agreement_award_type.py
Due: nox-lint

feat: add cancel and complete buttons to procurement tracker step 3
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepThree/ProcurementTrackerStepThree.jsx
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepThree/ProcurementTrackerStepThree.test.jsx
Due: eslint, prettier

feat: update solicitation period instructions and labels in procurement tracker step 3
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepThree/ProcurementTrackerStepThree.jsx
Due: eslint, prettier

fix: update tests to match new solicitation period labels
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepThree/ProcurementTrackerStepThree.jsx
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepThree/ProcurementTrackerStepThree.test.jsx
Due: eslint, prettier

fix: update parent component test for new step 3 instruction text
  frontend/src/pages/agreements/details/AgreementProcurementTracker.test.jsx
Due: eslint, prettier

feat: add validation to solicitation period save button in step 3
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepThree/ProcurementTrackerStepThree.jsx
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepThree/ProcurementTrackerStepThree.test.jsx
Due: eslint, prettier

style: fix prettier formatting in ProcurementTrackerStepThree test
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepThree/ProcurementTrackerStepThree.test.jsx
Due: eslint, prettier

feat: implement step 3 completion and solicitation dates save handlers
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepThree/ProcurementTrackerStepThree.hooks.js
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepThree/ProcurementTrackerStepThree.jsx
Due: eslint, prettier

feat: update step 3 readonly layout to match editable view structure
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepThree/ProcurementTrackerStepThree.jsx
Due: eslint, prettier

feat: add readonly view for solicitation period dates when saved
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepThree/ProcurementTrackerStepThree.jsx
Due: eslint, prettier

Path conditions:
  nox-lint: any of: \.py$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.css$, \.(html|htm|xhtml)$
  prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|scss|html|md)$
