Repository HHS/OPRE-OPS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-lint, eslint, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: detect-aws-credentials
        args: [--allow-missing-credentials]
      - id: detect-private-key
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: '^frontend/src/uswds/.*(\.svg|\.map)$'
      - id: check-json
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
  - repo: https://github.com/hadolint/hadolint
    rev: v2.14.0
    hooks:
      - id: hadolint
  - repo: https://github.com/pycqa/isort
    rev: 7.0.0
    hooks:
      - id: isort
        name: isort (ops_api)
        args: ["--settings-file", "backend/ops_api/pyproject.toml", "--filter-files"]
        files: ^backend/ops_api/
      - id: isort
        name: isort (data_tools)
        args: ["--settings-file", "backend/data_tools/pyproject.toml", "--filter-files"]
        files: ^backend/data_tools/
  - repo: local
    hooks:
      - id: nox-lint
        name: nox-lint
        entry: bash -c 'cd ./backend/ops_api && pipenv run nox -s lint'
        language: system
        types:
          - python
        pass_filenames: false
      - id: eslint
        name: eslint
        entry: bash -c 'cd ./frontend/ && bun lint'
        language: system
        types_or:
          - javascript
          - jsx
          - css
          - html
        pass_filenames: false
      - id: prettier
        name: prettier
        entry: bash -c 'cd ./frontend/ && bunx prettier --check --ignore-unknown'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json|css|scss|html|md)$
        pass_filenames: true
      - id: trufflehog
        name: TruffleHog
        description: Detect secrets in your data.
        entry: bash -c 'if command -v podman >/dev/null 2>&1; then podman run --rm -v "$(pwd):/workdir" -i trufflesecurity/trufflehog:latest git file:///workdir --since-commit HEAD --only-verified --fail; elif command -v docker >/dev/null 2>&1; then docker run --rm -v "$(pwd):/workdir" -i trufflesecurity/trufflehog:latest git file:///workdir --since-commit HEAD --only-verified --fail; else echo "Neither docker nor podman found. Please install one of them." && exit 1; fi'
        language: system
        stages: ["pre-commit", "pre-push"]
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.24.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional"]
        language_version: 22.8.0
  - repo: https://github.com/renovatebot/pre-commit-hooks
    rev: 43.15.0
    hooks:
      - id: renovate-config-validator

docs: update investigation — combined SQL aggregates + DB pagination shows 6-8% improvement
  performance_tests/results/2026-09-24/PERFORMANCE_INVESTIGATION.md
Due: none

perf: add include_budget_lines param to skip BLI serialization on agreements list
  backend/ops_api/ops/resources/agreements.py
  backend/ops_api/ops/schemas/agreements.py
  frontend/src/api/opsAPI.js
  frontend/src/pages/agreements/list/AgreementsList.jsx
Due: nox-lint, eslint, prettier

test: update locustfile to send include_budget_lines=false matching frontend params
  performance_tests/locustfile.py
Due: nox-lint

docs: update investigation with final results — 86% improvement achieved
  performance_tests/results/2026-09-24/PERFORMANCE_INVESTIGATION.md
Due: none

fix: update tests for check_user_association refactor and expanded fixture
  backend/ops_api/tests/ops/agreement/test_agreement.py
  backend/ops_api/tests/ops/services/test_agreements.py
Due: nox-lint

fix: address Copilot review — sort order, procurement summaries, NULL BLI status, locust limit
  backend/ops_api/ops/services/agreements.py
  performance_tests/locustfile.py
Due: nox-lint

fix: revert procurement overview to page-scoped to keep E2E consistency
  backend/ops_api/ops/services/agreements.py
Due: nox-lint

fix: use limit=50 in tests, assert count from response not len(data)
  backend/ops_api/tests/ops/agreement/test_agreement.py
Due: nox-lint

fix: remove applyFiredFYRef from Agreements — Reset+Apply reverts to All FYs
  frontend/src/pages/agreements/list/AgreementsFilterButton/AgreementsFilterButton.hooks.js
  frontend/src/pages/agreements/list/AgreementsFilterButton/AgreementsFilterButton.hooks.test.js
  frontend/src/pages/agreements/list/AgreementsFilterButton/AgreementsFilterButton.jsx
  frontend/src/pages/agreements/list/AgreementsList.jsx
Due: eslint, prettier

fix: remove applyFiredFYRef from BLI — Reset+Apply reverts to All FYs
  frontend/src/pages/budgetLines/list/BLIFilterButton.jsx
  frontend/src/pages/budgetLines/list/BLIFilterButton.test.jsx
  frontend/src/pages/budgetLines/list/BudgetLineItemList.jsx
  frontend/src/pages/budgetLines/list/BudgetLineItemList.test.jsx
Due: eslint, prettier

fix: remove applyFiredFYRef from Projects — Reset+Apply reverts to All FYs
  frontend/src/pages/projects/list/ProjectFilterButton/ProjectFilterButton.hooks.js
  frontend/src/pages/projects/list/ProjectFilterButton/ProjectFilterButton.hooks.test.js
  frontend/src/pages/projects/list/ProjectFilterButton/ProjectFilterButton.jsx
  frontend/src/pages/projects/list/ProjectsList.jsx
  frontend/src/pages/projects/list/ProjectsList.test.jsx
Due: eslint, prettier

test: pin error-clearing transition when user fixes service requirement type
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.hooks.test.js
Due: eslint, prettier

test: assert isTested for the error-clearing transition test
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.hooks.test.js
Due: eslint, prettier

test: add Reset+Apply regression guard for all three list pages
  frontend/src/pages/agreements/list/AgreementsList.test.jsx
  frontend/src/pages/budgetLines/list/BudgetLineItemList.test.jsx
  frontend/src/pages/projects/list/ProjectsList.test.jsx
Due: eslint, prettier

fix: use populate_existing=True to ensure procurement_shop_fees loads correctly
  backend/ops_api/ops/services/agreements.py
Due: nox-lint

fix: use DRAFT-only BLIs in load test fixture to avoid contaminating procurement and CAN tests
  backend/data_tools/data/agreements_and_blin_data.json5
Due: none

fix: let procurement_shop lazy-load to avoid stale identity map issue with fee_percentage
  backend/ops_api/ops/services/agreements.py
Due: nox-lint

fix: remove load test agreements from project 1000 to avoid E2E test interference
  backend/data_tools/data/agreements_and_blin_data.json5
Due: none

fix: resolve all 4 remaining CI test failures
  backend/ops_api/ops/services/agreements.py
  backend/ops_api/tests/ops/agreement/test_agreement.py
  backend/ops_api/tests/ops/budget_line_items/test_budget_line_item.py
  backend/ops_api/tests/ops/funding_summary/test_can_funding_summary.py
Due: nox-lint

fix: update test_get_can_funding_summary_with_fiscal_year to use dynamic assertions
  backend/ops_api/tests/ops/funding_summary/test_can_funding_summary.py
Due: nox-lint

Notes added by 'git notes add'
  ffba244a9403c717ef572891a16cc83786c1e085
Due: none

Notes added by 'git notes add'
  6c238aff2e7de89feaade6a1b547739aab45b25b
Due: none

fix: strip unmapped BLI fields on create and clean up grant-id duplicate guard
  backend/ops_api/ops/utils/budget_line_items_helpers.py
  backend/ops_api/tests/ops/utils/test_budget_line_items_helpers.py
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.hooks.js
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.hooks.test.js
Due: nox-lint, eslint, prettier

fix: force re-render after on-load service_requirement_type check
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.hooks.js
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.hooks.test.js
Due: eslint, prettier

refactor: enhance hooks and tests for budget line item functionality
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.helpers.test.js
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.hooks.js
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.hooks.test.js
Due: eslint, prettier

fix: avoid re-validating service_requirement_type on unrelated edits
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.hooks.js
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.hooks.test.js
Due: eslint, prettier

Notes added by 'git notes add'
  706bbec90a3b868c680e06cb267b581c24478faa
Due: none

docs: clarify handling of missing fiscal year totals
  frontend/src/pages/projects/detail/ProjectSpending.jsx
Due: eslint, prettier

test: assert dropdown resets to All after Reset+Apply in E2E
  frontend/cypress/e2e/projectsList.cy.js
Due: eslint, prettier

test: cover requestor_notes in BLI create field filter
  backend/ops_api/ops/utils/budget_line_items_helpers.py
  backend/ops_api/tests/ops/utils/test_budget_line_items_helpers.py
Due: nox-lint

Notes added by 'git notes add'
  eb7d121a7e13909cad3914aed19b1bb8bc656aef
Due: none

test: drop vacuous hasattr assertions from BLI create filter tests
  backend/ops_api/tests/ops/utils/test_budget_line_items_helpers.py
Due: nox-lint

Notes added by 'git notes add'
  79c68abfb8942a20fe7bfb30975f63ae83aaf8d6
Due: none

fix: address 2nd review round - logger.remove, null updated_on, fail-fast config
  backend/data_tools/src/disable_users/disable_users.py
  backend/data_tools/tests/disable_users/test_disable_users.py
Due: nox-lint

fix: move load test agreements to separate fixture file to prevent dev seeding
  backend/data_tools/data/agreements_and_blin_data.json5
  backend/data_tools/data/load_test_agreements.json5
  performance_tests/README.md
Due: none

fix: drop TYPE from SQL sort (enum order), use COLLATE C for AGREEMENT sort (collation parity)
  backend/ops_api/ops/services/agreements.py
Due: nox-lint

fix: compute procurement aggregates over full filtered set, not just current page
  backend/ops_api/ops/services/agreements.py
Due: nox-lint

refactor: remove dead code, add tests for SQL aggregates and pagination helpers
  backend/ops_api/ops/services/agreements.py
  backend/ops_api/tests/ops/services/test_agreements.py
Due: nox-lint

fix: strip unmapped fields before constructing a budget line item (#6290)
  backend/ops_api/ops/utils/budget_line_items_helpers.py
  backend/ops_api/tests/ops/utils/test_budget_line_items_helpers.py
Due: nox-lint
