Repository HHS/OPRE-OPS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-lint, eslint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: detect-aws-credentials
        args: [--allow-missing-credentials]
      - id: detect-private-key
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: '^frontend/src/uswds/.*(\.svg|\.map)$'
      - id: check-json
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
  - repo: https://github.com/hadolint/hadolint
    rev: v2.14.0
    hooks:
      - id: hadolint
  - repo: https://github.com/pycqa/isort
    rev: 7.0.0
    hooks:
      - id: isort
        name: isort (ops_api)
        args: ["--settings-file", "backend/ops_api/pyproject.toml", "--filter-files"]
        files: ^backend/ops_api/
      - id: isort
        name: isort (data_tools)
        args: ["--settings-file", "backend/data_tools/pyproject.toml", "--filter-files"]
        files: ^backend/data_tools/
  - repo: local
    hooks:
      - id: nox-lint
        name: nox-lint
        entry: bash -c 'cd ./backend/ops_api && pipenv run nox -s lint'
        language: system
        types:
          - python
        pass_filenames: false
      - id: eslint
        name: eslint
        entry: bash -c 'cd ./frontend/ && bun lint'
        language: system
        types_or:
          - javascript
          - jsx
          - css
          - html
        pass_filenames: false
      - id: trufflehog
        name: TruffleHog
        description: Detect secrets in your data.
        entry: bash -c 'if command -v podman >/dev/null 2>&1; then podman run --rm -v "$(pwd):/workdir" -i trufflesecurity/trufflehog:latest git file:///workdir --since-commit HEAD --only-verified --fail; elif command -v docker >/dev/null 2>&1; then docker run --rm -v "$(pwd):/workdir" -i trufflesecurity/trufflehog:latest git file:///workdir --since-commit HEAD --only-verified --fail; else echo "Neither docker nor podman found. Please install one of them." && exit 1; fi'
        language: system
        stages: ["pre-commit", "pre-push"]
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.23.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional"]
        language_version: 22.8.0
  - repo: https://github.com/renovatebot/pre-commit-hooks
    rev: 41.165.2
    hooks:
      - id: renovate-config-validator

test: fix hooks test
  frontend/src/pages/agreements/details/AgreementProcurementTracker.hooks.test.js
Due: eslint

feat: remove default placeholder from filter
  frontend/src/pages/portfolios/list/PortfolioFilterButton/AvailableBudgetPercentageFilter.jsx
  frontend/src/pages/portfolios/list/PortfolioFilterButton/AvailableBudgetPercentageFilter.test.jsx
  frontend/src/pages/portfolios/list/PortfolioFilterButton/PortfolioFilterButton.jsx
  frontend/src/pages/portfolios/list/PortfolioFilterButton/PortfolioFilterButton.test.jsx
Due: eslint

feat: adds form to Procurement Tracker Step 1 (#4938)
  frontend/cypress/e2e/procurementTracker.cy.js
  frontend/src/api/opsAPI.js
  frontend/src/components/Agreements/UsersComboBox/UsersComboBox.jsx
  frontend/src/components/Agreements/UsersComboBox/UsersComboBox.test.jsx
  frontend/src/components/Agreements/UsersComboBox/index.js
  frontend/src/components/CANs/CANFundingReceivedForm/CanFundingReceivedForm.test.jsx
  frontend/src/components/UI/Form/TextArea/TextArea.jsx
  frontend/src/components/UI/Form/TextArea/TextArea.test.jsx
  frontend/src/pages/agreements/details/AgreementProcurementTracker.hooks.js
  frontend/src/pages/agreements/details/AgreementProcurementTracker.hooks.test.js
  frontend/src/pages/agreements/details/AgreementProcurementTracker.jsx
  frontend/src/pages/agreements/details/AgreementProcurementTracker.test.jsx
Due: eslint

Notes added by 'git notes add'
  e87622bc232972cf3b1d632eea47646bc0021965
Due: none

fix: linter warnings
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIAndSCs.test.js
  frontend/src/components/Portfolios/PortfolioSpending/PortfolioSpending.skip.js
  frontend/src/components/UI/Text/TextClip.test.js
  frontend/src/pages/agreements/review/ReviewAgreement.hooks.js
  frontend/src/pages/cans/list/CanList.test.jsx
Due: eslint

refactor: creates component for proc_tracker step one
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepOne/ProcurementTrackerStepOne.hooks.js
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepOne/ProcurementTrackerStepOne.jsx
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepOne/index.js
  frontend/src/pages/agreements/details/AgreementProcurementTracker.hooks.test.js
  frontend/src/pages/agreements/details/AgreementProcurementTracker.jsx
Due: eslint

test: adds unit-tests
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepOne/ProcurementTrackerStepOne.hooks.test.js
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepOne/ProcurementTrackerStepOne.test.jsx
Due: eslint

fix: busted window test
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepOne/ProcurementTrackerStepOne.hooks.test.js
Due: eslint

fix: coPilot suggestion
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepOne/ProcurementTrackerStepOne.jsx
Due: eslint

fix: linter warnings (#4961)
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIAndSCs.test.js
  frontend/src/components/Portfolios/PortfolioSpending/PortfolioSpending.skip.js
  frontend/src/components/UI/Text/TextClip.test.js
  frontend/src/pages/agreements/review/ReviewAgreement.hooks.js
  frontend/src/pages/cans/list/CanList.test.jsx
Due: eslint

Notes added by 'git notes add'
  fa27398fe85ba87630c0c77efc1ed25617d99326
Due: none

fix: changing proc step to update proc tracker and action when final step completed
  backend/models/events.py
  backend/models/procurement_action.py
  backend/ops_api/ops/resources/procurement_tracker_steps.py
  backend/ops_api/ops/services/procurement_tracker_steps.py
  backend/ops_api/tests/ops/features/test_validate_procurement_tracker_steps.py
  backend/ops_api/tests/ops/features/validate_procurement_tracker_steps.feature
Due: nox-lint

feat: add validation to users-combobox
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepOne/ProcurementTrackerStepOne.hooks.js
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepOne/ProcurementTrackerStepOne.jsx
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepOne/suite.js
  frontend/src/components/Agreements/UsersComboBox/UsersComboBox.jsx
Due: eslint

refactor: creates component for proc_tracker step one (#4963)
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepOne/ProcurementTrackerStepOne.hooks.js
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepOne/ProcurementTrackerStepOne.hooks.test.js
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepOne/ProcurementTrackerStepOne.jsx
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepOne/ProcurementTrackerStepOne.test.jsx
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepOne/index.js
  frontend/src/pages/agreements/details/AgreementProcurementTracker.hooks.test.js
  frontend/src/pages/agreements/details/AgreementProcurementTracker.jsx
Due: eslint

chore: adding new ops event type for procurement tracker step
  backend/alembic/versions/2026_01_29_2030-aa18dcfe74a5_add_update_procurement_tracker_step.py
Due: nox-lint

style: adds error styling
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepOne/suite.js
  frontend/src/components/Agreements/UsersComboBox/UsersComboBox.jsx
Due: eslint

test: fixes unit-tests
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepOne/ProcurementTrackerStepOne.hooks.js
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepOne/ProcurementTrackerStepOne.hooks.test.js
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepOne/ProcurementTrackerStepOne.test.jsx
Due: eslint

feat: enhance validation for users and date fields in ProcurementTrackerStepOne
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepOne/ProcurementTrackerStepOne.hooks.js
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepOne/ProcurementTrackerStepOne.jsx
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepOne/suite.js
  frontend/src/components/Agreements/UsersComboBox/UsersComboBox.jsx
  frontend/src/helpers/utils.js
Due: eslint

feat: remove default placeholder from filter (#4959)
  frontend/src/pages/portfolios/list/PortfolioFilterButton/AvailableBudgetPercentageFilter.jsx
  frontend/src/pages/portfolios/list/PortfolioFilterButton/AvailableBudgetPercentageFilter.test.jsx
  frontend/src/pages/portfolios/list/PortfolioFilterButton/PortfolioFilterButton.jsx
  frontend/src/pages/portfolios/list/PortfolioFilterButton/PortfolioFilterButton.test.jsx
Due: eslint

Notes added by 'git notes add'
  e411e4ea519e39c74b7f5b91e639342335f588fc
Due: none

feat: implement static order sorting for portfolio table
  frontend/src/components/Portfolios/PortfolioTable/PortfolioTable.constants.js
  frontend/src/components/Portfolios/PortfolioTable/PortfolioTable.helpers.js
  frontend/src/components/Portfolios/PortfolioTable/PortfolioTable.helpers.test.js
  frontend/src/pages/portfolios/list/PortfolioList.jsx
Due: eslint

test: updating test to be slightly less specific on count as it is affected by other tests
  backend/ops_api/tests/ops/procurement_tracker/test_procurement_tracker_api.py
Due: nox-lint

test: update unit-test
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepOne/ProcurementTrackerStepOne.test.jsx
Due: eslint

feat: cancel modal and tests
  frontend/cypress/e2e/procurementTracker.cy.js
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepOne/ProcurementTrackerStepOne.hooks.js
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepOne/ProcurementTrackerStepOne.jsx
Due: eslint

feat: adds suite reset on cancel
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepOne/ProcurementTrackerStepOne.hooks.js
Due: eslint

test: update unit-tests
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepOne/ProcurementTrackerStepOne.hooks.test.js
  frontend/src/pages/agreements/details/AgreementProcurementTracker.test.jsx
Due: eslint

style: adds error styling
  frontend/src/components/Agreements/UsersComboBox/UsersComboBox.jsx
  frontend/src/components/UI/USWDS/DatePicker/DatePicker.jsx
Due: eslint

test: fix broken tests by not referencing specific count in tests affected by sideeffects
  backend/ops_api/ops/services/procurement_tracker_steps.py
  backend/ops_api/tests/ops/features/test_validate_procurement_tracker_steps.py
  backend/ops_api/tests/ops/procurement_tracker/test_procurement_tracker_api.py
Due: nox-lint

fix: validate that acquisition planning completed_date is not a future date
  backend/ops_api/ops/validation/procurement_tracker_steps_validator.py
  backend/ops_api/ops/validation/rules/procurement_tracker_step.py
  backend/ops_api/tests/ops/features/test_validate_procurement_tracker_steps.py
  backend/ops_api/tests/ops/features/validate_procurement_tracker_steps.feature
Due: nox-lint

test: updated unit tests and cleanup
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepOne/ProcurementTrackerStepOne.hooks.js
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepOne/ProcurementTrackerStepOne.hooks.test.js
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepOne/ProcurementTrackerStepOne.jsx
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepOne/ProcurementTrackerStepOne.test.jsx
  frontend/src/pages/agreements/details/AgreementProcurementTracker.test.jsx
Due: eslint

test: adds cypress e2e test
  frontend/cypress/e2e/procurementTracker.cy.js
Due: eslint

feat: add all fiscal year option to bli filters
  frontend/src/components/UI/Form/FiscalYearComboBox/FiscalYearComboBox.jsx
  frontend/src/pages/budgetLines/list/BLIFilterButton.jsx
  frontend/src/pages/budgetLines/list/BLIFilterButton.test.jsx
  frontend/src/pages/budgetLines/list/BLIFilterTags.jsx
  frontend/src/pages/budgetLines/list/BLIFilterTags.test.jsx
  frontend/src/pages/budgetLines/list/BudgetLineItemList.jsx
  frontend/src/pages/budgetLines/list/BudgetLineItemList.test.jsx
Due: eslint

fix: coPilot feedback
  frontend/cypress/e2e/procurementTracker.cy.js
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepOne/ProcurementTrackerStepOne.jsx
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepOne/suite.test.js
Due: eslint

feat: add endpoint and schema for retrieving agreement filter options
  backend/openapi.yml
  backend/ops_api/ops/resources/agreements.py
  backend/ops_api/ops/schemas/agreements.py
  backend/ops_api/ops/services/agreements.py
  backend/ops_api/ops/urls.py
  backend/ops_api/ops/views.py
  frontend/src/api/opsAPI.js
  frontend/src/pages/agreements/list/AgreementsList.jsx
Due: nox-lint, eslint

Notes added by 'git notes add'
  b49b481c124f58947043c1fb0c95fdc0d01186a2
Due: none

feat: procurement tracker step 1 form validation (#4968)
  frontend/cypress/e2e/procurementTracker.cy.js
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepOne/ProcurementTrackerStepOne.hooks.js
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepOne/ProcurementTrackerStepOne.hooks.test.js
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepOne/ProcurementTrackerStepOne.jsx
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepOne/ProcurementTrackerStepOne.test.jsx
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepOne/suite.js
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepOne/suite.test.js
  frontend/src/components/Agreements/UsersComboBox/UsersComboBox.jsx
  frontend/src/components/UI/USWDS/DatePicker/DatePicker.jsx
  frontend/src/helpers/utils.js
  frontend/src/pages/agreements/details/AgreementProcurementTracker.test.jsx
Due: eslint

Notes added by 'git notes add'
  dd74e932d6f8acdf8a89126f172946a3a41b1a88
Due: none

Notes added by 'git notes add'
  4ec9295a3bcbbf09906c46634905834636640b82
Due: none

fix: busted unit-tests
  frontend/src/api/opsAPI.js
  frontend/src/components/Agreements/AgreementCANReviewAccordion/AgreementCANReviewAccordion.test.jsx
  frontend/src/components/Agreements/DetailsTabs/DetailsTabs.test.js
  frontend/src/components/ChangeRequests/StatusChangeReviewCard/StatusChangeReviewCard.test.jsx
  frontend/src/tests/setupTests.js
  frontend/vite.config.mjs
Due: eslint

refactor: update procurement tracker event types and revise migration script
  backend/alembic/versions/2026_02_02_1558-55277b050af7_add_events_for_procurement_tracker.py
  backend/models/events.py
Due: nox-lint
