Repository HHS/OPRE-OPS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-lint, eslint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: detect-aws-credentials
        args: [--allow-missing-credentials]
      - id: detect-private-key
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: '^frontend/src/uswds/.*\.svg$'
      - id: check-json
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
  - repo: https://github.com/hadolint/hadolint
    rev: v2.10.0
    hooks:
      - id: hadolint
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.10.1
    hooks:
      - id: isort
        args: ["--profile", "black", "--filter-files"]
  - repo: local
    hooks:
      - id: nox-lint
        name: nox-lint
        entry: bash -c 'cd ./backend/ops_api && pipenv run nox -s lint'
        language: system
        types:
          - python
        pass_filenames: false
      - id: eslint
        name: eslint
        entry: bash -c 'cd ./frontend/ && bun lint'
        language: system
        types_or:
          - javascript
          - jsx
          - css
          - html
        pass_filenames: false
      - id: trufflehog
        name: TruffleHog
        description: Detect secrets in your data.
        entry: bash -c 'if command -v podman >/dev/null 2>&1; then podman run --rm -v "$(pwd):/workdir" -i trufflesecurity/trufflehog:latest git file:///workdir --since-commit HEAD --only-verified --fail; elif command -v docker >/dev/null 2>&1; then docker run --rm -v "$(pwd):/workdir" -i trufflesecurity/trufflehog:latest git file:///workdir --since-commit HEAD --only-verified --fail; else echo "Neither docker nor podman found. Please install one of them." && exit 1; fi'
        language: system
        stages: ["pre-commit", "pre-push"]
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.18.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional"]
        language_version: 22.8.0

chore: more dict troubleshooting
  backend/data_tools/tests/load_roles/test_load_roles.py
Due: nox-lint

chore: remove curly braces from test tsv
  backend/data_tools/test_csv/roles.tsv
Due: none

chore: more troubleshooting
  backend/data_tools/src/load_roles/utils.py
Due: nox-lint

chore: fix typo in id
  backend/data_tools/tests/load_roles/test_load_roles.py
Due: nox-lint

fix: fixing agreement type sort
  backend/ops_api/ops/resources/agreements.py
Due: nox-lint

refactor: optimize ComboBox options sorting with useMemo and enhance documentation
  frontend/src/components/UI/Form/ComboBox/ComboBox.hooks.js
  frontend/src/pages/agreements/details/AgreementDetailsView.jsx
Due: eslint

test: skip failing CAN List filtering tests and improve Cypress commands for better safety
  frontend/cypress/e2e/canList.cy.js
  frontend/src/components/UI/Form/ComboBox/ComboBox.hooks.js
Due: eslint

refactor: streamline TeamMemberList component by removing optional chaining in sorting
  frontend/src/components/Agreements/TeamMemberList.jsx
Due: eslint

refactor: improve Cypress tests
  frontend/cypress/e2e/agreementList.cy.js
Due: eslint

feat: add ProcurementShopFee model and migrate fee data from procurement_shop
  backend/alembic/versions/2025_05_12_1421-4d428009ff2a_add_procurementshopfee_model.py
  backend/data_tools/data/first_contract_data.json5
  backend/data_tools/src/import_static_data/import_data.py
  backend/models/procurement_shops.py
  backend/ops_api/tests/ops/can/test_procurement_shops.py
Due: nox-lint

feat: implement fee percentage calculation for ProcurementShop and update fee data
  backend/alembic/versions/2025_05_12_1421-4d428009ff2a_add_procurementshopfee_model.py
  backend/data_tools/data/first_contract_data.json5
  backend/models/procurement_shops.py
  backend/ops_api/tests/ops/can/test_procurement_shops.py
Due: nox-lint

test: update fee value in ProcurementShopFee test case
  backend/ops_api/tests/ops/can/test_procurement_shops.py
Due: nox-lint

fix: update active fee calculation to handle None start and end dates
  backend/models/procurement_shops.py
  backend/ops_api/tests/ops/can/test_procurement_shops.py
Due: nox-lint

refactor: improve validation logic and reset handling
  frontend/src/components/BudgetLineItems/BudgetLinesForm/BudgetLinesForm.jsx
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.hooks.js
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.jsx
Due: eslint

refactor: simplify validation logic in BudgetLinesForm component
  frontend/src/components/BudgetLineItems/BudgetLinesForm/BudgetLinesForm.jsx
Due: eslint

feat: simplify authorization checks and add service component tests
  backend/ops_api/ops/auth/decorators.py
  backend/ops_api/ops/resources/agreements.py
  backend/ops_api/ops/resources/services_component.py
  backend/ops_api/tests/ops/can/test_services_component.py
Due: nox-lint

refactor: enhance validation functions in BudgetLinesForm component
  frontend/src/components/BudgetLineItems/BudgetLinesForm/BudgetLinesForm.jsx
Due: eslint

chore: remove duplicate reset function calls in BudgetLinesForm component
  frontend/src/components/BudgetLineItems/BudgetLinesForm/BudgetLinesForm.jsx
Due: eslint

build: pin marshmallow to a certain version and prevent future upgrades for now
  .github/renovate.json
  backend/data_tools/Pipfile
  backend/data_tools/Pipfile.lock
  backend/ops_api/Pipfile
  backend/ops_api/Pipfile.lock
Due: none

feat: add procurement_shop_fee relationship to budget line items and update migration scripts
  backend/alembic/versions/2025_05_12_1421-4d428009ff2a_add_procurementshopfee_model.py
  backend/models/budget_line_items.py
  backend/models/procurement_shops.py
Due: nox-lint

feat: add current_fee property to ProcurementShop and add type hints
  backend/models/procurement_shops.py
Due: nox-lint

refactor: streamline form validation logic in BudgetLinesForm component
  frontend/src/components/BudgetLineItems/BudgetLinesForm/BudgetLinesForm.jsx
  frontend/src/components/BudgetLineItems/BudgetLinesForm/datePickerSuite.js
Due: eslint

refactor: update prop types for budget form validation suites in BudgetLinesForm component
  frontend/cypress/e2e/createAgreementWithValidations.cy.js
  frontend/src/components/BudgetLineItems/BudgetLinesForm/BudgetLinesForm.jsx
Due: eslint

feat: simplify fee_percentage calculation and add tests for current_fee property
  backend/models/procurement_shops.py
  backend/ops_api/tests/ops/can/test_procurement_shops.py
Due: nox-lint

Notes added by 'git notes add'
  3e93d8224ddf8240e185ae0d8f1f241913de154c
Due: none

Notes added by 'git notes add'
  5785eedb97d8eb4d7a37436a5bf9e2e11c6045c7
Due: none

fix: fixed agreement checks in ServicesComponentItemAPI
  backend/ops_api/ops/resources/services_component.py
  backend/ops_api/tests/ops/can/test_services_component.py
Due: nox-lint

fix: handle None amounts in totals calculation and add fixture for testing
  backend/ops_api/ops/services/budget_line_items.py
  backend/ops_api/tests/ops/can/test_budget_line_item.py
Due: nox-lint

refactor: changing bli sc sort to use a new calculated column that is saved on upsert of bli
  backend/alembic/versions/2025_05_14_1930-608b001a0415_adding_service_component_name_column_to_.py
  backend/models/budget_line_items.py
  backend/models/services_components.py
  backend/ops_api/ops/services/budget_line_items.py
Due: nox-lint

fix: fixing some broken imports and tests after merge
  frontend/cypress/e2e/canList.cy.js
  frontend/src/pages/cans/list/CanList.jsx
Due: eslint

Notes added by 'git notes add'
  b23e1aa3cfa431c0ccf9bb1b63bb7f98e3649a79
Due: none

refactor: replace error messages with ErrorPage component in agreement-related components
  frontend/src/components/Agreements/AgreementCANReviewAccordion/AgreementCANReviewAccordion.jsx
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.jsx
  frontend/src/components/Agreements/AgreementReasonSelect.jsx
  frontend/src/components/Agreements/AgreementTypeSelect.jsx
  frontend/src/components/Agreements/ProcurementShopSelect/ProcurementShopSelect.jsx
  frontend/src/components/Agreements/ProjectOfficerComboBox.jsx
  frontend/src/components/Agreements/TeamMemberComboBox.jsx
  frontend/src/components/CANs/CANFundingCard/CANFundingCard.jsx
  frontend/src/components/CANs/CanComboBox/CanComboBox.jsx
  frontend/src/components/ChangeRequests/ChangeRequestsList/ChangeRequestsList.jsx
  frontend/src/components/Portfolios/PortfoliosComboBox/PortfoliosComboBox.jsx
  frontend/src/components/UI/Form/ComboBox/ComboBox.jsx
  frontend/src/components/Users/UserEmailComboBox/UserEmailComboBox.jsx
  frontend/src/components/Users/UserInfo/UserInfo.jsx
  frontend/src/pages/ErrorPage.jsx
  frontend/src/pages/agreements/CreateEditAgreement.jsx
  frontend/src/pages/agreements/EditAgreement.jsx
  frontend/src/pages/agreements/StepSelectProject.jsx
  frontend/src/pages/agreements/approve/ApproveAgreement.jsx
  frontend/src/pages/agreements/details/Agreement.jsx
  frontend/src/pages/agreements/list/AgreementsList.jsx
  frontend/src/pages/agreements/review/ReviewAgreement.jsx
  frontend/src/pages/users/edit/EditUser.jsx
Due: eslint

Notes added by 'git notes add'
  6ed6ccbd03114a919a8afe10050016a591bdc1a8
Due: none

test: update tests to use renderWithProviders for consistent rendering with MemoryRouter
  frontend/src/components/Agreements/ProcurementShopSelect/ProcurementShopSelect.test.js
  frontend/src/components/Agreements/ProcurementShopSelectWithFee/ProcurementShopSelectWithFee.test.js
  frontend/src/components/Users/UserInfo/UserInfo.test.js
  frontend/src/test-utils.js
Due: eslint

fix: fixing query with semgrep per john's suggestion
  backend/models/budget_line_items.py
Due: nox-lint

fix: can review accordion null amount handling
  frontend/src/components/Agreements/AgreementCANReviewAccordion/AgreementCANReviewAccordion.jsx
Due: eslint

fix: adjusting bli status sort order to draft > planned > obligated > in execution
  backend/ops_api/ops/services/budget_line_items.py
  frontend/src/hooks/use-sortable-data.hooks.js
Due: nox-lint, eslint

chore: skipping flaky test that is failing in remote but succeeding in local
  frontend/cypress/e2e/canList.cy.js
Due: eslint

chore: skip fiscal year filtering test for FY budgets over 5,000,000
  frontend/cypress/e2e/canList.cy.js
Due: eslint

test: skip failing fiscal year filtering tests in CAN List
  frontend/cypress/e2e/canList.cy.js
  frontend/src/components/ChangeRequests/ChangeRequestsList/ChangeRequestsList.jsx
Due: eslint
