Repository HHS/OPRE-OPS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-lint, eslint

nox-lint:
  name: nox-lint
  entry: bash -c 'cd ./backend/ops_api && pipenv run nox -s lint'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd ./frontend/ && yarn lint'
  language: system
  pass_filenames: false

cleanup
  frontend/src/components/Agreements/AgreementDetailsCards/BLIsByFYSummaryCard/BLIsByFYSummaryCard.jsx
Due: eslint

change project_officer to project_officer_id
  backend/ops_api/ops/schemas/agreements.py
  frontend/cypress/e2e/agreementDelete.cy.js
  frontend/cypress/e2e/agreementDetailsEdit.cy.js
  frontend/cypress/e2e/editAgreement.cy.js
  frontend/src/api/postAgreements.test.js
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.jsx
  frontend/src/components/Agreements/AgreementEditor/AgreementEditFormSuite.js
  frontend/src/components/Agreements/AgreementEditor/AgreementEditorContext.js
  frontend/src/components/Agreements/AgreementsTable/AgreementTableRow.jsx
  frontend/src/components/Agreements/AgreementsTable/AgreementTableRow.test.js
  frontend/src/components/Agreements/AgreementsTable/AgreementsTable.test.js
  frontend/src/components/UI/Form/AgreementSelect/AgreementSelect.jsx
  frontend/src/hooks/agreement.hooks.js
  frontend/src/pages/agreements/EditAgreement.js
  frontend/src/pages/agreements/details/Agreement.js
  frontend/src/pages/agreements/details/AgreementBudgetLines.js
  frontend/src/pages/agreements/details/AgreementDetails.test.js
  frontend/src/pages/agreements/details/AgreementDetailsEdit.test.js
  frontend/src/pages/agreements/list/AgreementsList.jsx
  frontend/src/pages/agreements/review/ReviewAgreement.jsx
  frontend/src/pages/agreements/review/suite.js
  frontend/src/pages/budgetLines/list/BudgetLineItems.helpers.js
Due: nox-lint, eslint

refactor: :recycle: add enum-ish actionItem options
  frontend/src/components/Agreements/AgreementActionAccordion/AgreementActionAccordion.js
  frontend/src/pages/agreements/review/ReviewAgreement.constants.js
  frontend/src/pages/agreements/review/ReviewAgreement.helpers.js
Due: eslint

OPS-1538 Update Summary Cards on Agreement Details BL Tab (#1550)
  frontend/cypress/e2e/agreementDetails.cy.js
  frontend/cypress/e2e/cancelBudgetLine.cy.js
  frontend/src/components/Agreements/AgreementDetailsCards/AgreementTotalCard/AgreementTotalCard.jsx
  frontend/src/components/Agreements/AgreementDetailsCards/AgreementTotalCard/index.js
  frontend/src/components/Agreements/AgreementDetailsCards/BLIsByFYSummaryCard/BLIsByFYSummaryCard.jsx
  frontend/src/components/Agreements/AgreementDetailsCards/BLIsByFYSummaryCard/BLIsByFYSummaryCard.styles.module.scss
  frontend/src/components/Agreements/AgreementDetailsCards/BLIsByFYSummaryCard/index.js
  frontend/src/components/BudgetLineItems/BudgetLinesTable/BudgetLinesTable.jsx
  frontend/src/components/UI/CurrencySummaryCard/CurrencySummaryCard.jsx
  frontend/src/constants.js
  frontend/src/pages/agreements/details/AgreementBudgetLines.js
Due: eslint

remove commented code
  backend/models/cans.py
Due: nox-lint

feat: ✨ adds RadioButtonTile component (#1553)
  frontend/cypress/e2e/components.cy.js
  frontend/src/components/Agreements/AgreementActionAccordion/AgreementActionAccordion.js
  frontend/src/components/Agreements/AgreementActionAccordion/index.js
  frontend/src/components/UI/RadioButtonTile/RadioButtonTile.js
  frontend/src/components/UI/RadioButtonTile/RadioButtonTile.test.js
  frontend/src/components/UI/RadioButtonTile/index.js
  frontend/src/pages/agreements/review/ReviewAgreement.constants.js
  frontend/src/pages/agreements/review/ReviewAgreement.helpers.js
  frontend/src/pages/agreements/review/ReviewAgreement.helpers.test.js
  frontend/src/pages/agreements/review/ReviewAgreement.jsx
Due: eslint

revert test
  backend/ops_api/tests/ops/agreement/test_agreement_history.py
Due: nox-lint

add versioning and use declarative mapping on Agreement subclasses
  backend/models/cans.py
Due: nox-lint

BLI-Approval Sequence
  docs/BLI-Approval-Sequence.mmd
Due: none

WIP
  backend/data_tools/data/workflow_data.json5
  backend/models/workflows.py
Due: nox-lint

style: :lipstick: scopes css
  frontend/src/components/UI/Table/Table.js
  frontend/src/components/UI/Table/table.css
  frontend/src/components/UI/Table/table.module.css
  frontend/src/pages/agreements/review/ReviewAgreement.jsx
Due: eslint

add Identity column to CAN and fix API tests
  backend/data_tools/data/can_data.json5
  backend/models/cans.py
  backend/ops_api/tests/ops/funding_summary/test_research_project_funding_summary.py
Due: nox-lint

update OpenAPI spec
  openapi.yml
Due: none

feat: :sparkles: adds AgreementBLIAccordion component
  frontend/src/components/Agreements/AgreementBLIAccordion/AgreementBLIAccordion.js
  frontend/src/components/Agreements/AgreementBLIAccordion/index.js
  frontend/src/components/Agreements/AgreementDetailsCards/BLIsByFYSummaryCard/BLIsByFYSummaryCard.jsx
  frontend/src/components/Agreements/AgreementDetailsCards/BLIsByFYSummaryCard/BLIsFYSummaryCard.helpers.jsx
  frontend/src/components/Agreements/AgreementsTable/AgreementsTable.helpers.js
  frontend/src/components/BudgetLineItems/AllBudgetLinesTable/AllBLIRow.js
  frontend/src/components/BudgetLineItems/BudgetLinesTable/BLIRow.js
  frontend/src/components/UI/Accordion/Accordion.js
  frontend/src/helpers/agreement.helpers.js
  frontend/src/helpers/budgetLines.helpers.js
  frontend/src/pages/agreements/details/AgreementBudgetLines.js
  frontend/src/pages/agreements/review/ReviewAgreement.jsx
Due: eslint

test: :test_tube: adds simple e2e test
  frontend/cypress/e2e/components.cy.js
Due: eslint

style: :recycle: shows $ for amounts and if zero then no decimal place
  frontend/src/components/Agreements/AgreementDetailsCards/AgreementTotalCard/AgreementTotalCard.jsx
  frontend/src/components/Agreements/AgreementDetailsCards/BLIsByFYSummaryCard/BLIsByFYSummaryCard.jsx
  frontend/src/components/Agreements/AgreementsTable/AgreementTableRow.jsx
  frontend/src/components/BudgetLineItems/AllBudgetLinesTable/AllBLIRow.js
  frontend/src/components/BudgetLineItems/BudgetLinesTable/BLIRow.js
  frontend/src/components/BudgetLineItems/TotalSummaryCard/TotalSummaryCard.jsx
Due: eslint

fix: :bug: fixes bug where icon was bleeding thru alert
  frontend/src/components/UI/Alert/Alert.jsx
Due: eslint

test: :test_tube: updates tests
  frontend/cypress/e2e/cancelBudgetLine.cy.js
  frontend/cypress/e2e/createBudgetLine.cy.js
Due: eslint

test: :test_tube: fixes tests 🤞
  frontend/cypress/e2e/agreementList.cy.js
Due: eslint

remove console.log
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.jsx
Due: eslint

feat: ✨ adds AgreementBLIAccordion component (#1561)
  frontend/cypress/e2e/components.cy.js
  frontend/src/components/Agreements/AgreementBLIAccordion/AgreementBLIAccordion.js
  frontend/src/components/Agreements/AgreementBLIAccordion/index.js
  frontend/src/components/Agreements/AgreementDetailsCards/BLIsByFYSummaryCard/BLIsByFYSummaryCard.jsx
  frontend/src/components/Agreements/AgreementDetailsCards/BLIsByFYSummaryCard/BLIsFYSummaryCard.helpers.jsx
  frontend/src/components/Agreements/AgreementsTable/AgreementsTable.helpers.js
  frontend/src/components/BudgetLineItems/AllBudgetLinesTable/AllBLIRow.js
  frontend/src/components/BudgetLineItems/BudgetLinesTable/BLIRow.js
  frontend/src/components/UI/Accordion/Accordion.js
  frontend/src/components/UI/Table/Table.js
  frontend/src/components/UI/Table/table.css
  frontend/src/components/UI/Table/table.module.css
  frontend/src/helpers/agreement.helpers.js
  frontend/src/helpers/budgetLines.helpers.js
  frontend/src/pages/agreements/details/AgreementBudgetLines.js
  frontend/src/pages/agreements/review/ReviewAgreement.jsx
Due: eslint

refactor: :recycle: adds currencyFormat helper
  frontend/src/components/Agreements/AgreementDetailsCards/AgreementTotalCard/AgreementTotalCard.jsx
  frontend/src/components/Agreements/AgreementDetailsCards/BLIsByFYSummaryCard/BLIsByFYSummaryCard.jsx
  frontend/src/components/Agreements/AgreementsTable/AgreementTableRow.jsx
  frontend/src/components/BudgetLineItems/AllBudgetLinesTable/AllBLIRow.js
  frontend/src/components/BudgetLineItems/BudgetLinesTable/BLIRow.js
  frontend/src/components/BudgetLineItems/TotalSummaryCard/TotalSummaryCard.jsx
  frontend/src/components/UI/TableRowExpandable/table-row.helpers.js
  frontend/src/helpers/currencyFormat.helpers.js
Due: eslint

cleanup
  frontend/src/components/BudgetLineItems/AllBudgetLinesTable/AllBLIRow.js
  frontend/src/components/UI/TableRowExpandable/table-row.helpers.js
Due: eslint

test: :test_tube: trying removing pause
  frontend/cypress/e2e/agreementList.cy.js
Due: eslint

missed one
  frontend/src/components/Agreements/AgreementDetailsCards/AgreementTotalCard/AgreementTotalCard.jsx
Due: eslint

Ops 1565/ux review (#1566)
  frontend/cypress/e2e/agreementList.cy.js
  frontend/cypress/e2e/cancelBudgetLine.cy.js
  frontend/cypress/e2e/createBudgetLine.cy.js
  frontend/src/components/Agreements/AgreementDetailsCards/AgreementTotalCard/AgreementTotalCard.jsx
  frontend/src/components/Agreements/AgreementDetailsCards/BLIsByFYSummaryCard/BLIsByFYSummaryCard.jsx
  frontend/src/components/Agreements/AgreementsTable/AgreementTableRow.jsx
  frontend/src/components/BudgetLineItems/AllBudgetLinesTable/AllBLIRow.js
  frontend/src/components/BudgetLineItems/BudgetLinesTable/BLIRow.js
  frontend/src/components/BudgetLineItems/TotalSummaryCard/TotalSummaryCard.jsx
  frontend/src/components/UI/Alert/Alert.jsx
  frontend/src/components/UI/TableRowExpandable/table-row.helpers.js
  frontend/src/helpers/currencyFormat.helpers.js
Due: eslint

feat: :sparkles: starts AgreementBLIReviewTable
  frontend/src/components/Agreements/AgreementBLIReviewTable/AgreementBLIReviewTable.js
  frontend/src/components/Agreements/AgreementBLIReviewTable/index.js
  frontend/src/pages/agreements/review/ReviewAgreement.jsx
Due: eslint

feat: :sparkles: adds BLIReviewRow
  frontend/src/components/Agreements/AgreementBLIReviewTable/AgreementBLIReviewTable.js
  frontend/src/components/Agreements/AgreementBLIReviewTable/BLIReviewRow.js
  frontend/src/pages/agreements/review/ReviewAgreement.jsx
Due: eslint

feat: :sparkles: selecting bugetlines in the table works
  frontend/src/components/Agreements/AgreementBLIReviewTable/AgreementBLIReviewTable.js
  frontend/src/components/Agreements/AgreementBLIReviewTable/BLIReviewRow.js
  frontend/src/pages/agreements/review/ReviewAgreement.jsx
Due: eslint

feat: :sparkles: adds actionable state to check budgetlines
  frontend/src/components/Agreements/AgreementBLIReviewTable/BLIReviewRow.js
  frontend/src/pages/agreements/review/ReviewAgreement.jsx
Due: eslint

feat: :sparkles: budgetlines can be reset bases on action radio
  frontend/src/components/Agreements/AgreementBLIReviewTable/AgreementBLIReviewTable.js
  frontend/src/components/Agreements/AgreementBLIReviewTable/BLIReviewRow.js
  frontend/src/components/UI/TableRowExpandable/TableRowExpandable.js
  frontend/src/components/UI/TableTag/TableTag.js
  frontend/src/pages/agreements/review/ReviewAgreement.jsx
Due: eslint

test: :test_tube: fixes a11y issue
  frontend/src/components/Agreements/AgreementBLIReviewTable/BLIReviewRow.js
  frontend/src/pages/agreements/review/ReviewAgreement.jsx
Due: eslint

fix:
  frontend/src/components/UI/TableTag/TableTag.js
Due: eslint

add division test data;update Division model to SQLAlchemy 2.0 syntax;remove unnecessary relationships
  backend/data_tools/data/portfolio_data.json5
  backend/models/portfolios.py
  backend/ops_api/tests/ops/portfolio/test_division.py
Due: nox-lint

add division property for serialization;fix unit tests
  backend/models/portfolios.py
  backend/ops_api/tests/ops/portfolio/test_division.py
Due: nox-lint

fix for e2e
  frontend/cypress/e2e/portfolioDetail.cy.js
Due: eslint

feat(UI) TableCellText component which limits texts to two lines and provides the full text as a tooltip
  frontend/src/components/Agreements/AgreementsTable/AgreementTableRow.jsx
  frontend/src/components/UI/Table/TableCellText.js
  frontend/src/components/UI/Table/TableCellText.module.scss
Due: eslint

refactor: :recycle: tucks away bus logic in custom hook
  frontend/src/pages/agreements/review/ReviewAgreement.jsx
  frontend/src/pages/agreements/review/reviewAgreement.hooks.js
Due: eslint

cleanup
  frontend/src/pages/agreements/review/ReviewAgreement.helpers.js
  frontend/src/pages/agreements/review/ReviewAgreement.helpers.test.js
Due: eslint

feat: ✨ adds AgreementBLIReviewTable (#1577)
  frontend/src/components/Agreements/AgreementBLIReviewTable/AgreementBLIReviewTable.js
  frontend/src/components/Agreements/AgreementBLIReviewTable/BLIReviewRow.js
  frontend/src/components/Agreements/AgreementBLIReviewTable/index.js
  frontend/src/components/UI/TableRowExpandable/TableRowExpandable.js
  frontend/src/components/UI/TableTag/TableTag.js
  frontend/src/pages/agreements/review/ReviewAgreement.helpers.js
  frontend/src/pages/agreements/review/ReviewAgreement.helpers.test.js
  frontend/src/pages/agreements/review/ReviewAgreement.jsx
  frontend/src/pages/agreements/review/reviewAgreement.hooks.js
Due: eslint

Path conditions:
  nox-lint: any of: \.py$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.css$, \.(html|htm|xhtml)$
