Repository HHS/OPRE-OPS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-lint, eslint

nox-lint:
  name: nox-lint
  entry: bash -c 'cd ./backend/ops_api && pipenv run nox -s lint'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd ./frontend/ && bun lint'
  language: system
  pass_filenames: false

chore: cleanup
  frontend/src/components/CANs/CANSummaryCards/CANSummaryCards.jsx
  frontend/src/pages/cans/list/CANFilterButton/CANFilterTypes.d.ts
  frontend/src/pages/cans/list/CanList.helpers.js
  frontend/src/pages/cans/list/CanList.jsx
Due: eslint

Notes added by 'git notes add'
  daddf361b9ee20a595f9d75eb9d771859c434979
Due: none

feat: api integration is updating CAN List cards (#3125)
  backend/ops_api/ops/utils/cans.py
  backend/ops_api/tests/ops/funding_summary/test_can_funding_summary.py
  frontend/src/components/CANs/CANSummaryCards/CANSummaryCards.jsx
  frontend/src/pages/cans/list/CANFilterButton/CANFilterTypes.d.ts
  frontend/src/pages/cans/list/CanList.helpers.js
  frontend/src/pages/cans/list/CanList.jsx
Due: nox-lint, eslint

Notes added by 'git notes add'
  1b64d788426d5ee790408bb7ac4364ca176b8ab4
Due: none

Notes added by 'git notes add'
  27b3dfc172330902e7aa6abec4ee77818219b82b
Due: none

feat: update user role to viewer/editor role and fix tests
  backend/data_tools/data/user_data.json5
  backend/ops_api/tests/auth/test_roles.py
  backend/ops_api/tests/ops/users/test_users_patch.py
Due: nox-lint

feat: integrate fe with new viewer/editor role
  frontend/cypress/e2e/loginPage.cy.js
  frontend/cypress/support/e2e.js
  frontend/src/components/Auth/MultiAuthSection.jsx
  frontend/src/components/Auth/MultiAuthSectionWithDebugging.jsx
  frontend/src/components/Users/UserInfo/UserInfo.test.js
  frontend/src/constants.js
  frontend/src/tests/data.js
Due: eslint

Notes added by 'git notes add'
  ef2ac3313f1a0555526953190ef5a4ad6472ed4b
Due: none

test: remove unassigned role in the test data
  backend/data_tools/data/user_data.json5
  backend/ops_api/tests/auth/test_roles.py
Due: nox-lint

refactor: remove unused groups auth functionality
  backend/data_tools/data/user_data.json5
  backend/data_tools/initial_data/005-group.sql
  backend/data_tools/initial_data/006-group_version.sql
  backend/ops_api/ops/auth/decorators.py
Due: nox-lint

chore: remove file accidentally checked in?
  backend/ops_api/ops/schemas/scratch.json
Due: none

feat: update initial data with role updates
  backend/data_tools/initial_data/003-role.sql
  backend/data_tools/initial_data/004-role_version.sql
Due: none

Notes added by 'git notes add'
  2c833eb02daef2626139264e90a23933708de703
Due: none

fix: rename funding received property
  backend/models/cans.py
Due: nox-lint

feat: add new funding properties to can schemas
  backend/data_tools/tests/load_cans/test_load_cans.py
  backend/openapi.yml
  backend/ops_api/ops/schemas/budget_line_items.py
  backend/ops_api/ops/schemas/cans.py
  backend/ops_api/tests/ops/can/test_can_funding_details.py
Due: nox-lint

test: correct funding received attribute
  backend/ops_api/tests/ops/can/test_can_funding_details.py
Due: nox-lint

test: correct funding received attribute in datatools unit test
  backend/data_tools/tests/load_cans/test_load_cans.py
Due: nox-lint

chore: update FE can type file
  frontend/src/components/Agreements/AgreementTypes.d.ts
  frontend/src/components/BudgetLineItems/BudgetLineTypes.d.ts
Due: none

chore: updating openapi's URLs
  backend/openapi.yml
Due: none

test: fix BE unit tests
  backend/ops_api/tests/ops/funding_summary/test_can_funding_summary.py
Due: nox-lint

chore: refactor and fix portfolio filter FE unit test
  backend/ops_api/ops/resources/can_funding_summary.py
  backend/ops_api/ops/schemas/can_funding_summary.py
  backend/ops_api/ops/utils/cans.py
  backend/ops_api/tests/ops/funding_summary/test_can_funding_summary.py
  frontend/src/pages/cans/list/CanList.helpers.test.js
Due: nox-lint, eslint

3052: Add additional agreement attributes to /cans/ response #3092 (#3108)
  backend/openapi.yml
  backend/ops_api/ops/schemas/budget_line_items.py
  backend/ops_api/tests/ops/can/test_can.py
  frontend/src/components/Agreements/AgreementTypes.d.ts
  frontend/src/components/BudgetLineItems/BudgetLineTypes.d.ts
Due: nox-lint

feat: update division-director role to REVIEWER_APPROVER role
  backend/data_tools/data/user_data.json5
  backend/ops_api/tests/auth/test_roles.py
Due: nox-lint

test: be unit test - improve separation between editor and approver roles
  backend/ops_api/tests/ops/agreement/test_agreement_history.py
  backend/ops_api/tests/ops/workflows/test_change_requests.py
Due: nox-lint

feat: integrate role changes in fe
  backend/ops_api/ops/auth/authentication_provider/fake_auth_provider.py
  frontend/src/components/Users/User.constants.js
  frontend/src/constants.js
  frontend/src/tests/data.js
Due: nox-lint, eslint

feat: integrate role changes in fe
  frontend/src/pages/agreements/approve/ApproveAgreement.hooks.js
Due: eslint

test: fix a couple e2e tests with poor separation between editor and approver roles
  frontend/cypress/e2e/approveChangeRequestsAtAgreementLevel.cy.js
  frontend/cypress/e2e/reviewChangeRequestResponse.cy.js
Due: eslint

test: remove unused fixtures
  backend/ops_api/tests/ops/funding_summary/test_can_funding_summary.py
Due: nox-lint

chore: add docstrings to can utils
  backend/ops_api/ops/utils/cans.py
Due: nox-lint

feat: add can funding total request schema and service
  backend/ops_api/ops/resources/can_funding_summary.py
  backend/ops_api/ops/schemas/can_funding_summary.py
  backend/ops_api/ops/services/can_funding_summary.py
Due: nox-lint

feat:use api data for in-draft spending
  frontend/src/pages/cans/detail/Can.hooks.js
  frontend/src/pages/cans/detail/Can.jsx
  frontend/src/pages/cans/detail/CanSpending.jsx
Due: eslint

feat: usd api data for in-draft spending
  frontend/src/pages/cans/detail/Can.hooks.js
  frontend/src/pages/cans/detail/Can.jsx
  frontend/src/pages/cans/detail/CanSpending.jsx
Due: eslint

feat: use api data for in-draft spending
  frontend/src/pages/cans/detail/Can.hooks.js
  frontend/src/pages/cans/detail/Can.jsx
  frontend/src/pages/cans/detail/CanSpending.jsx
Due: eslint

Notes added by 'git notes add'
  544679d18bc16ef1dc5bf6943a6b89be52c5682d
Due: none

Notes added by 'git notes add'
  f226c1cd3e57ee46f32d31bff67738f377df083b
Due: none

3110: Add Funding Method, Received, and Type to CANS (#3120)
  backend/data_tools/tests/load_cans/test_load_cans.py
  backend/models/cans.py
  backend/openapi.yml
  backend/ops_api/ops/schemas/budget_line_items.py
  backend/ops_api/ops/schemas/cans.py
  backend/ops_api/tests/ops/can/test_can_funding_details.py
Due: nox-lint

2962: CAN Summary Card - update funding summary endpoint (#3075)
  backend/openapi.yml
  backend/ops_api/ops/resources/can_funding_summary.py
  backend/ops_api/ops/schemas/can_funding_summary.py
  backend/ops_api/ops/services/can_funding_summary.py
  backend/ops_api/ops/urls.py
  backend/ops_api/ops/utils/cans.py
  backend/ops_api/ops/views.py
  backend/ops_api/tests/conftest.py
  backend/ops_api/tests/ops/funding_summary/test_can_funding_summary.py
  frontend/src/api/getCanFundingSummary.js
  frontend/src/api/opsAPI.js
  frontend/src/components/Agreements/AgreementCANReviewAccordion/AgreementCANReviewAccordion.test.jsx
  frontend/src/components/CANs/CANFundingCard/CANFundingCard.jsx
  frontend/src/components/CANs/CANFundingCard/CanFundingCard.test.jsx
  frontend/src/components/CANs/CANSummaryCards/CANSummaryCards.jsx
  frontend/src/components/CANs/CANTable/CANTableRow.jsx
  frontend/src/components/CANs/CanCard/CanCard.jsx
  frontend/src/components/CANs/CanCard/CanCard.test.jsx
  frontend/src/pages/cans/detail/Can.hooks.js
  frontend/src/pages/cans/list/CANFilterButton/CANFilterTypes.d.ts
  frontend/src/pages/cans/list/CanList.helpers.js
  frontend/src/pages/cans/list/CanList.helpers.test.js
  frontend/src/pages/cans/list/CanList.jsx
Due: nox-lint, eslint

Notes added by 'git notes add'
  c2e06ebdb6e389cd1fbf54088285db66bb58bcf3
Due: none

test: fix e2e for role changes
  frontend/cypress/e2e/reviewChangeRequestsAtCardLevel.cy.js
Due: eslint

Path conditions:
  nox-lint: any of: \.py$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.css$, \.(html|htm|xhtml)$
