Repository HHS/OPRE-OPS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-lint, eslint

nox-lint:
  name: nox-lint
  entry: bash -c 'cd ./backend/ops_api && pipenv run nox -s lint'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd ./frontend/ && yarn lint'
  language: system
  pass_filenames: false

fixes ally issue?
  frontend/src/components/UI/Form/TextArea/TextArea.jsx
  frontend/src/pages/agreements/StepCreateAgreement.jsx
Due: eslint

e2e and a11y fixes
  frontend/cypress/e2e/createAgreement.cy.js
  frontend/src/components/UI/Form/CanSelect/CanSelect.jsx
  frontend/src/components/UI/Form/CreateBudgetLinesForm/CreateBudgetLinesForm.jsx
  frontend/src/pages/agreements/StepCreateAgreement.jsx
Due: eslint

e2e test updates
  frontend/cypress/e2e/editAgreement.cy.js
Due: eslint

brings back the hiding of the ul
  frontend/src/components/UI/Form/CanSelect/CanSelect.jsx
Due: eslint

save draft ok in editMode
  frontend/src/pages/agreements/StepCreateAgreement.jsx
Due: eslint

better error handling
  frontend/src/components/UI/Form/CanSelect/CanSelect.jsx
Due: eslint

replaces with TextArea comp
  frontend/src/components/UI/Form/CreateBudgetLinesForm/CreateBudgetLinesForm.jsx
Due: eslint

updates test
  frontend/src/components/UI/Form/CreateBudgetLinesForm/suite.js
Due: eslint

wip
  frontend/src/components/UI/Form/CreateBudgetLinesForm/CreateBudgetLinesForm.jsx
  frontend/src/components/UI/Form/CreateBudgetLinesForm/suite.js
  frontend/src/components/UI/Form/DesiredAwardDate/DesiredAwardDate.jsx
Due: eslint

remove babel-plugin-macros
  frontend/package.json
  frontend/yarn.lock
Due: none

fixes tests?
  frontend/cypress/e2e/createAgreement.cy.js
  frontend/src/pages/agreements/StepCreateAgreement.jsx
Due: eslint

better tests
  frontend/src/components/UI/Form/CanSelect/CanSelect.jsx
  frontend/src/components/UI/Form/CreateBudgetLinesForm/suite.js
Due: eslint

adds month and day validation
  frontend/src/components/UI/Form/CreateBudgetLinesForm/CreateBudgetLinesForm.jsx
  frontend/src/components/UI/Form/CreateBudgetLinesForm/suite.js
  frontend/src/components/UI/Form/DesiredAwardDate/DayInput.jsx
  frontend/src/components/UI/Form/DesiredAwardDate/DesiredAwardDate.jsx
  frontend/src/components/UI/Form/DesiredAwardDate/MonthSelect.jsx
Due: eslint

adds validation for the entered Year
  frontend/src/components/UI/Form/CreateBudgetLinesForm/suite.js
  frontend/src/components/UI/Form/DesiredAwardDate/DesiredAwardDate.jsx
  frontend/src/components/UI/Form/DesiredAwardDate/YearInput.jsx
Due: eslint

cleanup
  frontend/src/components/UI/Form/DesiredAwardDate/DesiredAwardDate.jsx
Due: eslint

adds validation for Currency Input
  frontend/src/components/UI/Form/CanSelect/CanSelect.jsx
  frontend/src/components/UI/Form/CreateBudgetLinesForm/CreateBudgetLinesForm.jsx
  frontend/src/components/UI/Form/CreateBudgetLinesForm/CurrencyInput.jsx
Due: eslint

adds test
  frontend/src/components/UI/Form/CreateBudgetLinesForm/suite.js
Due: eslint

WIP
  backend/models/__init__.py
  backend/models/users.py
  backend/ops_api/ops/utils/auth_views.py
  backend/ops_api/ops/utils/user.py
  frontend/jsconfig.json
  frontend/src/components/Auth/AuthSection.jsx
  frontend/src/components/UI/Form/EditUserForm/EditUserForm.jsx
  frontend/src/components/UI/Form/EditUserForm/index.js
  frontend/src/components/Users/UserInfoForm/UserInfoForm.jsx
  frontend/src/components/Users/UserInfoForm/UserInfoForm.module.css
  frontend/src/index.jsx
  frontend/src/pages/users/edit/EditUser.jsx
  frontend/src/pages/users/edit/userSlice.js
Due: nox-lint, eslint

fixes e2e tests
  frontend/cypress/e2e/createAgreement.cy.js
Due: eslint

add react-modal dependency
  frontend/package.json
  frontend/yarn.lock
Due: none

use react-modal in NotificationCenter.jsx
  frontend/src/components/UI/NotificationCenter/NotificationCenter.jsx
  frontend/src/components/UI/NotificationCenter/NotificationCenter.module.css
Due: eslint

updates unit-tests
  frontend/src/components/UI/Form/DesiredAwardDate/DesiredAwardDate.test.js
Due: eslint

use USWDS close icon and position in upper right of modal
  frontend/src/components/UI/NotificationCenter/NotificationCenter.jsx
  frontend/src/components/UI/NotificationCenter/NotificationCenter.module.css
Due: eslint

add Notifications header to modal
  frontend/src/components/UI/NotificationCenter/NotificationCenter.jsx
  frontend/src/components/UI/NotificationCenter/NotificationCenter.module.css
Due: eslint

add Notification title and created_on
  frontend/src/components/UI/Notification/Notification.jsx
  frontend/src/components/UI/Notification/Notification.module.css
  frontend/src/components/UI/NotificationCenter/NotificationCenter.jsx
  frontend/src/helpers/utils.js
Due: eslint

Adding logout endpoint.
  backend/models/events.py
  backend/ops_api/ops/resources/auth.py
  backend/ops_api/ops/urls.py
  backend/ops_api/ops/utils/auth_views.py
  backend/ops_api/ops/views.py
Due: nox-lint

Starting logout process.
  backend/ops_api/ops/resources/auth.py
Due: nox-lint

Black fix.
  backend/ops_api/ops/utils/auth_views.py
Due: nox-lint

Logout logging works.
  backend/ops_api/ops/utils/auth_views.py
  frontend/src/api/apiLogin.js
  frontend/src/components/Auth/AuthSection.jsx
Due: nox-lint, eslint

disable buttons
  frontend/src/components/UI/Form/CreateBudgetLinesForm/CreateBudgetLinesForm.jsx
Due: eslint

linter fixes
  frontend/src/components/UI/Form/DesiredAwardDate/DesiredAwardDate.test.js
  frontend/src/components/UI/WizardSteps/StepCreateBudgetLines/StepCreateBudgetLines.jsx
Due: eslint

validates existing budget lines
  frontend/src/components/UI/Form/CreateBudgetLinesForm/CreateBudgetLinesForm.jsx
Due: eslint

disable only when not inReviewMode
  frontend/src/components/UI/Form/CreateBudgetLinesForm/CreateBudgetLinesForm.jsx
Due: eslint

adds openapi docs for POST, PUT, and PATCH of an Agreement
  openapi.yml
Due: none

better tests for enteredAmount
  frontend/src/components/UI/Form/CreateBudgetLinesForm/suite.js
Due: eslint

adds redirect to agreement review page
  frontend/src/components/UI/WizardSteps/StepCreateBudgetLines/StepCreateBudgetLines.jsx
Due: eslint

cleanup
  frontend/src/components/UI/WizardSteps/StepCreateBudgetLines/StepCreateBudgetLines.jsx
  frontend/src/pages/agreements/CreateEditAgreement.jsx
Due: eslint

add Notification message and divider;improve spacing
  frontend/src/components/UI/Notification/Notification.jsx
  frontend/src/components/UI/Notification/Notification.module.css
  frontend/src/components/UI/NotificationCenter/NotificationCenter.jsx
  frontend/src/components/UI/NotificationCenter/NotificationCenter.module.css
Due: eslint

allow history to work even when we don't have a request to get the JWT/User
  backend/ops_api/ops/history.py
Due: nox-lint

Path conditions:
  nox-lint: any of: \.py$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.css$, \.(html|htm|xhtml)$
