Repository HHS/OPRE-OPS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-lint, eslint

nox-lint:
  name: nox-lint
  entry: bash -c 'cd ./backend/ops_api && pipenv run nox -s lint'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd ./frontend/ && bun lint'
  language: system
  pass_filenames: false

style: update table row maxlines to 1
  frontend/src/components/Agreements/AgreementsTable/AgreementTableRow.jsx
  frontend/src/components/BudgetLineItems/AllBudgetLinesTable/AllBLIRow.jsx
Due: eslint

test: update Portfolio Detail Page spending test assertions
  frontend/cypress/e2e/portfolioDetail.cy.js
Due: eslint

chore: remove unused code
  frontend/src/components/Portfolios/Funding/ProjectsAndAgreements.jsx
  frontend/src/components/Portfolios/Funding/ProjectsAndAgreements.test.js
  frontend/src/components/Portfolios/PeopleAndTeams/PeopleAndTeams.jsx
  frontend/src/components/Portfolios/PeopleAndTeams/PeopleAndTeams.module.css
  frontend/src/components/Portfolios/PeopleAndTeams/PeopleAndTeams.skip.js
  frontend/src/components/Portfolios/PortfolioBudgetSummary/portfolioBudgetSummarySlice.js
  frontend/src/components/Portfolios/PortfolioBudgetSummary/util.js
  frontend/src/components/Portfolios/PortfolioBudgetSummary/util.test.js
  frontend/src/components/Portfolios/PortfolioHeader/PortfolioHeader.jsx
  frontend/src/components/Portfolios/PortfolioHeader/PortfolioHeader.test.js
  frontend/src/components/Portfolios/PortfolioHeader/styles.module.css
  frontend/src/components/Portfolios/PortfolioSummaryCards/PortfolioCarryForwardFunding.jsx
  frontend/src/components/Portfolios/PortfolioSummaryCards/PortfolioCarryForwardFunding.test.js
  frontend/src/components/Portfolios/PortfolioSummaryCards/PortfolioFundingTotal.jsx
  frontend/src/components/Portfolios/PortfolioSummaryCards/PortfolioFundingTotal.test.js
  frontend/src/components/Portfolios/PortfolioSummaryCards/PortfolioNewFunding.jsx
  frontend/src/components/Portfolios/PortfolioSummaryCards/PortfolioNewFunding.test.js
  frontend/src/components/UI/Cards/ProjectAgreementBLICard/ProjectAgreementBLICard.jsx
  frontend/src/components/UI/FiscalYear/FiscalYear.jsx
  frontend/src/pages/portfolios/detail/PortfolioDetail.jsx
  frontend/src/pages/portfolios/detail/getPortfolio.js
  frontend/src/pages/portfolios/detail/getPortfolio.test.js
  frontend/src/pages/portfolios/detail/getResearchProjects.js
  frontend/src/pages/portfolios/detail/getResearchProjects.test.js
  frontend/src/pages/portfolios/detail/portfolioSlice.js
  frontend/src/pages/portfolios/detail/portfolioSlice.test.js
  frontend/src/store.js
Due: eslint

chore: next round of cuts
  frontend/src/components/Portfolios/Funding/AdminAndSupportProjectsTable.jsx
  frontend/src/components/Portfolios/Funding/AdminAndSupportProjectsTable.test.js
  frontend/src/components/Portfolios/Funding/ResearchBudgetVsSpending.jsx
  frontend/src/components/Portfolios/Funding/ResearchBudgetVsSpending.test.js
  frontend/src/components/Portfolios/Funding/ResearchProjectFundingSlice.js
  frontend/src/components/Portfolios/Funding/ResearchProjects.module.css
  frontend/src/components/Portfolios/Funding/ResearchProjects.skip.js
  frontend/src/components/Portfolios/Funding/ResearchProjectsTable.jsx
  frontend/src/components/Portfolios/Funding/ResearchProjectsTable.test.js
  frontend/src/components/Portfolios/Funding/data.js
  frontend/src/components/Portfolios/Funding/getResearchProjectsFunding.js
  frontend/src/components/Portfolios/Funding/tables.scss
  frontend/src/store.js
Due: eslint

refactor: simplify portfolio funding component and fiscal year handling
  frontend/src/components/Portfolios/PortfolioFunding/PortfolioFunding.jsx
  frontend/src/components/Portfolios/PortfolioFunding/index.js
  frontend/src/index.jsx
  frontend/src/pages/cans/detail/Can.hooks.js
  frontend/src/pages/cans/detail/Can.jsx
  frontend/src/pages/cans/list/CANFiscalYearSelect/CANFiscalYearSelect.jsx
Due: eslint

chore: remove PortfolioFundingByBudgetStatus component
  frontend/src/components/Portfolios/PortfolioFundingByBudgetStatus/PortfolioFundingByBudgetStatus.jsx
  frontend/src/components/Portfolios/PortfolioFundingByBudgetStatus/styles.module.css
  frontend/src/components/Portfolios/PortfolioFundingByBudgetStatus/util.js
  frontend/src/components/Portfolios/PortfolioFundingByBudgetStatus/util.test.js
Due: eslint

refactor: update fiscal year handling in CAN list page
  frontend/src/pages/cans/list/CANFiscalYearSelect/CANFiscalYearSelect.jsx
  frontend/src/pages/cans/list/CanList.jsx
Due: eslint

Notes added by 'git notes add'
  60219a3a0258835780d895c34810b2973180ac08
Due: none

refactor: simplify getCurrentFiscalYear() call in PortfolioDetail
  frontend/src/pages/portfolios/detail/PortfolioDetail.jsx
Due: eslint

fix: adjust fiscal year UI styling and remove unnecessary class
  frontend/src/components/UI/FiscalYear/FiscalYear.jsx
  frontend/src/pages/portfolios/detail/PortfolioDetail.jsx
Due: eslint

feat: add format validation to date in budget line form
  frontend/src/components/BudgetLineItems/BudgetLinesForm/BudgetLinesForm.jsx
  frontend/src/components/BudgetLineItems/BudgetLinesForm/datePickerSuite.js
  frontend/src/pages/agreements/details/Agreement.jsx
Due: eslint

Notes added by 'git notes add'
  b3b8f558a2753f44f32906275fc2e8a57c714d06
Due: none

refactor: updates data for cards
  frontend/src/components/Portfolios/PortfolioBudgetSummary/PortfolioBudgetSummary.jsx
  frontend/src/components/Portfolios/PortfolioFunding/PortfolioFunding.jsx
  frontend/src/components/Portfolios/PortfolioSpending/PortfolioSpending.jsx
  frontend/src/pages/portfolios/detail/PortfolioDetail.jsx
Due: eslint

test: wip create agreement e2e test
  frontend/cypress/e2e/createAgreement.cy.js
Due: eslint

test: fix create agreement e2e test
  frontend/cypress/e2e/createAgreement.cy.js
Due: eslint

test: fixed non severable agreement
  frontend/cypress/e2e/createAgreement.cy.js
Due: eslint

fix: fixed can table pagination bug
  frontend/src/components/CANs/CANBudgetLineTable/CANBudgetLineTable.jsx
  frontend/src/components/CANs/CANTable/CANTable.jsx
  frontend/src/components/Portfolios/PortfolioSpending/PortfolioSpending.jsx
  frontend/src/pages/cans/detail/CanSpending.jsx
Due: eslint

test: adds e2e test coverage for can list pagination
  frontend/cypress/e2e/canList.cy.js
Due: eslint

feat: updated agreement filtering to use fy, portfolio, and budget line status
  frontend/cypress/e2e/agreementList.cy.js
  frontend/src/components/Agreements/AgreementsTable/AgreementsTable.constants.js
  frontend/src/components/UI/FilterButton/FilterButton.jsx
  frontend/src/components/UI/Table/Table.jsx
  frontend/src/pages/agreements/list/AgreementsFilterButton/AgreementsFilterButton.jsx
  frontend/src/pages/agreements/list/AgreementsFilterTags/AgreementsFilterTags.hooks.js
  frontend/src/pages/agreements/list/AgreementsFilterTags/AgreementsFilterTags.jsx
  frontend/src/pages/agreements/list/AgreementsList.jsx
  frontend/src/pages/agreements/list/utils.js
Due: eslint

chore: remove PropTypes and minor component refactoring
  frontend/src/components/BudgetLineItems/BudgetLinesForm/BudgetLinesForm.jsx
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.hooks.js
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.jsx
  frontend/src/components/UI/Form/IsRequiredHelper/IsRequiredHelper.jsx
  frontend/src/components/UI/USWDS/DatePicker/DatePicker.jsx
Due: eslint

docs: updates default param
  frontend/src/components/UI/Text/TextClip.jsx
Due: eslint

style: better Agreement row
  frontend/src/components/Agreements/AgreementsTable/AgreementTableRow.jsx
Due: eslint

feat: enhance budget line form validation with dual suite validation
  frontend/src/components/BudgetLineItems/BudgetLinesForm/BudgetLinesForm.jsx
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.hooks.js
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.jsx
Due: eslint

test: refactor BudgetLinesForm test suite
  frontend/src/components/Agreements/AgreementsTable/AgreementTableRow.test.js
  frontend/src/components/Agreements/AgreementsTable/AgreementsTable.test.js
  frontend/src/components/BudgetLineItems/BudgetLinesForm/BudgetLinesForm.test.jsx
Due: eslint

fix: improve budget line form date validation and remove unused imports
  frontend/cypress/e2e/createAgreementWithValidations.cy.js
  frontend/src/components/BudgetLineItems/BudgetLinesForm/BudgetLinesForm.jsx
  frontend/src/components/BudgetLineItems/BudgetLinesForm/datePickerSuite.js
Due: eslint

docs: update CM-12
  docs/Security-Compliance/Security-Controls/cm/cm-12.md
Due: none

docs: CP-2-1 update
  docs/Security-Compliance/Security-Controls/cp/cp-02-1.md
Due: none

docs: cp-2-3 update
  docs/Security-Compliance/Security-Controls/cp/cp-02-3.md
Due: none

docs: cp-2-8 update
  docs/Security-Compliance/Security-Controls/cp/cp-02-8.md
Due: none

docs: cp-3 update'
  docs/Security-Compliance/Security-Controls/cp/cp-03.md
Due: none

docs: cp-4-1
  docs/Security-Compliance/Security-Controls/cp/cp-04-1.md
Due: none

docs: cp-6
  docs/Security-Compliance/Security-Controls/cp/cp-06.md
Due: none

docs: cp-6-1
  docs/Security-Compliance/Security-Controls/cp/cp-06-1.md
Due: none

docs: cp-6-3
  docs/Security-Compliance/Security-Controls/cp/cp-06-3.md
Due: none

docs: big cp update
  docs/Security-Compliance/Security-Controls/cp/cp-07-1.md
  docs/Security-Compliance/Security-Controls/cp/cp-07-2.md
  docs/Security-Compliance/Security-Controls/cp/cp-07-3.md
  docs/Security-Compliance/Security-Controls/cp/cp-07.md
  docs/Security-Compliance/Security-Controls/cp/cp-08-1.md
  docs/Security-Compliance/Security-Controls/cp/cp-08-2.md
  docs/Security-Compliance/Security-Controls/cp/cp-08.md
  docs/Security-Compliance/Security-Controls/cp/cp-09-1.md
  docs/Security-Compliance/Security-Controls/cp/cp-09-8.md
  docs/Security-Compliance/Security-Controls/cp/cp-09.md
  docs/Security-Compliance/Security-Controls/cp/cp-10-2.md
  docs/Security-Compliance/Security-Controls/cp/cp-10.md
Due: none

docs: is readme
  docs/Security-Compliance/Incident-Response/README.md
Due: none

docs: records admin docs were unnecessary
  docs/Security-Compliance/README.md
  docs/Security-Compliance/records-management.md
Due: none

chore: removes debug code
  frontend/src/components/CANs/CANBudgetLineTable/CANBudgetLineTable.jsx
Due: eslint

Notes added by 'git notes add'
  93592bc9716cdce2d4c6747bab28cca67af8143a
Due: none

feat: move type specific blis to sub-classes
  backend/data_tools/data/agreements_and_blin_data.json5
  backend/data_tools/src/import_static_data/import_data.py
  backend/models/budget_line_items.py
  backend/ops_api/ops/resources/budget_line_items.py
  backend/ops_api/tests/ops/agreement/test_agreement_history.py
  backend/ops_api/tests/ops/can/test_budget_line_item.py
  backend/ops_api/tests/ops/features/test_delete_agreement.py
  backend/ops_api/tests/ops/features/test_edit_agreement_metadata.py
  backend/ops_api/tests/ops/features/test_edit_planned_budget_line.py
  backend/ops_api/tests/ops/features/test_validate_draft_budget_lines.py
  backend/ops_api/tests/ops/funding_summary/test_can_funding_summary.py
  backend/ops_api/tests/ops/funding_summary/test_portfolio_funding_summary.py
  backend/ops_api/tests/ops/funding_summary/test_research_project_funding_summary.py
  backend/ops_api/tests/ops/history/test_history.py
  backend/ops_api/tests/ops/portfolio/test_portfolio_calculate_funding.py
  backend/ops_api/tests/ops/workflows/test_change_requests.py
Due: nox-lint

Path conditions:
  nox-lint: any of: \.py$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.css$, \.(html|htm|xhtml)$
