Repository HHS/OPRE-OPS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-lint, eslint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: detect-aws-credentials
        args: [--allow-missing-credentials]
      - id: detect-private-key
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: '^frontend/src/uswds/.*\.svg$'
      - id: check-json
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
  - repo: https://github.com/hadolint/hadolint
    rev: v2.10.0
    hooks:
      - id: hadolint
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.10.1
    hooks:
      - id: isort
        args: ["--profile", "black", "--filter-files"]
  - repo: local
    hooks:
      - id: nox-lint
        name: nox-lint
        entry: bash -c 'cd ./backend/ops_api && pipenv run nox -s lint'
        language: system
        types:
          - python
        pass_filenames: false
      - id: eslint
        name: eslint
        entry: bash -c 'cd ./frontend/ && bun lint'
        language: system
        types_or:
          - javascript
          - jsx
          - css
          - html
        pass_filenames: false
      - id: trufflehog
        name: TruffleHog
        description: Detect secrets in your data.
        entry: bash -c 'if command -v podman >/dev/null 2>&1; then podman run --rm -v "$(pwd):/workdir" -i trufflesecurity/trufflehog:latest git file:///workdir --since-commit HEAD --only-verified --fail; elif command -v docker >/dev/null 2>&1; then docker run --rm -v "$(pwd):/workdir" -i trufflesecurity/trufflehog:latest git file:///workdir --since-commit HEAD --only-verified --fail; else echo "Neither docker nor podman found. Please install one of them." && exit 1; fi'
        language: system
        stages: ["pre-commit", "pre-push"]
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.18.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional"]
        language_version: 22.8.0

refactor: remove unused hover test for budget line items and update routing check for agreement name
  frontend/cypress/e2e/budgetLineItemsList.cy.js
  frontend/src/constants.js
Due: eslint

fix: include Cypress in environment variable check for development years
  frontend/src/constants.js
Due: eslint

test: start e2e tests for portfolio detail
  frontend/cypress/e2e/portfolioDetail.cy.js
Due: eslint

fix: update isEditable assignment to remove unnecessary tuple wrapping
  backend/ops_api/ops/resources/budget_line_items.py
Due: nox-lint

test: remove exclusive focus from portfolio budgetlines test
  frontend/cypress/e2e/portfolioDetail.cy.js
Due: eslint

fix: enhance TeamMemberData validation and add CIG_TYPE handling
  backend/data_tools/src/load_team_members/utils.py
  backend/data_tools/tests/load_team_members/test_load_team_members.py
Due: nox-lint

test: add handling for budget lines without agreement in CAN and Portfolio detail pages
  frontend/cypress/e2e/canDetail.cy.js
  frontend/cypress/e2e/portfolioDetail.cy.js
Due: eslint

refactor: remove obsolete test for non-existent agreement in TeamMemberData
  backend/data_tools/tests/load_team_members/test_load_team_members.py
Due: nox-lint

fix: update expected values for project agreement budget lines in portfolio detail tests
  frontend/cypress/e2e/portfolioDetail.cy.js
Due: eslint

Notes added by 'git notes add'
  3df7aa16ca212e19eb7dedc150f9636bcb05545b
Due: none

Notes added by 'git notes add'
  d82f1b2fb846311780138b60fd776abd9e2f8652
Due: none

Notes added by 'git notes add'
  3c9cb1d685b937d404b41ecf2a8d2cfcac5595e9
Due: none

Notes added by 'git notes add'
  cd47047744b3d8f132c4550b5617e404a553e3a5
Due: none

feat: implement token refresh mechanism and clean up auth logic
  frontend/src/api/opsAPI.js
  frontend/src/api/opsAuthAPI.js
  frontend/src/api/postRefresh.js
  frontend/src/components/Auth/AuthSection.jsx
  frontend/src/components/Auth/auth.js
  frontend/src/errorMiddleware.js
  frontend/src/errorMiddleware.test.js
  frontend/src/store.js
Due: eslint

feat: refactor notification handling and introduce custom hook for notifications
  frontend/src/api/opsAPI.js
  frontend/src/components/Auth/auth.js
  frontend/src/components/UI/NotificationCenter/NotificationCenter.jsx
  frontend/src/hooks/useNotifications.js
Due: eslint

refactor: rename "Notes" to "Description" and update related data in BudgetLine components
  frontend/src/components/BudgetLineItems/AllBudgetLinesTable/AllBLIRow.jsx
  frontend/src/components/BudgetLineItems/AllBudgetLinesTable/AllBLIRow.test.jsx
  frontend/src/components/BudgetLineItems/BudgetLinesTable/BLIRow.jsx
  frontend/src/components/BudgetLineItems/BudgetLinesTable/BLIRow.test.jsx
Due: eslint

refactor: update "Notes" to "Description" across BudgetLine components
  frontend/src/components/BudgetLineItems/BLIDiffTable/BLIDiffRow.jsx
  frontend/src/components/BudgetLineItems/BLIDiffTable/BLIDiffRow.test.jsx
  frontend/src/components/BudgetLineItems/BLIReviewTable/BLIReviewRow.jsx
  frontend/src/components/CANs/CANBudgetLineTable/CANBudgetLineTable.jsx
  frontend/src/components/CANs/CANBudgetLineTable/CANBudgetLineTableRow.jsx
  frontend/src/components/CANs/CANBudgetLineTable/CANBudgetLineTableRow.test.jsx
Due: eslint

fix: redirect to login on token refresh failure and handle inactive user sessions
  backend/ops_api/ops/auth/service.py
  frontend/src/api/opsAPI.js
  frontend/src/api/postRefresh.js
  frontend/src/components/Auth/auth.js
Due: nox-lint, eslint

refactor: remove unused refreshToken mutation from opsAuthAPI
  frontend/src/api/opsAuthAPI.js
Due: eslint

chore: initial WIP work for moving some sorting to backend
  backend/models/budget_line_items.py
  backend/ops_api/ops/services/budget_line_items.py
  frontend/src/api/opsAPI.js
  frontend/src/components/BudgetLineItems/AllBudgetLinesTable/AllBudgetLinesTable.jsx
  frontend/src/pages/budgetLines/list/BudgetLineItemList.jsx
Due: nox-lint, eslint

feat: add access token retrieval and ensure active user on component mount
  frontend/src/components/Auth/AuthSection.jsx
Due: eslint

refactor: remove redundant TODO comment and clean up test code in budget line items list
  frontend/cypress/e2e/budgetLineItemsList.cy.js
Due: eslint

fix: set app element for Modal in NotificationCenter and handle potential errors
  frontend/src/components/UI/NotificationCenter/NotificationCenter.jsx
Due: eslint

Notes added by 'git notes add'
  b978ce18ebdaa4377aadf9687ceebf38cff1bfbd
Due: none

refactor: update fiscal year logic and improve handling of optional data in CANBudgetLineTable
  frontend/src/components/CANs/CANBudgetLineTable/CANBudgetLineTable.jsx
  frontend/src/constants.js
Due: eslint

fix: ensure active user on component mount and redirect to login if no token is present
  frontend/src/components/Auth/AuthSection.jsx
Due: eslint

refactor: update fiscal year calculation to use NODE_ENV for environment checks
  frontend/src/constants.js
Due: eslint

Notes added by 'git notes add'
  de1486bc42b6118ce6c213a994061adb726a79c5
Due: none

Notes added by 'git notes add'
  e3a7c1cf08d9d5794779d6f13045b7bcaa6c5cba
Due: none

refactor: rename 'Comments' to 'Description' in Budget Lines Form and related hooks
  frontend/src/components/BudgetLineItems/BudgetLinesForm/BudgetLinesForm.jsx
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.hooks.js
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.jsx
Due: eslint

chore: remove unused createBLIsAndSCs.constants.js file
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/createBLIsAndSCs.constants.js
Due: eslint

refactor: rename note to line_description in budget line data and update related tests
  frontend/cypress/e2e/createAgreementWithValidations.cy.js
Due: eslint

test: update test cases to use 'Description' instead of 'Comments' for budget lines
  frontend/cypress/e2e/createAgreement.cy.js
Due: eslint

chore: reduce wait time in agreement review navigation to improve test reliability
  frontend/cypress/e2e/createAgreementWithValidations.cy.js
Due: eslint

feat: add new funding details, cans, and budgets for mocking bug
  backend/data_tools/data/can_data.json5
Due: none

test: correct CANFundingReceived amount
  backend/data_tools/data/can_data.json5
Due: none

Notes added by 'git notes add'
  e5e78867990e9834762dd3ddc721f43fcc8b581d
Due: none

test: add unit test for portfolio cans with budgets sorted by fiscal year
  backend/ops_api/tests/ops/can/test_portfolio_cans.py
Due: nox-lint

fix: set environment-specific tag on data-tools container
  .github/workflows/dev_be_build_and_deploy.yml
  .github/workflows/prod_be_build_and_deploy.yml
  .github/workflows/stg_be_build_and_deploy.yml
Due: none

chore: front end now passes back enum which backend will use to sort data
  backend/models/budget_line_items.py
  backend/openapi.yml
  backend/ops_api/ops/schemas/budget_line_items.py
  backend/ops_api/ops/services/budget_line_items.py
  frontend/src/api/opsAPI.js
  frontend/src/components/BudgetLineItems/AllBudgetLinesTable/AllBudgetLinesTable.constants.js
  frontend/src/components/BudgetLineItems/AllBudgetLinesTable/AllBudgetLinesTable.jsx
  frontend/src/components/UI/Table/Table.jsx
  frontend/src/pages/budgetLines/list/BudgetLineItemList.jsx
Due: nox-lint, eslint
