Repository HHS/OPRE-OPS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-lint, eslint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: detect-aws-credentials
      - id: detect-private-key
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-json
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

  - repo: https://github.com/hadolint/hadolint
    rev: v2.10.0
    hooks:
      - id: hadolint
  # We're running black, but doing it via nox session instead - see below
  # - repo: https://github.com/psf/black
  #   rev: 22.6.0
  #   hooks:
  #   -   id: black
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.10.1
    hooks:
      - id: isort
        args: ["--profile", "black", "--filter-files"]
  - repo: local
    hooks:
      - id: nox-lint
        name: nox-lint
        entry: bash -c 'cd ./backend/ops_api && pipenv run nox -s lint'
        language: system
        types:
          - python
        pass_filenames: false
      - id: eslint
        name: eslint
        entry: bash -c 'cd ./frontend/ && yarn lint'
        language: system
        types_or:
          - javascript
          - jsx
          - css
          - html
        pass_filenames: false

use status from Agreement (set on backend);enable edit and delete for Agreement always;only enable send for approval when status is DRAFT or UNDER_REVIEW
  frontend/src/pages/agreements/list/AgreementTableRow.jsx
Due: eslint

set Agreement status to DRAFT when there are no BLIs
  backend/models/cans.py
  backend/ops_api/tests/ops/agreement/test_agreement.py
Due: nox-lint

better tests (#1148)
  backend/ops_api/tests/ops/features/test_validate_draft_budget_lines.py
  backend/ops_api/tests/ops/features/validate_draft_budget_lines.feature
  frontend/cypress/e2e/reviewAgreement.cy.js
  frontend/src/pages/agreements/review/ReviewAgreement.jsx
  frontend/src/pages/agreements/review/suite.js
Due: nox-lint, eslint

cleanup linter warnings
  frontend/src/components/UI/Header/Header.jsx
  frontend/src/components/UI/Header/Search.jsx
  frontend/src/components/UI/Modal/Modal.jsx
  frontend/src/components/UI/NotificationCenter/NotificationCenter.jsx
Due: eslint

add index.js
  frontend/src/components/UI/Notification/index.js
Due: eslint

add index.js
  frontend/src/components/UI/Modal/Modal.jsx
Due: eslint

adds ADR for form validation
  docs/adr/020-form-validation-library-for-frontend.md
Due: none

fixes links
  docs/adr/020-form-validation-library-for-frontend.md
Due: none

adds ADR for form validation (#1152)
  docs/adr/020-form-validation-library-for-frontend.md
Due: none

adds query params to determine form mode
  frontend/src/components/UI/WizardSteps/StepCreateBudgetLines/StepCreateBudgetLines.jsx
  frontend/src/components/UI/WizardSteps/StepCreateBudgetLines/index.js
  frontend/src/pages/agreements/CreateEditAgreement.jsx
  frontend/src/pages/agreements/StepCreateAgreement.jsx
  frontend/src/pages/agreements/StepSelectProject.jsx
  frontend/src/pages/agreements/list/AgreementTableRow.jsx
  frontend/src/pages/agreements/review/ReviewAgreement.jsx
Due: eslint

updates tests
  frontend/cypress/e2e/editAgreement.cy.js
  frontend/cypress/e2e/reviewAgreement.cy.js
Due: eslint

edit test data for Agreement 1 to put it in DRAFT status
  backend/data_tools/data/agreements_and_blin_data.json5
Due: none

adds JSDocs
  frontend/src/components/UI/Form/TextArea/TextArea.jsx
Due: eslint

adds TextArea with validation inReviewMode
  frontend/src/pages/agreements/StepCreateAgreement.jsx
Due: eslint

adds validation for agreement-description
  frontend/src/pages/agreements/stepCreateAgreementSuite.js
Due: eslint

adds formMode
  frontend/src/pages/agreements/StepSelectProject.jsx
Due: eslint

simple tests for coverage
  frontend/src/api/patchAgreements.js
  frontend/src/api/patchAgreements.test.js
Due: eslint

add e2e test for Agreement status in Agreement List
  frontend/cypress/e2e/agreementList.cy.js
Due: eslint

fix unit test
  frontend/src/pages/agreements/list/AgreementTableRow.test.js
Due: eslint

place higher in the file
  frontend/src/pages/agreements/StepCreateAgreement.jsx
Due: eslint

fix unit tests
  backend/ops_api/tests/ops/agreement/test_agreement.py
  backend/ops_api/tests/ops/can/test_budget_line_item.py
Due: nox-lint

limit editing to DRAFT/UNDER_REVIEW agreements
  frontend/src/pages/agreements/EditAgreement.js
Due: eslint

hide edit icon if agreement can't be edited
  frontend/src/pages/agreements/list/AgreementTableRow.jsx
Due: eslint

adds error states
  frontend/src/components/UI/Form/AgreementTypeSelect.jsx
Due: eslint

wip
  frontend/src/components/UI/Form/AgreementTypeSelect.jsx
  frontend/src/pages/agreements/StepCreateAgreement.jsx
  frontend/src/pages/agreements/stepCreateAgreementSuite.js
Due: eslint

fix lint
  frontend/src/pages/agreements/EditAgreement.js
Due: eslint

adds Simple Alert for hackers
  frontend/src/pages/agreements/EditAgreement.js
Due: eslint

fix typo
  frontend/src/pages/agreements/EditAgreement.js
Due: eslint

add useGetUserByOIDCIdQuery
  frontend/src/api/opsAPI.js
  frontend/src/components/UI/Header/User.jsx
Due: eslint

bug:fix PO name
  frontend/cypress/e2e/createBudgetLine.cy.js
  frontend/src/components/UI/Form/AgreementSelect/AgreementSelect.jsx
Due: eslint

fix a11y warnings
  frontend/src/pages/agreements/list/AgreementsList.jsx
Due: eslint

make test less flaky
  frontend/cypress/e2e/agreementList.cy.js
Due: eslint

got validation working!
  frontend/src/pages/agreements/StepCreateAgreement.jsx
  frontend/src/pages/agreements/stepCreateAgreementSuite.js
Due: eslint

fix unit test
  frontend/src/components/UI/Form/AgreementSelect/AgreementSelect.test.js
Due: eslint

cleanup function
  frontend/src/pages/agreements/StepCreateAgreement.jsx
Due: eslint

Fix user id for OpsDBHistory.created_by, on updates it was being set to who originally created the record Also some changes to columns used to track records
  backend/models/history.py
  backend/ops_api/ops/history.py
Due: nox-lint

adds some examples of Vest form validation
  docs/developers/frontend/vest-examples.md
Due: none

adds some movies
  docs/developers/frontend/vest-examples.md
Due: none

cleanup
  docs/developers/frontend/vest-examples.md
Due: none
