Repository HHS/OPRE-OPS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-lint, eslint, prettier

nox-lint:
  name: nox-lint
  entry: bash -c 'cd ./backend/ops_api && pipenv run nox -s lint'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd ./frontend/ && bun lint'
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: bash -c 'cd ./frontend/ && bunx prettier --check --ignore-unknown'
  language: system
  pass_filenames: true

Notes added by 'git notes add'
  20b3470d246afe70e56f608cb9813309a4e3bb31
Due: none

feat(edit-agreement): show BLI change-request modal and approval alert on bundle save
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.hooks.js
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.jsx
  frontend/src/pages/agreements/review/EditAgreementAndBudgetLines.jsx
  frontend/src/pages/agreements/review/EditAgreementAndBudgetLines.test.jsx
Due: eslint, prettier

feat: refactor procurement tracker step notes handling
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTracker.constants.js
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepFive/ProcurementTrackerStepFive.hooks.js
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepFive/ProcurementTrackerStepFive.hooks.test.js
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepFive/ProcurementTrackerStepFive.jsx
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepFive/ProcurementTrackerStepFive.test.jsx
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepFour/ProcurementTrackerStepFour.hooks.js
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepFour/ProcurementTrackerStepFour.hooks.test.js
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepFour/ProcurementTrackerStepFour.jsx
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepFour/ProcurementTrackerStepFour.test.jsx
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepOne/ProcurementTrackerStepOne.hooks.js
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepOne/ProcurementTrackerStepOne.hooks.test.js
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepOne/ProcurementTrackerStepOne.jsx
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepOne/ProcurementTrackerStepOne.test.jsx
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepSix/ProcurementTrackerStepSix.hooks.js
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepSix/ProcurementTrackerStepSix.hooks.test.js
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepSix/ProcurementTrackerStepSix.jsx
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepSix/ProcurementTrackerStepSix.test.jsx
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepThree/ProcurementTrackerStepThree.hooks.js
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepThree/ProcurementTrackerStepThree.hooks.test.js
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepThree/ProcurementTrackerStepThree.jsx
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepThree/ProcurementTrackerStepThree.test.jsx
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepTwo/ProcurementTrackerStepTwo.hooks.js
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepTwo/ProcurementTrackerStepTwo.jsx
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepTwo/ProcurementTrackerStepTwo.test.jsx
  frontend/src/components/Agreements/ProcurementTracker/SaveNotesButton/SaveNotesButton.jsx
  frontend/src/components/Agreements/ProcurementTracker/SaveNotesButton/SaveNotesButton.test.jsx
  frontend/src/components/Agreements/ProcurementTracker/StepNotesEditor/StepNotesEditor.jsx
  frontend/src/components/Agreements/ProcurementTracker/StepNotesEditor/StepNotesEditor.test.jsx
  frontend/src/components/Agreements/ProcurementTracker/StepNotesForm/StepNotesForm.jsx
  frontend/src/components/Agreements/ProcurementTracker/StepNotesForm/StepNotesForm.test.jsx
  frontend/src/components/Agreements/ProcurementTracker/useSaveNotes.js
  frontend/src/components/Agreements/ProcurementTracker/useSaveNotes.test.js
Due: eslint, prettier

Notes added by 'git notes add'
  6d6b8ca8151263c12f464cad3d606846199e833a
Due: none

fix(OPS-2280): address PR2 review comments
  backend/models/notifications.py
Due: nox-lint

fix(OPS-2280): prettier format and update status_data count assertion
  frontend/src/pages/agreements/award-approval/ApproveAwardApproval.test.jsx
Due: eslint, prettier

fix(OPS-2280): remove duplicate column declaration from AwardApprovalNotification
  backend/models/notifications.py
Due: nox-lint

feat(OPS-2280): award approval review page, BLI transitions, and validation rules
  backend/ops_api/ops/validation/procurement_tracker_steps_validator.py
  backend/ops_api/ops/validation/rules/procurement_tracker_step.py
  backend/ops_api/tests/ops/services/test_award_approval_service.py
  backend/ops_api/tests/ops/validation/test_award_approval_validation.py
  frontend/src/index.jsx
  frontend/src/pages/agreements/award-approval/ApproveAwardApproval.hooks.js
  frontend/src/pages/agreements/award-approval/ApproveAwardApproval.jsx
  frontend/src/pages/agreements/award-approval/ApproveAwardApproval.test.jsx
  frontend/src/pages/agreements/award-approval/index.js
  frontend/src/pages/agreements/pre-award-approval/usePreAwardApprovalData.js
Due: nox-lint, eslint, prettier

fix(OPS-2280): use PreAwardBudgetLinesReviewAccordion in award approval page for summary cards
  frontend/src/pages/agreements/award-approval/ApproveAwardApproval.jsx
Due: eslint, prettier

fix(OPS-2280): correct Award Approval page description text
  frontend/src/pages/agreements/award-approval/ApproveAwardApproval.jsx
Due: eslint, prettier

fix(OPS-2280): show read-only submitter notes in notes section
  frontend/src/pages/agreements/award-approval/ApproveAwardApproval.jsx
Due: eslint, prettier

fix(OPS-2280): hide empty unassociated BLIs group in award approval review
  frontend/src/pages/agreements/award-approval/ApproveAwardApproval.jsx
Due: eslint, prettier

refactor(OPS-2280): rename PreAwardBudgetLinesReviewAccordion to BudgetLinesReviewAccordion
  frontend/src/pages/agreements/award-approval/ApproveAwardApproval.jsx
  frontend/src/pages/agreements/pre-award-approval/ApprovePreAwardApproval.jsx
  frontend/src/pages/agreements/pre-award-approval/BudgetLinesReviewAccordion/BudgetLinesReviewAccordion.jsx
  frontend/src/pages/agreements/pre-award-approval/BudgetLinesReviewAccordion/PreAwardBudgetLinesReviewAccordion.test.jsx
  frontend/src/pages/agreements/pre-award-approval/BudgetLinesReviewAccordion/index.js
  frontend/src/pages/agreements/pre-award-approval/RequestPreAwardApproval.jsx
  frontend/src/pages/agreements/pre-award-approval/ReviewBudgetTeamRequisition.jsx
Due: eslint, prettier

fix(OPS-2280): hide empty unassociated BLIs group across all pre-award and award review pages
  frontend/src/pages/agreements/award-approval/ApproveAwardApproval.jsx
  frontend/src/pages/agreements/pre-award-approval/PreAwardBudgetLinesReviewAccordion/PreAwardBudgetLinesReviewAccordion.jsx
Due: eslint, prettier

fix(OPS-2280): filter DRAFT BLIs and show CLIN column in award approval review
  frontend/src/pages/agreements/award-approval/ApproveAwardApproval.jsx
  frontend/src/pages/agreements/pre-award-approval/PreAwardBudgetLinesReviewAccordion/PreAwardBudgetLinesReviewAccordion.jsx
Due: eslint, prettier

fix(OPS-2280): always show vendor section, add award step fields to TypeScript types
  frontend/src/pages/agreements/award-approval/ApproveAwardApproval.jsx
  frontend/src/types/ProcurementTrackerTypes.d.ts
Due: eslint, prettier

fix(OPS-2280): update Review Executing Total description on award approval page
  frontend/src/pages/agreements/award-approval/ApproveAwardApproval.jsx
  frontend/src/pages/agreements/pre-award-approval/BudgetLinesReviewAccordion/BudgetLinesReviewAccordion.jsx
Due: eslint, prettier

refactor(OPS-2280): remove old PreAwardBudgetLinesReviewAccordion files after rename
  frontend/src/pages/agreements/pre-award-approval/PreAwardBudgetLinesReviewAccordion/PreAwardBudgetLinesReviewAccordion.jsx
  frontend/src/pages/agreements/pre-award-approval/PreAwardBudgetLinesReviewAccordion/PreAwardBudgetLinesReviewAccordion.test.jsx
  frontend/src/pages/agreements/pre-award-approval/PreAwardBudgetLinesReviewAccordion/index.js
Due: eslint, prettier

style: black formatting on award approval test files
  backend/ops_api/tests/ops/services/test_award_approval_service.py
  backend/ops_api/tests/ops/validation/test_award_approval_validation.py
Due: nox-lint

fix(OPS-2280): find tracker when COMPLETED so award approval data shows after step 6 completes
  frontend/src/pages/agreements/pre-award-approval/usePreAwardApprovalData.js
Due: eslint, prettier

fix(OPS-2280): replace SummaryBox with readonly fields in vendor section, add Vendor Type
  frontend/src/pages/agreements/award-approval/ApproveAwardApproval.jsx
Due: eslint, prettier

feat(OPS-2280): add Edit button to award approval page navigating to edit-bundle
  frontend/src/pages/agreements/award-approval/ApproveAwardApproval.jsx
Due: eslint, prettier

fix(OPS-2280): always show Submitter Notes heading in Notes section
  frontend/src/pages/agreements/award-approval/ApproveAwardApproval.jsx
Due: eslint, prettier

fix(OPS-2280): redirect back to award approval page after editing from review
  frontend/src/pages/agreements/award-approval/ApproveAwardApproval.jsx
  frontend/src/pages/agreements/review/EditAgreementAndBudgetLines.jsx
Due: eslint, prettier

fix(OPS-2280): restore use_existing_column on AwardApprovalNotification
  backend/models/notifications.py
Due: nox-lint

refactor(OPS-2280): rename PreAwardBudgetLinesReviewAccordion to BudgetLinesReviewAccordion
  frontend/src/pages/agreements/award-approval/ApproveAwardApproval.jsx
  frontend/src/pages/agreements/pre-award-approval/BudgetLinesReviewAccordion/BudgetLinesReviewAccordion.jsx
  frontend/src/pages/agreements/pre-award-approval/BudgetLinesReviewAccordion/PreAwardBudgetLinesReviewAccordion.test.jsx
Due: eslint, prettier

style: prettier format
  frontend/src/pages/agreements/pre-award-approval/BudgetLinesReviewAccordion/BudgetLinesReviewAccordion.jsx
Due: eslint, prettier

fix(OPS-2280): fix duplicate returnTo, update test mocks after rename
  frontend/src/pages/agreements/award-approval/ApproveAwardApproval.jsx
  frontend/src/pages/agreements/pre-award-approval/BudgetLinesReviewAccordion/PreAwardBudgetLinesReviewAccordion.test.jsx
Due: eslint, prettier

fix(OPS-2280): fix duplicate returnTo, update test mocks after rename
  frontend/src/pages/agreements/award-approval/ApproveAwardApproval.jsx
  frontend/src/pages/agreements/pre-award-approval/BudgetLinesReviewAccordion/PreAwardBudgetLinesReviewAccordion.test.jsx
  frontend/src/pages/agreements/pre-award-approval/ReviewBudgetTeamRequisition.test.jsx
  frontend/src/pages/agreements/review/EditAgreementAndBudgetLines.jsx
Due: eslint, prettier

fix(OPS-2280): fix blocker and bugs in award approval flow
  backend/ops_api/ops/services/notification_constants.py
  backend/ops_api/ops/services/procurement_tracker_steps.py
  backend/ops_api/ops/validation/rules/procurement_tracker_step.py
  backend/ops_api/tests/ops/validation/test_award_approval_validation.py
  frontend/src/pages/agreements/pre-award-approval/BudgetLinesReviewAccordion/BudgetLinesReviewAccordion.jsx
  frontend/src/pages/agreements/pre-award-approval/BudgetLinesReviewAccordion/PreAwardBudgetLinesReviewAccordion.test.jsx
Due: nox-lint, eslint, prettier

style: black format procurement_tracker_steps and test_award_approval_validation
  backend/ops_api/ops/services/procurement_tracker_steps.py
  backend/ops_api/tests/ops/validation/test_award_approval_validation.py
Due: nox-lint

fix(OPS-2280): remove award decline logic, BT can only approve
  backend/ops_api/ops/services/notification_constants.py
  backend/ops_api/ops/services/procurement_tracker_steps.py
  backend/ops_api/ops/validation/rules/procurement_tracker_step.py
  backend/ops_api/tests/ops/services/test_award_approval_service.py
  backend/ops_api/tests/ops/validation/test_award_approval_validation.py
Due: nox-lint

style: revert ProcurementTrackerTypes.d.ts to Prettier 3.9.5 format
  frontend/src/types/ProcurementTrackerTypes.d.ts
Due: prettier

fix(OPS-2280): remove dead reviewer notes state, guard award type on approval
  backend/ops_api/ops/services/procurement_tracker_steps.py
  backend/ops_api/tests/ops/services/test_award_approval_service.py
  frontend/src/pages/agreements/award-approval/ApproveAwardApproval.hooks.js
  frontend/src/pages/agreements/award-approval/ApproveAwardApproval.test.jsx
  frontend/src/types/ProcurementTrackerTypes.d.ts
Due: nox-lint, eslint, prettier

fix(OPS-2280): fix spurious pre-award notifications, blocker modal, and test coverage
  backend/ops_api/ops/services/procurement_tracker_steps.py
  frontend/src/pages/agreements/award-approval/ApproveAwardApproval.jsx
  frontend/src/pages/agreements/award-approval/ApproveAwardApproval.test.jsx
  frontend/src/pages/agreements/pre-award-approval/usePreAwardApprovalData.test.js
Due: nox-lint, eslint, prettier

chore: created plan
  docs/stories/OPS-5925/create-grant-plan.md
Due: none

feat: first implementation pass
  frontend/cypress/e2e/createGrantAgreement.cy.js
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.hooks.js
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.hooks.test.js
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.jsx
  frontend/src/components/Agreements/AgreementEditor/AgreementEditFormSuite.js
  frontend/src/components/Agreements/AgreementEditor/AgreementEditFormSuite.test.js
  frontend/src/components/Agreements/AgreementMetaAccordion/AgreementMetaAccordion.jsx
  frontend/src/components/Agreements/AgreementMetaAccordion/AgreementMetaAccordion.test.jsx
  frontend/src/components/Agreements/AgreementsTable/AgreementTableRow.jsx
  frontend/src/components/Agreements/AgreementsTable/AgreementsTable.test.js
  frontend/src/helpers/agreement.helpers.js
  frontend/src/helpers/agreement.helpers.test.js
Due: eslint, prettier

fix: address post-review correctness issues in grant creation slice
  frontend/cypress/e2e/createGrantAgreement.cy.js
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.hooks.js
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.hooks.test.js
  frontend/src/components/Agreements/AgreementsTable/AgreementsTable.test.js
  frontend/src/helpers/agreement.helpers.js
  frontend/src/helpers/agreement.helpers.test.js
Due: eslint, prettier

fix(OPS-2280): fix flaky test by scoping event lookup to step id
  backend/ops_api/tests/ops/procurement_tracker/test_procurement_tracker_steps_api.py
Due: nox-lint

Path conditions:
  nox-lint: any of: \.py$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.css$, \.(html|htm|xhtml)$
  prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|scss|html|md)$
