Repository HHS/OPRE-OPS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-lint, eslint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: detect-aws-credentials
        args: [--allow-missing-credentials]
      - id: detect-private-key
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: '^frontend/src/uswds/.*\.svg$'
      - id: check-json
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
  - repo: https://github.com/hadolint/hadolint
    rev: v2.10.0
    hooks:
      - id: hadolint
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.10.1
    hooks:
      - id: isort
        args: ["--profile", "black", "--filter-files"]
  - repo: local
    hooks:
      - id: nox-lint
        name: nox-lint
        entry: bash -c 'cd ./backend/ops_api && pipenv run nox -s lint'
        language: system
        types:
          - python
        pass_filenames: false
      - id: eslint
        name: eslint
        entry: bash -c 'cd ./frontend/ && bun lint'
        language: system
        types_or:
          - javascript
          - jsx
          - css
          - html
        pass_filenames: false
      - id: trufflehog
        name: TruffleHog
        description: Detect secrets in your data.
        entry: bash -c 'if command -v podman >/dev/null 2>&1; then podman run --rm -v "$(pwd):/workdir" -i trufflesecurity/trufflehog:latest git file:///workdir --since-commit HEAD --only-verified --fail; elif command -v docker >/dev/null 2>&1; then docker run --rm -v "$(pwd):/workdir" -i trufflesecurity/trufflehog:latest git file:///workdir --since-commit HEAD --only-verified --fail; else echo "Neither docker nor podman found. Please install one of them." && exit 1; fi'
        language: system
        stages: ["pre-commit", "pre-push"]
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.18.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional"]
        language_version: 22.8.0

chore: fixed linter error
  frontend/src/components/Portfolios/PortfolioSpending/PortfolioSpending.jsx
Due: eslint

feat: move contract bli specific fields to ContractBudgetLineItem
  backend/data_tools/data/agreements_and_blin_data.json5
  backend/models/budget_line_items.py
  backend/ops_api/tests/ops/funding_summary/test_can_funding_summary.py
Due: nox-lint

feat: move grant bli specific fields to GrantBudgetLineItem
  backend/alembic/versions/2025_02_27_1637-248f7f768c8c_add_polymorphic_types_for_blis.py
  backend/models/budget_line_items.py
Due: nox-lint

Notes added by 'git notes add'
  a80244caaf90b398d0f861d8901af3c6ce6f82a2
Due: none

refactor: use the agreement_type to choose the type when POST BLI
  backend/ops_api/ops/resources/budget_line_items.py
Due: nox-lint

fix: use ContractBudgetLineItem in load script
  backend/data_tools/src/load_contract_budget_lines/utils.py
  backend/data_tools/tests/load_contract_budget_line_items/test_load_contract_budget_line_items.py
Due: nox-lint

docs: more cp and ia work
  docs/Security-Compliance/Security-Controls/cm/cm-12-1.md
  docs/Security-Compliance/Security-Controls/cm/cm-12.md
  docs/Security-Compliance/Security-Controls/ia/ia-02-8.md
  docs/Security-Compliance/Security-Controls/ia/ia-03.md
  docs/Security-Compliance/Security-Controls/ia/ia-04-4.md
  docs/Security-Compliance/Security-Controls/ia/ia-04.md
  docs/Security-Compliance/Security-Controls/ia/ia-05-1.md
  docs/Security-Compliance/Security-Controls/ia/ia-05-2.md
  docs/Security-Compliance/Security-Controls/ia/ia-05-6.md
  docs/Security-Compliance/Security-Controls/ia/ia-05.md
  docs/Security-Compliance/Security-Controls/ia/ia-06.md
  docs/Security-Compliance/Security-Controls/ia/ia-07.md
  docs/Security-Compliance/Security-Controls/ia/ia-08-4.md
  docs/Security-Compliance/Security-Controls/ia/ia-11.md
Due: none

Update Glossary.jsx
  frontend/src/pages/help/Glossary.jsx
Due: eslint

chore: document portfolio funding summary endpoint (#3502)
  backend/openapi.yml
  backend/ops_api/ops/resources/portfolio_funding_summary.py
  backend/ops_api/ops/schemas/portfolio_funding_summary.py
  backend/ops_api/ops/utils/portfolios.py
Due: nox-lint

fix: fixed can id filtering
  frontend/cypress/e2e/portfolioDetail.cy.js
  frontend/src/pages/portfolios/detail/PortfolioDetail.jsx
Due: eslint

fix: wip on carry forward funding calc in portfolio summary
  backend/ops_api/ops/utils/portfolios.py
Due: nox-lint

Notes added by 'git notes add'
  174df0d1a7751fd864d3bc780e1341f4bfd5c4e7
Due: none

Bug Fix: Add Format Check for "Obligate by Date" in the Add Budget Line Form (#3537)
  frontend/cypress/e2e/createAgreement.cy.js
  frontend/cypress/e2e/createAgreementWithValidations.cy.js
  frontend/src/components/Agreements/AgreementsTable/AgreementTableRow.jsx
  frontend/src/components/Agreements/AgreementsTable/AgreementTableRow.test.js
  frontend/src/components/Agreements/AgreementsTable/AgreementsTable.test.js
  frontend/src/components/BudgetLineItems/BudgetLinesForm/BudgetLinesForm.jsx
  frontend/src/components/BudgetLineItems/BudgetLinesForm/BudgetLinesForm.test.jsx
  frontend/src/components/BudgetLineItems/BudgetLinesForm/datePickerSuite.js
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.hooks.js
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.jsx
  frontend/src/components/UI/Form/IsRequiredHelper/IsRequiredHelper.jsx
  frontend/src/components/UI/Text/TextClip.jsx
  frontend/src/components/UI/USWDS/DatePicker/DatePicker.jsx
  frontend/src/pages/agreements/details/Agreement.jsx
Due: eslint

fix: fixing an issue with clearing out an individual filter that caused a web error
  frontend/src/pages/agreements/list/AgreementsFilterTags/AgreementsFilterTags.hooks.js
  frontend/src/pages/agreements/list/AgreementsFilterTags/AgreementsFilterTags.jsx
  frontend/src/pages/agreements/list/AgreementsList.jsx
Due: eslint

chore: wip consolidate and improve authentication flow
  frontend/README-AUTH.md
  frontend/src/api/apiLogin.js
  frontend/src/api/apiLogin.test.js
  frontend/src/api/opsAuthAPI.js
  frontend/src/components/Auth/AuthSection.jsx
  frontend/src/components/Auth/MultiAuthSection.jsx
  frontend/src/components/Auth/MultiAuthSection.test.jsx
  frontend/src/components/Auth/MultiAuthSectionWithDebugging.jsx
  frontend/src/components/Auth/ProtectedRoute/ProtectedRoute.jsx
  frontend/src/components/Auth/auth.js
  frontend/src/components/Auth/auth.test.js
  frontend/src/mocks/README.md
  frontend/src/mocks/browser.js
  frontend/src/mocks/handlers.js
  frontend/src/mocks/server.js
Due: eslint

style: added more space above can table
  frontend/src/components/CANs/CANTable/CANTable.jsx
Due: eslint

style: scroll services component form to center when edit button clicked
  frontend/src/components/ServicesComponents/ServicesComponentForm/ServicesComponentForm.jsx
  frontend/src/components/ServicesComponents/ServicesComponentListItem/ServicesComponentListItem.jsx
Due: eslint

Notes added by 'git notes add'
  4ef287e7c7a206ed8508d1cb3cb1cf4ea4e2126c
Due: none

refactor: using BLI_STATUS instead of string literals
  frontend/src/pages/agreements/list/AgreementsList.jsx
Due: eslint

Notes added by 'git notes add'
  a63bcdc656bc51dbc3211087bbc080741a5320a1
Due: none

test: add expected carry forward for test data
  backend/ops_api/tests/ops/funding_summary/test_can_funding_summary.py
Due: nox-lint

style: removed scroll to top when navigating
  frontend/src/App.jsx
Due: eslint

chore: fixed linter error
  frontend/src/App.jsx
Due: eslint

test: improve test
  backend/ops_api/tests/ops/funding_summary/test_can_funding_summary.py
Due: nox-lint

feat: set carry forward to budgets on multiyear cans, set new funding to budgets on 1 year cans
  backend/ops_api/ops/utils/cans.py
Due: nox-lint

style: updated table top margin
  frontend/src/App.jsx
  frontend/src/components/CANs/CANTable/CANTable.jsx
  frontend/src/components/Layouts/TablePageLayout/TablePageLayout.jsx
Due: eslint

feat: enable scroll to center for better ux
  frontend/src/components/BudgetLineItems/BudgetLinesForm/BudgetLinesForm.jsx
  frontend/src/components/BudgetLineItems/BudgetLinesTable/BLIRow.jsx
  frontend/src/components/ServicesComponents/ServicesComponentListItem/ServicesComponentListItem.jsx
  frontend/src/helpers/scrollToCenter.helper.js
Due: eslint

chore: clean up
  frontend/src/components/Layouts/TablePageLayout/TablePageLayout.jsx
Due: eslint

doc: update glossary
  frontend/src/pages/help/Glossary.jsx
Due: eslint

feat: adds login spinner
  frontend/bun.lockb
  frontend/package.json
  frontend/src/components/Auth/MultiAuthSection.jsx
  frontend/src/components/Auth/ProtectedRoute/ProtectedRoute.jsx
Due: eslint

chore: update bun deps
  frontend/bun.lockb
Due: none

feat: pass budget line id when setting line for editing
  frontend/src/components/BudgetLineItems/BudgetLinesTable/BLIRow.jsx
Due: eslint

Notes added by 'git notes add'
  568b46af74d5d63635614d0530d7b14b75c9cb06
Due: none

test: fix can funding sum tests
  backend/ops_api/ops/utils/cans.py
  backend/ops_api/tests/ops/funding_summary/test_can_funding_summary.py
Due: nox-lint

test: fix backend unit tests
  backend/ops_api/tests/ops/funding_summary/test_can_funding_summary.py
Due: nox-lint

test: fix portfolioDetail e2e funding tab test
  frontend/cypress/e2e/portfolioDetail.cy.js
Due: eslint

Notes added by 'git notes add'
  eb125e4e3aea4fe5df10b2b80e8e56b1bc233c8c
Due: none

refactor: update CAN table to display total, received, and available funding
  frontend/src/components/CANs/CANTable/CANTable.jsx
  frontend/src/components/CANs/CANTable/CANTable.test.jsx
  frontend/src/components/CANs/CANTable/CANTableHead.jsx
  frontend/src/components/CANs/CANTable/CANTableRow.jsx
  frontend/src/components/CANs/CANTable/CANTableRow.test.jsx
  frontend/src/pages/cans/list/CanList.helpers.js
Due: eslint

test: add budgets for cans that are in their first fiscal year to new funding
  backend/ops_api/ops/utils/cans.py
Due: nox-lint

test: fix existing backend tests
  backend/ops_api/tests/ops/funding_summary/test_can_funding_summary.py
Due: nox-lint
