Repository HHS/OPRE-OPS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-lint, eslint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: detect-aws-credentials
        args: [--allow-missing-credentials]
      - id: detect-private-key
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: '^frontend/src/uswds/.*\.svg$'
      - id: check-json
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
  - repo: https://github.com/hadolint/hadolint
    rev: v2.10.0
    hooks:
      - id: hadolint
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.10.1
    hooks:
      - id: isort
        args: ["--profile", "black", "--filter-files"]
  - repo: local
    hooks:
      - id: nox-lint
        name: nox-lint
        entry: bash -c 'cd ./backend/ops_api && pipenv run nox -s lint'
        language: system
        types:
          - python
        pass_filenames: false
      - id: eslint
        name: eslint
        entry: bash -c 'cd ./frontend/ && bun lint'
        language: system
        types_or:
          - javascript
          - jsx
          - css
          - html
        pass_filenames: false
      - id: trufflehog
        name: TruffleHog
        description: Detect secrets in your data.
        entry: bash -c 'if command -v podman >/dev/null 2>&1; then podman run --rm -v "$(pwd):/workdir" -i trufflesecurity/trufflehog:latest git file:///workdir --since-commit HEAD --only-verified --fail; elif command -v docker >/dev/null 2>&1; then docker run --rm -v "$(pwd):/workdir" -i trufflesecurity/trufflehog:latest git file:///workdir --since-commit HEAD --only-verified --fail; else echo "Neither docker nor podman found. Please install one of them." && exit 1; fi'
        language: system
        stages: ["pre-commit", "pre-push"]
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.18.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional"]
        language_version: 22.8.0

test: re-enable accessibility testing and improve visibility checks in portfolio detail tests
  frontend/cypress/e2e/portfolioDetail.cy.js
Due: eslint

fix: comment out accessibility testing in portfolio
  frontend/cypress/e2e/portfolioDetail.cy.js
Due: eslint

feat: enhance ESLint configuration and add Prettier support for JavaScript
  .vscode/settings.json
  frontend/eslint.config.js
  frontend/src/constants.js
  frontend/src/hooks/use-sortable-data.hooks.js
Due: eslint

feat: adds editorconfig for consistency
  .editorconfig
Due: none

refactor: 💀 remove unused API files and tests
  frontend/src/api/getAgreements.js
  frontend/src/api/getAzureToken.js
  frontend/src/api/getCANFundingSummary.test.js
  frontend/src/api/getCanFiscalYear.js
  frontend/src/api/getCanFiscalYear.test.js
  frontend/src/api/getProcurementShopList.js
  frontend/src/api/getProcurementShopList.test.js
  frontend/src/api/getResearchProjects.js
  frontend/src/api/getResearchProjects.test.js
  frontend/src/api/patchAgreements.js
  frontend/src/api/patchAgreements.test.js
  frontend/src/api/postAgreements.js
  frontend/src/api/postAgreements.test.js
  frontend/src/api/postBliPackage.js
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.jsx
Due: eslint

feat: add team leaders and division directors properties to Agreement model
  backend/models/agreements.py
  backend/models/portfolios.py
  backend/ops_api/ops/schemas/agreements.py
  backend/ops_api/tests/ops/agreement/test_agreement.py
Due: nox-lint

fix: update procurement shop fee references to use fee_percentage
  frontend/src/components/Agreements/AgreementDetailsCards/AgreementTotalCard/AgreementTotalCard.jsx
  frontend/src/components/Agreements/AgreementsTable/AgreementTableRow.test.js
  frontend/src/components/Projects/ProjectAgreementSummaryCard/ProjectAgreementSummaryCard.jsx
  frontend/src/components/Projects/ProjectAgreementSummaryCard/ProjectAgreementSummaryCard.test.js
  frontend/src/helpers/agreement.helpers.test.js
  frontend/src/pages/agreements/details/AgreementDetails.test.js
  frontend/src/tests/data.js
Due: eslint

fix: update division director attribute in Agreement model and enhance related tests
  backend/models/agreements.py
  backend/ops_api/tests/ops/agreement/test_agreement.py
Due: nox-lint

fix: correct fee rate calculation in AgreementMetaAccordion
  frontend/src/components/Agreements/AgreementMetaAccordion/AgreementMetaAccordion.jsx
Due: eslint

refactor: implemented new team leaders and dd properties in agreement
  frontend/cypress/e2e/agreementDetails.cy.js
  frontend/src/api/opsAPI.js
  frontend/src/pages/agreements/details/Agreement.jsx
  frontend/src/pages/agreements/details/AgreementDetails.jsx
  frontend/src/pages/agreements/details/AgreementDetailsView.jsx
  frontend/src/types/AgreementTypes.d.ts
Due: eslint

Notes added by 'git notes add'
  e6b9baa65c6c325ea7b7c6ce568bbdb41bedc981
Due: none

Notes added by 'git notes add'
  006945bf96b19c0251f02b1bc1e60f0e54e47179
Due: none

feat: adds last update banner
  frontend/src/components/Layouts/DefaultLayout/DefaultLayout.jsx
  frontend/src/components/UI/Alert/SlimAlert.jsx
Due: eslint

fix: update xlinkHref to href in SlimAlert component for SVG compatibility
  frontend/src/components/UI/Alert/SlimAlert.jsx
Due: eslint

fix: update SVG usage from xlinkHref to href for consistency across components
  frontend/src/components/Agreements/TeamMemberList.jsx
  frontend/src/components/BudgetLineItems/ChangeIcons/ChangeIcons.jsx
  frontend/src/components/CANs/CANBudgetForm/CANBudgetForm.jsx
  frontend/src/components/CANs/CANFundingReceivedForm/CanFundingReceivedForm.jsx
  frontend/src/components/Layouts/TablePageLayout/TablePageLayout.jsx
  frontend/src/components/UI/FilterButton/FilterButton.jsx
  frontend/src/components/UI/FilterTags/FilterTags.jsx
  frontend/src/components/UI/NotificationCenter/NotificationCenter.jsx
  frontend/src/components/UI/PaginationNav/PaginationNav.jsx
  frontend/src/pages/agreements/list/AgreementsList.jsx
  frontend/src/pages/budgetLines/list/BudgetLineItemList.jsx
Due: eslint

fix: update SVG attribute usage from xlink:href to href in notification center tests
  frontend/cypress/e2e/notificationCenter.cy.js
Due: eslint

Notes added by 'git notes add'
  ad78eb14e6b6f8a36fc0217503ded99b3d4ffb56
Due: none

Notes added by 'git notes add'
  bfc996db3972e0e37c238ce0760685ddb2b54248
Due: none

Notes added by 'git notes add'
  402c495d6932e2ecf8c23641d3092d29cbeb683d
Due: none

refactor: update prop types and improve default values across components
  frontend/src/components/Agreements/AgreementDetailsCards/AgreementTotalCard/AgreementTotalCard.jsx
  frontend/src/components/Agreements/AgreementMetaAccordion/AgreementMetaAccordion.jsx
  frontend/src/components/Agreements/ProcurementShopSelect/ProcurementShopSelect.jsx
  frontend/src/components/Agreements/ProcurementShopSelectWithFee/ProcurementShopSelectWithFee.jsx
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.jsx
  frontend/src/components/Projects/ProjectAgreementSummaryCard/ProjectAgreementSummaryCard.jsx
  frontend/src/helpers/budgetLines.helpers.js
  frontend/src/pages/agreements/details/AgreementBudgetLines.jsx
Due: eslint

fix: correct prop type annotation and improve return type documentation
  frontend/src/components/Agreements/ProcurementShopSelectWithFee/ProcurementShopSelectWithFee.jsx
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.jsx
  frontend/src/helpers/budgetLines.helpers.js
Due: eslint

fix: handle undefined proc_shop_fee_percentage in fee calculation
  frontend/src/pages/agreements/details/AgreementBudgetLines.jsx
Due: eslint

feat: add procurement shop data loading functionality
  backend/data_tools/src/load_data.py
  backend/data_tools/src/load_procurement_shops/__init__.py
  backend/data_tools/src/load_procurement_shops/utils.py
  backend/data_tools/test_csv/procurement_shop.tsv
  backend/data_tools/tests/load_procurement_shops/__init__.py
  backend/data_tools/tests/load_procurement_shops/test_load_procurement_shops.py
  backend/models/procurement_shops.py
Due: nox-lint

fix: optimize dependencies in hooks and components for better performance
  frontend/src/components/Agreements/AgreementDetails/InfiniteScroll.jsx
  frontend/src/components/Agreements/AgreementsTable/AgreementTableRow.jsx
  frontend/src/components/Auth/MultiAuthSectionWithDebugging.jsx
  frontend/src/components/CANs/CANFYBudgetRangeSlider/CANFYBudgetRangeSlider.jsx
  frontend/src/components/CANs/CANHistoryPanel/CANHistoryPanel.jsx
  frontend/src/components/Portfolios/PortfolioFunding/PortfolioFunding.jsx
  frontend/src/components/Portfolios/PortfolioSpending/PortfolioSpending.jsx
  frontend/src/components/Projects/ProjectSelectWithSummaryCard/ProjectSelectWithSummaryCard.jsx
  frontend/src/components/UI/PaginationNav/PaginationNav.jsx
  frontend/src/components/UI/USWDS/DatePicker/DatePicker.jsx
  frontend/src/components/UI/USWDS/Tooltip/Tooltip.jsx
  frontend/src/components/Users/UserInfo/UserInfo.jsx
  frontend/src/hooks/useHasStateChanged.hooks.js
  frontend/src/hooks/useServicesComponents.hooks.js
  frontend/src/pages/agreements/review/ReviewAgreement.hooks.js
  frontend/src/pages/cans/detail/Can.hooks.js
  frontend/src/pages/cans/detail/CanFunding.hooks.js
  frontend/src/pages/cans/list/CANFilterTags/CANFilterTags.hooks.js
Due: eslint

feat: update unique constraint for procurement shop fees and enhance fee selection logic
  backend/alembic/versions/2025_05_26_1914-39ed81adb783_update_procurement_shop_unique_.py
  backend/models/procurement_shops.py
  backend/ops_api/tests/ops/can/test_procurement_shops.py
Due: nox-lint

fix: update dependency in useEffect to include full agreement object
  frontend/src/pages/agreements/review/ReviewAgreement.hooks.js
Due: eslint

fix: correct parameter name in useTagsList documentation
  frontend/src/pages/cans/list/CANFilterTags/CANFilterTags.hooks.js
Due: eslint

fix: update date checks for procurement shop fees to use is_() method
  backend/data_tools/tests/load_procurement_shops/test_load_procurement_shops.py
  backend/models/procurement_shops.py
Due: nox-lint

fix: update CANHistoryPanel to use functional state update and remove unnecessary dependency
  frontend/src/components/CANs/CANHistoryPanel/CANHistoryPanel.jsx
  frontend/src/pages/cans/list/CANFilterTags/CANFilterTags.jsx
Due: eslint

Notes added by 'git notes add'
  f88beeadee9c5cf8398c9bc14d7690c542ad589f
Due: none

chore: updating the updateDate
  frontend/src/components/Layouts/DefaultLayout/DefaultLayout.jsx
Due: eslint

Notes added by 'git notes add'
  d23a2ac57b2734d5debd1a553aabfc57461899af
Due: none

chore: allowing BT the delete SC permission in default data
  backend/data_tools/data/user_data.json5
  backend/data_tools/initial_data/003-role.sql
  backend/data_tools/initial_data/004-role_version.sql
Due: none

chore: add development setup for frontend container
  docker-compose.yml
  frontend/Dockerfile.dev
Due: none

feat: adds copy to clipboard
  frontend/src/components/DebugCode/DebugCode.jsx
Due: eslint

chore: not seeing TAS data from BE
  frontend/src/components/DebugCode/DebugCode.jsx
  frontend/src/pages/cans/detail/Can.jsx
  frontend/src/pages/cans/detail/CanDetail.jsx
Due: eslint

chore: update openAPI schema and agreement model
  backend/models/agreements.py
  backend/openapi.yml
  frontend/src/pages/agreements/details/AgreementDetailsView.jsx
Due: nox-lint, eslint

Notes added by 'git notes add'
  af722eaeaf5c3cc286a152c8cc013d5f75fc13b0
Due: none

Notes added by 'git notes add'
  0b441f8795083755b35e599ce911d9893aadd21c
Due: none
