Repository HHS/OPRE-OPS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-lint, eslint, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: detect-aws-credentials
        args: [--allow-missing-credentials]
      - id: detect-private-key
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: '^frontend/src/uswds/.*(\.svg|\.map)$'
      - id: check-json
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
  - repo: https://github.com/hadolint/hadolint
    rev: v2.14.0
    hooks:
      - id: hadolint
  - repo: https://github.com/pycqa/isort
    rev: 7.0.0
    hooks:
      - id: isort
        name: isort (ops_api)
        args: ["--settings-file", "backend/ops_api/pyproject.toml", "--filter-files"]
        files: ^backend/ops_api/
      - id: isort
        name: isort (data_tools)
        args: ["--settings-file", "backend/data_tools/pyproject.toml", "--filter-files"]
        files: ^backend/data_tools/
  - repo: local
    hooks:
      - id: nox-lint
        name: nox-lint
        entry: bash -c 'cd ./backend/ops_api && pipenv run nox -s lint'
        language: system
        types:
          - python
        pass_filenames: false
      - id: eslint
        name: eslint
        entry: bash -c 'cd ./frontend/ && bun lint'
        language: system
        types_or:
          - javascript
          - jsx
          - css
          - html
        pass_filenames: false
      - id: prettier
        name: prettier
        entry: bash -c 'cd ./frontend/ && bunx prettier --check --ignore-unknown'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json|css|scss|html|md)$
        pass_filenames: true
      - id: trufflehog
        name: TruffleHog
        description: Detect secrets in your data.
        entry: bash -c 'if command -v podman >/dev/null 2>&1; then podman run --rm -v "$(pwd):/workdir" -i trufflesecurity/trufflehog:latest git file:///workdir --since-commit HEAD --only-verified --fail; elif command -v docker >/dev/null 2>&1; then docker run --rm -v "$(pwd):/workdir" -i trufflesecurity/trufflehog:latest git file:///workdir --since-commit HEAD --only-verified --fail; else echo "Neither docker nor podman found. Please install one of them." && exit 1; fi'
        language: system
        stages: ["pre-commit", "pre-push"]
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.24.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional"]
        language_version: 22.8.0
  - repo: https://github.com/renovatebot/pre-commit-hooks
    rev: 43.15.0
    hooks:
      - id: renovate-config-validator

fix: reset local filter state in agreements filter to clear modal form fields
  frontend/src/components/UI/FilterButton/FilterButton.jsx
  frontend/src/pages/agreements/list/AgreementsFilterButton/AgreementsFilterButton.hooks.js
Due: eslint, prettier

fix(frontend): complete vest v6 migration and stabilize CI (#5220)
  AGENTS.md
  CLAUDE.md
  frontend/bun.lock
  frontend/cypress/e2e/agreementDetails.cy.js
  frontend/cypress/e2e/agreementList.cy.js
  frontend/cypress/e2e/createAgreementWithValidations.cy.js
  frontend/cypress/support/a11yAllowlist.js
  frontend/package.json
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.hooks.js
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepFour/ProcurementTrackerStepFour.hooks.js
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepFour/suite.test.js
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepOne/ProcurementTrackerStepOne.hooks.js
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepOne/ProcurementTrackerStepOne.hooks.test.js
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepOne/suite.test.js
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepThree/ProcurementTrackerStepThree.hooks.js
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepThree/suite.test.js
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepTwo/ProcurementTrackerStepTwo.hooks.js
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepTwo/ProcurementTrackerStepTwo.hooks.test.js
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepTwo/suite.test.js
  frontend/src/components/BudgetLineItems/BudgetLinesForm/BudgetLinesForm.jsx
  frontend/src/components/BudgetLineItems/BudgetLinesForm/suite.test.js
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.hooks.js
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.hooks.test.js
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/suite.js
  frontend/src/components/CANs/CANDetailForm/CANDetailForm.hooks.js
  frontend/src/pages/agreements/review/ReviewAgreement.hooks.js
  frontend/src/pages/agreements/review/suite.js
  frontend/src/pages/agreements/review/suite.test.js
  frontend/src/pages/cans/detail/CanFunding.hooks.js
  frontend/src/pages/projects/CreateProject.jsx
Due: eslint, prettier

Notes added by 'git notes add'
  3f61f0a39433f044709bff0034909f1d4dbd1a31
Due: none

fix: address Copilot review comments
  frontend/src/pages/agreements/list/AgreementsFilterButton/AgreementsFilterButton.hooks.js
  frontend/src/pages/agreements/list/AgreementsFilterButton/AgreementsFilterButton.jsx
  frontend/src/pages/agreements/list/AgreementsList.jsx
  frontend/src/pages/budgetLines/list/BudgetLineItemList.jsx
Due: eslint, prettier

Notes added by 'git notes add'
  0cfb07d5cf4c3ca2b16646d6f7ec2261920b4e88
Due: none

Notes added by 'git notes add'
  832415e4767b7023bbdbd4da93ebf70378ef34b2
Due: none

feat: handle ResourceNotFoundError for invalid PortfolioStatus ID and add corresponding test
  backend/ops_api/ops/resources/portfolio_status.py
  backend/ops_api/tests/ops/test_lookups.py
Due: nox-lint

docs: update CLAUDE.md with vest v6 form validation patterns and guidelines
  frontend/CLAUDE.md
Due: prettier

test: add reporting page e2e tests
  frontend/cypress.config.ci.js
  frontend/cypress.config.js
  frontend/cypress/e2e/reportingPage.cy.js
  frontend/src/components/Reporting/ReportingCountCard/ReportingCountCard.jsx
  frontend/src/components/UI/FilterTags/FilterTags.jsx
Due: eslint, prettier

test: fix e2e test failures
  frontend/cypress/e2e/budgetLineItemsList.cy.js
  frontend/cypress/e2e/canList.cy.js
  frontend/cypress/e2e/portfolioList.cy.js
Due: eslint, prettier

Notes added by 'git notes add'
  01ddd18b9b2e8cb13b950f549600d3a0bede8701
Due: none

feat: display project nickname in parentheses on agreement details page
  frontend/cypress/e2e/agreementDetails.cy.js
  frontend/src/pages/agreements/details/Agreement.jsx
Due: eslint, prettier

fix: address PR feedback - single expression for project title and add unit tests
  frontend/src/pages/agreements/details/Agreement.jsx
  frontend/src/pages/agreements/details/Agreement.test.js
Due: eslint, prettier

style: apply Prettier formatting to Agreement test file
  frontend/src/pages/agreements/details/Agreement.test.js
Due: eslint, prettier

fix: remove stale research-projects POST mock handler
  frontend/src/tests/mocks.js
Due: eslint, prettier

style: fixed expandable table row alignment
  frontend/src/components/Agreements/AgreementsTable/AgreementTableRow.jsx
Due: eslint, prettier

feat: update project_search to include short title. Now expects exact match
  backend/models/projects.py
  backend/openapi.yml
  backend/ops_api/ops/schemas/projects.py
  backend/ops_api/ops/services/projects.py
  backend/ops_api/tests/ops/project/test_project.py
  backend/ops_api/tests/ops/research_project/test_research_project.py
Due: nox-lint

feat: adding pagination to projects list api
  backend/openapi.yml
  backend/ops_api/ops/resources/projects.py
  backend/ops_api/ops/schemas/projects.py
  backend/ops_api/ops/services/projects.py
  backend/ops_api/tests/ops/administrative_and_support_project/test_administrative_and_support_project.py
  backend/ops_api/tests/ops/project/test_project.py
  backend/ops_api/tests/ops/research_project/test_research_project.py
Due: nox-lint

feat: add barebones projects list page (#5215)
  frontend/cypress.config.ci.js
  frontend/cypress.config.js
  frontend/cypress/e2e/projectsList.cy.js
  frontend/src/components/UI/Header/NavMenu.jsx
  frontend/src/components/UI/Header/NavMenu.test.jsx
  frontend/src/constants.js
  frontend/src/index.jsx
  frontend/src/pages/projects/list/ProjectsList.helpers.js
  frontend/src/pages/projects/list/ProjectsList.jsx
  frontend/src/pages/projects/list/ProjectsList.test.jsx
  frontend/src/tests/mocks.js
  frontend/src/types/ProjectTypes.d.ts
Due: eslint, prettier

Notes added by 'git notes add'
  9c3f74ba8343e79db84a93331d00f499d9a7af08
Due: none

feat: enhance E2E test skill with accessibility checks and pre-flight verification
  .claude/skills/e2e-tests/SKILL.md
Due: none

feat: update OpenAPI spec with new endpoints and fix trailing slashes
  .claude/skills/sync-openapi/SKILL.md
  backend/openapi.yml
Due: none

feat: add backend-tests skill for running tests and code quality checks
  .claude/skills/backend-tests/SKILL.md
  backend/data_tools/tests/docker-compose.yml
Due: none

fix: review tab dsplays for reviewer approver role
  frontend/src/pages/agreements/list/AgreementTabs.test.jsx
  frontend/src/pages/agreements/list/AgreementsTabs.jsx
Due: eslint, prettier

feat: improve logging messages and clean up unused imports across multiple modules
  backend/data_tools/src/cleanup_user_sessions/utils.py
  backend/data_tools/src/import_static_data/import_data.py
  backend/data_tools/src/load_cans/utils.py
  backend/data_tools/src/load_contract_budget_lines/utils.py
  backend/data_tools/src/load_master_spreadsheet_budget_lines/utils.py
  backend/data_tools/src/load_remove_agreements/utils.py
  backend/data_tools/src/load_remove_budget_lines/utils.py
  backend/data_tools/src/load_team_members/utils.py
  backend/data_tools/src/update_agreement_history/update_agreement_history.py
  backend/data_tools/src/update_budget_line_sort_columns.py
  backend/data_tools/src/update_budget_line_type/utils.py
  backend/data_tools/tests/cleanup_user_sessions/test_utils.py
  backend/data_tools/tests/common/test_utils.py
  backend/data_tools/tests/load_direct_obligations/test_load_direct_obligations.py
  backend/data_tools/tests/load_iaa_budget_lines/test_load_iaa_budget_lines.py
  backend/data_tools/tests/load_iaas/test_load_iaas.py
  backend/data_tools/tests/load_master_spreadsheet_budget_lines/test_load_master_spreadsheet_budget_lines_items.py
  backend/data_tools/tests/load_master_spreadsheet_budget_lines_v2/test_load_master_spreadsheet_budget_lines_items_v2.py
  backend/data_tools/tests/load_obe_budget_lines/test_load_obe_budget_lines.py
  backend/data_tools/tests/load_remove_agreements/test_load_remove_agreements.py
  backend/data_tools/tests/load_remove_budget_lines/test_load_remove_budget_lines.py
  backend/data_tools/tests/load_team_members/test_load_team_members.py
  backend/data_tools/tests/update_budget_line_type/test_update_budget_line_type.py
Due: nox-lint

chore: resolve review comments
  frontend/cypress/e2e/budgetLineItemsList.cy.js
  frontend/cypress/e2e/canList.cy.js
  frontend/src/components/UI/FilterTags/FilterTags.jsx
  frontend/src/pages/reporting/ReportingFilterTags.jsx
  frontend/src/pages/reporting/ReportingPage.hooks.test.js
Due: eslint, prettier

test: update filter button checks in budgetLineItemsList and canList tests
  frontend/cypress/e2e/budgetLineItemsList.cy.js
  frontend/cypress/e2e/canList.cy.js
Due: eslint, prettier

feat: refactor repeated function getDefaultFiscalYearString to make it DRY
  frontend/src/helpers/utils.js
  frontend/src/pages/agreements/list/AgreementsFilterButton/AgreementsFilterButton.jsx
  frontend/src/pages/budgetLines/list/BLIFilterButton.jsx
Due: eslint, prettier

fix: agreement name sorting ignores upper case
  backend/ops_api/ops/services/agreements.py
Due: nox-lint

feat: update data processing functions and enhance logging for agreement history updates
  backend/data_tools/src/import_static_data/import_data.py
  backend/data_tools/src/load_master_spreadsheet_budget_lines/utils.py
  backend/data_tools/src/load_master_spreadsheet_budget_lines_v2/utils.py
  backend/data_tools/src/load_team_members/utils.py
  backend/data_tools/src/update_agreement_history/update_agreement_history.py
Due: nox-lint

feat: add db-migrations skill for managing Alembic database migrations
  .claude/skills/db-migrations/SKILL.md
Due: none

fix: update directory paths in backend-tests and db-migrations skills for consistency
  .claude/skills/backend-tests/SKILL.md
  .claude/skills/db-migrations/SKILL.md
Due: none

chore: make Docker Compose stack worktree-safe for parallel development
  AGENTS.md
  README.md
  backend/data_tools/tests/docker-compose.yml
  backend/ops_api/tests/docker-compose.yml
  docker-compose.demo.yml
  docker-compose.initial.yml
  docker-compose.static.yml
  docker-compose.yml
  docs/developers/worktree-safe-docker.md
Due: none

fix: remove outdated warnings about parallel test execution and known drift in OpenAPI sync
  .claude/skills/backend-tests/SKILL.md
  .claude/skills/sync-openapi/SKILL.md
Due: none

test(frontend): add wave 3 hook coverage
  docs/developers/frontend/coverage-90/wave-3-issue.md
  frontend/src/pages/agreements/review/ReviewAgreement.hooks.test.js
  frontend/src/pages/cans/detail/Can.hooks.test.js
  frontend/src/pages/cans/detail/CanFunding.hooks.test.js
Due: eslint, prettier

fix: restore pytest-data-import container name and add setup profile to CI
  .github/actions/run-full-stack/action.yml
  AGENTS.md
  backend/ops_api/tests/docker-compose.yml
  docs/developers/worktree-safe-docker.md
Due: none

fix(ci): verify Cypress after bun install
  .github/actions/setup-javascript/action.yml
Due: none

fix: complete wave 3 accessibility remediation
  .pre-commit-config.yaml
  docs/accessibility/audit-baseline-2026-02-25.md
  docs/accessibility/github-issue-accessibility-audit.md
  docs/developers/frontend/accessibility/issue-5149-wave-3.md
  frontend/cypress/e2e/notificationCenter.cy.js
  frontend/cypress/support/a11yAllowlist.js
  frontend/cypress/support/e2e.js
  frontend/src/components/Agreements/Documents/UploadDocument.jsx
  frontend/src/components/BudgetLineItems/AllBudgetLinesTable/AllBLIRow.jsx
  frontend/src/components/BudgetLineItems/BLIStatusSummaryCard/BLIStatusSummaryCard.jsx
  frontend/src/components/BudgetLineItems/ChangeIcons/ChangeIcons.jsx
  frontend/src/components/CANs/CANBudgetLineTable/CANBudgetLineTableRow.jsx
  frontend/src/components/Portfolios/PortfolioFundingByCAN/PortfolioFundingByCAN.jsx
  frontend/src/components/Portfolios/PortfolioHero/HeroDescription.jsx
  frontend/src/components/Portfolios/PortfolioSummaryCards/PortfolioLegend.jsx
  frontend/src/components/UI/Header/User.jsx
  frontend/src/components/UI/NotificationCenter/NotificationCenter.jsx
  frontend/src/pages/agreements/details/Agreement.jsx
  frontend/src/pages/agreements/review/ReviewAgreement.jsx
Due: eslint, prettier

fix: address wave 3 review feedback
  .pre-commit-config.yaml
  frontend/src/components/CANs/CANBudgetLineTable/CANBudgetLineTableRow.jsx
  frontend/src/components/Portfolios/PortfolioSummaryCards/PortfolioLegend.test.jsx
Due: eslint, prettier

test: updated be test
  backend/ops_api/tests/ops/agreement/test_agreement.py
Due: nox-lint
