Repository HHS/OPRE-OPS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-lint, eslint, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: detect-aws-credentials
        args: [--allow-missing-credentials]
      - id: detect-private-key
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: '^frontend/src/uswds/.*(\.svg|\.map)$'
      - id: check-json
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
  - repo: https://github.com/hadolint/hadolint
    rev: v2.14.0
    hooks:
      - id: hadolint
  - repo: https://github.com/pycqa/isort
    rev: 7.0.0
    hooks:
      - id: isort
        name: isort (ops_api)
        args: ["--settings-file", "backend/ops_api/pyproject.toml", "--filter-files"]
        files: ^backend/ops_api/
      - id: isort
        name: isort (data_tools)
        args: ["--settings-file", "backend/data_tools/pyproject.toml", "--filter-files"]
        files: ^backend/data_tools/
  - repo: local
    hooks:
      - id: nox-lint
        name: nox-lint
        entry: bash -c 'cd ./backend/ops_api && pipenv run nox -s lint'
        language: system
        types:
          - python
        pass_filenames: false
      - id: eslint
        name: eslint
        entry: bash -c 'cd ./frontend/ && bun lint'
        language: system
        types_or:
          - javascript
          - jsx
          - css
          - html
        pass_filenames: false
      - id: prettier
        name: prettier
        entry: bash -c 'cd ./frontend/ && bunx prettier --check --ignore-unknown'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json|css|scss|html|md)$
        pass_filenames: true
      - id: trufflehog
        name: TruffleHog
        description: Detect secrets in your data.
        entry: bash -c 'if command -v podman >/dev/null 2>&1; then podman run --rm -v "$(pwd):/workdir" -i trufflesecurity/trufflehog:latest git file:///workdir --since-commit HEAD --only-verified --fail; elif command -v docker >/dev/null 2>&1; then docker run --rm -v "$(pwd):/workdir" -i trufflesecurity/trufflehog:latest git file:///workdir --since-commit HEAD --only-verified --fail; else echo "Neither docker nor podman found. Please install one of them." && exit 1; fi'
        language: system
        stages: ["pre-commit", "pre-push"]
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.24.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional"]
        language_version: 22.8.0
  - repo: https://github.com/renovatebot/pre-commit-hooks
    rev: 43.15.0
    hooks:
      - id: renovate-config-validator

feat: set change requests to be returned in order newest to oldest
  backend/ops_api/ops/utils/change_requests_helpers.py
Due: nox-lint

test: fixing selected CR card after change to sort order
  frontend/cypress/e2e/procurementShopChangeRequest.cy.js
Due: eslint, prettier

Notes added by 'git notes add'
  89fd12fe9b29eecb2daee37d21276165defb64f6
Due: none

Notes added by 'git notes add'
  aecd6032695fc1f3e426a2f8b1ea804e90035f55
Due: none

Notes added by 'git notes add'
  6fc5a89cb658780a03c409befced0d6d14cf236b
Due: none

Notes added by 'git notes add'
  c7464d7c94bc5fca959b8c64a5b8cfb8e72431da
Due: none

Notes added by 'git notes add'
  58f8990107e3587bc8d8ead8d6d12de1b95c22aa
Due: none

docs: fix technical inaccuracies in testing documentation
  docs/TESTING.md
  docs/TESTING_ASSESSMENT.md
Due: none

feat: add storybook stories for various UI components
  frontend/src/components/UI/Alert/Alert.stories.jsx
  frontend/src/components/UI/Alert/SimpleAlert.stories.jsx
  frontend/src/components/UI/Alert/SlimAlert.stories.jsx
  frontend/src/components/UI/Button/FileUploadButton/FileUploadButton.stories.jsx
  frontend/src/components/UI/Button/GoBackButton/GoBackButton.stories.jsx
  frontend/src/components/UI/CurrencyWithSmallCents/CurrencyWithSmallCents.stories.jsx
  frontend/src/components/UI/FilterButton/FilterButton.stories.jsx
  frontend/src/components/UI/FilterTags/FilterTags.stories.jsx
  frontend/src/components/UI/PageHeader/PageHeader.stories.jsx
  frontend/src/components/UI/PaginationNav/PaginationNav.stories.jsx
  frontend/src/components/UI/RoundedBox/RoundedBox.stories.jsx
  frontend/src/components/UI/StepIndicator/StepIndicator.stories.jsx
  frontend/src/components/UI/Table/Table.stories.jsx
  frontend/src/components/UI/TableLoadingSkeleton/TableLoadingSkeleton.stories.jsx
  frontend/src/components/UI/TableRowExpandable/TableRowExpandable.stories.jsx
  frontend/src/components/UI/TableTag/TableTag.stories.jsx
  frontend/src/components/UI/Tag/Tag.stories.jsx
  frontend/src/components/UI/Term/Term.stories.jsx
  frontend/src/components/UI/ToggleButton/ToggleButton.stories.jsx
Due: eslint, prettier

chore: remove DebugCode
  frontend/src/pages/projects/detail/ProjectFunding.jsx
  frontend/src/pages/projects/detail/ProjectSpending.jsx
  frontend/src/pages/projects/list/ProjectsList.jsx
Due: eslint, prettier

fix: enhance project officer validation and handle null user ID
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.jsx
  frontend/src/components/Agreements/ProjectOfficerComboBox.jsx
Due: eslint, prettier

test: remove debug code check from ProjectFunding tests
  frontend/src/pages/projects/detail/ProjectFunding.test.jsx
Due: eslint, prettier

test: add unit tests for ProjectOfficerComboBox component
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.hooks.test.js
  frontend/src/components/Agreements/ProjectOfficerComboBox.test.jsx
Due: eslint, prettier

fix: COR validation error not clearing/showing on change (#5749)
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.hooks.test.js
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.jsx
  frontend/src/components/Agreements/ProjectOfficerComboBox.jsx
  frontend/src/components/Agreements/ProjectOfficerComboBox.test.jsx
  frontend/src/pages/projects/detail/ProjectFunding.jsx
  frontend/src/pages/projects/detail/ProjectFunding.test.jsx
  frontend/src/pages/projects/detail/ProjectSpending.jsx
  frontend/src/pages/projects/list/ProjectsList.jsx
Due: eslint, prettier

fix: validation error not clearing/showing on change (#5749)
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.hooks.test.js
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.jsx
  frontend/src/components/Agreements/ProjectOfficerComboBox.jsx
  frontend/src/components/Agreements/ProjectOfficerComboBox.test.jsx
  frontend/src/pages/projects/detail/ProjectFunding.jsx
  frontend/src/pages/projects/detail/ProjectFunding.test.jsx
  frontend/src/pages/projects/detail/ProjectSpending.jsx
  frontend/src/pages/projects/list/ProjectsList.jsx
Due: eslint, prettier

Notes added by 'git notes add'
  9b2b2c5b6280c94891ef1e9f85be5bebe47c5378
Due: none

fix: corrected agreement filtering for dashboard details
  frontend/cypress/e2e/procurementDashboard.cy.js
  frontend/src/pages/procurementDashboard/details/ProcurementDetails.jsx
  frontend/src/pages/procurementDashboard/details/ProcurementDetails.test.jsx
  frontend/src/pages/procurementDashboard/details/ProcurementDetailsStep.jsx
  frontend/src/pages/procurementDashboard/summary/StepLegendItem.jsx
Due: eslint, prettier

chore: linting
  frontend/src/pages/procurementDashboard/details/ProcurementDetails.test.jsx
Due: eslint, prettier

feat: enhance FilterButton stories with modal state and dynamic root element creation
  frontend/src/components/UI/FilterButton/FilterButton.stories.jsx
Due: eslint, prettier

fix: correct merge migration and add missing step six index export
  backend/alembic/versions/2026_05_28_1600-merge_heads.py
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepSix/index.js
Due: nox-lint, eslint, prettier

fix: update step 6 instructional text and enable in tests
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepSix/ProcurementTrackerStepSix.jsx
  frontend/src/pages/agreements/details/AgreementProcurementTracker.test.jsx
Due: eslint, prettier

fix: remove duplicate polymorphic_identity from base ProcurementTracker
  backend/models/procurement_tracker.py
Due: nox-lint

fix: make ProcurementTracker abstract and use DefaultProcurementTracker in tests
  backend/models/procurement_tracker.py
  backend/ops_api/tests/ops/procurement_tracker/test_step_6_integration.py
Due: nox-lint

fix: replace all ProcurementTracker with DefaultProcurementTracker
  backend/ops_api/tests/ops/agreement/test_agreement_history.py
  backend/ops_api/tests/ops/budget_line_items/test_budget_line_item.py
  backend/ops_api/tests/ops/features/test_validate_procurement_tracker_steps.py
Due: nox-lint

fix: change ProcurementTrackerType to string enum
  backend/models/procurement_tracker.py
Due: nox-lint

fix: correct award validation test assertions
  backend/ops_api/tests/ops/procurement_tracker/test_award_agreement_data_validation.py
  backend/ops_api/tests/ops/procurement_tracker/test_award_completion_validation.py
Due: nox-lint

fix: convert all procurement tracker enums to string enums
  Pipfile
  backend/models/procurement_tracker.py
Due: nox-lint

Notes added by 'git notes add'
  da69d63f5d6c9fdc24f5f9f95271d91424a40aad
Due: none

fix: add by_value=True to all enum serialization
  backend/models/base.py
  backend/ops_api/ops/schemas/procurement_tracker_steps.py
  backend/ops_api/ops/schemas/procurement_trackers.py
  backend/ops_api/tests/ops/procurement_tracker/test_step_6_integration.py
Due: nox-lint

fix: make BudgetLineItemStatus inherit from str
  backend/models/budget_line_items.py
Due: nox-lint

Notes added by 'git notes add'
  f071b669631dbf1b169fb3cba7cc1892edb4645b
Due: none

test: switch tests from cypress to unit test in front end
  frontend/cypress.config.js
  frontend/cypress/e2e/agreementReadOnly.cy.js
  frontend/cypress/e2e/utils.js
  frontend/cypress/support/e2e.js
  frontend/src/components/Agreements/AgreementsTable/AgreementTableRow.test.js
  frontend/src/components/UI/Header/NavMenu.test.jsx
  frontend/src/pages/agreements/details/AgreementBudgetLines.test.jsx
Due: eslint, prettier

fix: correct enum values to match database and add vendor fixtures
  backend/models/budget_line_items.py
  backend/models/users.py
  backend/ops_api/tests/ops/procurement_tracker/test_award_agreement_data_validation.py
  backend/ops_api/tests/ops/procurement_tracker/test_award_completion_validation.py
Due: nox-lint

fix: update BudgetLineItemStatus test expectations to uppercase
  backend/ops_api/tests/ops/budget_line_items/test_budget_line_item_status.py
Due: nox-lint

Notes added by 'git notes add'
  c7fbb5958404345e42ae3d8b00d9674049800e9f
Due: none

fix: add step_id to event metadata and fix Step 6 integration tests
  backend/ops_api/ops/resources/procurement_tracker_steps.py
  backend/ops_api/tests/ops/procurement_tracker/test_step_6_integration.py
Due: nox-lint
