Repository HHS/OPRE-OPS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-lint, eslint, prettier

nox-lint:
  name: nox-lint
  entry: bash -c 'cd ./backend/ops_api && pipenv run nox -s lint'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd ./frontend/ && bun lint'
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: bash -c 'cd ./frontend/ && bunx prettier --check --ignore-unknown'
  language: system
  pass_filenames: true

fix(help-center): move SharePoint icon after link text
  frontend/src/pages/help/HelpCenter.jsx
Due: eslint, prettier

fix: remove duplicate validation rule class and fix conflict marker
  backend/ops_api/ops/validation/rules/procurement_tracker_step.py
Due: nox-lint

fix(responsivedonut): remove redundant percent symbol from setPercent function
  frontend/src/components/UI/DataViz/ResponsiveDonutWithInnerPercent/ResponsiveDonutWithInnerPercent.jsx
Due: eslint, prettier

style: fix text stretching in summary card
  frontend/src/components/Agreements/AgreementCountSummaryCard/AgreementCountSummaryCard.jsx
  frontend/src/components/UI/Cards/ProjectAgreementBLICard/ProjectAgreementBLICard.jsx
Due: eslint, prettier

Notes added by 'git notes add'
  a6f2e9b51edde209fe05a24f0fa0089dd4d45f37
Due: none

Notes added by 'git notes add'
  b87b4f38b9c4186cc7e133d75bf03fcb9e5c42f8
Due: none

fix(a11y): resolve heading hierarchy violations in pre-award approval pages
  frontend/src/components/ChangeRequests/PreAwardReviewCard/PreAwardReviewCard.jsx
  frontend/src/components/UI/Alert/SimpleAlert.jsx
  frontend/src/components/UI/Alert/SimpleAlert.test.jsx
  frontend/src/pages/agreements/pre-award-approval/ApprovePreAwardApproval.jsx
  frontend/src/pages/agreements/pre-award-approval/ApprovePreAwardApproval.test.jsx
  frontend/src/pages/agreements/pre-award-approval/RequestPreAwardApproval.jsx
  frontend/src/pages/agreements/pre-award-approval/RequestPreAwardApproval.test.jsx
Due: eslint, prettier

fix(help-center): move SharePoint icon after link text (#5450)
  frontend/src/pages/help/HelpCenter.jsx
Due: eslint, prettier

Notes added by 'git notes add'
  ac4994d393b59d39d0c2424849140e44f2e77257
Due: none

chore: removed unused
  frontend/src/components/UI/Header/NavMenu.jsx
  frontend/src/index.jsx
Due: eslint, prettier

chore: regenerate Pipfile.lock files to fix CI build
  backend/data_tools/Pipfile.lock
  backend/ops_api/Pipfile.lock
Due: none

feat(backfill): implement procurement tracker backfill script and tests
  backend/data_tools/src/backfill_procurement_tracker.py
  backend/data_tools/tests/backfill_procurement_tracker/__init__.py
  backend/data_tools/tests/backfill_procurement_tracker/test_backfill_procurement_tracker.py
Due: nox-lint

refactor(backfill): rename functions for clarity and enhance linking of IN_EXECUTION BLIs to actions
  backend/data_tools/src/backfill_procurement_tracker.py
  backend/data_tools/tests/backfill_procurement_tracker/test_backfill_procurement_tracker.py
Due: nox-lint

feat(backfill): add procurement shop handling in backfill logic and tests
  backend/data_tools/src/backfill_procurement_tracker.py
  backend/data_tools/tests/backfill_procurement_tracker/test_backfill_procurement_tracker.py
Due: nox-lint

fix(logging): update logger configuration to use stderr instead of stdout
  backend/data_tools/src/backfill_procurement_tracker.py
Due: nox-lint

fix(backfill): order agreements by ID in get_agreements_with_in_execution_blis function
  backend/data_tools/src/backfill_procurement_tracker.py
Due: nox-lint

style: apply prettier formatting to fix linting errors
  frontend/src/components/UI/Alert/SimpleAlert.jsx
  frontend/src/pages/agreements/pre-award-approval/ApprovePreAwardApproval.test.jsx
  frontend/src/pages/agreements/pre-award-approval/RequestPreAwardApproval.test.jsx
Due: eslint, prettier

fix: replace grid layout with flexbox and restore percent on donut hover
  frontend/src/components/BudgetLineItems/BLIStatusSummaryCard/BLIStatusSummaryCard.jsx
  frontend/src/components/Portfolios/PortfolioFundingByCAN/PortfolioFundingByCAN.jsx
  frontend/src/components/UI/Cards/DonutGraphWithLegendCard/DonutGraphWithLegendCard.jsx
Due: eslint, prettier

feat: add award_type and vendor fields to SimpleAgreementSchema
  backend/ops_api/ops/schemas/budget_line_items.py
  backend/ops_api/tests/ops/schemas/test_agreements.py
Due: nox-lint

feat: add creator name, award type, and vendor details
  frontend/src/components/BudgetLineItems/AllBudgetLinesTable/AllBLIRow.jsx
  frontend/src/components/BudgetLineItems/AllBudgetLinesTable/AllBLIRow.test.jsx
  frontend/src/types/AgreementTypes.d.ts
Due: eslint, prettier

chore: remove story file and revert MSW dev config
  backend/.claude/stories/OPS-1518-pre-award-approval-approver.md
  frontend/vite-env/env.dev.local
Due: none

fix: avoid double percent sign in PortfolioFundingByCAN donut hover
  frontend/src/components/Portfolios/PortfolioFundingByCAN/PortfolioFundingByCAN.jsx
Due: eslint, prettier

fix: resolve critical Copilot PR review issues
  backend/ops_api/Pipfile.lock
  backend/ops_api/ops/resources/procurement_tracker_steps.py
  backend/ops_api/ops/schemas/procurement_tracker_steps.py
  backend/ops_api/ops/services/procurement_tracker_steps.py
  frontend/src/api/opsAPI.js
  frontend/src/components/ChangeRequests/ChangeRequestsList/ChangeRequestsList.jsx
  frontend/src/hooks/useChangeRequests.hooks.js
Due: nox-lint, eslint, prettier

refactor: address remaining Copilot code quality issues
  frontend/src/components/BudgetLineItems/ReviewExecutingTotalAccordion/ReviewExecutingTotalAccordion.jsx
  frontend/src/mocks/handlers.js
  frontend/src/pages/agreements/pre-award-approval/ApprovePreAwardApproval.hooks.js
  frontend/src/pages/agreements/pre-award-approval/ApprovePreAwardApproval.test.jsx
  frontend/src/pages/agreements/pre-award-approval/RequestPreAwardApproval.hooks.js
  frontend/src/pages/agreements/pre-award-approval/usePreAwardApprovalData.js
  frontend/src/tests/mocks.js
Due: eslint, prettier

style: apply black formatting to procurement tracker steps schema
  backend/ops_api/ops/schemas/procurement_tracker_steps.py
Due: nox-lint

chore: regenerate data_tools Pipfile.lock to fix CI build
  backend/data_tools/Pipfile.lock
Due: none

fix(a11y): correct heading hierarchy in AgreementChangesResponseAlert
  frontend/src/components/Agreements/AgreementChangesResponseAlert/AgreementChangesResponseAlert.jsx
Due: eslint, prettier

fix(a11y): add h1 heading to EditAgreement error state
  frontend/src/pages/agreements/EditAgreement.jsx
Due: eslint, prettier

fix(ci): enhance bot commit detection in linting workflow
  .github/workflows/ci.yml
Due: none

fix: address remaining Copilot PR review issues
  backend/ops_api/ops/schemas/procurement_tracker_steps.py
  backend/ops_api/ops/services/procurement_tracker_steps.py
  backend/ops_api/ops/validation/rules/procurement_tracker_step.py
  frontend/src/hooks/useChangeRequests.hooks.js
  frontend/src/pages/agreements/pre-award-approval/ApprovePreAwardApproval.hooks.js
Due: nox-lint, eslint, prettier

feat: adding TAS to can funding card and documenting where it comes from
  backend/models/cans.py
  backend/openapi.yml
  frontend/src/components/CANs/CANFundingInfoCard/CANFundingInfoCard.jsx
  frontend/src/components/CANs/CanCard/CanCard.test.jsx
Due: nox-lint, eslint, prettier

test: adding test for fixed fiscal year dropdown
  frontend/cypress/e2e/budgetLineItemsList.cy.js
  frontend/src/pages/budgetLines/list/BudgetLineItemList.test.jsx
Due: eslint, prettier

test: update e2e test
  backend/ops_api/tests/ops/schemas/test_agreements.py
  frontend/cypress/e2e/budgetLineItemsList.cy.js
Due: nox-lint, eslint, prettier

test: add subtotal field check in expanded row of budget line items
  frontend/cypress/e2e/budgetLineItemsList.cy.js
Due: eslint, prettier

chore: removed limits
  frontend/src/pages/procurementDashboard/ProcurementDashboardPage.jsx
Due: eslint, prettier

feat(backfill): enhance procurement backfill logic to handle obligated and in-execution BLIs
  backend/data_tools/src/backfill_procurement_tracker.py
  backend/data_tools/tests/backfill_procurement_tracker/test_backfill_procurement_tracker.py
Due: nox-lint

fix: make OPS_FRONTEND_URL configurable via environment variable
  AGENTS.md
  backend/ops_api/Pipfile.lock
  backend/ops_api/ops/environment/default_settings.py
  docker-compose.yml
Due: nox-lint

style: removed extra percent in donut
  frontend/src/pages/procurementDashboard/ProcurementStepSummaryCard.jsx
Due: eslint, prettier

chore: restore Pipfile.lock to main baseline
  backend/ops_api/Pipfile.lock
Due: none

Path conditions:
  nox-lint: any of: \.py$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.css$, \.(html|htm|xhtml)$
  prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|scss|html|md)$
