Repository HHS/OPRE-OPS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-lint, eslint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: detect-aws-credentials
        args: [--allow-missing-credentials]
      - id: detect-private-key
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: '^frontend/src/uswds/.*\.svg$'
      - id: check-json
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
  - repo: https://github.com/hadolint/hadolint
    rev: v2.10.0
    hooks:
      - id: hadolint
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.10.1
    hooks:
      - id: isort
        args: ["--profile", "black", "--filter-files"]
  - repo: local
    hooks:
      - id: nox-lint
        name: nox-lint
        entry: bash -c 'cd ./backend/ops_api && pipenv run nox -s lint'
        language: system
        types:
          - python
        pass_filenames: false
      - id: eslint
        name: eslint
        entry: bash -c 'cd ./frontend/ && bun lint'
        language: system
        types_or:
          - javascript
          - jsx
          - css
          - html
        pass_filenames: false
      - id: trufflehog
        name: TruffleHog
        description: Detect secrets in your data.
        entry: bash -c 'if command -v podman >/dev/null 2>&1; then podman run --rm -v "$(pwd):/workdir" -i trufflesecurity/trufflehog:latest git file:///workdir --since-commit HEAD --only-verified --fail; elif command -v docker >/dev/null 2>&1; then docker run --rm -v "$(pwd):/workdir" -i trufflesecurity/trufflehog:latest git file:///workdir --since-commit HEAD --only-verified --fail; else echo "Neither docker nor podman found. Please install one of them." && exit 1; fi'
        language: system
        stages: ["pre-commit", "pre-push"]
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.18.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional"]
        language_version: 22.8.0

feat: remove payee field from direct agreement in test case
  backend/ops_api/tests/ops/features/test_delete_agreement.py
Due: nox-lint

fix: set john mcdill to locked
  backend/data_tools/data/user_data.json5
Due: none

fix: update comment with correct id of procurement team user
  backend/data_tools/data/user_data.json5
Due: none

test: added alt cor test data
  backend/data_tools/data/agreements_and_blin_data.json5
  backend/data_tools/data/first_contract_data.json5
  backend/ops_api/tests/ops/agreement/test_agreement.py
Due: nox-lint

test: fixed e2e test due to new test data
  frontend/cypress/e2e/agreementDetails.cy.js
Due: eslint

Notes added by 'git notes add'
  6cef932d41e6a08eca8b53cda29529c09e4e0956
Due: none

feat: setting division for sheila and amare users
  backend/data_tools/data/user_data.json5
Due: none

Notes added by 'git notes add'
  071d1d2077aa851dd564380d39a20d32430d6971
Due: none

test: wip on fixing portfolio blis tests
  backend/ops_api/ops/resources/portfolio_cans.py
  backend/ops_api/tests/ops/can/test_portfolio_cans.py
  backend/ops_api/tests/ops/funding_summary/test_can_funding_summary.py
  frontend/cypress/e2e/portfolioDetail.cy.js
  frontend/src/pages/portfolios/detail/PortfolioDetail.jsx
Due: nox-lint, eslint

feat: add starting script for loading blis to test container app job
  backend/data_tools/src/load_budget_lines/__init__.py
  backend/data_tools/src/load_budget_lines/utils.py
  backend/data_tools/src/load_data.py
Due: nox-lint

feat: enhance ErrorBoundary with Redux and Router integration
  frontend/src/components/ErrorBoundary/ErrorBoundary.jsx
  frontend/src/components/ErrorBoundary/TestErrorComponent.jsx
Due: eslint

fix: wrap routes in ErrorPage for better error handling
  frontend/src/index.jsx
Due: eslint

test: add agreement sort tests
  frontend/src/hooks/useSortableData.test.js
Due: eslint

Notes added by 'git notes add'
  3e1d04270458ed63dfa1c119c91c5fbfe2236baf
Due: none

fix: updating bun lockfile
  frontend/bun.lockb
Due: none

Notes added by 'git notes add'
  af2ac4960ee9a884557b0ab04abdbe4927b6ac3b
Due: none

feat: add first and last name fields to UserData and update related functionality
  backend/data_tools/src/load_users/utils.py
  backend/data_tools/test_csv/users.tsv
  backend/data_tools/tests/load_users/test_load_users.py
Due: nox-lint

Notes added by 'git notes add'
  a4d31568621f2d0c52355ad2ad6b974193357158
Due: none

feat: add starting script for loading blis to test container app job (#3641)
  backend/data_tools/src/load_budget_lines/__init__.py
  backend/data_tools/src/load_budget_lines/utils.py
  backend/data_tools/src/load_data.py
Due: nox-lint

Notes added by 'git notes add'
  d35c1fbb629b492f1f23a64b72598efa47ec819c
Due: none

feat: use left joins
  backend/ops_api/ops/resources/portfolio_cans.py
Due: nox-lint

feat: update my agreement list filter logic
  frontend/src/pages/agreements/list/AgreementsList.jsx
Due: eslint

test: fix portfolio can unit test for fy2044
  backend/ops_api/tests/ops/can/test_portfolio_cans.py
Due: nox-lint

feat: updated agreement history log
  frontend/src/components/Agreements/AgreementDetails/AgreementHistoryList.jsx
  frontend/src/components/Agreements/AgreementDetails/AgreementHistoryPanel.jsx
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.jsx
  frontend/src/components/Agreements/TeamMemberComboBox.jsx
  frontend/src/helpers/utils.js
  frontend/src/pages/agreements/details/AgreementDetailsView.jsx
Due: eslint

test: fix can funding summary test for solo runs by using isolated CANs not affected by other tests
  backend/ops_api/tests/ops/funding_summary/test_can_funding_summary.py
Due: nox-lint

Notes added by 'git notes add'
  2d971d058a661cc97f533c171ad39efcedd43344
Due: none

test: adding more tests for sort scenarios
  frontend/src/components/CANs/CANBudgetLineTable/CANBudgetLineTable.constants.js
  frontend/src/hooks/useSortableData.test.js
Due: eslint

chore: changing sort icons, still fiddling with styling to get size right
  frontend/src/components/UI/Table/Table.jsx
Due: eslint

docs: more IA edits
  docs/Security-Compliance/Security-Controls/ia/ia-11.md
  docs/Security-Compliance/Security-Controls/ia/ia-12-2.md
  docs/Security-Compliance/Security-Controls/ia/ia-12-3.md
  docs/Security-Compliance/Security-Controls/ia/ia-12-5.md
  docs/Security-Compliance/Security-Controls/ia/ia-12.md
Due: none

feat: updated project officer label to cor in error message
  frontend/src/components/Agreements/AgreementDetails/AgreementHistoryList.jsx
  frontend/src/components/Agreements/AgreementDetails/AgreementHistoryPanel.jsx
  frontend/src/helpers/utils.js
  frontend/src/pages/agreements/details/AgreementDetails.jsx
  frontend/src/pages/agreements/details/AgreementDetailsEdit.jsx
  frontend/src/pages/agreements/details/AgreementDetailsView.jsx
  frontend/src/pages/agreements/review/ReviewAgreement.hooks.js
Due: eslint

refactor: update Table sorting header functionality and improve accessibility
  frontend/src/components/UI/Table/Table.jsx
Due: eslint

fix: fixing pagination on budget lines table
  frontend/src/components/BudgetLineItems/AllBudgetLinesTable/AllBudgetLinesTable.jsx
Due: eslint

chore: alembic merge heads
  backend/alembic/versions/2025_03_26_1814-9b0942c494df_.py
Due: nox-lint

feat(logging): add custom logging handler and enhance logging in AgreementListAPI
  backend/ops_api/ops/__init__.py
  backend/ops_api/ops/resources/agreements.py
Due: nox-lint

feat: adds scrollable table
  frontend/src/components/UI/Table/Table.jsx
Due: eslint

feat(agreements): optimize serialization by grouping agreements by type for batch processing
  backend/ops_api/ops/resources/agreements.py
Due: nox-lint

feat: enhance table accessibility and sorting functionality
  frontend/src/components/UI/Table/Table.jsx
Due: eslint

refactor(logging): remove custom logging handler from app initialization
  backend/ops_api/ops/__init__.py
Due: nox-lint

refactor: improve table header interaction and accessibility
  frontend/src/components/UI/Table/Table.jsx
Due: eslint

chore: wip adding can table sorting and small fix to table sort updates
  frontend/src/components/CANs/CANTable/CANTable.constants.js
  frontend/src/components/CANs/CANTable/CANTable.jsx
  frontend/src/components/CANs/CANTable/CANTableHead.jsx
  frontend/src/components/UI/Table/Table.hooks.js
  frontend/src/components/UI/Table/Table.jsx
Due: eslint
