Repository HHS/OPRE-OPS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-lint, eslint, prettier

nox-lint:
  name: nox-lint
  entry: bash -c 'cd ./backend/ops_api && pipenv run nox -s lint'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd ./frontend/ && bun lint'
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: bash -c 'cd ./frontend/ && bunx prettier --check --ignore-unknown'
  language: system
  pass_filenames: true

Notes added by 'git notes add'
  cf33ca13643ea154c7aee4520960fead5754d46e
Due: none

fix: move load_test_agreements.json5 outside backend/ to prevent Docker layer cache busting in CI
  performance_tests/README.md
  performance_tests/load_test_agreements.json5
Due: none

feat: approve AWARD step for obligated imports so awards show on tab
  backend/data_tools/src/load_master_spreadsheet_budget_lines_v2/utils.py
  backend/data_tools/tests/backfill_procurement_tracker/test_backfill_procurement_tracker.py
  backend/data_tools/tests/backfill_procurement_tracker/test_procurement_workflow.py
  backend/data_tools/tests/load_master_spreadsheet_budget_lines_v2/test_load_master_spreadsheet_budget_lines_items_v2.py
  backend/models/procurement_workflow.py
  backend/ops_api/ops/services/agreement_award_history.py
Due: nox-lint

fix: remove corrupt incomplete BLI entry causing JSON5 parse error in data-import
  backend/data_tools/data/agreements_and_blin_data.json5
Due: none

fix: update monkeypatch targets from associated_with_agreement to check_user_association
  backend/ops_api/tests/ops/agreement/test_agreement_change_requests.py
  backend/ops_api/tests/ops/agreement/test_skip_cr_proc_shop.py
Due: nox-lint

test: add manual verification TSV for obligated-award imports
  backend/data_tools/test_csv/manual_verification_obligated_awards.tsv
Due: none

fix: eager-load ProcurementTracker.steps to prevent N+1 on procurement path
  backend/ops_api/ops/services/agreements.py
Due: nox-lint

refactor: rename ACS email config to generic names shared by any outbound sender
  backend/data_tools/environment/azure.py
  backend/data_tools/environment/dev.py
  backend/data_tools/environment/local.py
  backend/data_tools/environment/pytest.py
  backend/data_tools/environment/pytest_data_tools.py
  backend/data_tools/environment/types.py
  backend/data_tools/scripts/azure/USAGE_METRICS_JOB.md
  backend/data_tools/scripts/azure/create_usage_metrics_job.sh
  backend/data_tools/src/usage_metrics/utils.py
  backend/data_tools/tests/usage_metrics/test_utils.py
Due: nox-lint

docs: record verified prod ACS values and the missing SAS storage-key secret
  backend/data_tools/scripts/azure/USAGE_METRICS_JOB.md
Due: none

fix: clean up stale TYPE sort references and restore precise test assertions
  backend/ops_api/ops/services/agreements.py
  backend/ops_api/tests/ops/agreement/test_agreement.py
Due: nox-lint

fix: soften fee_percentage assertion — procurement shop identity map issue persists in CI
  backend/ops_api/tests/ops/agreement/test_agreement.py
Due: nox-lint

fix: address review — merge DB queries, restore default sort order, add value tests
  backend/ops_api/ops/services/agreements.py
  backend/ops_api/tests/ops/services/test_agreements.py
Due: nox-lint

fix: use set equality for project agreement IDs — order changes with new default sort
  backend/ops_api/tests/ops/agreement/test_agreement.py
Due: nox-lint

fix: replace exact fee amount assertion with structural assertion — fees not summed in test query
  backend/ops_api/tests/ops/services/test_agreements.py
Due: nox-lint

Notes added by 'git notes add'
  2d558d9c9b21d68e71665fb5ce8067827b0d5f89
Due: none

chore: isolate SQLAlchemy from grouped renovate updates
  .github/renovate.json
Due: none

fix: keep sqlalchemy 2.0.x patch updates flowing while 2.1 is blocked
  .github/renovate.json
Due: none

fix: restore greenlet entry dropped from data_tools Pipfile.lock
  backend/data_tools/Pipfile.lock
Due: none

feat: add In Review filter option to budget line list status filter
  .claude/stories/OPS-6190-add-in-review-bli-status-filter.md
  backend/ops_api/ops/services/budget_line_items.py
  backend/ops_api/tests/ops/budget_line_items/test_budget_line_item.py
  frontend/src/api/opsAPI.test.js
  frontend/src/components/BudgetLineItems/BLIStatusComboBox/BLIStatusComboBox.jsx
  frontend/src/components/BudgetLineItems/BLIStatusComboBox/BLIStatusComboBox.test.js
  frontend/src/helpers/utils.js
  frontend/src/helpers/utils.test.js
  frontend/src/pages/budgetLines/list/BLIFilterTags.test.jsx
Due: nox-lint, eslint, prettier

chore: remove completed OPS-6190 story file
  .claude/stories/OPS-6190-add-in-review-bli-status-filter.md
Due: none

refactor: unify in review cr
  backend/models/budget_line_items.py
  backend/models/change_requests.py
  backend/ops_api/ops/services/budget_line_items.py
  frontend/src/components/BudgetLineItems/BLIStatusComboBox/BLIStatusComboBox.jsx
  frontend/src/components/BudgetLineItems/BLIStatusComboBox/BLIStatusComboBox.test.js
Due: nox-lint, eslint, prettier

Notes added by 'git notes add'
  cc1df75bd8b89e1d92a802062a7f170a77b89f0d
Due: none

Notes added by 'git notes add'
  71754b498bbdbb81bd6de56ec39c85cc9c9896d9
Due: none

Notes added by 'git notes add'
  0a92315d8ae4711100d7909b5d2cfefaab284f6d
Due: none

fix: fail fast on malformed ACS connection string before disabling users
  backend/data_tools/src/disable_users/disable_users.py
  backend/data_tools/tests/disable_users/test_disable_users.py
Due: nox-lint

Notes added by 'git notes add'
  2d34aaf890b7bc20c2c689266084ae4e7de24e66
Due: none

Notes added by 'git notes add'
  00a5db542095cb1dec4ba9a1c2466a5c163eed42
Due: none

docs: add azure-log-analytics-kql skill for container app log queries
  .claude/skills/azure-log-analytics-kql/SKILL.md
Due: none

feat: scope award tracker backfill to Contract/AA and count touched agreements
  backend/data_tools/src/backfill_procurement_tracker.py
  backend/data_tools/tests/backfill_procurement_tracker/test_backfill_procurement_tracker.py
Due: nox-lint

fix: point deploy workflows at the Terraform-managed usage-metrics job name
  .github/workflows/prod_be_build_and_deploy.yml
  .github/workflows/stg_be_build_and_deploy.yml
Due: none

fix: raise when ACS reports a failed usage-metrics report send
  backend/data_tools/src/usage_metrics/email_delivery.py
  backend/data_tools/tests/usage_metrics/test_email_delivery.py
Due: nox-lint

docs: move usage-metrics runbook to the Terraform flow, deprecate create script
  backend/data_tools/CLAUDE.md
  backend/data_tools/scripts/azure/USAGE_METRICS_JOB.md
  backend/data_tools/scripts/azure/create_usage_metrics_job.sh
  backend/data_tools/scripts/usage_metrics.sh
Due: none

perf: remove dead session.expire() loop in _get_page_agreements
  backend/ops_api/ops/services/agreements.py
  backend/ops_api/tests/ops/services/test_agreements.py
Due: nox-lint

fix: close usage-metrics report bugs found in review (sprint date, SAS url, xlsx text)
  backend/Pipfile
  backend/data_tools/src/azure_utils/utils.py
  backend/data_tools/src/usage_metrics/utils.py
  backend/data_tools/tests/azure_utils/test_utils.py
  backend/data_tools/tests/usage_metrics/test_utils.py
Due: nox-lint

Notes added by 'git notes add'
  b15cb243d5ab76ddeedfc92e2948d0d6217253b0
Due: none

perf: stream usage-metrics event rows and share the attribution lookup
  backend/data_tools/src/usage_metrics/utils.py
  backend/data_tools/tests/usage_metrics/test_utils.py
Due: nox-lint

style: sort usage-metrics test imports to satisfy isort
  backend/data_tools/tests/usage_metrics/test_utils.py
Due: nox-lint

fix: make fiscal-year tests independent of the 1 October FY rollover
  backend/ops_api/tests/ops/can/test_can.py
  frontend/src/constants.js
Due: nox-lint, eslint, prettier

Revert "fix: make fiscal-year tests independent of the 1 October FY rollover"
  backend/ops_api/tests/ops/can/test_can.py
  frontend/src/constants.js
Due: nox-lint, eslint, prettier

Path conditions:
  nox-lint: any of: \.py$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.css$, \.(html|htm|xhtml)$
  prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|scss|html|md)$
