Repository HHS/OPRE-OPS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-lint, eslint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: detect-aws-credentials
        args: [--allow-missing-credentials]
      - id: detect-private-key
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: '^frontend/src/uswds/.*\.svg$'
      - id: check-json
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
  - repo: https://github.com/hadolint/hadolint
    rev: v2.10.0
    hooks:
      - id: hadolint
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.10.1
    hooks:
      - id: isort
        args: ["--profile", "black", "--filter-files"]
  - repo: local
    hooks:
      - id: nox-lint
        name: nox-lint
        entry: bash -c 'cd ./backend/ops_api && pipenv run nox -s lint'
        language: system
        types:
          - python
        pass_filenames: false
      - id: eslint
        name: eslint
        entry: bash -c 'cd ./frontend/ && bun lint'
        language: system
        types_or:
          - javascript
          - jsx
          - css
          - html
        pass_filenames: false
      - id: trufflehog
        name: TruffleHog
        description: Detect secrets in your data.
        entry: bash -c 'if command -v podman >/dev/null 2>&1; then podman run --rm -v "$(pwd):/workdir" -i trufflesecurity/trufflehog:latest git file:///workdir --since-commit HEAD --only-verified --fail; elif command -v docker >/dev/null 2>&1; then docker run --rm -v "$(pwd):/workdir" -i trufflesecurity/trufflehog:latest git file:///workdir --since-commit HEAD --only-verified --fail; else echo "Neither docker nor podman found. Please install one of them." && exit 1; fi'
        language: system
        stages: ["pre-commit", "pre-push"]
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.18.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional"]
        language_version: 22.8.0

test: add unit test for core funding method
  backend/ops_api/tests/ops/funding_summary/test_can_funding_summary.py
Due: nox-lint

Notes added by 'git notes add'
  5b18efe96fbd107b65558d3faf31b26d04e77a38
Due: none

test: correct data on portfolio details e2e tests
  frontend/cypress/e2e/portfolioDetail.cy.js
Due: eslint

fix: update UI and e2e for class name changes
  frontend/cypress/e2e/budgetLineItemsList.cy.js
  frontend/cypress/e2e/canDetail.cy.js
  frontend/cypress/e2e/reviewAgreement.cy.js
  frontend/src/components/Agreements/AgreementDetails/AgreementHistoryList.jsx
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.hooks.js
  frontend/src/helpers/utils.js
  frontend/src/hooks/useChangeRequests.hooks.js
  frontend/src/pages/agreements/details/AgreementDetails.test.js
Due: eslint

chore: sync data e2e is looking for
  frontend/cypress/e2e/portfolioDetail.cy.js
Due: eslint

feat: make funding details req for can funding calc
  backend/ops_api/ops/utils/cans.py
  backend/ops_api/tests/ops/funding_summary/test_can_funding_summary.py
Due: nox-lint

fix: revert test
  frontend/cypress/e2e/canDetail.cy.js
Due: eslint

chore: sync code blocks
  backend/ops_api/ops/utils/cans.py
Due: nox-lint

chore: rm misleading comments
  backend/ops_api/tests/ops/funding_summary/test_can_funding_summary.py
Due: nox-lint

chore: remove commented code
  backend/ops_api/ops/resources/budget_line_items.py
Due: nox-lint

fix: can summary card funding values (#3552)
  backend/ops_api/ops/utils/cans.py
  backend/ops_api/tests/ops/funding_summary/test_can_funding_summary.py
  frontend/cypress/e2e/portfolioDetail.cy.js
Due: nox-lint, eslint

Notes added by 'git notes add'
  ef5f1b260d6041c1a0dc7da42fe01279784cc04b
Due: none

fix: add some waits to e2e test
  frontend/cypress/e2e/canDetail.cy.js
Due: eslint

feat: implement token refresh mechanism in AuthSection
  frontend/src/components/Auth/AuthSection.jsx
Due: eslint

feat: add new funding to portfolio funding summary
  backend/ops_api/ops/schemas/portfolio_funding_summary.py
  backend/ops_api/ops/utils/portfolios.py
  frontend/src/pages/portfolios/detail/PortfolioDetail.jsx
Due: nox-lint, eslint

chore: update deps
  frontend/bun.lockb
Due: none

fix: skip flaky e2e tests
  frontend/cypress/e2e/canDetail.cy.js
Due: eslint

feat: improve CAN table header tooltips with clearer funding descriptions
  frontend/src/components/CANs/CANTable/CANTableHead.jsx
  frontend/src/components/UI/USWDS/Tooltip/Tooltip.jsx
Due: eslint

fix: fix fe error
  frontend/src/pages/portfolios/detail/PortfolioDetail.jsx
Due: eslint

style: updated can budget card caption text
  frontend/src/components/CANs/CANSummaryCards/CANSummaryCards.jsx
  frontend/src/components/UI/Cards/BudgetCard/BudgetCard.jsx
Due: eslint

style: updated 0 value style on can summary cards
  frontend/src/components/UI/Cards/BudgetCard/BudgetCard.jsx
  frontend/src/components/UI/Cards/LineGraphWithLegendCard/LineGraphWithLegendCard.jsx
Due: eslint

style: updated line graph on big budget card
  frontend/src/components/UI/Cards/BudgetCard/BigBudgetCard.jsx
Due: eslint

test: fixed unit test failure
  frontend/src/components/UI/Cards/BudgetCard/BudgetCard.test.jsx
Due: eslint

fix: fix flaky e2e tests
  frontend/cypress/e2e/canDetail.cy.js
Due: eslint

docs: update glossary.jsx
  frontend/src/pages/help/Glossary.jsx
Due: eslint

mob next [ci-skip] [ci skip] [skip ci]
  frontend/src/components/CANs/CANSummaryCards/CANSummaryCards.jsx
  frontend/src/components/CANs/CanCard/CanCard.jsx
  frontend/src/components/UI/Cards/BudgetCard/ReceivedFundingCard.jsx
  frontend/src/components/UI/Cards/LineGraphWithLegendCard/LineGraphWithLegendCard.jsx
  frontend/src/components/UI/DataViz/LineGraph/LineGraph.jsx
  frontend/src/components/UI/DataViz/LineGraph/ReverseLineGraph.jsx
  frontend/src/components/UI/DataViz/LineGraph/styles.module.scss
Due: eslint

mob next [ci-skip] [ci skip] [skip ci]
  frontend/src/components/CANs/CANFundingYTD/CANFundingYTD.jsx
  frontend/src/components/CANs/CANFundingYTD/styles.module.css
  frontend/src/components/CANs/CANSummaryCards/CANSummaryCards.jsx
  frontend/src/components/CANs/CanCard/CanCard.jsx
  frontend/src/components/UI/Cards/LineGraphWithLegendCard/LegendItem.jsx
  frontend/src/components/UI/Cards/LineGraphWithLegendCard/LineGraphWithLegendCard.jsx
  frontend/src/components/UI/DataViz/LineGraph/LineGraph.jsx
Due: eslint

mob next [ci-skip] [ci skip] [skip ci]
  frontend/src/components/UI/Cards/BudgetCard/BigBudgetCard.jsx
Due: eslint

doc: update glossary.jsx
  frontend/src/pages/help/Glossary.jsx
Due: eslint

mob next [ci-skip] [ci skip] [skip ci]
  frontend/src/components/CANs/CANSummaryCards/CANSummaryCards.jsx
  frontend/src/components/UI/Cards/BudgetCard/BigBudgetCard.jsx
  frontend/src/components/UI/Cards/BudgetCard/BudgetCard.jsx
  frontend/src/components/UI/Cards/LineGraphWithLegendCard/LineGraphWithLegendCard.jsx
Due: eslint

docs: update howtoguides.jsx
  frontend/src/pages/help/HowToGuides.jsx
Due: eslint

mob next [ci-skip] [ci skip] [skip ci]
  frontend/src/components/Portfolios/PortfolioFunding/PortfolioFunding.jsx
  frontend/src/components/UI/Cards/LineGraphWithLegendCard/LegendItem.test.jsx
  frontend/src/components/UI/DataViz/LineGraph/LineGraph.jsx
Due: eslint

docs: update feedback.jsx
  frontend/src/pages/help/Feedback.jsx
Due: eslint

docs: updated glossary.jsx
  frontend/src/pages/help/Glossary.jsx
Due: eslint

test: fix help center unit tests
  frontend/src/pages/help/Feedback.jsx
  frontend/src/pages/help/Feedback.test.jsx
  frontend/src/pages/help/Glossary.jsx
  frontend/src/pages/help/HowToGuides.test.jsx
Due: eslint

test: fix help center e2e test
  frontend/cypress/e2e/helpCenter.cy.js
Due: eslint

style: ux improvements on data vis
  frontend/src/components/CANs/CANFundingYTD/CANFundingYTD.jsx
  frontend/src/components/CANs/CANFundingYTD/styles.module.css
  frontend/src/components/CANs/CANSummaryCards/CANSummaryCards.jsx
  frontend/src/components/CANs/CanCard/CanCard.jsx
  frontend/src/components/Portfolios/PortfolioBudgetSummary/PortfolioBudgetSummary.jsx
  frontend/src/components/Portfolios/PortfolioFunding/PortfolioFunding.jsx
  frontend/src/components/UI/Cards/BudgetCard/BigBudgetCard.jsx
  frontend/src/components/UI/Cards/BudgetCard/BudgetCard.jsx
  frontend/src/components/UI/Cards/BudgetCard/ReceivedFundingCard.jsx
  frontend/src/components/UI/Cards/DonutGraphWithLegendCard/DonutGraphWithLegendCard.jsx
  frontend/src/components/UI/Cards/LineGraphWithLegendCard/LegendItem.jsx
  frontend/src/components/UI/Cards/LineGraphWithLegendCard/LegendItem.test.jsx
  frontend/src/components/UI/Cards/LineGraphWithLegendCard/LineGraphWithLegendCard.jsx
  frontend/src/components/UI/DataViz/LineGraph/LineGraph.jsx
  frontend/src/components/UI/DataViz/LineGraph/ReverseLineGraph.jsx
  frontend/src/components/UI/DataViz/LineGraph/styles.module.scss
  frontend/src/components/UI/DataViz/ResponsiveDonutWithInnerPercent/ResponsiveDonutWithInnerPercent.jsx
  frontend/src/pages/cans/detail/CanSpending.jsx
Due: eslint

test: fix busted CAN List test
  frontend/cypress/e2e/canList.cy.js
Due: eslint

fix: update zero value formatting in portfolio detail and CAN card
  frontend/cypress/e2e/portfolioDetail.cy.js
  frontend/src/components/CANs/CanCard/CanCard.jsx
Due: eslint

refactor: improve line graph component with percent-based rendering
  frontend/cypress/e2e/portfolioDetail.cy.js
  frontend/src/components/CANs/CanCard/CanCard.jsx
  frontend/src/components/UI/DataViz/LineGraph/ReverseLineGraph.jsx
Due: eslint
