Repository HHS/OPRE-OPS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-lint, eslint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: detect-aws-credentials
        args: [--allow-missing-credentials]
      - id: detect-private-key
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: '^frontend/src/uswds/.*\.svg$'
      - id: check-json
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
  - repo: https://github.com/hadolint/hadolint
    rev: v2.10.0
    hooks:
      - id: hadolint
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.10.1
    hooks:
      - id: isort
        args: ["--profile", "black", "--filter-files"]
  - repo: local
    hooks:
      - id: nox-lint
        name: nox-lint
        entry: bash -c 'cd ./backend/ops_api && pipenv run nox -s lint'
        language: system
        types:
          - python
        pass_filenames: false
      - id: eslint
        name: eslint
        entry: bash -c 'cd ./frontend/ && bun lint'
        language: system
        types_or:
          - javascript
          - jsx
          - css
          - html
        pass_filenames: false
      - id: trufflehog
        name: TruffleHog
        description: Detect secrets in your data.
        entry: bash -c 'if command -v podman >/dev/null 2>&1; then podman run --rm -v "$(pwd):/workdir" -i trufflesecurity/trufflehog:latest git file:///workdir --since-commit HEAD --only-verified --fail; elif command -v docker >/dev/null 2>&1; then docker run --rm -v "$(pwd):/workdir" -i trufflesecurity/trufflehog:latest git file:///workdir --since-commit HEAD --only-verified --fail; else echo "Neither docker nor podman found. Please install one of them." && exit 1; fi'
        language: system
        stages: ["pre-commit", "pre-push"]
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.18.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional"]
        language_version: 22.8.0

refactor: added hyphens auto when breaking words for wrapping
  frontend/sass/uswds/styles.scss
  frontend/src/uswds/css/styles.css
  frontend/src/uswds/css/styles.css.map
Due: eslint

feat: add portfolio URL query and update Hero component to use single URL prop
  frontend/src/api/opsAPI.js
  frontend/src/components/UI/Hero/Hero.jsx
  frontend/src/components/UI/HeroDescription/HeroDescription.jsx
  frontend/src/pages/portfolios/detail/PortfolioDetail.jsx
  frontend/src/pages/researchProjects/detail/ResearchProjectDetail.jsx
Due: eslint

chore: remove DebugCode
  frontend/src/pages/portfolios/detail/PortfolioDetail.jsx
Due: eslint

fix: handle optional portfolio URL in PortfolioDetail component
  frontend/src/components/UI/HeroDescription/HeroDescription.jsx
  frontend/src/pages/portfolios/detail/PortfolioDetail.jsx
Due: eslint

refactor: update change request mutation and endpoint to use PATCH method
  backend/openapi.yml
  backend/ops_api/ops/resources/change_requests.py
  backend/ops_api/ops/views.py
  backend/ops_api/tests/ops/agreement/test_agreement_history.py
  backend/ops_api/tests/ops/workflows/test_change_requests.py
  backend/ops_api/tests_manual/ops/test_budget_line_item.py
  backend/ops_api/tests_manual/ops/test_change_requests.py
  frontend/src/api/opsAPI.js
  frontend/src/components/ChangeRequests/BudgetChangeReviewCard/BudgetChangeReviewCard.test.jsx
  frontend/src/components/ChangeRequests/ChangeRequests.hooks.js
  frontend/src/components/ChangeRequests/ChangeRequestsList/ChangeRequestList.test.jsx
  frontend/src/components/ChangeRequests/StatusChangeReviewCard/StatusChangeReviewCard.test.jsx
  frontend/src/pages/agreements/approve/ApproveAgreement.hooks.js
Due: nox-lint, eslint

fix: add missing userId query parameter to get change requests filter
  backend/openapi.yml
Due: none

feat: implement agreement change request handling and update logic
  backend/models/agreements.py
  backend/ops_api/ops/services/change_request.py
  backend/ops_api/ops/utils/agreements_helpers.py
  backend/ops_api/ops/utils/change_requests_helpers.py
Due: nox-lint

feat: fix alembic tree, add change request operations events and update enum values
  backend/alembic/versions/2025_06_23_0638-86da18a548ad_adding_change_request_create_update_.py
  backend/alembic/versions/2025_07_07_0033-cac354dc41f5_add_change_requests_ops_events.py
  backend/models/events.py
Due: nox-lint

refactor: update change request review requests to use PATCH method
  frontend/cypress/e2e/reviewChangeRequestResponse.cy.js
Due: eslint

fix: add TODO comment for marshmallow handling in team members loading
  backend/ops_api/ops/services/agreements.py
Due: nox-lint

feat: adds cypress linting
  frontend/bun.lockb
  frontend/cypress/e2e/approveChangeRequestsAtAgreementLevel.cy.js
  frontend/cypress/e2e/portfolioDetail.cy.js
  frontend/cypress/e2e/reviewChangeRequestsAtCardLevel.cy.js
  frontend/cypress/e2e/uploadDocument.cy.js
  frontend/eslint.config.js
  frontend/package.json
Due: eslint

feat: enhance change request handling with event logging and improve update logic
  backend/ops_api/ops/resources/change_requests.py
  backend/ops_api/ops/services/agreements.py
  backend/ops_api/ops/services/budget_line_items.py
  backend/ops_api/ops/services/change_request.py
  backend/ops_api/ops/utils/change_requests_helpers.py
Due: nox-lint

test: add unit tests for agreement change request handling
  backend/ops_api/tests/ops/agreement/test_agreement_change_requests.py
Due: nox-lint

Notes added by 'git notes add'
  221947619db49040ad114da2a1bff2ca41719b79
Due: none

chore: correcting logic flaw in conditional
  backend/data_tools/src/disable_users/disable_users.py
Due: nox-lint

test: enable portfolio url e2e test
  frontend/cypress/e2e/portfolioDetail.cy.js
Due: eslint

chore: resolve merge conflict
  frontend/sass/uswds/styles.scss
  frontend/src/uswds/css/styles.css
  frontend/src/uswds/css/styles.css.map
Due: eslint

feat: enhance agreement creation with additional fields and refactor service methods
  backend/models/agreements.py
  backend/ops_api/ops/resources/agreements.py
  backend/ops_api/ops/schemas/agreements.py
  backend/ops_api/ops/services/agreements.py
  backend/ops_api/ops/services/ops_service.py
  backend/ops_api/tests/ops/agreement/test_agreement.py
Due: nox-lint

test: use existing test can to reduce impact to other unittests
  backend/ops_api/tests/ops/agreement/test_agreement_change_requests.py
Due: nox-lint

test: update link assertion for portfolio url
  frontend/cypress/e2e/portfolioDetail.cy.js
Due: eslint

feat: implement AA agreement handling and update request validation
  backend/ops_api/ops/resources/agreements.py
  backend/ops_api/ops/resources/agreements_constants.py
  backend/ops_api/ops/schemas/agreements.py
  backend/ops_api/ops/services/agreements.py
  backend/ops_api/tests/ops/agreement/test_agreement.py
Due: nox-lint

fix: fixes domain comparison
  frontend/vite.config.mjs
Due: eslint

docs: adds Agreement type
  frontend/src/pages/agreements/details/AgreementDetailsEdit.jsx
Due: eslint

feat: add PortfolioHero and HeroDescription components for enhanced portfolio display
  frontend/src/components/Portfolios/PortfolioHero/HeroDescription.jsx
  frontend/src/components/Portfolios/PortfolioHero/PortfolioHero.jsx
  frontend/src/components/Portfolios/PortfolioHero/index.js
  frontend/src/components/UI/Hero/Hero.jsx
  frontend/src/pages/portfolios/detail/PortfolioDetail.jsx
  frontend/src/pages/researchProjects/detail/ResearchProjectDetail.jsx
Due: eslint

feat: adds props for disabling select
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.jsx
  frontend/src/components/Agreements/ProcurementShopSelect/ProcurementShopSelect.jsx
  frontend/src/components/Agreements/ProcurementShopSelectWithFee/ProcurementShopSelectWithFee.jsx
Due: eslint

test: remove unneeded test
  frontend/src/components/Agreements/ProcurementShopSelect/ProcurementShopSelect.test.js
Due: eslint

test: skip researchProjectDetail e2e test
  frontend/cypress/e2e/researchProjectDetail.cy.js
Due: eslint

feat: enforce validation on agreement type and awarding entity changes
  backend/ops_api/ops/resources/agreements.py
  backend/ops_api/ops/schemas/agreements.py
  backend/ops_api/ops/services/agreements.py
  backend/ops_api/tests/ops/agreement/test_agreement.py
Due: nox-lint

Notes added by 'git notes add'
  8b77f604b22ed83f63216b4eb9c85006c27128c3
Due: none

feat: refactor agreement update logic and enhance validation checks
  backend/ops_api/ops/resources/agreements.py
  backend/ops_api/ops/services/agreements.py
  backend/ops_api/tests/ops/agreement/test_agreement.py
Due: nox-lint

feat: add OBE status filtering logic
  backend/data_tools/data/agreements_and_blin_data.json5
  backend/ops_api/ops/services/budget_line_items.py
  backend/ops_api/tests/ops/budget_line_items/test_budget_line_item.py
  backend/ops_api/tests/ops/can/test_portfolio_cans.py
  backend/ops_api/tests/ops/funding_summary/test_can_funding_summary.py
  backend/ops_api/tests/ops/funding_summary/test_portfolio_funding_summary.py
Due: nox-lint

Notes added by 'git notes add'
  6143b6e2717dfd7ac75586fc7315b6ba5ff8ff69
Due: none

Notes added by 'git notes add'
  dfcf162980d7178188cef4e7c9f02099b01d2582
Due: none

feat: add userId parameter validation for change request listing
  backend/ops_api/ops/resources/change_requests.py
  backend/ops_api/tests/ops/workflows/test_change_requests.py
Due: nox-lint

refactor: update authorization check to use change request object directly
  backend/ops_api/ops/services/change_request.py
Due: nox-lint

refactor: remove unused imports in change_requests_helpers.py
  backend/ops_api/ops/utils/change_requests_helpers.py
Due: nox-lint

test: enhance agreement change request tests with user patching and notification checks
  backend/ops_api/tests/ops/agreement/test_agreement_change_requests.py
Due: nox-lint

test: add unit tests for budget line item helpers
  backend/ops_api/tests/ops/utils/test_budget_line_items_helpers.py
Due: nox-lint

refactor: only handle approve and reject status
  backend/ops_api/ops/utils/change_requests_helpers.py
Due: nox-lint

test: add unit tests for change request helpers
  backend/ops_api/tests/ops/utils/test_change_requests_helpers.py
Due: nox-lint
