Repository HHS/OPRE-OPS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-lint, eslint, prettier

nox-lint:
  name: nox-lint
  entry: bash -c 'cd ./backend/ops_api && pipenv run nox -s lint'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd ./frontend/ && bun lint'
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: bash -c 'cd ./frontend/ && bunx prettier --check --ignore-unknown'
  language: system
  pass_filenames: true

refactor: setting default values to limit and offset for cr
  backend/ops_api/ops/services/change_requests.py
Due: nox-lint

feat: set change requests to be returned in order newest to oldest
  backend/ops_api/ops/utils/change_requests_helpers.py
Due: nox-lint

fix: remove maxLength restriction from description TextArea in ProjectDetailForm
  frontend/src/components/Projects/ProjectDetailForm/ProjectDetailForm.jsx
Due: eslint, prettier

test: fix e2e test failure
  frontend/cypress/e2e/reviewAgreement.cy.js
Due: eslint, prettier

fix: consistent table row heights and pagination last page (#5727)
  frontend/src/components/BudgetLineItems/AllBudgetLinesTable/AllBLIRow.jsx
  frontend/src/components/CANs/CANBudgetLineTable/CANBudgetLineTableRow.jsx
  frontend/src/components/UI/PaginationNav/PaginationNav.jsx
  frontend/src/components/UI/PaginationNav/PaginationNav.test.jsx
  frontend/src/components/UI/Table/table.module.css
Due: eslint, prettier

Notes added by 'git notes add'
  9e63ee7dbd1847d7f20e5c00b7a0ec50ba905830
Due: none

test: fixing selected CR card after change to sort order
  frontend/cypress/e2e/procurementShopChangeRequest.cy.js
Due: eslint, prettier

fix: batch procurement tracker requests to avoid limit>50 validation error
  frontend/src/api/opsAPI.js
  frontend/src/hooks/useGetAllProcurementTrackers.js
  frontend/src/hooks/useGetAllProcurementTrackers.test.js
  frontend/src/pages/procurementDashboard/ProcurementDashboardPage.jsx
  frontend/src/pages/procurementDashboard/ProcurementDashboardPage.test.jsx
Due: eslint, prettier

fix: remove nested variable substitution in docker-compose OPS_FRONTEND_URL
  docker-compose.yml
Due: none

Notes added by 'git notes add'
  852ba26bb9061651a0d71044ee879131985652f9
Due: none

Notes added by 'git notes add'
  285fe706382d02204695eaebcf8c87ceacb2d026
Due: none

feat: grant SYSTEM_OWNER role access to procurement dashboard
  frontend/src/components/Users/User.constants.js
Due: eslint, prettier

fix: add scrollToTop() to handleDraft for consistent UX
  frontend/CLAUDE.md
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.hooks.js
Due: eslint, prettier

Notes added by 'git notes add'
  0cfb75594b12b100ac6d76c1af84c8110a11bab5
Due: none

feat: add project history panel and API (#5724)
  backend/alembic/versions/2026_05_26_1000-d4f5a6b7c8e9_add_project_history_table.py
  backend/models/__init__.py
  backend/models/project_history.py
  backend/models/utils/__init__.py
  backend/openapi.yml
  backend/ops_api/ops/__init__.py
  backend/ops_api/ops/resources/project_history.py
  backend/ops_api/ops/resources/projects.py
  backend/ops_api/ops/schemas/project_history.py
  backend/ops_api/ops/services/project_history.py
  backend/ops_api/ops/services/project_messages.py
  backend/ops_api/ops/urls.py
  backend/ops_api/ops/views.py
  backend/ops_api/tests/ops/project_history/test_project_history.py
  frontend/cypress/e2e/projectDetails.cy.js
  frontend/src/api/getProjectHistory.js
  frontend/src/api/getProjectHistory.test.js
  frontend/src/components/Projects/ProjectDetailForm/ProjectDetailForm.jsx
  frontend/src/components/Projects/ProjectHistoryPanel/ProjectHistoryPanel.jsx
  frontend/src/components/Projects/ProjectHistoryPanel/ProjectHistoryPanel.test.jsx
  frontend/src/components/Projects/ProjectHistoryPanel/index.js
  frontend/src/pages/projects/detail/ProjectDetail.test.jsx
  frontend/src/pages/projects/detail/ProjectDetailsView.jsx
  frontend/src/pages/projects/detail/ProjectDetailsView.test.jsx
  frontend/src/types/ProjectTypes.d.ts
Due: nox-lint, eslint, prettier

Notes added by 'git notes add'
  96d11d3d6cc969da146682e23eb38d7d5b63b4db
Due: none

test: remove .only from agreement meta-data test
  frontend/cypress/e2e/reviewAgreement.cy.js
Due: eslint, prettier

Notes added by 'git notes add'
  a47b792d83c3be690af74a13774201bca23e2200
Due: none

Notes added by 'git notes add'
  d89ccc8155560dbc571a6ed55c867caa1205e211
Due: none

Notes added by 'git notes add'
  c8745e35e5e90f252aac50560104aab54a52469e
Due: none

feat: update pre-award requisition approval workflow to reference HCAS
  backend/models/agreement_history.py
  backend/ops_api/ops/services/procurement_tracker_steps.py
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepFive/ProcurementTrackerStepFive.jsx
  frontend/src/pages/agreements/pre-award-approval/ReviewBudgetTeamRequisition.jsx
Due: nox-lint, eslint, prettier

fix: add requisition fields to ProcurementTrackerStep serialization for history tracking
  backend/models/procurement_tracker.py
Due: nox-lint

Notes added by 'git notes add'
  7c824cd52649346d23936b49c961044c4e506a61
Due: none

Notes added by 'git notes add'
  30ce583385c49beb4e5b3960a8a64452b0d618e0
Due: none

fix: display division directors and team leaders on review page (#5737)
  frontend/cypress/e2e/reviewAgreement.cy.js
  frontend/src/components/Agreements/AgreementMetaAccordion/AgreementMetaAccordion.jsx
  frontend/src/components/Agreements/AgreementMetaAccordion/AgreementMetaAccordion.test.jsx
  frontend/src/tests/data.js
Due: eslint, prettier

Notes added by 'git notes add'
  ae28a7224c9997a4c81a67df98dd6babefdcc956
Due: none

fix: remove obsolete pre-award approval instruction from step 5
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepFive/ProcurementTrackerStepFive.jsx
Due: eslint, prettier

test: add E2E tests for pre-award approval workflow
  frontend/cypress.config.js
  frontend/cypress/e2e/preAwardApproval.cy.js
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepFive/ProcurementTrackerStepFive.jsx
  frontend/src/components/ChangeRequests/ApprovalFlowReviewCard/ApprovalFlowReviewCard.jsx
  frontend/src/pages/agreements/pre-award-approval/ApprovePreAwardApproval.jsx
  frontend/src/pages/agreements/pre-award-approval/ApprovePreAwardApproval.test.jsx
Due: eslint, prettier

feat: adding paging related data and params to change requests endpoint
  backend/openapi.yml
  backend/ops_api/ops/resources/change_requests.py
  backend/ops_api/ops/services/change_requests.py
  backend/ops_api/ops/utils/change_requests_helpers.py
  backend/ops_api/tests/ops/utils/test_change_requests_helpers.py
  backend/ops_api/tests/ops/workflows/test_change_requests.py
  frontend/src/api/opsAPI.js
  frontend/src/components/ChangeRequests/ChangeRequestsList/ChangeRequestList.test.jsx
  frontend/src/components/ChangeRequests/ChangeRequestsList/ChangeRequestsList.jsx
  frontend/src/hooks/useChangeRequests.hooks.js
  frontend/src/hooks/useChangeRequests.hooks.test.js
  frontend/src/pages/agreements/list/AgreementsList.test.jsx
Due: nox-lint, eslint, prettier

fix: added improvements to whitespace trimming
  backend/ops_api/tests/ops/schemas/test_agreements.py
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.hooks.test.js
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.jsx
  frontend/src/components/CANs/CanCard/CanCard.jsx
  frontend/src/helpers/agreement.helpers.js
  frontend/src/helpers/agreement.helpers.test.js
Due: nox-lint, eslint, prettier

fix: nickname field displays no longer renders whitespace
  backend/ops_api/ops/schemas/agreements.py
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.hooks.test.js
Due: nox-lint, eslint, prettier

feat: add pagination to change requests in front end
  frontend/cypress.config.ci.js
  frontend/cypress.config.js
  frontend/cypress/e2e/changeRequestsPagination.cy.js
  frontend/src/components/ChangeRequests/ChangeRequestsList/ChangeRequestList.test.jsx
  frontend/src/components/ChangeRequests/ChangeRequestsList/ChangeRequestsList.jsx
Due: eslint, prettier

test: fixing final failed test
  backend/ops_api/tests/ops/services/test_change_requests.py
Due: nox-lint

test: fixing backend test that was referencing old response type
  backend/ops_api/tests/ops/agreement/test_agreement_change_requests.py
Due: nox-lint

test: fixing test which referred to onl
  frontend/cypress/e2e/approveCrossDivisionCRs.cy.js
Due: eslint, prettier

feat: moving filtering back to sql query
  backend/ops_api/ops/utils/change_requests_helpers.py
  backend/ops_api/tests/ops/utils/test_change_requests_helpers.py
Due: nox-lint

test: responding to ai pr review feedback
  backend/ops_api/ops/utils/change_requests_helpers.py
  frontend/cypress/e2e/changeRequestsPagination.cy.js
  frontend/src/hooks/useChangeRequests.hooks.js
Due: nox-lint, eslint, prettier

style: formatting fix
  frontend/cypress/e2e/agreementsPagination.cy.js
  frontend/cypress/e2e/agreementsPaginationSorting.cy.js
  frontend/cypress/e2e/approveChangeRequestsAtAgreementLevel.cy.js
  frontend/cypress/e2e/approveCrossDivisionCRs.cy.js
  frontend/cypress/e2e/helpCenter.cy.js
  frontend/cypress/e2e/projectFunding.cy.js
  frontend/cypress/e2e/reviewAgreement.cy.js
  frontend/cypress/e2e/reviewChangeRequestsAtCardLevel.cy.js
  frontend/cypress/e2e/utils.js
  frontend/cypress/support/a11yAllowlist.js
  frontend/cypress/support/commands.js
  frontend/cypress/support/e2e.js
  frontend/src/hooks/useChangeRequests.hooks.test.js
Due: eslint, prettier

Path conditions:
  nox-lint: any of: \.py$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.css$, \.(html|htm|xhtml)$
  prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|scss|html|md)$
