Repository HHS/OPRE-OPS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-lint, eslint

nox-lint:
  name: nox-lint
  entry: bash -c 'cd ./backend/ops_api && pipenv run nox -s lint'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd ./frontend/ && bun lint'
  language: system
  pass_filenames: false

test: fixed e2e test failure
  frontend/cypress/e2e/statusChangeRequest.cy.js
  frontend/src/components/UI/Alert/alertSlice.js
Due: eslint

Notes added by 'git notes add'
  92df9688bd26c77921269897aca9ec3c060dd1fc
Due: none

test: update agreement list tests for pagination and specific row interactions
  frontend/cypress/e2e/agreementList.cy.js
Due: eslint

test: add end-to-end tests for agreements pagination functionality
  frontend/cypress.config.ci.js
  frontend/cypress.config.js
  frontend/cypress/e2e/agreementsPagination.cy.js
Due: eslint

test: clean up unneeded comments
  backend/ops_api/tests/ops/agreement/test_agreement.py
Due: nox-lint

test: clean up unneeded comments
  backend/ops_api/tests/ops/services/test_agreements.py
Due: nox-lint

refactor: updates sc alerts and alert timeout
  frontend/src/components/ServicesComponents/ServicesComponents.hooks.js
  frontend/src/components/UI/Alert/Alert.jsx
Due: eslint

refactor: bli form delete to slim alert
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.hooks.js
Due: eslint

refactor: streamline agreement serialization and response handling
  backend/ops_api/ops/resources/agreements.py
  backend/ops_api/ops/schemas/agreements.py
  backend/ops_api/tests/ops/agreement/test_agreement.py
Due: nox-lint

test: update agreement deletion test to reflect correct row index
  frontend/cypress/e2e/agreementDelete.cy.js
Due: eslint

fix: enable refetch on mount or argument change for agreements query
  frontend/src/pages/agreements/list/AgreementsList.jsx
Due: eslint

test: enhance pagination tests with API call interception and wait conditions
  frontend/cypress/e2e/agreementsPagination.cy.js
Due: eslint

fix: update API interception patterns for agreements pagination tests
  frontend/cypress/e2e/agreementsPagination.cy.js
Due: eslint

test: increase timeouts for pagination tests to improve CI reliability
  frontend/cypress/e2e/agreementsPagination.cy.js
Due: eslint

test: improve pagination tests with cache busting and increased timeouts
  frontend/cypress/e2e/agreementsPagination.cy.js
Due: eslint

test: simplify pagination tests by removing cache busting and reducing timeouts
  frontend/cypress/e2e/agreementsPagination.cy.js
Due: eslint

feat: adds unsaved state changes to services component form
  frontend/src/components/ServicesComponents/ServicesComponentForm/ServicesComponentForm.jsx
  frontend/src/components/ServicesComponents/ServicesComponents.hooks.js
  frontend/src/components/ServicesComponents/ServicesComponents.jsx
Due: eslint

test: enhance pagination tests with improved loading waits and new filter/sorting scenarios
  frontend/cypress.config.ci.js
  frontend/cypress.config.js
  frontend/cypress/e2e/agreementList.cy.js
  frontend/cypress/e2e/agreementsPagination.cy.js
  frontend/cypress/e2e/agreementsPaginationExport.cy.js
  frontend/cypress/e2e/agreementsPaginationFilters.cy.js
  frontend/cypress/e2e/agreementsPaginationSorting.cy.js
Due: eslint

feat: finishing tests and implementation of BLI export from agreement
  frontend/cypress/e2e/agreementDetails.cy.js
  frontend/src/pages/agreements/details/AgreementBudgetLines.jsx
Due: eslint

test: add accessibility tests for agreements pagination
  frontend/cypress.config.ci.js
  frontend/cypress.config.js
  frontend/cypress/e2e/agreementsPaginationAccessibility.cy.js
Due: eslint

feat: adds navigation blocker context
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.hooks.js
  frontend/src/components/RouterLayout/RouterLayout.jsx
  frontend/src/components/RouterLayout/RouterLayout.test.jsx
  frontend/src/components/ServicesComponents/ServicesComponents.hooks.js
  frontend/src/components/UI/Modals/SaveChangesAndExitModal.jsx
  frontend/src/contexts/NavigationBlockerContext.jsx
  frontend/src/contexts/NavigationBlockerContext.test.jsx
  frontend/src/hooks/useNavigationBlocker.js
  frontend/src/hooks/useNavigationBlocker.test.js
  frontend/src/index.jsx
Due: eslint

fix: fixed spacig between add sc and warning
  frontend/cypress/e2e/agreementDetailsEdit.cy.js
  frontend/src/components/ServicesComponents/ServicesComponentForm/ServicesComponentForm.jsx
Due: eslint

test: mocking lazy trigger functions so unit tests pass
  frontend/src/pages/agreements/details/AgreementBudgetLines.test.jsx
Due: eslint

feat: adds required information to the agancy combobox
  frontend/src/components/Agreements/AgencySelect/AgencySelect.jsx
Due: eslint

feat: updates Agreement edit form (#4583)
  frontend/cypress/e2e/createAAAgreement.cy.js
  frontend/cypress/e2e/createAgreement.cy.js
  frontend/src/components/Agreements/AgencySelect/AgencySelect.jsx
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.jsx
  frontend/src/components/Agreements/AgreementEditor/AgreementEditFormSuite.js
  frontend/src/components/Agreements/AgreementTypeSelect.jsx
  frontend/src/components/ServicesComponents/ServicesComponents.constants.js
  frontend/src/components/UI/Cards/DefinitionListCard/DefinitionListCard.jsx
  frontend/src/components/UI/Cards/DefinitionListCard/DefinitionListCard.test.jsx
  frontend/src/components/UI/Cards/DefinitionListCard/index.js
  frontend/src/helpers/utils.js
  frontend/src/types/DefinitionListTypes.d.ts
Due: eslint

Notes added by 'git notes add'
  49924ac9e63b4590f3f0f1223793c8a4c29ebd11
Due: none

test: update alert messages and refactored hardcoded bli ids
  frontend/cypress/e2e/agreementDetailsEdit.cy.js
Due: eslint

test: added unsaved changes tests
  frontend/cypress/e2e/agreementDetailsEdit.cy.js
  frontend/cypress/e2e/saveChanges.cy.js
  frontend/src/components/Agreements/AgreementBudgetLinesHeader.jsx
  frontend/src/components/BudgetLineItems/BudgetLinesForm/BudgetLinesForm.jsx
Due: eslint

Notes added by 'git notes add'
  1c7e2217a0bc93a1de6af64c760f4620db48de3a
Due: none

test: improve keyboard accessibility for pagination controls
  frontend/cypress/e2e/agreementsPaginationAccessibility.cy.js
Due: eslint

fix: adjust query parameters for funding summary and change requests
  frontend/src/components/CANs/CANTable/CANTableRow.jsx
  frontend/src/components/ChangeRequests/ChangeRequestsList/ChangeRequestsList.jsx
Due: eslint

feat: add pagination parameters and response structure for agreements
  backend/openapi.yml
Due: none

fix: update pagination limit to use totalCount instead of a fixed value
  frontend/src/pages/agreements/list/AgreementsList.jsx
Due: eslint

refactor: reorganize agreement query functions and remove unused code
  backend/ops_api/ops/resources/agreements.py
  backend/ops_api/ops/services/agreements.py
  backend/ops_api/tests/ops/agreement/test_agreement_sort.py
Due: nox-lint

fix: handle None values for pagination filters in agreement query
  backend/ops_api/ops/services/agreements.py
Due: nox-lint

test: added editing and deleting tests with new modal
  frontend/cypress/e2e/agreementDetailsEdit.cy.js
  frontend/cypress/e2e/saveChanges.cy.js
  frontend/cypress/e2e/saveChangesToEdits.cy.js
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.hooks.js
Due: eslint

refactor: simpler implementatation
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.hooks.js
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.jsx
  frontend/src/components/RouterLayout/RouterLayout.jsx
  frontend/src/components/RouterLayout/RouterLayout.test.jsx
  frontend/src/components/ServicesComponents/ServicesComponents.hooks.js
  frontend/src/components/ServicesComponents/ServicesComponents.jsx
  frontend/src/contexts/NavigationBlockerContext.jsx
  frontend/src/contexts/NavigationBlockerContext.test.jsx
  frontend/src/hooks/useNavigationBlocker.js
  frontend/src/hooks/useSimpleNavigationBlocker.js
Due: eslint

feat: update CAN funding received handling in performance tests
  backend/ops_api/ops/services/can_funding_received.py
  performance_tests/locustfile.py
Due: nox-lint

fix: remove 'only' from test case to ensure all tests run for agreement deletion
  frontend/cypress/e2e/agreementDelete.cy.js
  frontend/cypress/e2e/agreementList.cy.js
Due: eslint

feat: add research methodology and special population models as well as seeding test data
  backend/alembic/versions/2025_11_04_1449-e1757fb7be71_adding_research_methodology_and_special_.py
  backend/data_tools/data/agreements_and_blin_data.json5
  backend/data_tools/src/import_static_data/import_data.py
  backend/models/__init__.py
  backend/models/research_methodologies.py
  backend/models/special_topics.py
Due: nox-lint

Path conditions:
  nox-lint: any of: \.py$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.css$, \.(html|htm|xhtml)$
