Repository HHS/OPRE-OPS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-lint, eslint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: detect-aws-credentials
        args: [--allow-missing-credentials]
      - id: detect-private-key
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: '^frontend/src/uswds/.*(\.svg|\.map)$'
      - id: check-json
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
  - repo: https://github.com/hadolint/hadolint
    rev: v2.14.0
    hooks:
      - id: hadolint
  - repo: https://github.com/pycqa/isort
    rev: 7.0.0
    hooks:
      - id: isort
        name: isort (ops_api)
        args: ["--settings-file", "backend/ops_api/pyproject.toml", "--filter-files"]
        files: ^backend/ops_api/
      - id: isort
        name: isort (data_tools)
        args: ["--settings-file", "backend/data_tools/pyproject.toml", "--filter-files"]
        files: ^backend/data_tools/
  - repo: local
    hooks:
      - id: nox-lint
        name: nox-lint
        entry: bash -c 'cd ./backend/ops_api && pipenv run nox -s lint'
        language: system
        types:
          - python
        pass_filenames: false
      - id: eslint
        name: eslint
        entry: bash -c 'cd ./frontend/ && bun lint'
        language: system
        types_or:
          - javascript
          - jsx
          - css
          - html
        pass_filenames: false
      - id: trufflehog
        name: TruffleHog
        description: Detect secrets in your data.
        entry: bash -c 'if command -v podman >/dev/null 2>&1; then podman run --rm -v "$(pwd):/workdir" -i trufflesecurity/trufflehog:latest git file:///workdir --since-commit HEAD --only-verified --fail; elif command -v docker >/dev/null 2>&1; then docker run --rm -v "$(pwd):/workdir" -i trufflesecurity/trufflehog:latest git file:///workdir --since-commit HEAD --only-verified --fail; else echo "Neither docker nor podman found. Please install one of them." && exit 1; fi'
        language: system
        stages: ["pre-commit", "pre-push"]
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.23.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional"]
        language_version: 22.8.0
  - repo: https://github.com/renovatebot/pre-commit-hooks
    rev: 41.165.2
    hooks:
      - id: renovate-config-validator

feat: enhance fiscal year handling in filters and UI components
  frontend/src/api/opsAPI.js
  frontend/src/components/UI/Form/FiscalYearComboBox/FiscalYearComboBox.jsx
  frontend/src/components/UI/Form/FiscalYearComboBox/FiscalYearComboBox.test.js
  frontend/src/pages/budgetLines/list/BLIFilterButton.jsx
  frontend/src/pages/budgetLines/list/BLIFilterButton.test.jsx
  frontend/src/pages/budgetLines/list/BLIFilterTags.jsx
  frontend/src/pages/budgetLines/list/BLIFilterTags.test.jsx
  frontend/src/pages/budgetLines/list/BudgetLineItemList.jsx
Due: eslint

test: add tests for agreement filter options endpoint
  backend/ops_api/tests/ops/agreement/test_agreement.py
Due: nox-lint

chore: formatting
  frontend/src/api/opsAPI.js
  frontend/src/api/opsAPI.test.js
Due: eslint

test: update e2e test
  frontend/cypress/e2e/agreementList.cy.js
  frontend/cypress/e2e/editBudgetLineByPowerUser.cy.js
Due: eslint

Notes added by 'git notes add'
  07f528b608438fd432bcaaed74248be1884dd1ec
Due: none

Notes added by 'git notes add'
  054c4818308495830a4a7da32d3217038f85e282
Due: none

test: update e2e tests
  frontend/cypress/e2e/agreementDelete.cy.js
  frontend/cypress/e2e/agreementDetailsEdit.cy.js
  frontend/src/pages/agreements/list/AgreementsList.jsx
  frontend/src/pages/agreements/list/AgreementsList.test.jsx
Due: eslint

chore: resolve AI comments
  backend/ops_api/ops/resources/agreements.py
  backend/ops_api/ops/services/agreements.py
Due: nox-lint

Notes added by 'git notes add'
  292fce800f44ae622c27d8350bacb0d6a4a0e529
Due: none

Notes added by 'git notes add'
  74cc3984f556ea425313c494f1ace7a8720aaade
Due: none

Notes added by 'git notes add'
  b7d36773d843c1a46b6dcb2e5a3730015ba2eab7
Due: none

chore: boolean is sent to procurement tracker step 1
  frontend/src/pages/agreements/details/AgreementProcurementTracker.jsx
Due: eslint

feat: enhance ComboBox to support multi-selection with Shift key handling
  frontend/src/components/UI/Form/ComboBox/ComboBox.hooks.js
  frontend/src/components/UI/Form/ComboBox/ComboBox.jsx
Due: eslint

chore: add Pyright and VSCode configuration files for Python development
  backend/ops_api/.vscode/settings.json
  backend/ops_api/pyrightconfig.json
Due: none

fix: fix HorizontalStackedBar hover effect
  frontend/src/components/UI/DataViz/HorizontalStackedBar/HorizontalStackedBar.jsx
  frontend/src/components/UI/DataViz/HorizontalStackedBar/HorizontalStackedBar.module.scss
Due: eslint

feat: Upgrade React from 18.3.1 to 19.2.4 (#4941)
  .claude/actions/README.md
  .claude/actions/monitor-ci.sh
  .claude/actions/monitor-e2e.sh
  .claude/actions/quick-ci-status.sh
  .github/actions/setup-javascript/action.yml
  CLAUDE.md
  frontend/bun.lock
  frontend/cypress.config.ci.js
  frontend/cypress/e2e/agreementDetails.cy.js
  frontend/cypress/e2e/agreementDetailsEdit.cy.js
  frontend/cypress/e2e/agreementList.cy.js
  frontend/cypress/e2e/approveChangeRequestsAtAgreementLevel.cy.js
  frontend/cypress/e2e/canDetail.cy.js
  frontend/cypress/e2e/canList.cy.js
  frontend/cypress/e2e/createAgreementWithValidations.cy.js
  frontend/cypress/e2e/declineChangeRequestsAtAgreementLevel.cy.js
  frontend/cypress/e2e/editAgreement.cy.js
  frontend/cypress/e2e/editAgreementAsBasicUser.cy.js
  frontend/cypress/e2e/portfolioList.cy.js
  frontend/cypress/e2e/procurementShopChangeRequest.cy.js
  frontend/cypress/e2e/researchProjectDetail.cy.js
  frontend/cypress/e2e/reviewAgreement.cy.js
  frontend/cypress/e2e/saveChangesToEdits.cy.js
  frontend/cypress/e2e/statusChangeRequest.cy.js
  frontend/cypress/e2e/uploadDocument.cy.js
  frontend/cypress/support/commands.js
  frontend/cypress/support/e2e.js
  frontend/package.json
  frontend/src/api/opsAPI.test.js
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.hooks.js
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.hooks.js
  frontend/src/index.jsx
  frontend/src/pages/cans/detail/CanFunding.hooks.js
  frontend/src/tests/setupTests.js
Due: eslint

Notes added by 'git notes add'
  14b4d02e90c404411e11d440711a0063fc089821
Due: none

feat: add CLAUDE.md for backend development guidelines and remove Makefile
  .cursorrules
  backend/ops_api/CLAUDE.md
  backend/ops_api/Makefile
  backend/ops_api/README.md
Due: none

fix(e2e): stabilize agreement details modal flow
  frontend/cypress.config.ci.js
  frontend/cypress.config.js
  frontend/cypress/e2e/agreementDetails.cy.js
  frontend/cypress/support/commands.js
Due: eslint

fix(e2e): remove Cypress.env usage from browser code
  frontend/cypress/e2e/auth.cy.js
  frontend/cypress/e2e/createAgreementWithValidations.cy.js
  frontend/cypress/support/e2e.js
Due: eslint

fix(e2e): stabilize save changes modal escape handling
  frontend/cypress/e2e/saveChangesToEdits.cy.js
Due: eslint

feat: update default filter strings to empty
  frontend/src/components/CANs/CANActivePeriodComboBox/CANActivePeriodComboBox.jsx
  frontend/src/pages/budgetLines/list/BLIFilterButton.jsx
Due: eslint

feat: enhance fiscal year filtering logic and add support for 'All Fiscal Years' option
  frontend/src/components/UI/FiscalYear/FiscalYear.jsx
  frontend/src/components/UI/Form/FiscalYearComboBox/FiscalYearComboBox.jsx
  frontend/src/pages/budgetLines/list/BLIFilterButton.jsx
  frontend/src/pages/budgetLines/list/BLIFilterButton.test.jsx
  frontend/src/pages/budgetLines/list/BLIFilterTags.jsx
  frontend/src/pages/budgetLines/list/BLIFilterTags.test.jsx
  frontend/src/pages/budgetLines/list/BudgetLineItemList.jsx
  frontend/src/pages/budgetLines/list/BudgetLineItemList.test.jsx
Due: eslint

feat: update BLIFilterTags to render 'All FYs' tag 'All Fiscal Years' is selected
  frontend/src/pages/budgetLines/list/BLIFilterTags.jsx
  frontend/src/pages/budgetLines/list/BLIFilterTags.test.jsx
Due: eslint

feat: refactor fiscal year handling in BudgetLineItemList and BLIFilterButton components
  frontend/src/pages/budgetLines/list/BLIFilterButton.jsx
  frontend/src/pages/budgetLines/list/BudgetLineItemList.jsx
Due: eslint

feat: fix bugs
  frontend/src/components/UI/Form/FiscalYearComboBox/FiscalYearComboBox.test.js
  frontend/src/pages/budgetLines/list/BLIFilterButton.jsx
  frontend/src/pages/budgetLines/list/BLIFilterButton.test.jsx
  frontend/src/pages/budgetLines/list/BudgetLineItemList.jsx
  frontend/src/pages/budgetLines/list/BudgetLineItemList.test.jsx
Due: eslint

feat: fix e2e spec and lint
  frontend/cypress/e2e/budgetLineItemsList.cy.js
  frontend/src/pages/budgetLines/list/BLIFilterButton.jsx
Due: eslint

fix: adress pr suggestions
  frontend/src/components/UI/Form/FiscalYearComboBox/FiscalYearComboBox.jsx
  frontend/src/pages/agreements/list/AgreementsFilterButton/AgreementsFilterButton.jsx
  frontend/src/pages/budgetLines/list/BLIFilterTags.test.jsx
  frontend/src/pages/budgetLines/list/BudgetLineItemList.jsx
Due: eslint

feat: update fiscal year selection logic to handle single year filters
  frontend/src/components/UI/Form/FiscalYearComboBox/FiscalYearComboBox.jsx
  frontend/src/pages/budgetLines/list/BudgetLineItemList.jsx
Due: eslint

fix: stabilize frontend tests and e2e flows
  frontend/cypress/e2e/approveCrossDivisionCRs.cy.js
  frontend/cypress/e2e/notificationCenter.cy.js
  frontend/cypress/e2e/reviewChangeRequestsAtCardLevel.cy.js
  frontend/cypress/e2e/saveChangesToEdits.cy.js
  frontend/cypress/support/e2e.js
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepOne/ProcurementTrackerStepOne.test.jsx
  frontend/src/components/CANs/CANBudgetByFYCard/CANBudgetByFYCard.helpers.test.js
  frontend/src/pages/agreements/details/AgreementProcurementTracker.test.jsx
  frontend/src/pages/budgetLines/list/BudgetLineItemList.test.jsx
  frontend/src/pages/home/release-notes/ReleaseNotes.test.jsx
Due: eslint

chore: keep accordion branch scoped to UI changes
  .pre-commit-config.yaml
  frontend/cypress.config.ci.js
  frontend/cypress.config.js
  frontend/cypress/e2e/agreementDetails.cy.js
  frontend/cypress/e2e/approveCrossDivisionCRs.cy.js
  frontend/cypress/e2e/auth.cy.js
  frontend/cypress/e2e/createAgreementWithValidations.cy.js
  frontend/cypress/e2e/notificationCenter.cy.js
  frontend/cypress/e2e/procurementTracker.cy.js
  frontend/cypress/e2e/reviewChangeRequestsAtCardLevel.cy.js
  frontend/cypress/e2e/saveChangesToEdits.cy.js
  frontend/cypress/support/commands.js
  frontend/cypress/support/e2e.js
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepOne/ProcurementTrackerStepOne.test.jsx
  frontend/src/components/CANs/CANBudgetByFYCard/CANBudgetByFYCard.helpers.test.js
  frontend/src/pages/budgetLines/list/BudgetLineItemList.test.jsx
  frontend/src/pages/home/release-notes/ReleaseNotes.test.jsx
Due: eslint

feat: fix failing spec and increase stability
  frontend/cypress/e2e/agreementList.cy.js
Due: eslint

fix: lint fix
  frontend/src/api/opsAPI.js
  frontend/src/pages/budgetLines/list/BLIFilterButton.test.jsx
Due: eslint

test(e2e): scope notification bell icon assertions
  frontend/cypress/e2e/notificationCenter.cy.js
Due: eslint

fix(e2e): address PR feedback on modal and axe helpers
  frontend/cypress/support/commands.js
  frontend/cypress/support/e2e.js
Due: eslint

test: add unit test coverage
  frontend/src/components/UI/DataViz/HorizontalStackedBar/HorizontalStackedBar.jsx
  frontend/src/components/UI/DataViz/HorizontalStackedBar/HorizontalStackedBar.test.jsx
Due: eslint
