Repository HHS/OPRE-OPS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-lint, eslint, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: detect-aws-credentials
        args: [--allow-missing-credentials]
      - id: detect-private-key
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: '^frontend/src/uswds/.*(\.svg|\.map)$'
      - id: check-json
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
  - repo: https://github.com/hadolint/hadolint
    rev: v2.14.0
    hooks:
      - id: hadolint
  - repo: https://github.com/pycqa/isort
    rev: 7.0.0
    hooks:
      - id: isort
        name: isort (ops_api)
        args: ["--settings-file", "backend/ops_api/pyproject.toml", "--filter-files"]
        files: ^backend/ops_api/
      - id: isort
        name: isort (data_tools)
        args: ["--settings-file", "backend/data_tools/pyproject.toml", "--filter-files"]
        files: ^backend/data_tools/
  - repo: local
    hooks:
      - id: nox-lint
        name: nox-lint
        entry: bash -c 'cd ./backend/ops_api && pipenv run nox -s lint'
        language: system
        types:
          - python
        pass_filenames: false
      - id: eslint
        name: eslint
        entry: bash -c 'cd ./frontend/ && bun lint'
        language: system
        types_or:
          - javascript
          - jsx
          - css
          - html
        pass_filenames: false
      - id: prettier
        name: prettier
        entry: bash -c 'cd ./frontend/ && bunx prettier --check --ignore-unknown'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json|css|scss|html|md)$
        pass_filenames: true
      - id: trufflehog
        name: TruffleHog
        description: Detect secrets in your data.
        entry: bash -c 'if command -v podman >/dev/null 2>&1; then podman run --rm -v "$(pwd):/workdir" -i trufflesecurity/trufflehog:latest git file:///workdir --since-commit HEAD --only-verified --fail; elif command -v docker >/dev/null 2>&1; then docker run --rm -v "$(pwd):/workdir" -i trufflesecurity/trufflehog:latest git file:///workdir --since-commit HEAD --only-verified --fail; else echo "Neither docker nor podman found. Please install one of them." && exit 1; fi'
        language: system
        stages: ["pre-commit", "pre-push"]
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.24.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional"]
        language_version: 22.8.0
  - repo: https://github.com/renovatebot/pre-commit-hooks
    rev: 43.15.0
    hooks:
      - id: renovate-config-validator

chore: formatting
  frontend/src/components/CANs/CANFYBudgetRangeSlider/CANFYBudgetRangeSlider.jsx
  frontend/src/pages/portfolios/list/PortfolioFilterButton/PortfolioFilterButton.jsx
Due: eslint, prettier

test: fix e2e test failure
  frontend/cypress/e2e/canList.cy.js
Due: eslint, prettier

feat: add procurement tracker step 3 frontend with task completed by field (#5144)
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepThree/ProcurementTrackerStepThree.hooks.js
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepThree/ProcurementTrackerStepThree.jsx
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepThree/ProcurementTrackerStepThree.test.jsx
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepThree/index.js
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepThree/suite.js
  frontend/src/pages/agreements/details/AgreementProcurementTracker.jsx
  frontend/src/types/ProcurementTrackerTypes.d.ts
Due: eslint, prettier

Revert "feat: add procurement tracker step 3 frontend with task completed by field (#5144)"
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepThree/ProcurementTrackerStepThree.hooks.js
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepThree/ProcurementTrackerStepThree.jsx
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepThree/ProcurementTrackerStepThree.test.jsx
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepThree/index.js
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepThree/suite.js
  frontend/src/pages/agreements/details/AgreementProcurementTracker.jsx
  frontend/src/types/ProcurementTrackerTypes.d.ts
Due: eslint, prettier

refactor: responding to copilot review refactor comments
  .vscode/settings.json
  backend/ops_api/ops/schemas/procurement_tracker_steps.py
  backend/ops_api/ops/validation/procurement_tracker_steps_validator.py
Due: nox-lint

Notes added by 'git notes add'
  c16fd7a09113e29f2de7aa804a511483d96a463a
Due: none

feat: add procurement tracker step 3 frontend with task completed by field (#5144)
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepThree/ProcurementTrackerStepThree.hooks.js
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepThree/ProcurementTrackerStepThree.jsx
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepThree/ProcurementTrackerStepThree.test.jsx
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepThree/suite.js
  frontend/src/pages/agreements/details/AgreementProcurementTracker.jsx
  frontend/src/types/ProcurementTrackerTypes.d.ts
Due: eslint, prettier

chore: updates from merge
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepThree/ProcurementTrackerStepThree.jsx
Due: eslint, prettier

feat: adds validation start and end dates for solicitation
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepThree/ProcurementTrackerStepThree.hooks.js
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepThree/ProcurementTrackerStepThree.jsx
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepThree/ProcurementTrackerStepThree.test.jsx
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepThree/suite.js
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepThree/suite.test.js
Due: eslint, prettier

chore: removes unneeded wrapper
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepThree/ProcurementTrackerStepThree.jsx
  frontend/src/components/Agreements/ProcurementTracker/ProcurementTrackerStepThree/ProcurementTrackerStepThree.test.jsx
Due: eslint, prettier

chore: run formatter
  frontend/src/pages/agreements/details/AgreementProcurementTracker.jsx
Due: eslint, prettier

fix: prevent screenshot artifact name collision in E2E tests
  .github/workflows/e2e_test_reusable.yml
Due: none

refactor: remove dead code from flaky test detection script
  .github/scripts/detect-flaky-tests.sh
Due: none

fix: future-proof retry attempt regex to handle 10+ retries
  .github/scripts/detect-flaky-tests.sh
Due: none

fix: preserve Cypress exit code when using tee for logging
  .github/workflows/e2e_test_reusable.yml
Due: none

feat: enhance agreement editability checks and update related tests
  backend/ops_api/.vscode/settings.json
  backend/ops_api/ops/resources/agreements.py
  backend/ops_api/ops/services/agreements.py
  frontend/src/components/Agreements/AgreementsTable/AgreementTableRow.jsx
  frontend/src/components/Agreements/AgreementsTable/AgreementTableRow.test.js
Due: nox-lint, eslint, prettier

fix: handle case where no Cypress log files are found
  .github/scripts/aggregate-flaky-tests.sh
Due: none

refactor: format renderComponent calls for better readability in AgreementTableRow tests
  frontend/src/components/Agreements/AgreementsTable/AgreementTableRow.test.js
Due: eslint, prettier

docs: use bun instead of npm for consistency
  .github/scripts/README.md
Due: none

refactor: make test result tracking order-independent
  .github/scripts/detect-flaky-tests.sh
Due: none

style: fix markdownlint warnings in scripts README
  .github/scripts/README.md
Due: none

docs: use generic branch name placeholder in testing guide
  .github/scripts/TESTING-FLAKY-DETECTION.md
Due: none

style: fix markdownlint warnings in testing guide
  .github/scripts/TESTING-FLAKY-DETECTION.md
Due: none

fix: handle missing artifacts in aggregate job gracefully
  .github/workflows/e2e_test_reusable.yml
Due: none

fix: ensure cypress-outputs directory exists before aggregation
  .github/workflows/e2e_test_reusable.yml
Due: none

docs(accessibility): add frontend audit baseline and issue draft
  docs/accessibility/audit-baseline-2026-02-25.md
  docs/accessibility/github-issue-accessibility-audit.md
Due: none

fix: update required fields validation for budget line item status changes
  backend/ops_api/ops/services/budget_line_items.py
  backend/ops_api/tests/ops/budget_line_items/test_budget_line_item_power_user.py
Due: nox-lint

feat: add Solicitation step agreement history
  backend/data_tools/data/ops_event.json5
  backend/models/agreement_history.py
  backend/ops_api/tests/ops/agreement/test_agreement_history.py
Due: nox-lint

docs(accessibility): correct baseline metrics and paths
  docs/accessibility/audit-baseline-2026-02-25.md
Due: none

test(a11y): add phased regression gate and suppression governance
  .github/pull_request_template.md
  .github/workflows/ci.yml
  frontend/cypress/e2e/budgetLineItemsList.cy.js
  frontend/cypress/e2e/createAgreementWithValidations.cy.js
  frontend/cypress/e2e/portfolioDetail.cy.js
  frontend/cypress/e2e/saveChangesToEdits.cy.js
  frontend/cypress/e2e/utils.js
  frontend/cypress/support/a11yAllowlist.js
  frontend/cypress/support/commands.js
  frontend/cypress/support/e2e.js
  frontend/package.json
  frontend/scripts/a11y/validate-suppressions.mjs
Due: eslint, prettier

chore(a11y): keep implementation PR scoped to code changes
  docs/accessibility/audit-baseline-2026-02-25.md
  docs/accessibility/github-issue-accessibility-audit.md
Due: none

fix: escape apostrophe in flaky test detection script comment
  .github/scripts/detect-flaky-tests.sh
Due: none

fix(a11y): enforce allowlist-aware regression gate behavior
  frontend/cypress/support/a11yAllowlist.js
  frontend/cypress/support/commands.js
Due: eslint, prettier

fix(a11y): keep legacy e2e suppression outside regression gate
  frontend/cypress/support/e2e.js
Due: eslint, prettier

fix(a11y): use config env for regression gate flag
  .github/workflows/ci.yml
  frontend/cypress/support/commands.js
  frontend/cypress/support/e2e.js
Due: eslint, prettier

feat: add query parameter to include inactive CANs in results
  backend/openapi.yml
Due: none

fix(a11y): drive regression gate via Cypress config flag
  .github/workflows/ci.yml
  frontend/cypress/support/commands.js
  frontend/cypress/support/e2e.js
Due: eslint, prettier

fix(ci): pass a11y gate flag via Cypress env
  .github/workflows/ci.yml
Due: none

OPS-5119/update agreement table (#5123)
  backend/models/agreements.py
  backend/models/services_components.py
  backend/ops_api/ops/resources/agreements.py
  backend/ops_api/ops/schemas/agreements.py
  backend/ops_api/ops/services/agreements.py
  backend/ops_api/tests/ops/agreement/test_agreement_aggregates.py
  backend/ops_api/tests/ops/agreement/test_agreement_sc_dates.py
  backend/ops_api/tests/ops/agreement/test_agreement_sort.py
  frontend/cypress/e2e/agreementDelete.cy.js
  frontend/cypress/e2e/agreementList.cy.js
  frontend/src/api/opsAPI.js
  frontend/src/components/Agreements/AgreementsTable/AgreementTableRow.jsx
  frontend/src/components/Agreements/AgreementsTable/AgreementTableRow.test.js
  frontend/src/components/Agreements/AgreementsTable/AgreementsTable.constants.js
  frontend/src/components/Agreements/AgreementsTable/AgreementsTable.helpers.js
  frontend/src/components/Agreements/AgreementsTable/AgreementsTable.helpers.test.js
  frontend/src/components/Agreements/AgreementsTable/AgreementsTable.jsx
  frontend/src/components/Agreements/AgreementsTable/AgreementsTable.test.js
  frontend/src/components/UI/Table/Table.jsx
  frontend/src/helpers/utils.js
  frontend/src/pages/agreements/list/AgreementsList.jsx
  frontend/src/pages/agreements/list/AgreementsList.test.jsx
  frontend/src/types/AgreementTypes.d.ts
Due: nox-lint, eslint, prettier

fix(a11y): enforce allowlist mode for onboarded specs
  .github/workflows/ci.yml
  frontend/cypress.config.ci.js
  frontend/cypress/support/commands.js
Due: eslint, prettier
