Repository HHS/OPRE-OPS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-lint, eslint, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: detect-aws-credentials
        args: [--allow-missing-credentials]
      - id: detect-private-key
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: '^frontend/src/uswds/.*(\.svg|\.map)$'
      - id: check-json
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
  - repo: https://github.com/hadolint/hadolint
    rev: v2.14.0
    hooks:
      - id: hadolint
  - repo: https://github.com/pycqa/isort
    rev: 7.0.0
    hooks:
      - id: isort
        name: isort (ops_api)
        args: ["--settings-file", "backend/ops_api/pyproject.toml", "--filter-files"]
        files: ^backend/ops_api/
      - id: isort
        name: isort (data_tools)
        args: ["--settings-file", "backend/data_tools/pyproject.toml", "--filter-files"]
        files: ^backend/data_tools/
  - repo: local
    hooks:
      - id: nox-lint
        name: nox-lint
        entry: bash -c 'cd ./backend/ops_api && pipenv run nox -s lint'
        language: system
        types:
          - python
        pass_filenames: false
      - id: eslint
        name: eslint
        entry: bash -c 'cd ./frontend/ && bun lint'
        language: system
        types_or:
          - javascript
          - jsx
          - css
          - html
        pass_filenames: false
      - id: prettier
        name: prettier
        entry: bash -c 'cd ./frontend/ && bunx prettier --check --ignore-unknown'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json|css|scss|html|md)$
        pass_filenames: true
      - id: trufflehog
        name: TruffleHog
        description: Detect secrets in your data.
        entry: bash -c 'if command -v podman >/dev/null 2>&1; then podman run --rm -v "$(pwd):/workdir" -i trufflesecurity/trufflehog:latest git file:///workdir --since-commit HEAD --only-verified --fail; elif command -v docker >/dev/null 2>&1; then docker run --rm -v "$(pwd):/workdir" -i trufflesecurity/trufflehog:latest git file:///workdir --since-commit HEAD --only-verified --fail; else echo "Neither docker nor podman found. Please install one of them." && exit 1; fi'
        language: system
        stages: ["pre-commit", "pre-push"]
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.24.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional"]
        language_version: 22.8.0
  - repo: https://github.com/renovatebot/pre-commit-hooks
    rev: 43.15.0
    hooks:
      - id: renovate-config-validator

Notes added by 'git notes add'
  aa03e573ac276433618670e59f4c2db38b5280b4
Due: none

fix: share one tag-color mapping to stop Currently Developing color drift
  frontend/src/pages/home/CurrentlyDevelopingCard.jsx
  frontend/src/pages/home/ops-at-a-glance/RoadmapStatusCard.jsx
  frontend/src/pages/home/roadmapStatus.constants.js
Due: eslint, prettier

fix: deny Figma plugin write tools alongside project server
  .claude/settings.json
Due: none

fix: address prompt-injection, a11y wording, and trigger-coverage review feedback
  .claude/skills/visual-check/SKILL.md
Due: none

fix: pre-approve read-only Playwright tools to reduce prompt fatigue
  .claude/settings.json
Due: none

fix: make Tabs scroll-to-top opt-in and poll scroll position via rAF
  frontend/src/components/UI/Tabs/Tabs.jsx
  frontend/src/components/UI/Tabs/Tabs.test.jsx
  frontend/src/pages/home/HomeLanding.jsx
Due: eslint, prettier

fix: export missing useLazyGetBudgetLineItemsBatchQuery hook
  frontend/src/api/opsAPI.js
Due: eslint, prettier

fix: nest release accordions under h3, drop dead non-accordion branch
  frontend/src/pages/home/release-notes/ReleaseNotesList.jsx
  frontend/src/pages/home/release-notes/ReleaseNotesList.test.jsx
  frontend/src/pages/home/whats-new/WhatsNewContent.jsx
  frontend/src/pages/home/whats-new/WhatsNewContent.test.jsx
Due: eslint, prettier

refactor: remove dead headingLevel fallback from ReleaseNotesCards
  frontend/src/pages/home/release-notes/ReleaseNotesCards.jsx
  frontend/src/pages/home/release-notes/ReleaseNotesCards.test.jsx
  frontend/src/pages/home/release-notes/ReleaseNotesSummaryCard.jsx
Due: eslint, prettier

docs: fix comments referencing deleted legacy homepage and data files
  .claude/stories/6331-homepage-data-wiring.md
  frontend/src/pages/home/BenefitsCardsGrid.jsx
  frontend/src/pages/home/ops-at-a-glance/OpsAtAGlanceContent.jsx
Due: eslint, prettier

refactor: removing unused export
  frontend/src/api/opsAPI.js
Due: eslint, prettier

docs: restore tests/conftest.py pointer in data_tools CLAUDE.md
  backend/data_tools/CLAUDE.md
Due: none

style: run prettier on previous commit's changes
  frontend/src/pages/home/release-notes/ReleaseNotesCards.jsx
  frontend/src/pages/home/whats-new/WhatsNewContent.test.jsx
Due: eslint, prettier

Notes added by 'git notes add'
  b6e1fd805f2bf3e005ff745a65fbc7493114086b
Due: none

perf: eliminate per-row N+1 queries in budget-line-items batch endpoint
  backend/ops_api/ops/resources/budget_line_items.py
Due: nox-lint

fix: restrict budget-line-items-batch route to POST only
  backend/ops_api/ops/error_handlers.py
  backend/ops_api/ops/urls.py
  backend/ops_api/tests/ops/budget_line_items/test_budget_line_items_batch.py
Due: nox-lint

Notes added by 'git notes add'
  779cc4541ba1691eac50584b6204a00ef5e2f770
Due: none

fix: prevent stale budget-line fetch from clobbering newer fiscal year data
  frontend/src/components/Portfolios/PortfolioSpending/PortfolioSpending.jsx
  frontend/src/components/Portfolios/PortfolioSpending/PortfolioSpending.test.jsx
Due: eslint, prettier

docs: correct get_batch docstring on eager-load coverage
  backend/ops_api/ops/services/budget_line_items.py
Due: nox-lint

perf: eager-load clin and grant_number to eliminate per-row lazy loads
  backend/ops_api/ops/services/budget_line_items.py
  backend/ops_api/tests/ops/budget_line_items/test_budget_line_items_batch.py
Due: nox-lint

fix: small default fallback in case historical planned_mod is encountered in backend
  backend/models/budget_line_items.py
Due: nox-lint

fix: count distinct agreement detail views in usage metrics report
  backend/data_tools/src/usage_metrics/utils.py
  backend/data_tools/tests/usage_metrics/test_utils.py
Due: nox-lint

fix: show CAN funding edit button only for budget team members
  frontend/src/pages/cans/detail/CanDetail.test.jsx
  frontend/src/pages/cans/detail/CanFunding.jsx
  frontend/src/pages/cans/detail/CanFunding.test.jsx
Due: eslint, prettier

docs: update usage metrics runbook with staging rollout and safe test-fire steps
  backend/data_tools/CLAUDE.md
  backend/data_tools/scripts/azure/USAGE_METRICS_JOB.md
Due: none

Notes added by 'git notes add'
  45902ba76e7346538c6047d8defe16d68596b095
Due: none

fix: keep React from stripping USWDS class off the date picker input
  frontend/src/components/UI/USWDS/DatePicker/DatePicker.jsx
  frontend/src/components/UI/USWDS/DatePicker/DatePicker.test.jsx
Due: eslint, prettier

chore: bump @uswds/uswds to 3.14.0
  frontend/bun.lock
  frontend/package.json
Due: prettier

feat: email inactivity warnings 7 days before automatic user disable
  backend/data_tools/CLAUDE.md
  backend/data_tools/environment/azure.py
  backend/data_tools/environment/dev.py
  backend/data_tools/environment/local.py
  backend/data_tools/environment/pytest.py
  backend/data_tools/environment/pytest_data_tools.py
  backend/data_tools/environment/types.py
  backend/data_tools/src/disable_users/disable_users.py
  backend/data_tools/src/disable_users/email_content.py
  backend/data_tools/src/disable_users/email_sender.py
  backend/data_tools/tests/disable_users/test_disable_users.py
  backend/data_tools/tests/disable_users/test_email_content.py
  backend/data_tools/tests/disable_users/test_email_sender.py
  backend/data_tools/tests/environment/__init__.py
  backend/data_tools/tests/environment/test_azure.py
Due: nox-lint

docs: sweep spelling variants and data at rest; add optional PR decisions section
  .claude/skills/create-pr/SKILL.md
  .claude/skills/dead-code-after-removal-sweep/SKILL.md
Due: none

chore: document forced UTC and rerun resend for warning hour, log warning count
  backend/data_tools/src/disable_users/disable_users.py
Due: nox-lint

docs: correct lockfile pathspec in dead-code sweep skill
  .claude/skills/dead-code-after-removal-sweep/SKILL.md
Due: none

Notes added by 'git notes add'
  c623c18e3b567bd3de36fc315b8fdeccbd0669fb
Due: none

Notes added by 'git notes add'
  b265eab10ec2dd49f25beabda9b208aab4cf7e1b
Due: none

feat: formalize usage metrics email and add sprint date range
  backend/data_tools/src/usage_metrics/email_delivery.py
  backend/data_tools/src/usage_metrics/utils.py
  backend/data_tools/tests/usage_metrics/test_email_delivery.py
  backend/data_tools/tests/usage_metrics/test_utils.py
Due: nox-lint

refactor: removing dead code
  frontend/src/components/Portfolios/PortfolioSpending/PortfolioSpending.jsx
Due: eslint, prettier

refactor: use lodash chunk instead of hand-rolled helper
  frontend/src/components/Portfolios/PortfolioSpending/PortfolioSpending.jsx
  frontend/src/helpers/utils.js
Due: eslint, prettier

feat: update login page and app shell styling per Figma redesign
  .claude/stories/6327-login-footer-styling.md
  frontend/sass/uswds/_uswds-theme-custom-styles.scss
  frontend/src/components/Auth/MultiAuthSection.jsx
  frontend/src/components/Layouts/DefaultLayout/DefaultLayout.jsx
  frontend/src/components/UI/Footer/AgencyInfo.jsx
  frontend/src/components/UI/Footer/Footer.jsx
  frontend/src/components/UI/Footer/Footer.stories.jsx
  frontend/src/components/UI/Header/Header.jsx
  frontend/src/pages/Login.jsx
  frontend/src/pages/Login.test.jsx
  frontend/src/uswds/css/styles.css
Due: eslint, prettier

fix: add missing divider line below Login header per Figma
  .claude/stories/6327-login-footer-styling.md
  frontend/src/pages/Login.jsx
Due: eslint, prettier

docs: clarify SCSS specificity risk and story doc accuracy
  .claude/stories/6327-login-footer-styling.md
  frontend/sass/uswds/_uswds-theme-custom-styles.scss
Due: prettier

test: guard batch BLI endpoint against per-row query regression
  backend/ops_api/tests/ops/budget_line_items/test_budget_line_items_batch.py
Due: nox-lint
