Repository HHS/OPRE-OPS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-lint, eslint, prettier

nox-lint:
  name: nox-lint
  entry: bash -c 'cd ./backend/ops_api && pipenv run nox -s lint'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd ./frontend/ && bun lint'
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: bash -c 'cd ./frontend/ && bunx prettier --check --ignore-unknown'
  language: system
  pass_filenames: true

Notes added by 'git notes add'
  bdc136512e9876b99782d844995fad6313bce45c
Due: none

fix: fixing text issue
  frontend/src/components/Agreements/DetailsTabs/DetailsTabs.jsx
Due: eslint, prettier

fix: fixed styling and navigation issues
  frontend/src/components/Agreements/AgreementBudgetLinesHeader.jsx
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.hooks.js
  frontend/src/components/GrantNumbers/GrantNumberForm/GrantNumberForm.jsx
  frontend/src/components/ServicesComponents/ServicesComponentForm/ServicesComponentForm.jsx
Due: eslint, prettier

style(agreements): align EditAwardApproval to Figma spec
  frontend/src/components/Agreements/AwardRequestForm/AwardRequestForm.jsx
  frontend/src/pages/agreements/award-approval/EditAwardApproval.jsx
Due: eslint, prettier

Notes added by 'git notes add'
  3d3e16da4fb6f8cd634169e1506d0d24b30925bf
Due: none

chore: replace abandoned exceljs dep with maintained @e965/xlsx
  frontend/bun.lock
  frontend/package.json
  frontend/src/helpers/tableExport.helpers.js
  frontend/src/helpers/tableExport.helpers.test.js
Due: eslint, prettier

fix: budget-lines redirect and blocker.nextLocation pathname in CreateBLIsAndSCs
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.hooks.js
Due: eslint, prettier

fix: wrap grant number description dt/dd in dl for a11y compliance
  frontend/src/components/GrantNumbers/GrantNumberMetadata/GrantNumberMetadata.jsx
Due: eslint, prettier

fix: fixing blocker.nextlocation issue
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.hooks.js
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.hooks.test.js
Due: eslint, prettier

test: add tab label test for grant agreements and update redirect
  frontend/src/components/Agreements/DetailsTabs/DetailsTabs.test.js
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.hooks.js
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.hooks.test.js
Due: eslint, prettier

fix: replacing repeated calls to same hardcoded URL with a variable
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.hooks.js
Due: eslint, prettier

fix(data): add description to agreement 13 to pass BLI status-change validation
  backend/data_tools/data/agreements_and_blin_data.json5
Due: none

fix: details tabs to hide specific tabs for grants and styling fix
  frontend/src/components/Agreements/DetailsTabs/DetailsTabs.jsx
  frontend/src/components/Agreements/DetailsTabs/DetailsTabs.test.js
  frontend/src/pages/agreements/details/AgreementDetailsView.jsx
Due: eslint, prettier

fix: more code review responses
  frontend/src/components/Agreements/AgreementDetailHeader.jsx
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.hooks.test.js
  frontend/src/components/GrantNumbers/GrantNumberForm/GrantNumberForm.jsx
  frontend/src/components/ServicesComponents/ServicesComponentForm/ServicesComponentForm.jsx
  frontend/src/components/UI/EditingIndicator/EditingIndicator.jsx
  frontend/src/components/UI/EditingIndicator/index.js
  frontend/src/components/UI/Form/FormHeader/FormHeader.jsx
  frontend/src/components/UI/Form/FormHeader/FormHeader.test.jsx
Due: eslint, prettier

style: linting fix
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.hooks.js
Due: eslint, prettier

fix(documents): skip documents query until storage integration is live
  frontend/src/pages/agreements/pre-award-approval/usePreAwardApprovalData.js
Due: eslint, prettier

fix: fixing new editingindicator to fix test failure
  frontend/src/components/UI/EditingIndicator/EditingIndicator.jsx
Due: eslint, prettier

fix(agreements): role gate, CLIN seeding race, flushSync, suite reset on EditAwardApproval
  frontend/src/pages/agreements/award-approval/EditAwardApproval.hooks.js
  frontend/src/pages/agreements/award-approval/EditAwardApproval.jsx
Due: eslint, prettier

feat: show CLIN column on awarded contract budget lines and export
  .claude/stories/6138-clin-column-awarded-agreements.md
  frontend/src/components/BudgetLineItems/BLIReviewTable/BLIReviewRow.jsx
  frontend/src/components/BudgetLineItems/BLIReviewTable/BLIReviewRow.test.jsx
  frontend/src/components/BudgetLineItems/BLIReviewTable/BLIReviewTable.jsx
  frontend/src/components/BudgetLineItems/BudgetLinesTable/BLIRow.jsx
  frontend/src/components/BudgetLineItems/BudgetLinesTable/BLIRow.test.jsx
  frontend/src/components/BudgetLineItems/BudgetLinesTable/BudgetLinesTable.constants.js
  frontend/src/components/BudgetLineItems/BudgetLinesTable/BudgetLinesTable.jsx
  frontend/src/components/BudgetLineItems/BudgetLinesTable/BudgetLinesTable.test.js
  frontend/src/helpers/budgetLines.helpers.js
  frontend/src/helpers/budgetLines.helpers.test.js
  frontend/src/pages/agreements/details/AgreementBudgetLines.jsx
  frontend/src/pages/agreements/details/AgreementBudgetLines.test.jsx
  frontend/src/pages/agreements/review/ReviewAgreement.jsx
  frontend/src/pages/agreements/review/ReviewAgreement.test.jsx
Due: eslint, prettier

Notes added by 'git notes add'
  5c079fe1d70254388e7fbc3b583d9b22dda023c7
Due: none

fix: fixing sort and header issue
  frontend/src/components/BudgetLineItems/BudgetLinesTable/BLIRow.jsx
  frontend/src/components/UI/Table/Table.jsx
  frontend/src/components/UI/Table/Table.test.jsx
  frontend/src/helpers/budgetLines.helpers.js
Due: eslint, prettier

docs: updated release notes sprint 106
  frontend/src/pages/home/release-notes/data.js
Due: eslint, prettier

fix(tests): update assertions to reflect agreement 13 seed data changes
  backend/ops_api/tests/ops/funding_summary/test_portfolio_funding_summary.py
  backend/ops_api/tests/ops/procurement_tracker/test_procurement_tracker_api.py
  frontend/cypress/e2e/agreementList.cy.js
Due: nox-lint, eslint, prettier

fix(data): move agreement 13 BLIs to CAN 507 to avoid portfolio 2 test collisions
  backend/data_tools/data/agreements_and_blin_data.json5
  backend/ops_api/ops/services/budget_line_items.py
  backend/ops_api/tests/ops/funding_summary/test_portfolio_funding_summary.py
Due: nox-lint

fix(data): keep step 5 ACTIVE to avoid breaking procurement tracker E2E tests
  backend/data_tools/data/agreements_and_blin_data.json5
Due: none

refactor: consolidate CLIN review-row props and tidy awarded-contract CLIN wiring
  frontend/src/components/BudgetLineItems/BLIReviewTable/BLIReviewRow.jsx
  frontend/src/components/BudgetLineItems/BLIReviewTable/BLIReviewRow.test.jsx
  frontend/src/components/BudgetLineItems/BLIReviewTable/BLIReviewTable.jsx
  frontend/src/components/BudgetLineItems/BudgetLinesTable/BLIRow.jsx
  frontend/src/pages/agreements/award-approval/RequestAwardApproval.jsx
  frontend/src/pages/agreements/details/AgreementBudgetLines.jsx
  frontend/src/pages/agreements/pre-award-approval/BudgetLinesReviewAccordion/BudgetLinesReviewAccordion.jsx
  frontend/src/pages/agreements/review/ReviewAgreement.jsx
Due: eslint, prettier

fix: restore accessible name for empty expand-column table header
  frontend/src/components/UI/Table/Table.jsx
  frontend/src/components/UI/Table/Table.test.jsx
Due: eslint, prettier

feat: add award-time fields to GrantNumberAccordion and related components
  frontend/src/components/GrantNumbers/GrantNumberAccordion/GrantNumberAccordion.jsx
  frontend/src/components/GrantNumbers/GrantNumberAccordion/GrantNumberAccordion.test.jsx
  frontend/src/components/GrantNumbers/GrantNumberMetadata/GrantNumberMetadata.jsx
  frontend/src/helpers/budgetLines.helpers.js
  frontend/src/helpers/budgetLines.helpers.test.js
  frontend/src/pages/agreements/details/AgreementBudgetLines.jsx
  frontend/src/types/GrantNumbers.d.ts
Due: eslint, prettier

Notes added by 'git notes add'
  36e23e66be8de5c5772b1115eedbe942c7cf321f
Due: none

docs: fixing a bad merge resolution so this renders properly
  frontend/src/pages/home/release-notes/data.js
Due: eslint, prettier

feat: show CLIN column on awarded contract budget lines and export (#6170)
  .claude/stories/6138-clin-column-awarded-agreements.md
  frontend/src/components/BudgetLineItems/BLIReviewTable/BLIReviewRow.jsx
  frontend/src/components/BudgetLineItems/BLIReviewTable/BLIReviewRow.test.jsx
  frontend/src/components/BudgetLineItems/BLIReviewTable/BLIReviewTable.jsx
  frontend/src/components/BudgetLineItems/BudgetLinesTable/BLIRow.jsx
  frontend/src/components/BudgetLineItems/BudgetLinesTable/BLIRow.test.jsx
  frontend/src/components/BudgetLineItems/BudgetLinesTable/BudgetLinesTable.constants.js
  frontend/src/components/BudgetLineItems/BudgetLinesTable/BudgetLinesTable.jsx
  frontend/src/components/BudgetLineItems/BudgetLinesTable/BudgetLinesTable.test.js
  frontend/src/components/UI/Table/Table.jsx
  frontend/src/components/UI/Table/Table.test.jsx
  frontend/src/helpers/budgetLines.helpers.js
  frontend/src/helpers/budgetLines.helpers.test.js
  frontend/src/pages/agreements/award-approval/RequestAwardApproval.jsx
  frontend/src/pages/agreements/details/AgreementBudgetLines.jsx
  frontend/src/pages/agreements/details/AgreementBudgetLines.test.jsx
  frontend/src/pages/agreements/pre-award-approval/BudgetLinesReviewAccordion/BudgetLinesReviewAccordion.jsx
  frontend/src/pages/agreements/review/ReviewAgreement.jsx
  frontend/src/pages/agreements/review/ReviewAgreement.test.jsx
Due: eslint, prettier

Notes added by 'git notes add'
  d51b67e715e825b001bfcc08724d3193a90062d3
Due: none

docs: split usage-metrics runbook out of data_tools CLAUDE.md
  backend/data_tools/CLAUDE.md
  backend/data_tools/scripts/azure/USAGE_METRICS_JOB.md
Due: none

test: added a grant number metadata wiring test
  frontend/src/pages/agreements/details/AgreementBudgetLines.test.jsx
Due: eslint, prettier

docs: fixing up test documentation
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.hooks.test.js
Due: eslint, prettier

docs: updated release notes sprint 106 (#6171)
  frontend/src/pages/home/release-notes/data.js
Due: eslint, prettier

feat: enable skipping CR for Draft->Planned status changes on prod
  backend/ops_api/ops/environment/azure/prod.py
Due: nox-lint

fix: corrected editing button alignment
  frontend/src/components/GrantNumbers/GrantNumberForm/GrantNumberForm.jsx
Due: eslint, prettier

test(agreements): clean up dead mocks left from projects pagination fix
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.hooks.projects.test.jsx
  frontend/src/pages/agreements/details/AgreementDetailsEdit.test.js
Due: eslint, prettier

Path conditions:
  nox-lint: any of: \.py$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.css$, \.(html|htm|xhtml)$
  prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|scss|html|md)$
